@font-face {
  font-family: RopaSansPro;
  src: url('/assets/styles/fonts/ropa-sans/bold-italic/RopaSansPro-BoldItalic.eot');
  src: url('/assets/styles/fonts/ropa-sans/bold-italic/RopaSansPro-BoldItalic.woff2') format('woff2'),
       url('/assets/styles/fonts/ropa-sans/bold-italic/RopaSansPro-BoldItalic.woff') format('woff'),
       url('/assets/styles/fonts/ropa-sans/bold-italic/RopaSansPro-BoldItalic.ttf') format('truetype'),
       url('/assets/styles/fonts/ropa-sans/bold-italic/RopaSansPro-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: italic;
}

