@font-face {
  font-family: RopaSansPro;
  src: url('/assets/styles/fonts/ropa-sans/light/RopaSansPro-Light.eot');
  src: url('/assets/styles/fonts/ropa-sans/light/RopaSansPro-Light.woff2') format('woff2'),
       url('/assets/styles/fonts/ropa-sans/light/RopaSansPro-Light.woff') format('woff'),
       url('/assets/styles/fonts/ropa-sans/light/RopaSansPro-Light.ttf') format('truetype'),
       url('/assets/styles/fonts/ropa-sans/light/RopaSansPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

