mat-spinner{
  &[color="primary01"]{
    > svg{
      > circle{
        stroke: $primary01-color;
      }
    }
  }
  &[color="primary02"]{
    > svg{
      > circle{
        stroke: $primary02-color;
      }
    }
  }
}
