$mat-ripple-color: $secondary02-color;
$mat-ripple-active-color: $secondary02-color;
$mat-ripple-error-color: #f44336;
$mat-ripple-success-color: #11c972;

mat-form-field.mat-form-field-appearance-legacy {
  font-family: $font-default;
  .mat-form-field-required-marker {
    display: none;
  }
  &.mat-form-field-invalid {

    .mat-form-field-wrapper {
      .mat-form-field-infix {
        .mat-input-element {
          color: $mat-ripple-error-color;
        }
      }
      .mat-form-field-underline {
        .mat-form-field-ripple {
          background-color: $mat-ripple-error-color;
        }
      }
    }
  }
  &.ng-valid.ng-touched {
    .mat-form-field-wrapper {
      .mat-form-field-infix {
        .mat-input-element {
          color: $mat-ripple-success-color;
        }
      }
      .mat-form-field-label {
        color: $mat-ripple-success-color;
      }
      .mat-form-field-underline {
        .mat-form-field-ripple {
          background-color: $mat-ripple-success-color;
          opacity: 1;
          transform: scaleX(1);        }
      }
    }
  }
  &.mat-form-field-disabled {
    .mat-form-field-underline {
      bottom: 0;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 100%);
      background-color: $secondary02-color;
    }
  }

  .mat-form-field-wrapper {
    padding-bottom: 8px;
    .mat-form-field-flex {
      padding-left: 0;

      .mat-form-field-infix {
        padding-top: 0;
        padding-bottom: 0;

        .mat-form-field-label-wrapper{
          top: -1.5em;
          padding-top: 1.84375em;
          .mat-form-field-label {
            font-weight: normal;
            padding-top: 4px;
            opacity: .8;
          }
        }
      }

      .mat-form-field-prefix{
        .fa {
          padding-right: 10px;
        }
        mat-icon {
          padding-right: 10px;
        }
      }
    }

    .mat-form-field-subscript-wrapper {
      margin-top: 1.8em;

      .mat-error {
        margin-top: 8px;
      }
    }
    
    .mat-form-field-underline {
      bottom: 0;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 100%);

      .mat-form-field-ripple {
        background-color: $mat-ripple-active-color;
        height: 1px;
      }
    }


    /* MAT-SELECT */
    mat-select {
      // color: $primary02-color;

      .mat-select-value{
        color: inherit;
      }

      .mat-select-arrow-wrapper{
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $secondary02-color;
        position: relative;
        top: 8px;

        .mat-select-arrow { display: none; }
      }

      & ~ .mat-form-field-label-wrapper {
        .mat-form-field-label {
          padding-top: 0;
        }
      }
    }

    .mat-form-field-underline{
      transition-duration: .3s;
      background-color: $secondary02-color;

      .mat-form-field-ripple{
        transition-duration: .3s;
        background-color: $secondary02-color;
      }
    }
  }

  &.no-bg {
    .mat-form-field-wrapper{
      .mat-form-field-flex {
        background-color: transparent;
        .mat-form-field-infix { padding: 0.675em 0; }
      }
    }
  }

  &.hide-placeholder{
    .mat-form-field-wrapper {
      mat-select, input {
        & ~ span.mat-form-field-label-wrapper { top: -16px; }
      }
    }
    &.mat-form-field-should-float {
      .mat-form-field-wrapper {
          mat-select, mat-datepicker, input {
          & ~ span.mat-form-field-label-wrapper { display: none; }
        }
      }
    }
  }

  &.uppercase{
    .mat-form-field-wrapper{
      .mat-form-field-flex {
        .mat-form-field-infix { text-transform: uppercase; }
      }
    }
  }
}

.mat-select, .mat-option, .mat-tab-label-content {
  font-family: $font-default;
}