mat-option {
  text-transform: uppercase;
}

.darkTheme {
  color: $grey-font !important;
  .mat-select-content {
    background:$light-black-bg;
    color: $grey-font !important;
    .mat-option {
      color: $grey-font !important;
      ::placeholder {
        color: $grey-font !important;
      }
    }
  }
  
  .mat-autocomplete-panel {
    background:$light-black-bg;
    color: $grey-font !important;
    .mat-option {
      color: $grey-font !important;
    }
  }
}
