.cdk-overlay-pane {
  // text-align: center;
  .mat-dialog-container {
    width: 100% !important;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    width: auto;
    // padding-top: 16vh;
    position: relative;

    .mat-dialog-content{
      padding: 0;
      margin: 0;
      width: auto;
      height: 100%;
      overflow: hidden;

      .custom-dialog {
        overflow: auto;
        height: 100%;
        width: 500px;

        .header{
          width: 100%;
          padding: 15px 15px 0 15px;
          box-sizing: border-box;
          text-align: right;
        }
        .content{
          width: 100%;
          padding: 0 50px;
          box-sizing: border-box;
        }
        .footer{
          width: 100%;
          padding: 0 50px;
          box-sizing: border-box;
        }
      }
    }
  }

  &.left-dialog {
    height: 100%;
    left: 0;
    top: 0;
    position: fixed !important;

    .mat-dialog-container {
      border-radius: 0;
    }
  }
}
