.full-width-bottomsheet.mat-bottom-sheet-container-large {
    padding: 0;
    max-width: unset;
    width: 100vw; 
    overflow: hidden;
    background: transparent;
    box-shadow: none;
}
.full-width-bottomsheet.mat-bottom-sheet-container-xlarge {
    max-width: 100vw;
    max-height: 100vh;
    transform: none;
    min-width: unset;
}

.full-width-bottomsheet.mat-bottom-sheet-container {
    transform: none !important;
    padding: 0;
    min-width: 100vw;
    max-height: unset;
    background-color: transparent;
    box-shadow: unset;
}

.mat-bottom-sheet-container {
    font-family: $font-default;
}