.mat-tooltip {
  padding: 8px 20px;
  box-shadow: 0 5px 3px 0 rgba($black, 0.16);
  background-color: white;
  color: $secondary02-color !important;
  text-transform: uppercase;
  overflow: visible !important;

  &:not(.billetTooltip){
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 45%;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
  
      border-top: 4px solid $white;
    }
  }
}

[ng-reflect-ngb-tooltip].colored-border-positive + .tooltip {
  z-index: 900;
  .tooltip-inner {
    border-radius: 30px;
    padding: 2px 13px !important;
    border: solid 1px $gradient-sell-2;
    color: $gradient-sell-2 !important;
    background-color: transparent;
    line-height: 1;
    font-size: font-size(11px);
    margin-bottom: 5px;
    font-family: $font-default;
  }

  .arrow {
    margin-bottom: 5px;
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;

      border-top: 4px solid $white;
    }
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 4px solid $gradient-sell-2;
    }
  }
}

[ng-reflect-ngb-tooltip].colored-border-negative + .tooltip {
  z-index: 900;
  .tooltip-inner {
    border-radius: 30px;
    padding: 2px 13px !important;
    border: solid 1px $gradient-buy-3;
    color: $gradient-buy-3 !important;
    background-color: transparent;
    line-height: 1;
    font-size: font-size(11px);
    margin-bottom: 5px;
    font-family: $font-default;
  }

  .arrow {
    margin-bottom: 5px;
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;

      border-top: 4px solid $white;
    }
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 4px solid $gradient-buy-3;
    }
  }
}

td.tooltip-cell {
  span {
    position: absolute;
  }

  div {
    width: 100%;
    height: 100%;
    top: 0;
    position: relative;
  }
}

.darkTheme [ng-reflect-ngb-tooltip] + .tooltip .arrow {
  &:after {
    border-top: 4px solid $dark-black-bg;
  }
}
