mat-radio-group {
    .mat-radio-button {
        &.mat-radio-checked {
            .mat-radio-label {
                .mat-radio-outer-circle {
                    border-color: $secondary01-color;
                }
                .mat-radio-inner-circle {
                    background-color: $secondary01-color;
                }
            }
        }
    }
}