$notification-background: $white;
$notification-success: #10c971;
$notification-warning: #ffb300;
$notification-error: #ff4e4e;
$notification-info: #2779ff;
$notification-normal: $secondary02-color;

.simple-notification-wrapper{
  z-index: 1001 !important;
  max-width: 370px;
  min-width: 300px;
  width: unset !important;
}

.simple-notification {
    &.success, &.warn, &.error, &.info, &.alert {
      background-color: $notification-background !important;
      padding: 0 ;
      box-shadow: 3px 3px 3px 0 rgba(89, 99, 119, 0.41);
      height: 90px ;
      padding-left: 70px ;
      display: flex;
      align-items: center;
    }


    .sn-title {
        font-size: font-size(18px); ;
        font-weight: bold ;
    }
    
    .sn-content {
        font-size: font-size(14px) !important; ;
        font-weight: normal ;
        color: $secondary02-color !important;
    }
    
    .icon {
        display: none;
    }

    &::before {
      content: "";
      height: 90px ;
      width: 60px ;
      display: inline-block;
      background-size: 30px 30px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      margin-left: -70px;
    }

    &.success {
        &::before {
            background-image: url("/assets/images/svg/notify-success.svg");
            background-color: $notification-success ;
        }
        .sn-title {
            color: $notification-success;
        }
    }
  
  
    &.warn {
      &::before {
        background-image: url("/assets/images/svg/notify-warning.svg");
        background-color: $notification-warning;
      }
      .sn-title {
        color: $notification-warning !important;
      }
    }
  
    &.error {
      &::before {
        background-image: url("/assets/images/svg/notify-error.svg");
        background-color: $notification-error ;
      }
      .sn-title {
        color: $notification-error;
      }
    }

    &.info {
        &::before {
          background-image: url("/assets/images/svg/notify-info.svg");
          background-color: $notification-info ;
        }
        .sn-title {
          color: $notification-info;
        }
    }

    &.alert {
      padding-left: 9px ;
      border: 0px;

      &::before {
        width: 3px ;
        margin-left: -10px;
        height: 100%;
        border-radius: 20px;
        content: "";
        background-color: $notification-normal ;
      }
      .sn-title {
        color: $notification-normal;
      }

      .sn-progress-loader span {
        top: -1px;
        background: $notification-normal !important;
      }
    }
}

// .darkTheme {
//   .simple-notification {
//     .sn-content {
//       color: unset !important;           
//     }
//   }
// }