.mat-checkbox {
    &.mat-checkbox-checked  {
        .mat-checkbox-layout
        .mat-checkbox-inner-container
        .mat-checkbox-background {
            background-color: $secondary01-color;
        }
    }
}
