$primary01-hover-color: $gradient-right;
$primary01-disabled-color: $gradient-left;
$primary02-hover-color: $secondary04-color;
$primary02-disabled-color: $secondary01-color;

$default-color: $primary02-color;
$default-hover-color: $primary02-hover-color;
$default-disabled-color: $primary02-disabled-color;
$stroked-button-bg-color: transparent;
$stroked-button-text-color: $secondary01-color;

$box-shadow-color: $primary01-color;

button {
  &[mat-button] {
    transition-duration: 0.3s;
    background: $white;
    border: 1px $default-color solid;
    color: $default-color;

    min-width: 255px;
    height: 55px;
    padding: 0 24px;
    border-radius: $border-radius;
    font-size: font-size(20px);
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    outline: none;

    mat-icon {
      margin-top: -3px;
      transition-duration: 0.3s;
      color: $default-color;
    }

    &:hover {
      color: $white;
      background: $default-hover-color;

      mat-icon {
        color: $white;
      }
    }

    &[disabled] {
      color: $default-disabled-color;
      background: $white;
      border-color: $default-disabled-color;
    }

    &[color="primary01"] {
      color: $primary01-color;
      border-color: $primary01-color;

      &:hover {
        color: $white;
        background: $primary01-hover-color;
      }

      &[disabled] {
        background: $primary01-disabled-color;
        border-color: $primary01-disabled-color;
        color: $white;
      }
    }

    &[color="primary02"] {
      color: $primary02-color;
      border-color: $primary02-color;

      &:hover {
        color: $white;
        background: $primary02-hover-color;
      }

      &[disabled] {
        background: $primary02-disabled-color;
        border-color: $primary02-disabled-color;
        color: $white;
      }
    }

    .mat-button-focus-overlay {
      background: transparent;
    }
  }

  &[mat-raised-button] {
    min-width: 255px;
    height: 55px;
    padding: 0 24px;
    border-radius: $border-radius;
    font-size: font-size(20px);
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    outline: none;
    font-family: $font-default;

    box-shadow: 0 2px 6px 0 rgba($box-shadow-color, 0.35);
    background: $gradient-left;
    color: $white;

    &:hover {
      background: $primary01-hover-color;
    }

    &[disabled] {
      background: $primary01-disabled-color;
      opacity: 0.35;
      color: $white;
    }

    &:not([class*="mat-elevation-z"]) {
      box-shadow: 0 2px 6px 0 rgba($box-shadow-color, 0.35);
    }

    span {
      color: $white;
    }

    &[color="primary01"] {
      background: $gradient-left;
      color: $white;

      &:hover {
        background: $primary01-hover-color;
      }

      &[disabled] {
        background: $primary01-disabled-color;
        opacity: 0.35;
        color: $white;
      }
    }
    &[color="primary02"] {
      background: $secondary01-color;
      color: $white;

      &:hover {
        background: $primary02-hover-color;
      }

      &[disabled] {
        background: $primary02-disabled-color;
        opacity: 0.35;
        color: $white;
      }
    }
    &[color="buy"] {
      background: $gradient-buy-left;
      color: $white;
      font-weight: bold;
      box-shadow: none;

      &[disabled] {
        opacity: 0.35;
        color: $white;
      }
    }
    &[color="sell"] {
      background: $gradient-sell-left;
      color: $white;
      font-weight: bold;
      box-shadow: none;

      &[disabled] {
        opacity: 0.35;
        color: $white;
      }
    }

    .mat-button-focus-overlay {
      background: transparent;
    }
  }

  &[mat-stroked-button] {
    min-width: 255px;
    height: 55px;
    padding: 0 24px;
    border-radius: $border-radius;
    font-size: font-size(20px);
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    outline: none;
    font-family: unset;

    box-shadow: none;
    transition-duration: 0.3s;
    background: $stroked-button-bg-color;
    border: 1px $secondary01-color solid;
    color: $stroked-button-text-color;

    mat-icon {
      margin-top: -3px;
      transition-duration: 0.3s;
      color: $default-color;
    }

    &:hover {
      color: $white;
      background: $gradient-left;

      mat-icon {
        color: $white;
      }
    }

    &[disabled] {
      background: $stroked-button-bg-color;
      opacity: 0.35;
      span {
        color: $stroked-button-text-color;
      }
    }

    &[color="primary01"] {
      background: $stroked-button-bg-color;
      color: $stroked-button-text-color;

      &:hover {
        color: $white;
        background: $gradient-left;
      }

      &[disabled] {
        background: $stroked-button-bg-color;
        color: $stroked-button-text-color;
        opacity: 0.35;
      }
    }

    &[color="primary02"] {
      background: $stroked-button-bg-color;
      color: $stroked-button-text-color;

      &:hover {
        color: $white;
        background: $primary02-hover-color;
      }

      &[disabled] {
        background: $stroked-button-bg-color;
        color: $stroked-button-text-color;
      }
    }

    .mat-button-focus-overlay {
      background: transparent;
    }
  }

  &[mat-mini-fab] {
    box-shadow: none;
    transition-duration: 0.3s;
    color: $white;
    height: 48px;
    width: 48px;
    min-width: unset;
    padding: 0;
    font-weight: 100;
    font-size: font-size(34px);
    font-family: unset;

    &.mat-accent {
      background: $secondary01-color;
      color: white;
    }

    mat-icon {
      margin-top: -3px;
      transition-duration: 0.3s;
      color: $default-color;
    }

    span {
      color: $white;
    }

    &:hover {
      background: $primary02-hover-color;
      mat-icon {
        color: $white;
      }
    }

    &[disabled] {
      background: $stroked-button-bg-color;
      color: $stroked-button-text-color;
      opacity: 0.35;
    }

    .mat-button-focus-overlay {
      background: transparent;
    }
  }
  &.mat-calendar-period-button {
    border: none;
    min-width: unset;
    height: unset;
    font-size: font-size(14px);
    font-weight: 900;
    text-align: left;
    color: unset;
    border-radius: unset;

    &:hover {
      background: unset;
      color: unset;
    }
  }
  &.md {
    min-width: 225px;
    height: 50px;
    font-size: font-size(18px);
    padding: 0 16px;
  }
  &.sm {
    min-width: 165px;
    height: 40px;
    font-size: font-size(16px);
    padding: 0 16px;
  }
  &.xs {
    min-width: 125px;
    height: 30px;
    font-size: font-size(12px);
    padding: 0 16px;
  }
  &.full {
    width: 100%;
  }
  &.radius-0 {
    border-radius: 0;
  }
  &.add {
    span.mat-button-wrapper {
      display: flex;
      align-items: center;
      .add-circle {
        margin: auto 0 auto 10px;
        font-size: font-size(15px);
        border-radius: 20px;
        font-weight: normal;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.23);
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &.sm {
      span.mat-button-wrapper {
        .add-circle {
          font-size: font-size(12px);
          width: 20px;
          height: 20px;
          line-height: 21px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &.xs {
      span.mat-button-wrapper {
        .add-circle {
          width: 15px;
          height: 15px;
          line-height: 15px;
          font-size: 0.8vw;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  &:focus {
    outline: none;
  }
}
.mat-calendar-body-selected {
  background-color: $secondary01-color;
  color: #fff;
}
