.mat-table{
  width: 100%;

  > thead {

    > tr {
      height: 42px;

      > th {
        border: none;
        font-size: font-size(16px);
        text-transform: uppercase;
        font-weight: bold;
        color: $primary02-color;
        background: $darken-white;

        &.txt-center{ padding-left: 0; }
      }
    }
  }

  > tbody {

    > tr {
      height: 65px;

      > td {
        font-size: font-size(16px);
        color: $primary02-color;
        font-family: $font-default;

        &.green {
          color: $secondary04-color;
          background: rgba($secondary04-color, .1) ;
        }

        &.txt-center{ padding-left: 0; }
      }

      &:first-child {
        height: 75px;

        > td {
          border-top: 10px #FFF solid;
        }
      }

      &:last-child {
        height: 75px;

        > td {
          border-bottom: 10px #FFF solid;
        }
      }
    }
  }

  > tfoot {

    > tr {
      height: 42px;

      > td {
        border: none;
        font-size: font-size(16px);
        text-transform: uppercase;
        font-weight: bold;
        color: $primary02-color;
        background: $darken-white;

        &.txt-center{ padding-left: 0; }
      }
    }
  }
}
.mat-tab-group {
  font-family: $font-default;
}