$mat-toggle-button-slide-bar: rgba($secondary01-color,0.5);

mat-slide-toggle {
    &.mat-checked:not(.mat-disabled) {
        .mat-slide-toggle-label {
            .mat-slide-toggle-bar {
                background-color: $mat-toggle-button-slide-bar;
            }
        }
    }
    .mat-slide-toggle-label {
        .mat-slide-toggle-bar {
            .mat-slide-toggle-thumb-container {
                .mat-slide-toggle-thumb {
                    background-color: $secondary01-color;
                }
            } 
        }
    }
}