/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  // src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'); TODO REMOVE, KEPT IT FOR POSSIBLE FUTURE USE
  src: url(../../../../../node_modules/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px !important; width: 18px !important; height: 18px !important; }
.material-icons.md-21 { font-size: 21px !important; width: 21px !important; height: 21px !important; }
.material-icons.md-24 { font-size: 24px !important; width: 24px !important; height: 24px !important; }
.material-icons.md-36 { font-size: 36px !important; width: 36px !important; height: 36px !important; }
.material-icons.md-48 { font-size: 48px !important; width: 48px !important; height: 48px !important; }


#people-gradient, #chart-gradient, #line-gradient, #component-gradient {
  opacity: 0.0;
  display: inline-block;
  -webkit-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
  
  &:hover {
    opacity: 1.0;
  }
}

.gradient-style1 {
  stop-color: $gradient-1;
  stop-opacity:1
}
.gradient-style2 {
  stop-color: $gradient-2;
  stop-opacity:1
}

.svg-color {
  fill:$secondary02-color;
}

.icon-secondary01 {
  fill:$secondary01-color;
  stroke:$secondary01-color;
}

.svg-stroke {
  stroke:$secondary02-color;
}

.darkTheme {
  .svg-color {
    fill: $grey-font;
  }
  .svg-stroke {
    stroke: $grey-font;
  }
}