@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$custom-primary: mat-palette($mat-grey, 400);
$custom-accent: mat-palette($mat-amber, A200, A100, A400);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);

@import './icons.scss';
@import './custom-mat-dialog.scss';
@import './custom-mat-button.scss';
@import './custom-mat-spinner.scss';
@import './custom-mat-form-field.scss';
@import './custom-mat-option.scss';
@import './custom-mat-table.scss';
@import './custom-mat-checkbox.scss';
@import './custom-mat-radio-button.scss';
@import './custom-mat-slide-toggle.scss';
@import './custom-simple-notification.scss';
@import './custom-mat-bottom-sheet.scss';
@import './custom-mat-tooltip.scss';
