<gridster #gridster class="gridster" [options]="options" *ngIf="!loading" id="gridster" cdkScrollable>
    <gridster-item (mouseover)="askResize(box)" class="gridster-item" [item]="box" *ngFor="let box of boxes; let i = index">
        <book #cmp *ngIf="box.type === 'book' && box.showInGridster !== undefined && box.showInGridster === true"
            [data]="box"></book>
        <asset-summary *ngIf="box.type === 'asset-summary' && box.showInGridster !== undefined && box.showInGridster === true"
            [data]="box"></asset-summary>
        <quote-chart #qc *ngIf="box.type === 'quote-chart' && box.showInGridster !== undefined && box.showInGridster === true"
            [data]="box"></quote-chart>
        <times-trades #tt *ngIf="box.type === 'times-trades' && box.showInGridster !== undefined && box.showInGridster === true"
            [data]="box"></times-trades>
        <worksheet #ws *ngIf="box.type === 'worksheet' && box.showInGridster !== undefined && box.showInGridster === true"
            [data]="box"></worksheet>
        <volume-at-price *ngIf="box.type === 'volume-at-price' && box.showInGridster !== undefined && box.showInGridster === true"
            [data]="box"></volume-at-price>
    </gridster-item>
</gridster>
<div *ngIf="loading">
    <div class="spinner">
        <app-spinner-loading></app-spinner-loading>
    </div>
</div>
<img src="./assets/images/animations/images_reconnect/img_0.png" style="display:none;"/>
<img src="./assets/images/animations/images_reconnect/img_1.png" style="display:none;"/>
<img src="./assets/images/animations/images_reconnect/img_2.png" style="display:none;"/>
<img src="./assets/images/animations/images_reconnect/img_3.png" style="display:none;"/>
<img src="./assets/images/animations/images_reconnect/img_4.png" style="display:none;"/>