<div class="asset-summary-pop-up">
    <div class="adjust">
        <div class="arrow-up"></div>
    </div>
    <div class="baloon">
        <asset-summary [data]='symbol'></asset-summary>
    </div>
    <button class="button-plus-modal" (click)="addItemToWorkspace()" mat-mini-fab>+</button>
</div>