.assessor-search-client {
  .spinner {
    margin-top: 22%;
  }
  .header-search {
    font-size: font-size(16px);
    height: 50px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    color: $component-header-title-color;
    border-bottom: 1px solid $component-header-bg-color;
    .title {
      font-size: font-size(15px);
      font-weight: normal;
      color: #bec0c2;
    }
    mat-icon {
      cursor: pointer;
      width: 22.5px;
      height: 23.8px;
      opacity: 0.4;
    }
    .separator {
      width: 3px;
      height: 27px;
      opacity: 0.5;
      background: #bec0c2;
      margin: 0px 16px;
    }
    .autoComplete {
      height: 24px;
      margin-top: -3px;
      .invalid {
        margin-top: -9px;
        margin-left: 0px;
      }
    }
    .mat-form-field {
      .mat-form-field-infix {
        padding: 0 !important;
        border-top: none;
        width: 500px !important;
      }
      .mat-form-field-wrapper {
        padding-bottom: 0 !important;
        .mat-form-field-flex {
          padding-left: 0;
        }
      }
      .mat-form-field-label {
        opacity: 0.3;
        font-family: $font-default;
        font-size: font-size(16px);
        font-weight: 900;
        color: $secondary02-color;
        top: 0;
      }
      .mat-form-field-label-wrapper {
        top: 2px !important;
      }
      .mat-input-element {
        font-family: $font-default;
        font-size: font-size(16px);
        font-weight: 900;
        color: $secondary02-color;
      }
      .mat-form-field-underline {
        display: none;
      }
    }
    .icons {
      mat-icon {
        position: absolute;
        top: 22px;
        right: 17px;
      }
    }
  }
  .content {
    overflow-y: auto;
    height: calc(100vh - 198px);
    &::-webkit-scrollbar-corner {
      display: none;
    }
    .client {
      padding: 15px;
      padding-right: 0px;
      padding-top: 6px;
      padding-left: 0px;
      margin-left: 15px;
      margin-right: 15px;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.11);
      }
      .photo-container {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 4px solid $left-side-bar-photo-border;
        margin-top: 5px;
        margin-left: 24px;
        margin-right: 23px;
        float: left;
        .perfil-photo {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .name {
        font-size: font-size(16px);
        font-weight: bold;
        text-align: left;
        color: $secondary02-color;
        margin-top: 8px;
      }
      .profile {
        font-size: font-size(11px);
        color: $secondary02-color;
        opacity: 0.6;
        .bold {
          font-weight: bold;
          padding-left: 5px;
        }
      }
      .account {
        margin-top: 31px;
        font-size: font-size(11px);
        color: $secondary02-color;
        opacity: 0.6;
        .title {
          padding-left: 5px;
        }
        .bold {
          font-weight: bold;
          padding-left: 5px;
        }
      }
      .phone {
        margin-top: 31px;
        font-size: font-size(11px);
        color: $secondary02-color;
        opacity: 0.6;
        .title {
          padding-left: 5px;
        }
        .bold {
          font-weight: bold;
          padding-left: 5px;
        }
      }
      .divisor {
        height: 1px;
        background-color: $component-header-bg-color;
        width: 92%;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: -15px;
        opacity: 0.3;
      }
      .yellow {
        color: #a1a101;
      }
      .purple {
        color: purple;
      }
      .orange {
        color: orange;
      }
      .red {
        color: red;
      }
      .blue {
        color: #8383f3;
      }
    }
  }
}

.darkTheme .assessor-search-client {
  // background-color: $dark-grey-bg;
  color: $secondary03-color;
  .header-search {
    color: $secondary03-color;
    border-bottom-color: $secondary02-color;
    // background: $deep-grey-bg;
  }
  .content {
    .client {
      .name {
        color: $secondary03-color;
      }
      .profile {
        color: $secondary03-color;
      }
      .account {
        color: $secondary03-color;
      }
      .phone {
        color: $secondary03-color;
      }
    }
  }
  .divisor {
    background-color: $secondary02-color;
  }
}
