.asset-summary-pop-up {
  width: 373.9px;
  height: 238.3px;

  .button-plus-modal {
    text-align: center;
    width: 43px;
    height: 43px;
    border: none;
    border-radius: 50%;
    position: relative;
    left: 45%;
    top: -22px;
    vertical-align: middle;
    line-height: 44px;
    font-size: font-size(34px);
    font-weight: 300;
  }

  .adjust {
    padding-left: 29%;
  }

  .baloon {
    width: 373.9px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: $white;
    height: 229.6px;

    .asset-summary-quick-search {
      .first-group {
        margin-left: 0px;
        align-items: unset;

        .max,
        .min {
          // padding-left: 9px;
          overflow: hidden;
        }
      }
    }
  }

  .arrow-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
    top: 1px;
  }
}

.darkTheme .asset-summary-pop-up {
  .table {
    color: $grey-font !important;
  }

  .yellow-background {
    background-color: rgba($gradient-buy-3, 0.1);
    color: $gradient-buy-3;
  }

  .green-background {
    background-color: rgba($gradient-sell-2, 0.1);
    color: $gradient-sell-2;
  }

  .baloon {
    background-color: $dark-black-bg;
    color: #abb2b9;

    .third-window-body {
      background-color: $deep-black-bg;
    }
  }

  .arrow-up {
    border-bottom: 10px solid $dark-black-bg;
  }

  .mat-tab-label-content {
    background: rgba(#abb2b9, 0.27);
  }
}
