.assessor-data-component {
  .header {
    border-bottom: 1px solid rgba($white, 0.07);
    background: $primary01-color;
    background-image: $header-gradient-right;
    padding: 10px 10px;
    margin: 0;
    position: fixed;
    height: 44px;
    width: calc(100% - 209px);
    border-radius: 3px 3px 0 0;
    z-index: 1;
    top: 94px;
    span.title {
      font-size: font-size(16px);
      font-weight: 900;
      text-align: left;
      color: $component-selector-header-color;
    }
    .icon-order {
      height: 21px;
      width: 21px !important;
      margin-right: 15px;
      svg {
        margin-bottom: 5px;
        path {
          fill: $header-orders-input-color;
          stroke: $header-orders-input-color;
        }
      }
    }
    .icon-close-btn {
      height: 15px;
      width: 15px;
      svg {
        path {
          fill: $header-orders-input-color;
          stroke: $header-orders-input-color;
        }
      }
    }
  }

  .scrollable-body {
    overflow: auto;
    height: calc(100vh - 118.5px);
    .index {
      display: flex;
      height: 50px;
      font-size: font-size(16px);
      font-weight: bold;
      color: $secondary02-color;
      background-color: $table-header-bg;
      align-items: center;
    }
    .status-padding {
      padding-left: 45px !important;
    }
    .text-align {
      padding-left: 20px;
      text-align: left;
    }
    .number-align {
      padding-right: 20px;
      text-align: right;
    }
    .date-align {
      text-align: center;
    }
    .header-box {
      background: $primary01-color;
      background-image: $header-gradient-right;
      padding: 19px 10px 0px;
      margin: 0;
      // top: 44px;
      position: relative;
      span.title {
        font-size: font-size(16px);
        font-weight: 900;
        line-height: 0.75;
        letter-spacing: normal;
        text-align: left;
        color: $component-selector-header-color;
      }
      .tab {
        padding: 11px 43px 11px 43px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; //text
        font-size: font-size(15px);
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        color: $white;
        cursor: pointer;
      }
      .selected-tab {
        background: $primary01-color;
        background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
        width: 200px;
        // background-color: rgba($white, 0.1);
      }
      .txt-right {
        right: -13px;
        .icon-close-btn {
          height: 10px;
          // width: 15px;
          svg {
            path {
              fill: $header-orders-input-color;
              stroke: $header-orders-input-color;
            }
          }
        }
      }
    }
    .header-box2 {
      width: 100%;
      background: $primary01-color;
      // background-image: $shadow-gradient, linear-gradient(rgba($white, 0.1), rgba($white, 0.1));
      background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
      margin: 0;
      font-size: font-size(14px);
      color: $white;
      padding-top: 20px;
      padding-bottom: 31px;
      position: relative;
      // margin-top: 44px;
      padding: 15px;
      overflow-y: auto;
      height: calc(100vh - 182px);
      .flex-container {
        padding-right: 10px;
      }
    }
  }
}

.darkTheme .assessor-data-component {
  background-color: $deep-grey-bg;
  color: $grey-font;
  .spinner {
    width: 100%;
    height: calc(100% - 350px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    background-image: unset;
    background-color: $dark-black-bg;
    border-bottom: 1px solid rgba($white, 0.07);
    span {
      color: $grey-font;
    }
  }
  .scrollable-body {
    .index {
      color: $grey-font;
      background-color: $deep-grey-bg;
    }
    .header-box {
      background-image: unset;
      background-color: $dark-black-bg;
      .tab {
        color: $grey-font;
      }
      .selected-tab {
        background-color: $dark-black-bg;
        background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
        // background: #2d3035;
        color: $grey-font;
      }
    }
    .header-box2 {
      background-color: $dark-black-bg;
      color: $grey-font;
      .flex-container {
        .button-box {
          .xs {
            border: 1px solid $grey-font;
          }
          span {
            color: $grey-font;
          }
        }
      }
    }
  }
}
