$asset-summary-quick-search-vertical-divider: rgba($secondary02-color, 0.14);
$asset-summary-quick-search-information-green: $gradient-sell-2;
$asset-summary-quick-search-information-yellow: $gradient-buy-3;
$asset-summary-quick-search-little-font: $secondary02-color;
$asset-summary-quick-search-yellow-background: rgba(255, 240, 206, 0.29);
$asset-summary-quick-search-yellow-background-font: $gradient-buy-3;
$asset-summary-quick-search-buttons-font: $white;
$boxes-color: #e8e8e8;
$table-bg-grey: #f2f2f2;
$table-line-grey: #e2e3e4;

.asset-summary {
  background-color: $white;
  color: $secondary02-color;

  .container {
    .asset-form-field {
      padding-left: 0;
      display: flex;
      align-items: center;
      max-height: 71px;
    }
  }
  .third-window-body {
    background: #f1f1f1;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 7px;
    height: 142px !important;
  }

  .third-window {
    position: fixed;
    background-color: $bg-color;
    width: 100%;
    left: 0;
    height: 58%;
  }
  .box {
    margin-top: 3px;
    width: 132.6px;
    height: 33.3px;
    border-radius: 2px;
    background-color: #e8e8e8;
    font-size: 10px;
    text-align: center;
    color: $dark-blue;
    .align-centered {
      font-weight: 800 !important;
      padding-bottom: 3px !important;
    }
  }
  .centerer {
    padding-top: 4%;
  }
  .teoric {
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: font-size(11px);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    .positive-color {
      color: $high-variation-color;
    }
    .negative-color {
      color: $low-variation-color;
    }
    .default-color {
      color: $secondary02-color;
    }
  }
  .icon {
    width: 18px;
    height: 15px;
    vertical-align: 0;
    margin-right: 0px;
  }
  .little-font {
    font-size: font-size(11px);
    font-weight: bold;
    text-align: left;
  }
  .big-font {
    font-size: font-size(17px);
    font-weight: bold;
    text-align: left;
  }
  .btn {
    width: 145px;
    height: 33.6px;
    min-width: 10px;
    font-size: font-size(12px);
    font-weight: bold;
    line-height: 1.17;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .flex-container {
    padding-top: 7px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 11px;
    padding-bottom: 16.4px;
  }
  .flex-container > div {
    width: 120px;
    text-align: center;
    font-size: font-size(30px);
  }
  .centered-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 35px;
    .buy,
    .sell {
      .btn {
        .mat-button-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          .icon {
            margin-right: 10px;
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }
  .centered-flex-container > div {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding-bottom: 5px;
  }
  .title {
    background-color: rgba($secondary11-color, 0.26);
    padding: 4px 0px;
    .align {
      display: flex;
      align-items: center;
      padding: 0 !important;
      justify-content: flex-end;
      .export {
        font-size: font-size(22px);
        margin-left: 4.5px;
        margin-right: 4.5px;
      }
      .close-card {
        font-size: font-size(25px);
        margin-right: 4.5px;
      }
      .chain {
        font-size: font-size(28px);
        margin-left: 4.5px;
        margin-right: 4.5px;
      }
    }
    span {
      font-size: font-size(16px);
      font-weight: 900;
      text-align: left;
      color: $secondary02-color;
    }
  }
  .last-trade {
    font-size: font-size(28px);
    font-weight: 900;
    text-align: center;
    .last {
      font-size: font-size(24px);
    }
    .rs {
      font-size: font-size(10px);
    }
    .auction_hammer {
      margin-right: 8px;
      margin-bottom: -4px;
      .icon {
        width: 18px;
        height: 15px;
        vertical-align: 0;
        margin-right: 0px;
      }
    }
  }
  .size-box {
    width: 91px;
    height: 23.1px;
    border-radius: 2px !important;
  }
  i {
    cursor: pointer;
    float: right;
  }
  .information {
    .first-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row;
      width: fit-content;
      margin: 0;
      height: 100%;
      min-width: 120px;

      .divider-vertical {
        width: 1px;
        height: 34.2px;
        background-color: rgba($secondary02-color, 0.14);
        margin-left: 5px;
        margin-right: 5px;
      }
      .min,
      .max {
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex-flow: column;
        margin: 0;
        .little-font {
          font-weight: bold;
          height: 35%;
          width: 100%;
          font-size: font-size(11px);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0;
        }
        .big-font {
          font-size: font-size(17px);
          font-weight: 900;
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0;
        }
      }
    }
    .second-group {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row;
      width: 195px;
      height: 100%;
      .margin-complete {
        margin-left: 5px !important;
      }
      .huge-one {
        margin: 0;
        width: 95px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        .little-font-2 {
          font-size: font-size(9px);
          font-weight: 500;
          width: 100%;
          height: 35%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .big-font-2 {
          font-size: font-size(20px);
          font-weight: 900;
          text-align: center;
          width: 100%;
          text-overflow: ellipsis;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .green {
          color: $asset-summary-quick-search-information-green;
        }
        .yellow {
          color: $asset-summary-quick-search-information-yellow;
        }
        .little-font {
          font-size: font-size(7px);
          font-weight: bold;
          text-align: center;
        }
        .big-font {
          font-size: font-size(18px);
          font-weight: 900;
          text-align: center;
        }
      }
    }
    div {
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 1px;
      font-weight: bold;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      text-align: left;
      padding: 8px;
      font-size: font-size(11px);
    }
    tr:nth-child(odd) {
      background-color: $table-bg-grey;
    }
    div:nth-child(odd) {
      float: left;
    }
    div:nth-child(even) {
      float: right;
    }
    .description {
      text-align: left;
    }
    .value {
      text-align: right;
    }
  }
  .table {
    font-size: font-size(10px);
    .margin-fix {
      margin-right: -15px !important;
      margin-left: -15px !important;
    }
    .row:nth-child(odd) {
      background-color: $table-bg-grey;
    }
    .col:nth-child(odd) {
      border-right: 1px solid $table-line-grey;
      height: 23.8px;
    }
    span:nth-child(odd) {
      padding-top: 4px;
      display: block;
      float: left;
      width: auto;
      text-align: left;
    }
    span:nth-child(even) {
      padding-top: 4px;
      display: block;
      float: right;
      width: auto;
      text-align: right;
    }
    div {
      div {
        div:nth-child(odd) {
          padding-top: 4px;
          display: block;
          float: left;
          width: auto;
          text-align: left;
        }
        div:nth-child(even) {
          padding-top: 4px;
          display: block;
          float: right;
          width: auto;
          text-align: right;
        }
      }
    }
  }
  .price {
    float: right;
    width: fit-content;
    div:nth-child(even) {
      border-radius: 2px;
      text-align: center;
      font-size: font-size(14px);
    }
  }
  .color-red {
    color: $negative-currency-value;
    background-color: rgba($negative-currency-value, 0.2);
    font-size: font-size(15px);
    font-weight: bold;
  }
  .color-green {
    color: $gradient-sell-2;
    background-color: rgba($gradient-sell-2, 0.15);
    font-size: font-size(15px);
    font-weight: bold;
  }
  .yellow-background {
    background-color: rgba($gradient-buy-3, 0.1);
    color: $gradient-buy-3;
  }
  .green-background {
    background-color: rgba($gradient-sell-2, 0.1);
    color: $gradient-sell-2;
  }
  .buttons {
    padding-top: 2%;
    padding-bottom: 15px;
  }
  .mat-tab-labels {
    justify-content: center;
    margin-bottom: 13.8px;
    /* align items in Main Axis */
  }
  .mat-tab-label {
    min-width: 5px;
    height: 15px !important;
    padding: 0 6px;
  }
  .mat-tab-label.container {
    height: 10px;
  }
  .mat-tab-label-content {
    width: 7px;
    height: 7px;
    background: rgba(#abb2b9, 0.27);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
  }
  .mat-tab-body-wrapper {
    flex-grow: 1;
  }
  .mat-tab-body-content {
    overflow: hidden;
    height: 100%;
    min-height: 125px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .mat-tab-label-active {
    background-color: transparent !important;
    opacity: 1 !important;
  }
  .asset-group {
    font-size: font-size(14px);
    background-color: $bg-color;
    .top {
      text-align: center;
    }
    .row {
      padding-bottom: 2%;
    }
    .group {
      .col-sm-4 {
        text-align: center;
        background-color: $boxes-color;
      }
    }
  }
  .spinner {
    padding-top: 18%;
    padding-right: 0%;
  }
  mat-tab-group {
    height: 135px !important;
    overflow-y: hidden !important;
  }
  .mat-tab-body.mat-tab-body-active {
    overflow: hidden;
  }
  .mat-tab-group-inverted-header .mat-tab-header {
    height: 12px;
    top: -13px;
    border-top: 0px solid;
    .mat-tab-label-container {
      z-index: 2;
    }
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent;
  }
}

.custom-dialog-container .mat-dialog-container {
  background-color: transparent;
  background: transparent;
  box-shadow: none;
}

.asset-summary-quick-search {
  background-color: $white;
  color: $secondary02-color;

  .container {
    padding: 0;
    .margin-set {
      flex-flow: row;
      margin-top: 5px !important;
      .asset-form-field {
        padding-left: 0;
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        max-height: 71px;
      }
      .price-div {
        width: 91px !important;
      }
    }
  }
  .third-window-body {
    background: #f1f1f1;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 7px;
    height: 142px !important;
  }

  .third-window {
    position: absolute;
    background-color: $bg-color;
    width: 100%;
    left: 0;
    height: 58%;
  }
  .box {
    margin-top: 3px;
    width: 132.6px;
    height: 33.3px;
    border-radius: 2px;
    background-color: #e8e8e8;
    font-size: font-size(10px);
    text-align: center;
    color: $dark-blue;
  }
  .centerer {
    padding-top: 1%;
  }
  .teoric {
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: font-size(11px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    .positive-color {
      color: $high-variation-color;
    }
    .negative-color {
      color: $low-variation-color;
    }
    .default-color {
      color: $secondary02-color;
    }
  }
  .icon {
    width: 18px;
    height: 15px;
    vertical-align: 0;
    margin-right: 0px;
  }
  .little-font {
    font-size: font-size(11px);
    font-weight: bold;
    text-align: left;
  }
  .big-font {
    font-size: font-size(17px);
    font-weight: bold;
    text-align: left;
  }
  .btn {
    width: 145px;
    height: 33.6px;
    border-radius: 17px;
    min-width: 10px;
    font-size: font-size(12px);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .flex-container {
    padding-top: 7px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 11px;
    padding-bottom: 16.4px;
  }
  .flex-container > div {
    width: 120px;
    text-align: center;
    font-size: font-size(30px);
  }
  .centered-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 35px;
  }
  .centered-flex-container > div {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }
  .title {
    background-color: rgba($secondary11-color, 0.26);
    padding: 4px 0px;
    .align {
      display: flex;
      align-items: center;
      padding: 0 !important;
      justify-content: flex-end;
      .export {
        font-size: font-size(22px);
        margin-left: 4.5px;
        margin-right: 4.5px;
      }
      .close-card {
        font-size: font-size(25px);
        margin-right: 4.5px;
      }
      .chain {
        font-size: font-size(28px);
        margin-left: 4.5px;
        margin-right: 4.5px;
      }
    }
    span {
      font-size: font-size(16px);
      font-weight: 900;
      text-align: left;
      color: $secondary02-color;
    }
  }
  .last-trade {
    font-size: font-size(28px);
    font-weight: 900;
    text-align: center;
    .last {
      font-size: font-size(24px);
    }
    .rs {
      font-size: font-size(10px);
    }
  }
  .size-box {
    width: 91px;
    height: 23.1px;
    border-radius: 2px !important;
    margin-bottom: 8.9px;
  }
  i {
    cursor: pointer;
    float: right;
  }
  .information {
    display: flex;
    justify-content: space-evenly;
    .first-group {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row;
      width: 131px;
      height: 100%;
      .divider-vertical {
        width: 1.1px;
        height: 34.2px;
        background-color: $asset-summary-quick-search-vertical-divider;
        margin-left: 6px;
        margin-right: 6px;
      }
      .min,
      .max {
        width: 63px;
        height: 38.7px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        .little-font {
          font-weight: bold;
          height: 35%;
          width: 100%;
          font-size: font-size(11px);
          line-height: 1.82;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        .big-font {
          font-size: font-size(17px);
          font-weight: 900;
          height: 50%;
          width: 100%;
          line-height: 1.82;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
    .second-group {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row;
      width: 203px;
      height: 100%;
      .huge-one {
        width: 102.4px;
        height: 38.7px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        .little-font-2 {
          font-size: font-size(9px);
          font-weight: 500;
          width: 100%;
          height: 35%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .big-font-2 {
          font-size: font-size(20px);
          font-weight: 900;
          text-align: center;
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .green {
          color: $asset-summary-quick-search-information-green;
        }
        .yellow {
          color: $asset-summary-quick-search-information-yellow;
        }
        .little-font {
          font-size: font-size(7px);
          font-weight: bold;
          text-align: center;
        }
        .big-font {
          font-size: font-size(18px);
          font-weight: 900;
          text-align: center;
        }
      }
    }
    div {
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 1px;
      font-weight: bold;
      line-height: 1;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      text-align: left;
      padding: 8px;
      font-size: font-size(11px);
    }
    tr:nth-child(odd) {
      background-color: $table-bg-grey;
    }
    div:nth-child(odd) {
      float: left;
    }
    div:nth-child(even) {
      float: right;
    }
    .description {
      text-align: left;
    }
    .value {
      text-align: right;
    }
  }
  .table {
    font-size: font-size(10px);
    .margin-fix {
      margin-right: -15px !important;
      margin-left: -15px !important;
    }
    .row:nth-child(odd) {
      background-color: $table-bg-grey;
    }
    .col:nth-child(odd) {
      border-right: 1px solid $table-line-grey;
      height: 23.8px;
    }
    span:nth-child(odd) {
      padding-top: 4px;
      display: block;
      float: left;
      width: auto;
      text-align: left;
    }
    span:nth-child(even) {
      padding-top: 4px;
      display: block;
      float: right;
      width: auto;
      text-align: right;
    }
    div {
      div {
        div:nth-child(odd) {
          padding-top: 4px;
          display: block;
          float: left;
          width: auto;
          text-align: left;
        }
        div:nth-child(even) {
          padding-top: 4px;
          display: block;
          float: right;
          width: auto;
          text-align: right;
        }
      }
    }
  }
  .price {
    float: right;
    width: fit-content;
    div:nth-child(even) {
      border-radius: 2px;
      text-align: center;
      font-size: font-size(14px);
    }
  }
  .color-red {
    color: $negative-currency-value;
    background-color: rgba($negative-currency-value, 0.15);
    font-size: font-size(15px);
    font-weight: bold;
  }
  .color-green {
    color: $gradient-sell-2;
    background-color: rgba($gradient-sell-2, 0.15);
    font-size: font-size(15px);
    font-weight: bold;
  }
  .yellow-background {
    background-color: rgba($gradient-buy-3, 0.1);
    color: $gradient-buy-3;
  }
  .green-background {
    background-color: rgba($gradient-sell-2, 0.1);
    color: $gradient-sell-2;
  }
  .buttons {
    padding-top: 2%;
    padding-bottom: 15px;
  }
  .mat-tab-labels {
    justify-content: center;
    margin-bottom: 13.8px;
    /* align items in Main Axis */
  }
  .mat-tab-label {
    min-width: 5px;
    height: 15px !important;
    padding: 0 6px;
  }
  .mat-tab-label.container {
    height: 10px;
  }
  .mat-tab-label-content {
    width: 7px;
    height: 7px;
    background: rgba($black, 0.27);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
  }
  .mat-tab-body-wrapper {
    flex-grow: 1;
  }
  .mat-tab-body-content {
    overflow: hidden;
    height: 100%;
    min-height: 125px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .mat-tab-label-active {
    background-color: transparent !important;
    opacity: 1 !important;
  }
  .asset-group {
    font-size: font-size(14px);
    background-color: $bg-color;
    .top {
      text-align: center;
    }
    .row {
      padding-bottom: 2%;
    }
    .group {
      .col-sm-4 {
        text-align: center;
        background-color: $boxes-color;
      }
    }
  }
  .spinner {
    padding-top: 20%;
    padding-right: 11%;
  }
  .spinner-header-search{
    padding-right: 0px;
  }
  mat-tab-group {
    height: 135px !important;
    overflow-y: hidden !important;
  }
  .mat-tab-body.mat-tab-body-active {
    overflow: hidden;
  }
  .mat-tab-group-inverted-header .mat-tab-header {
    height: 12px;
    top: -13px;
    border-top: 0px solid;
    .mat-tab-label-container {
      z-index: 2;
    }
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent;
  }
}

.custom-dialog-container .mat-dialog-container {
  background-color: transparent;
  background: transparent;
  box-shadow: none;
}

.darkTheme {
  .asset-summary {
    background-color: $dark-black-bg;
    color: $grey-font;

    .table {
      color: $grey-font !important;
    }

    .table .row:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .third-window-body {
      background: $deep-black-bg;
      margin-left: -15px;
      margin-right: -15px;
      padding-bottom: 7px;
      height: 142px !important;
    }

    .third-window {
      background-color: $deep-black-bg;

      .box {
        background-color: $dark-grey-bg;
        color: $grey-font;
      }
    }
  }

  .asset-summary-quick-search {
    background-color: $dark-black-bg;
    color: $grey-font;
    .table .row:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .third-window {
      background-color: $deep-black-bg;

      .box {
        background-color: $dark-grey-bg;
        color: $grey-font;
      }
    }
  }
}
.m-company {
  margin-top: -11px !important;
}
