.auth-broker {
  height: 100vh;
  color: $secondary02-color;  
  border-left: 4px solid $secondary01-color;
  .box-auth {
    text-align: left;
    padding-top: 82px;
    padding-bottom: 0px;
    padding-left: 71px;
    padding-right: 0px;
    .broker-modal-title {
      font-size: font-size(25px);
      font-weight: bold;
      margin-bottom: 3%;
    }
    .broker-modal-subtitle {
      height: 71px;
      font-size: font-size(14px);
      opacity: 0.7;
      font-weight: normal;
      font-style: normal;
      max-width: 427px;
      margin-bottom: 4%;
    }
    .broker-modal-form {
      form {
        mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
          .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
            color: $secondary02-color;
          }
        }
        mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
          width: 380px;
          font-size: font-size(14px) !important;
          font-weight: normal !important;
          font-style: normal !important;
          font-stretch: normal !important;
          line-height: 1.36 !important;
          letter-spacing: normal !important;
          margin-top: 10px;
          margin-bottom: 10%;
          mat-icon {
            color: $secondary02-color;
            &.invalid {
              color: $error;
            }
            &.valid {
              color: $success;
            }
            &.opac05 {
              opacity: 0.5;
            }
          }
        }
        .forgotPass {
          cursor: pointer;
          color: $secondary02-color;
          opacity: 0.75;
          font-size: 13px;
          text-align: right;
          width: 380px;
          margin-top: -37px;
        }
        .button-submit {
          margin-left: -10px;
          margin-top: 5%;
          .button-progress {
            transition: margin 0.3s ease-out;
            > button {        
              transition: 0.3s ease-out;       
              .mat-button-wrapper {
                -webkit-animation-name: fadeIn;
                animation-name: fadeIn;
              }
              &.fadeOut {
                width: 54px;
                left: calc(50% - 205px);
                .mat-button-wrapper {
                  visibility: hidden;
                }
              }
              &.error {
                background: $error-color !important;
                .mat-button-wrapper {
                  visibility: hidden;
                }
                &::before {
                  -webkit-animation-name: fadeIn;
                  animation-name: fadeIn;
                  display: block;
                  position: absolute;
                  left: 0;
                  color: #fff;
                  text-align: center;
                  content: "close";
                  width: 100%;
                  font-family: "Material Icons";
                  font-weight: normal;
                  font-style: normal;
                  font-size: font-size(24px);
                  line-height: 1;
                  letter-spacing: normal;
                  text-transform: none;
                  display: inline-block;
                  white-space: nowrap;
                  word-wrap: normal;
                  direction: ltr;
                  font-feature-settings: "liga";
                  -webkit-font-smoothing: antialiased;
                }
              }
              &.success {
                .mat-button-wrapper {
                  visibility: hidden;
                }
                &::before {
                  -webkit-animation-name: fadeIn;
                  animation-name: fadeIn;
                  display: block;
                  position: absolute;
                  left: 0;
                  color: #fff;
                  text-align: center;
                  content: "done";
                  width: 100%;
                  font-family: "Material Icons";
                  font-weight: normal;
                  font-style: normal;
                  font-size: font-size(24px);
                  line-height: 1;
                  letter-spacing: normal;
                  text-transform: none;
                  // display: inline-block;
                  white-space: nowrap;
                  word-wrap: normal;
                  direction: ltr;
                  font-feature-settings: "liga";
                  -webkit-font-smoothing: antialiased;
                }
              }
            }
            > div {
              position: absolute;
              display: table;
              // margin-top: 40px;
              left: calc(50% - 103px);
              bottom: calc(50% - 202px);
            }
          }
        }
      }
    }
  }
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.darkTheme {
  .auth-broker {
    color: $grey-font !important;
    background-color: $dark-black-bg !important;
    input {
      // color: $grey-font !important;
      background-color: $dark-black-bg !important;
    }
    .broker-modal-form {
      form {
        mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
          .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
            color: $success;
          }
        }
      }
    }
  }
}
