.autoComplete-assessor {
  height: 46px;
  .active {
    text-transform: uppercase;
    height: 29px;
    font-size: font-size(25px);
    font-weight: bold;
    text-align: left;
    color: $secondary02-color;
    font-family: $font-default;
  }
  .company {
    height: 15px;
    margin-top: 3px;
    font-size: font-size(10px);
    font-weight: 500;
    text-align: left;
    color: $secondary03-color;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .invalid {
    height: 11px;
    font-size: font-size(10px);
    font-weight: 500;
    margin-left: 5px;
    color: $error;
    margin-bottom: 7px;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
  .mat-autocomplete-panel.mat-autocomplete-visible {
    margin-top: -20px;
    right: 55px;
  }
  .mat-form-field-flex {
    display: flex;
    align-items: center;
  }
  mat-form-field.input-invalid {
    input {
      color: $error-color;
    }
    .mat-form-field-wrapper .mat-form-field-underline {
      background-color: $error-color;
      background-image: unset;
      .mat-form-field-ripple {
        background-color: $error-color;
      }
    }
  }
  .mat-option-text {
    font-size: font-size(14px);
    text-transform: uppercase;
  }
  .searchIcon {
    width: 15px !important;
    height: 15px;
    position: relative;
    top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0 !important;
  }
}

.darkTheme .autoComplete-assessor {
  color: $deep-grey-bg;
}
