$header-orders-input-color: $white;
$header-orders-label-input-color: $light-grey;
$header-orders-input-underline-ripple-background: $light-grey;
$table-row-color: $row-color;
$table-header-bg: #e5eef4;
$table-even-row-bg: #f4f5f6;
.padding-0 {
  padding: 0 !important;
}
.balance-consult-component-new {
  .cursor {
    cursor: pointer;
  }
  .high-color {
    color: $high-variation-color !important;
  }
  .low-color {
    color: $low-variation-color !important;
  }
  .header {
    border-bottom: 1px solid rgba($white, 0.07);
    background: $primary01-color;
    background-image: $header-gradient-right;
    padding: 10px 10px;
    margin: 0;
    position: fixed;
    height: 44px;
    width: calc(100% - 209px);
    border-radius: 3px 3px 0 0;
    z-index: 1;
    top: 94px;
    span.title {
      font-size: font-size(16px);
      font-weight: 900;
      text-align: left;
      color: $component-selector-header-color;
    }
    .icon-order {
      height: 21px;
      width: 21px;
      margin-right: 15px;
      svg {
        margin-bottom: 5px;
        path {
          fill: $header-orders-input-color;
          stroke: $header-orders-input-color;
        }
      }
    }
    .icon-close-btn {
      height: 15px;
      width: 15px;
      svg {
        path {
          fill: $header-orders-input-color;
          stroke: $header-orders-input-color;
        }
      }
    }
  }
  .scrollable-body {
    overflow: scroll;
    // height: calc(100vh - 118.5px);
    margin-top: 24px;
    padding: 20px;
    margin-left: -6px;
    margin-right: -9px;
    .spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -27px;
      margin-left: -27px;
    }
    .side-l {
      height: calc(100vh - 148px);
      overflow-y: auto;
      .margin {
        margin: 4% 0;
        &.first {
          margin: 2% 0;
        }
        &.last {
          margin-bottom: 50px;
        }
      }
      .show-value {
        display: table-cell;
        vertical-align: middle;
        color: $secondary01-color;
        padding-right: 18px;
        .icon-eye {
          // padding-top: 15px;
          opacity: 0.52;
          // margin-right: 40px;
        }
        .eye-icon {
          opacity: 0.52;
          // padding-top: 15px;
        }
      }
      .title-header {
        margin: 5px 0px;
        font-weight: 600;
        font-size: font-size(16px);
        color: $secondary02-color;
      }
      .title-left {
        font-size: font-size(14px);
        font-weight: 600;
      }
      .title-center {
        font-size: font-size(12px);
        font-weight: 600;
        text-align: center;
      }
      .text-center {
        text-align: center;
        opacity: 0.7;
      }
      .text-left {
        opacity: 0.7;
      }
      .box-one {
        background-color: $bg-color;
        padding: 5px;
        .b-rigth {
          border-right: 1px solid #0000001c;
        }
      }
    }
    .side-r {
      background: $header-gradient-right;
      margin: 0;
      font-size: 14px;
      color: #fff;
      padding-top: 25px;
      padding-bottom: 31px;
      padding-left: 33px;
      .box-three {
        margin-bottom: 57%;
        .text-lg {
          opacity: 0.7;
          font-size: font-size(16px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: $white;
        }
        .value-lg {
          font-size: font-size(26px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.3;
          letter-spacing: normal;
          text-align: left;
          color: $white;
        }
      }
    }
  }
}
@media (max-height: 908px) {
  .balance-consult-component-new .scrollable-body {
    .side-l {
      .margin {
        margin: 8% 0;
      }
      .title-left {
        font-size: font-size(14px);
      }
    }
    .side-r .box-three {
      margin-bottom: 59%;
    }
  }
}
@media (max-height: 757px) {
  .balance-consult-component-new .scrollable-body {
    .side-l {
      .margin {
        margin: 4% 0;
      }
      .title-left {
        font-size: font-size(14px);
      }
    }
    .side-r .box-three {
      margin-bottom: 47%;
    }
  }
}
@media (max-height: 625px) {
  .balance-consult-component-new .scrollable-body {
    .side-l {
      height: 463px;
      overflow-y: auto;
      .margin {
        margin: 2% 0;
      }
      .title-left {
        font-size: font-size(12px);
      }
    }
    .side-r .box-three {
      margin-bottom: 27%;
    }
  }
}
@media (max-height: 577px) {
  .balance-consult-component-new .scrollable-body {
    .side-l {
      height: 411px;
      overflow-y: auto;
      .margin {
        margin: 1% 0;
      }
      .title-left {
        font-size: font-size(11px);
      }
    }
    .side-r .box-three {
      margin-bottom: 23%;
    }
  }
}

// .balance-consult-component {
//   .hide-balance-data {
//     content: " ";
//     position: relative;
//     &:after {
//       content: " ";
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       left: 0;
//       background-color: rgba($black, 0.04);
//     }
//   }

//   .balance-container {
//     display: flex;
//     justify-content: center;
//   }

//   .scrollable-body {
//     overflow: scroll;
//     height: calc(100vh - 118.5px);
//     .index {
//       display: flex;
//       height: 50px;
//       font-size: font-size(16px);
//       font-weight: bold;
//       color: $secondary02-color;
//       background-color: $table-header-bg;
//       line-height: 3.1;
//     }
//     .status-padding {
//       padding-left: 40px !important;
//     }
//     .text-aligner {
//       padding-left: 20px;
//       text-align: center;
//     }
//     .number-align {
//       padding-right: 20px;
//       text-align: center;
//     }
//     .number-alignF {
//       padding-right: 20px;
//       text-align: center;
//       padding-left: 35px;
//     }
//     .date-align {
//       text-align: center;
//     }
//   }

//   .toUpper {
//     text-transform: uppercase;
//   }

//   .selected {
//     width: 30px;
//     height: 25px;
//     border-radius: 1px;
//     background-color: $secondary02-color;
//     color: $white;
//   }

//   .spinner {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     margin-top: -27px;
//     margin-left: -27px;
//   }

//   .button-box {
//     margin-right: 43.8px;
//     background-color: transparent;
//     position: absolute;
//     right: 0;
//     top: 10%;
//     .xs {
//       width: 83.4px;
//       height: 31px;
//       border-radius: 50px;
//       border: solid 1px $white;
//       background: unset;
//       background-color: transparent;
//       box-shadow: none;
//       min-width: unset;
//       margin-left: 17.6px;
//       &:hover {
//         background-color: $light-grey;
//         span {
//           font-size: font-size(13px);
//           font-weight: bold;
//           font-style: normal;
//           line-height: 1.15;
//           text-align: left;
//           color: $secondary02-color !important;
//         }
//       }
//     }
//   }

//   .form-box {
//     margin-left: 56px;
//   }

//   .status-form {
//     width: 120px !important;
//   }

//   .date-form {
//     width: 100px !important;
//   }

//   .type-form {
//     width: 180px !important;
//   }

//   .direction-form {
//     width: 100px !important;
//   }

//   .market-form {
//     width: 100px !important;
//   }

//   .symbol-form {
//     .autoComplete {
//       mat-form-field.mat-form-field {
//         input {
//           color: $white;
//           height: 25px;
//           font-size: smaller;
//           font-weight: initial;
//         }
//         width: 100px !important;
//       }
//       .invalid {
//         width: 90px;
//         height: 0px;
//       }
//     }
//   }

//   .flex-container {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .flex-container > div {
//     text-align: center;
//   }

//   .flex-container-centered {
//     display: flex;
//     justify-content: center;
//     bottom: 10px;
//     position: relative;
//   }

//   .flex-container-centered > div {
//     line-height: 2;
//     font-size: font-size(12px);
//     font-weight: 500;
//     margin: 10px;
//     text-align: center;
//     cursor: pointer;
//   }

//   .container-fluid {
//     padding: 0;
//     .row-content {
//       height: 100%;
//       margin: 0;
//     }
//   }

//   .margin-input {
//     margin-right: 30px;

//     .input-status {
//       width: 170px;
//       -webkit-appearance: none;
//     }

//     .input-period {
//       width: 80px;
//       -webkit-appearance: none;
//     }

//     .input-calender {
//       width: 80px;
//       -webkit-appearance: none;
//     }

//     .input-direction {
//       width: 75px;
//       -webkit-appearance: none;
//     }

//     .input-active {
//       width: 85px;
//     }
//   }

//   .header {
//     border-bottom: 1px solid rgba($white, 0.07);
//     background: $primary01-color;
//     background-image: $header-gradient-right;
//     padding: 10px 10px;
//     margin: 0;
//     position: fixed;
//     height: 44px;
//     width: calc(100% - 209px);
//     border-radius: 3px 3px 0 0;
//     z-index: 1;
//     top: 94px;
//     span.title {
//       font-size: font-size(16px);
//       font-weight: 900;
//       text-align: left;
//       color: $component-selector-header-color;
//     }

//     mat-form-field.mat-form-field-appearance-legacy,
//     mat-form-field.mat-focused {
//       color: $header-orders-input-color;

//       .mat-form-field-wrapper {
//         .mat-form-field-underline {
//           background-color: $header-orders-input-color;
//           background-image: unset;

//           .mat-form-field-ripple {
//             background-color: $header-orders-input-underline-ripple-background;
//           }
//         }

//         .mat-form-field-flex {
//           .mat-form-field-infix {
//             width: 144px;

//             mat-select {
//               .mat-select-arrow-wrapper {
//                 border-top: 6px solid $header-orders-input-color;
//               }
//             }

//             .mat-form-field-label-wrapper {
//               .mat-form-field-label {
//                 font-size: font-size(9px);
//                 opacity: 0.4;
//                 padding-top: 15px;
//                 font-weight: normal;
//                 color: $header-orders-label-input-color;
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   .header-box {
//     width: 100%;
//     background: $primary01-color;
//     background-image: $header-gradient-right;
//     margin: 0;
//     font-size: font-size(14px);
//     color: $white;
//     padding-top: 4px;
//     padding-bottom: 31px;
//     position: relative;
//     margin-top: 44px;
//     height: 166px;
//     padding-left: 58px;
//     .header-left {
//       width: 363px;
//       height: 100%;
//       .input-read {
//         top: -7px;
//         position: relative;
//         .mat-input-element {
//           width: 90%;
//           text-overflow: ellipsis;
//           overflow: hidden;
//           white-space: nowrap;
//         }
//       }
//       .projected {
//         height: 34px;
//         width: 167px;
//         border-radius: 3px;
//         background-color: rgba($white, 0.24);
//         margin-top: 2px;
//         margin-left: 11px;
//         padding-left: 15px;
//         padding-right: 15px;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         white-space: nowrap;
//         .med-value-proj {
//           font-size: font-size(19px);
//           color: $white;
//           text-align: center;
//           font-weight: bold;
//           padding-top: 5px;
//           text-overflow: ellipsis;
//           overflow: hidden;
//           white-space: nowrap;
//         }
//       }
//       .row {
//         margin-right: unset;
//         margin-left: unset;
//       }
//     }
//     .lrg-txt-right {
//       font-size: font-size(18px);
//       opacity: 0.7;
//     }
//     .header-right {
//       width: 615px;
//       height: 100%;
//       position: absolute;
//       right: 0;
//       margin-left: 69.5px;
//       color: $white;
//       mat-form-field {
//         top: -7px !important;
//       }
//       .row {
//         margin-right: unset;
//         margin-left: unset;
//         // margin-bottom
//       }
//       .right-box {
//         margin-top: 16px;
//       }
//       .subtitles {
//         position: relative;
//         bottom: -6px;
//       }
//       .overflow {
//         width: 195.7px;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         white-space: nowrap;
//         padding-right: 35px;
//       }
//       .box1 {
//         height: 52px;
//         width: 195.7px;
//       }
//       .box2 {
//         height: 52px;
//         width: 195.7px;
//       }
//       .box3 {
//         height: 52px;
//         width: 195.7px;
//         border-radius: 6px;
//         text-align: left;
//         background-color: rgba($white, 0.1);
//         padding-left: 24.5px;
//       }
//     }
//     .lrg-text-left {
//       font-size: font-size(18px);
//       opacity: 0.7;
//       position: relative;
//       top: 16px;
//     }
//     .lrg-text-left2 {
//       font-size: font-size(18px);
//       opacity: 0.7;
//       padding-top: 5px;
//     }
//     .med-text {
//       font-size: font-size(13px);
//       opacity: 0.7;
//     }
//     .small-text {
//       font-size: font-size(10px);
//       opacity: 0.7;
//     }
//     .lrg-value {
//       font-size: font-size(30px);
//       color: $white;
//       width: 100%;
//       font-weight: bold;
//       text-overflow: ellipsis;
//       overflow: hidden;
//       white-space: nowrap;
//       .icon-eye {
//         opacity: 0.52;
//         font-size: font-size(20px);
//         margin-right: 40px;
//       }
//     }
//     .med-value {
//       font-size: font-size(21px);
//       color: $white;
//       text-align: center;
//       font-weight: bold;
//       text-overflow: ellipsis;
//       overflow: hidden;
//       white-space: nowrap;
//     }

//     mat-form-field.mat-form-field-appearance-legacy,
//     mat-form-field.mat-focused {
//       color: $header-orders-input-color;

//       .mat-form-field-wrapper {
//         .mat-form-field-underline {
//           background-color: $header-orders-input-color;
//           background-image: unset;

//           .mat-form-field-ripple {
//             background-color: $header-orders-input-underline-ripple-background;
//           }
//         }

//         .mat-form-field-flex {
//           .mat-form-field-infix {
//             width: 144px;

//             mat-select {
//               .mat-select-arrow-wrapper {
//                 border-top: 6px solid $header-orders-input-color;
//               }
//             }

//             .mat-form-field-label-wrapper {
//               .mat-form-field-label {
//                 opacity: 0.5;
//                 font-size: font-size(14px);
//                 font-weight: normal;
//                 font-style: normal;
//                 font-stretch: normal;
//                 line-height: 1.21;
//                 letter-spacing: 0.2px;
//                 text-align: left;
//                 color: $white;
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   .side-r {
//     width: 25vw;
//     background: $header-gradient-right;
//     // background-image: $shadow-gradient;
//     // background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
//     margin: 0;
//     font-size: font-size(14px);
//     color: #fff;
//     padding-top: 4px;
//     padding-bottom: 31px;
//     position: absolute;
//     right: 0;
//     margin-top: 44px;
//     height: 100%;
//     padding-left: 43.2px;
//     padding-top: 51.7px;
//     .box-three {
//       margin-bottom: 18%;
//       .text-lg {
//         opacity: 0.7;
//         font-size: font-size(18px);
//         font-weight: normal;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: 1.33;
//         letter-spacing: normal;
//         text-align: left;
//         color: $white;
//       }
//       .value-lg {
//         font-size: font-size(30px);
//         font-weight: bold;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: 1.3;
//         letter-spacing: normal;
//         text-align: left;
//         color: $white;
//       }
//     }
//   }

//   .side-l {
//     width: 57vw;
//     margin: 0;
//     font-size: font-size(14px);
//     padding-top: 4px;
//     padding-bottom: 31px;
//     position: absolute;
//     left: 0;
//     margin-top: 44px;
//     height: 95%;
//     padding-left: 43.2px;
//     padding-top: 23.7px;
//     .mat-form-field {
//       line-height: 0px !important;
//     }
//     .lrg-text-left {
//       color: $secondary02-color;
//       font-size: font-size(18px);
//       opacity: 0.7;
//       position: relative;
//       top: 16px;
//     }
//     .lrg-text-data {
//       font-size: font-size(30px);
//       display: table;
//       min-width: 300px;
//       font-weight: bold;
//       opacity: 1;
//     }
//     .line-divider {
//       width: 100%;
//       margin-top: 12px;
//       border-top: solid 1px $secondary02-color;
//     }
//     .padding-l-5 {
//       padding-left: 5px;
//     }
//     .lrg-value {
//       font-size: font-size(30px);
//       color: $secondary02-color;
//       width: 100%;
//       font-weight: bold;
//       text-overflow: ellipsis;
//       overflow: hidden;
//       white-space: nowrap;
//       margin-left: -27px;
//       margin-bottom: 0px !important;
//     }
//     .small-text {
//       font-size: font-size(14px);
//       padding-top: 4px;
//       margin-left: 6px;
//     }
//     .line-one {
//       display: -webkit-inline-box;
//       margin-bottom: 0px !important;
//       .m-box-rigth {
//         margin-top: 52px;
//         font-size: font-size(16px);
//         font-weight: 900;
//         text-align: center;
//         display: table;

//         > span:last-child {
//           display: table-cell;
//           vertical-align: middle;
//           padding-top: 8px;
//         }
//         .show-value {
//           display: table-cell;
//           vertical-align: middle;
//           color: $secondary01-color;
//           padding-right: 18px;
//           .icon-eye {
//             // padding-top: 15px;
//             opacity: 0.52;
//             // margin-right: 40px;
//           }
//           .eye-icon {
//             opacity: 0.52;
//             // padding-top: 15px;
//           }
//         }
//       }
//       .box-one {
//         background-color: rgba($secondary02-color, 0.03);
//         height: 116px;
//         color: $secondary02-color;
//         margin-top: -7px;
//         .small-text {
//           font-size: font-size(13px);
//           opacity: 0.7;
//           text-align: center;
//         }
//         .projected {
//           font-size: font-size(15px);
//           text-align: center;
//           border-radius: 3px;
//           margin-top: 2px;
//           padding-left: 15px;
//           padding-right: 15px;
//           text-overflow: ellipsis;
//           overflow: hidden;
//           white-space: nowrap;
//           font-weight: 900;
//         }
//         .img {
//           text-align: center;
//           padding: 10px 0px;
//         }
//       }
//     }
//     .m-line {
//       padding-right: 0px;
//       padding-left: 0px;
//     }
//     .box-two {
//       background-color: rgba($secondary02-color, 0.03);
//       border-radius: 3px;
//       margin-top: 2px;
//       padding-left: 0px;
//       padding-right: 0px !important;
//       text-overflow: ellipsis;
//       overflow: hidden;
//       white-space: nowrap;
//       display: table;
//       .m-total {
//         padding-top: 9px;
//       }
//       .line-two {
//         margin-left: 0px;
//         margin-right: 0px;
//         padding-top: 2%;
//         padding-bottom: 2%;
//         min-height: 55px;
//         .lg-text {
//           font-size: font-size(18px);
//           color: $secondary02-color;
//           opacity: 0.7;
//           font-weight: normal;
//           font-style: normal;
//           font-stretch: normal;
//           line-height: 1.33;
//           letter-spacing: normal;
//           text-align: left;
//         }
//         .med-value {
//           font-size: font-size(19px);
//           color: $secondary02-color;
//           opacity: 0.7;
//           font-weight: bold;
//           font-style: normal;
//           font-stretch: normal;
//           line-height: 1.32;
//           letter-spacing: normal;
//           text-align: center;
//         }
//         .total-text {
//           font-size: font-size(30px);
//           color: $secondary02-color;
//           width: 100%;
//           font-weight: bold;
//           text-overflow: ellipsis;
//           overflow: hidden;
//           white-space: nowrap;
//           text-align: center;
//         }
//       }
//     }
//     .bg-two {
//       background-color: rgba($secondary02-color, 0.08);
//       min-height: 68px !important;
//     }
//     .m-box1 {
//       margin-bottom: -103px !important;
//     }
//   }
//   .m-input {
//     margin-top: 35px;
//   }

//   .icon-order {
//     height: 21px;
//     width: 21px;
//     margin-right: 15px;

//     svg {
//       margin-bottom: 5px;

//       path {
//         fill: $header-orders-input-color;
//         stroke: $header-orders-input-color;
//       }
//     }

//     // margin-right: 5px;
//     // margin-bottom: 3px;
//   }

//   .icon-close-btn {
//     height: 15px;
//     width: 15px;

//     svg {
//       path {
//         fill: $header-orders-input-color;
//         stroke: $header-orders-input-color;
//       }
//     }
//   }

//   .divider {
//     border-top-color: rgba($white, 0.07);
//     margin: 10px -10px 0 -10px;
//   }

//   .border-right {
//     border-right: solid 1px $secondary03-color;
//   }

//   .border-top {
//     border-top: solid 1px $secondary03-color;
//   }

//   .col-table {
//     padding-left: 0;
//     padding-right: 0;
//   }

//   .table-orders {
//     width: 100%;

//     tbody {
//       .table-row-height {
//         height: 65.5px;
//       }
//       tr {
//         transition: 0.3s ease-in;
//         line-height: 3;

//         &:nth-child(4n),
//         &:nth-child(4n-1) {
//           background-color: rgba($table-even-row-bg, 0.5);
//         }
//         .status-padding {
//           padding-left: 40px !important;
//         }
//         .text-align {
//           padding-left: 20px;
//           text-align: left;
//         }
//         .number-align {
//           padding-left: 20px;
//           text-align: center;
//         }
//         .date-align {
//           text-align: center;
//         }
//         td {
//           font-size: font-size(14px);
//           width: 25%;
//           color: $secondary02-color;
//           box-shadow: none;
//           .gradient-options {
//             visibility: hidden;
//             opacity: 0;
//             position: absolute;
//             transition: opacity 0.4s ease-out;
//             background: linear-gradient(to right, transparent, transparent);
//             text-align: right;
//             color: $secondary01-color;
//             font-size: font-size(14px);
//             font-weight: 500;
//           }
//           .icon-options {
//             cursor: pointer;
//             margin-left: 11px;
//           }
//           .shrink {
//             width: 20px;
//           }
//           .enlarge {
//             width: 30px;
//           }
//           .div-options {
//             position: relative;
//             top: 30%;
//             display: flex;
//             align-items: center;
//             justify-content: flex-end;
//             width: 90px;
//             float: right;
//           }
//           .arrow {
//             transition: 0.3s ease-in;
//             opacity: 0;
//             position: absolute;
//             left: 3px;
//             margin-top: 10px;
//             font-size: font-size(18px);
//             margin-left: 10px;
//             line-height: 0;
//           }

//           .span-arrow {
//             margin-left: -15px;
//           }
//         }
//       }

//       tr:hover {
//         box-shadow: 0 0 6px 0 rgba($black, 0.3);
//         -moz-box-shadow: 0 0 6px 0 rgba($black, 0.3);
//         -webkit-box-shadow: 0 0 6px 0 rgba($black, 0.3);
//         td {
//           transform: scale(1.01);
//           border-bottom: 1px solid transparent;
//           .gradient-options {
//             top: 6px;
//             z-index: 1;
//             background: linear-gradient(to right, transparent 20%, #fff 25%);
//             opacity: 1;
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             padding: 0px 20px;
//             margin: -6px 0px -7px 0;
//             visibility: visible;
//           }
//         }
//         .arrow {
//           opacity: 1;
//         }
//       }

//       tr.hover-up {
//         box-shadow: 0 -5px 5px -3px rgba($black, 0.2);
//         -moz-box-shadow: 0 -5px 5px -3px rgba($black, 0.2);
//         -webkit-box-shadow: 0 -5px 5px -3px rgba($black, 0.2);

//         .arrow {
//           opacity: 1;
//         }
//       }

//       tr.hover-down {
//         box-shadow: 0 5px 5px -2px rgba($black, 0.2);
//         -moz-box-shadow: 0 5px 5px -2px rgba($black, 0.2);
//         -webkit-box-shadow: 0 5px 5px -2px rgba($black, 0.2);
//       }
//     }

//     .icon-remove {
//       height: 10px;
//       width: 15px;
//       margin-right: 5px;

//       svg {
//         margin-bottom: 3px;

//         path {
//           fill: $table-row-color;
//           stroke: $table-row-color;
//         }
//       }
//     }

//     .icon-edit,
//     .icon-view {
//       height: 15px;
//       width: 15px;
//       margin-right: 5px;
//       color: $table-row-color;

//       svg {
//         margin-bottom: 3px;
//       }
//     }
//   }

//   .tab {
//     padding: 11px 43px 11px 43px;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px; //text
//     font-size: font-size(15px);
//     font-weight: 900;
//     font-style: normal;
//     font-stretch: normal;
//     color: $white;
//     cursor: pointer;
//   }

//   .selected-tab {
//     background: $primary01-color;
//     background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
//     // background-color: $header-box2-background;
//   }

//   .table-header {
//     div {
//       display: inline-block;
//     }
//   }
// }

//TODO pegar informações das cores corretas com o UX
.executed-font-os {
  color: $executed;
}

.canceled-font-os {
  color: $canceled;
}

.edited-font-os {
  color: $edited;
}

.pending-edition-font-os {
  color: $gradient-buy-3;
}

.partially-font-os {
  color: $partially;
}

.new-font-os {
  color: $secondary03-color;
}

.suspended-font-os {
  color: $suspended;
}

.pending-font-os {
  color: $primary01-color;
}

.expired-font-os {
  color: $secondary02-color;
}

.cancellation-pending-font-os {
  color: $cancellationPending;
}

.rejected-font-os {
  color: $rejected;
}

.ngx-mat-drp-calendar-container {
  .ngx-mat-drp-calendar-item:nth-child(3) {
    display: none;
  }
  .ngx-mat-drp-date-label {
    display: none;
  }
}

.darkTheme .balance-consult-component-new {
  .header {
    background-image: unset;
    background-color: $dark-black-bg;
    span.title {
      color: $component-selector-header-color;
    }
  }
  .scrollable-body {
    .side-l {
      background-color: $deep-grey-bg;
      .title-header {
        color: $grey-font;
      }
      .title-left {
        color: $grey-font;
      }
      .text-left {
        color: $grey-font;
      }
      .box-one {
        background: rgba($white, 0.08);
      }
    }
    .side-r {
      background: rgba($white, 0.08);
      color: $grey-font;
    }
  }
}

// .darkTheme .balance-consult-component {
//   background-color: $deep-grey-bg;
//   color: $grey-font;

//   .header {
//     background: $primary01-color;
//     background-image: $header-gradient-right;
//     span.title {
//       color: $component-selector-header-color;
//     }
//   }
//   .hide-balance-data {
//     &:after {
//       background-color: rgba($white, 0.07);
//     }
//   }
//   .header {
//     background-image: unset;
//     background-color: $dark-black-bg;
//     span {
//       color: $grey-font;
//     }
//   }
//   .header-box {
//     background-image: unset;
//     background-color: $dark-black-bg;
//     .tab {
//       color: $grey-font;
//     }
//   }
//   .header-box2 {
//     background-color: $deep-grey-bg;
//     color: $grey-font;
//     .flex-container {
//       background-color: $deep-grey-bg;
//       .button-box {
//         .xs {
//           border: 1px solid $grey-font;
//         }
//         span {
//           color: $grey-font;
//         }
//       }
//     }
//   }
//   .selected-tab {
//     background-color: $deep-grey-bg;
//     background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
//     color: $grey-font;
//   }
//   .index {
//     background-color: #2c2c2c;
//     color: $grey-font;
//   }
//   tbody {
//     td {
//       color: $grey-font;
//     }
//     tr:nth-child(2n-1) {
//       background-color: rgba(000, 000, 000, 0.05);
//       td {
//         color: $grey-font;
//         .gradient-options {
//           background: linear-gradient(to right, transparent 20%, #2e2f2f 25%);
//         }
//       }
//     }
//     tr:nth-child(2n) {
//       background-color: rgba(000, 000, 000, 0.05);
//       td {
//         .gradient-options {
//           background: linear-gradient(to right, transparent 20%, #2e2f2f 25%);
//         }
//       }
//     }
//   }
//   .side-l {
//     .lrg-text-left {
//       color: $secondary09-color;
//     }
//     .line-divider {
//       border-top-color: $secondary02-color;
//     }
//     .lrg-value {
//       color: $secondary09-color;
//     }
//     .line-one {
//       .m-box-rigth {
//         .show-value {
//           color: $secondary09-color;
//         }
//       }
//     }
//     .box-one {
//       background-color: rgba($white, 0.03);
//       color: $secondary09-color;
//     }
//   }
//   .box-two {
//     background-color: rgba($white, 0.03);
//     .line-two {
//       .lg-text {
//         color: $secondary09-color;
//       }
//       .med-value {
//         color: $secondary09-color;
//       }
//       .total-text {
//         color: $secondary09-color;
//       }
//     }
//   }
//   .bg-two {
//     background-color: rgba($white, 0.08);
//   }
// }

.empty-value {
  min-height: 39.5px;
}
@media (min-height: 765px) {
  .balance-consult-component {
    .side-r {
      .box-three {
        margin-bottom: 41%;
      }
    }
  }
  .empty-value {
    min-height: 42.5px;
  }
}
