$ofert-book-btn-toggle-box-shadow: rgba($black, 0.1);
$ofert-book-column-color: $row-color;
$ofert-book-chart-arrow-down: $secondary02-color;
$ofert-book-tab-label-color: $secondary02-color;
$ofert-book-tab-active-background: rgba($secondary03-color, 0.21);

.bookOffers {
  color: $secondary02-color;
  .empty {
    margin-top: 100px;
    text-align: center;
  }
  .mat-tab-body-content {
    max-height: 258px;
    margin-bottom: 10px;
  }

  .spinner {
    position: absolute;
    right: 45%;
    bottom: 20%;
  }

  .bar-container {
    height: 61px;
    .padding-adjust {
      padding: 0;
    }
  }
  .div-dynamic {
    border-radius: 10px;
    height: 11px;
    margin-top: 25px;
  }
  .row {
    &.has-msg {
      height: 60px;
    }
  }
  .no-data-msg {
    padding-top: 57px;
    text-align: center;
  }
  .row-center {
    background-color: $black;
    width: 1px;
    height: 100%;
    margin-left: 50%;
  }

  .div-qtd {
    padding: 0;
    margin-right: 5px;
    margin-left: -5px;
    background-color: rgba($secondary03-color, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    .negocios {
      font-size: font-size(12px);
      text-align: center;
      color: $secondary02-color;
    }
    .negocios-qtd {
      font-size: font-size(13px);
      font-weight: bold;
      text-align: center;
      color: $secondary02-color;
    }
  }
  .div-min-max {
    font-size: font-size(10px);
    // color: rgba($black, 0.4);
  }
  .btn-toggle {
    cursor: pointer;
    position: relative;
    display: table;
    width: auto;
    height: 26px;
    border-radius: 13px;
    background: $secondary03-color;
    box-shadow: inset 0 0 2px $ofert-book-btn-toggle-box-shadow;

    > div {
      position: relative;
      vertical-align: middle;
      display: table-cell;
      width: 50%;
      text-align: center;
      color: $white;
      font-size: font-size(12px);
      font-weight: bold;
      padding: 0 15px;
    }

    &::before {
      transition-duration: 0.3s;
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      display: table;
      width: 50%;
      height: 100%;
      border-radius: 16px;
      background: $secondary02-color;
    }

    &.to-right {
      &::before {
        left: 50%;
      }
    }
  }
  .title {
    background-color: rgba($secondary11-color, 0.26);
    padding: 7px 10px 0 10px;
    span {
      font-size: font-size(16px);
      font-weight: 900;
      text-align: left;
      color: $secondary02-color;
    }
  }
  .align {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;

    .chain {
      font-size: font-size(28px);
      margin-left: 4.5px;
      margin-right: 4.5px;
      margin-top: -5px;
    }

    .export {
      font-size: font-size(22px);
      margin-left: 4.5px;
      margin-right: 4.5px;
    }

    .close-card {
      font-size: font-size(25px);
      margin-top: -3px;
    }
  }

  h2 {
    color: $secondary02-color;
  }
  .ocilationZero {
    color: default-color;
    font-weight: bold;
    font-size: font-size(15px);
    vertical-align: middle;
    width: fit-content;
    margin-right: 0px;
  }
  .ocilationHigh {
    color: $high-variation-color;
    font-weight: bold;
    font-size: font-size(15px);
    vertical-align: middle;
    width: fit-content;
    margin-right: 0px;
  }
  .ocilationFall {
    color: $low-variation-color;
    font-weight: bold;
    font-size: font-size(15px);
    vertical-align: middle;
    width: fit-content;
    margin-right: 0px;
  }
  .pressure-graph {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-size: font-size(12px);
    line-height: 22px;
    .title {
      color: $black;
      text-transform: uppercase;
      font-size: font-size(13px);
    }
    .graph {
      width: 100%;
      height: 22px;
      font-size: font-size(12px);
      color: $white;
      font-weight: 600;
      border-radius: 3px;
      .left {
        padding-left: 5px;
      }
      .right {
        float: right;
        padding-right: 5px;
      }
      .subtitle {
        width: 95%;
      }
      .purchase {
        float: left;
        width: 50%;
        margin-left: -1px;
        margin-top: -5px;
      }
      .sale {
        float: right;
        margin-top: -5px;
      }
    }
  }
  .line-dynamic-blue {
    height: 8px;
    width: 138px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 12px;
    z-index: 999;
  }
  .padding-number {
    text-align: right;
    padding-right: 8.2px;
    border-right: 1px solid rgba($secondary02-color, 0.2);
  }
  .padding-letter1 {
    text-align: left;
    padding-left: 8.2px;
    border-right: 1px solid rgba($secondary02-color, 0.2);
  }
  .padding-letter2 {
    text-align: left;
    padding-left: 8.2px;
  }
  .padding-number2 {
    text-align: right;
    padding-right: 5.2px;
    border-right: 1px solid rgba($secondary02-color, 0.2);
  }
  .padding-number3 {
    text-align: right;
    padding-right: 8px;
    border-right: 1px solid rgba($secondary02-color, 0.2);
  }
  .table-book {
    margin-top: 9px;
    padding: 0 15px;
  }
  .table-book2 {
    height: 248px;
    margin-top: 26px;
    padding: 0 15px;
    .table-body {
      height: 247px;
    }
  }
  .header-table {
    font-size: font-size(10px);
    font-weight: 900;
    position: absolute;
    width: calc(100% - 35px);
    left: 15px;
    z-index: 1;
    background-color: white;
    .line {
      display: flex;
      padding-top: 9px;
      padding-bottom: 5px;

      .numberAlignAgr {
        width: 25%;
        text-align: center;
        border-right: 1px solid rgba($secondary02-color, 0.2);
        &:last-child {
          border-right: unset;
        }
      }
      .numberAlignData {
        padding-right: 8.2px;
        text-align: center;
      }
    }
  }
  .mat-tab-group {
    padding: 0;
    .mat-tab-header {
      padding: 0 15px;
      border-bottom: 0px;

      .mat-tab-label-container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }
    }
  }
  table {
    width: 100%;
    font-size: font-size(12px);
    line-height: 2;
    overflow-y: auto;
    table-layout: fixed;
    margin-top: 1em;

    thead {
      line-height: 1;
      tr {
        th {
          border-right: 2px rgba($secondary02-color, 0.2) solid;
          color: $secondary02-color;
          height: 13px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          font-size: font-size(10px);
          font-weight: 900;
        }
        th:last-child {
          border-right: none;
        }
      }
    }
    tbody:before {
      content: "-";
      display: block;
      line-height: 1em;
      color: transparent;
    }
    tr {
      td {
        text-align: center;
        color: $row-color;
        height: 28.8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: font-size(12px);
        color: $row-color;
        .lastField {
          width: 52px;
        }
        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 60px;
        }
      }
      .numberAlign {
        padding-right: 8.2px;
        text-align: right;
      }
      .letterAlign {
        padding-left: 8.2px;
        text-align: left;
      }
    }
  }
  .last-trade {
    font-family: $font-default;
    font-size: font-size(24px);
    font-weight: bold;
    text-align: right;
    color: $secondary02-color;
    margin-top: -1px;
    span {
      font-size: font-size(10px);
    }
    .auction_hammer {
      margin-right: 8px;
      margin-bottom: 8px;
      .icon {
        width: 18px;
        height: 15px;
        vertical-align: 0;
        margin-right: 0px;
      }
    }
  }
  .variation {
    font-size: font-size(15px);
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
    width: 91px;
    height: 23.1px;
    float: right;
    margin-bottom: 2px;
  }
  .div-min {
    color: $gradient-buy-3;
    font-size: font-size(11px);
    font-weight: bold;
  }
  .div-max {
    color: $gradient-sell-2;
    font-size: font-size(11px);
    font-weight: bold;
  }
  .div-dynamic {
    border-radius: 10px;
  }
  .row-center {
    background-color: $black;
    width: 1px;
    height: 100%;
    margin-left: 50%;
  }
  .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: $secondary02-color;
  }
  .mat-tab-label .mat-tab-label-content {
    color: $secondary02-color;
  }
  .background-chart {
    padding-top: 9px;
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid rgba($black, 0.1);
  }
  .background-color-chart {
    .barSize {
      .candle-bear {
        height: 12px;
      }
      .arrow-down {
        background-color: $ofert-book-chart-arrow-down !important;
        height: 25px;
        top: 2px;
      }
    }
  }
  .mat-tab-label {
    min-width: 106.5px;
    min-height: 27.3px;
    width: 106.5px;
    height: 27.3px;
    font-size: font-size(10px);
    font-weight: bold;
    text-align: center;
    color: $ofert-book-tab-label-color;
    opacity: 1;
  }
  .mat-tab-label-active {
    background-color: $ofert-book-tab-active-background;
  }

  .buy-aggressor {
    color: $gradient-buy-3 !important;
    background-color: rgba($gradient-buy-3, 0.2);

    &:hover {
      cursor: pointer !important;
    }
  }
  .sell-aggressor {
    color: $gradient-sell-2 !important;
    background-color: rgba($gradient-sell-2, 0.2);

    &:hover {
      cursor: pointer !important;
    }
  }
}

.darkTheme .bookOffers {
  background-color: $dark-black-bg;
  color: $grey-font;
  th,
  .mat-tab-label-content,
  .last-trade {
    color: $grey-font;
  }
  td {
    color: $dark-row-color;
  }
  .header-table {
    background-color: $dark-black-bg;
  }
}
