.broker-authentication {
  height: 100%;
  color: $secondary02-color;   
  .container-auth {
    width: 555px;
    height: 100vh;
    margin: -40px;
    overflow: hidden;
    .row.justify-content-end {
      padding-top: 0px !important;
      position: absolute;
      right: 41px;
      top: 24px;
      .close-btn {
        @include close-btn(22px, 22px);
        .text {
          width: 13px;
          height: 8px;
          font-size: font-size(11px);
          font-weight: 600;
          text-align: center;
          width: 100%;
        }
      }
    }
    .row.justify-content-start {
      padding-top: 0px !important;
      position: absolute;
      left: 91px;
      top: 24px; 
      .back-btn {
        @include close-btn(17px, 12px);
      }
    }
    .broker-modal-content {
      height: 50vh;
      border-left: 4px solid $white;
      &:hover {
        background: rgba(0, 0, 0, 0.06);
        border-left: 4px solid $secondary01-color;
      }      
      .box {
        text-align: left;
        padding-top: 82px;
        padding-bottom: 0px;
        padding-left: 71px;
        padding-right: 0px;
        h1 {
          height: 36px;
          font-size: font-size(25px);
        }
        h2 {
          height: 71px;
          font-size: font-size(14px);
          opacity: 0.7;
          font-weight: normal;
          font-style: normal;
          max-width: 400px;
          margin-bottom: 12px;
        }
        .button-submit {
          .button-progress {
            transition: margin 0.3s ease-out;
            > button {        
              transition: 0.3s ease-out;       
              &[mat-raised-button] {
                min-width: 137px;
                height: 35px;
                font-size: font-size(11px);
                text-align: right;
              }
              mat-icon {
                font-size: font-size(13px);
                margin-top: 9px;
              }
              .mat-button-wrapper {
                -webkit-animation-name: fadeIn;
                animation-name: fadeIn;
              }
              &.fadeOut {
                width: 54px;
                left: calc(50% - 205px);
                .mat-button-wrapper {
                  visibility: hidden;
                }
              }
              &.error {
                background: $error-color !important;
                .mat-button-wrapper {
                  visibility: hidden;
                }
                &::before {
                  -webkit-animation-name: fadeIn;
                  animation-name: fadeIn;
                  display: block;
                  position: absolute;
                  left: 0;
                  color: #fff;
                  text-align: center;
                  content: "close";
                  width: 100%;
                  font-family: "Material Icons";
                  font-weight: normal;
                  font-style: normal;
                  font-size: font-size(24px);
                  line-height: 1;
                  letter-spacing: normal;
                  text-transform: none;
                  display: inline-block;
                  white-space: nowrap;
                  word-wrap: normal;
                  direction: ltr;
                  font-feature-settings: "liga";
                  -webkit-font-smoothing: antialiased;
                }
              }
              &.success {
                .mat-button-wrapper {
                  visibility: hidden;
                }
                &::before {
                  -webkit-animation-name: fadeIn;
                  animation-name: fadeIn;
                  display: block;
                  position: absolute;
                  left: 0;
                  color: #fff;
                  text-align: center;
                  content: "done";
                  width: 100%;
                  font-family: "Material Icons";
                  font-weight: normal;
                  font-style: normal;
                  font-size: font-size(24px);
                  line-height: 1;
                  letter-spacing: normal;
                  text-transform: none;
                  // display: inline-block;
                  white-space: nowrap;
                  word-wrap: normal;
                  direction: ltr;
                  font-feature-settings: "liga";
                  -webkit-font-smoothing: antialiased;
                }
              }
            }
            > div {
              position: absolute;
              display: table;
              // margin-top: 40px;
              left: calc(50% - 103px);
              bottom: calc(50% - 202px);
            }
          }
        }
      }
      .p-0 {
        padding-top: 31px !important; 
        padding-bottom: 0px !important; 
        padding-left: 71px !important; 
        padding-right: 0px !important; 
      }
    }
  }
}

.darkTheme {
  .container-auth {
    .broker-modal-content {
      border-left: 4px solid $dark-black-bg;
      color: #abb2b9;
    }
  }
}