.cdk-overlay-container {
  .buy-sell-options {
    margin-top: 30px !important;
    margin-bottom: 40px !important;
    max-height: 200px !important;
  }
}

.billetTooltip {
  white-space: pre-line !important;
}
.billet-header {
  height: 45px;
  // width: 100%;
  width: 370px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  .btn-buy,
  .btn-sell {
    color: $white;
    font-weight: bold;
    width: 185px;
    height: 47px;
    font-size: font-size(16px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .icon {
      width: 25px;
      height: 25px;
      margin-right: 12.5px;
    }

    .font {
      font-size: font-size(16px);
      font-weight: bold;
    }
  }
  .btn-buy {
    border-top-left-radius: 12px;
    background: $gradient-buy-left;

    &.selected {
      background: $white;
      color: $gradient-buy-3;
      border-top: 2px solid $gradient-buy-3;
      border-left: 2px solid $gradient-buy-3;
      border-right: 2px solid $gradient-buy-3;
    }
  }

  .btn-sell {
    border-top-right-radius: 12px;
    background: $gradient-sell-right;

    &.selected {
      background: $white;
      color: $gradient-sell-1;
      border-top: 2px solid $gradient-sell-1;
      border-left: 2px solid $gradient-sell-1;
      border-right: 2px solid $gradient-sell-1;
    }
  }
}
.billet-simple {
  // position: absolute;
  // bottom: 380px;
  // left: calc(50% - 186px);
}
.billet-stop {
  position: absolute;
  bottom: 483px;
  left: calc(50% - 186px);
}
.billet-stop-options {
  position: absolute;
  bottom: 590px;
  left: calc(50% - 186px);
}
.buy-sell-modal {
  background-color: transparent;
  .border-sell {
    border-top: 2px solid $gradient-sell-1;
  }
  .border-buy {
    border-top: 2px solid $gradient-buy-1;
  }
  .incremental {
    // position: relative;
    &.invalidQtd {
      margin-top: 10px;
    }
  }
  .qtd {
    padding-top: 5px;
  }
  .confirmation {
    position: absolute;
    background-color: $secondary01-color;
    z-index: 2000;
    width: 100%;
    height: 186px;
    bottom: -186px;
    display: unset;
    transition: bottom 0.4s linear;
    .footer {
      display: flex;
      align-items: center;
      flex-flow: row;
      justify-content: center;
      height: 132px;
      .triple {
        display: flex;
        align-items: center;
        flex-flow: row;
        justify-content: center;
        width: 690px;
        margin-right: 27px;
      }
    }
    .header {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 17px;
      background-color: rgba($black, 0.1);
      height: 54px;
      font-size: font-size(16px);
      font-weight: 300;
      font-style: normal;
      color: $white;
      .close {
        .mat-icon {
          stroke: $white;
          margin-right: 27.6px;
          height: 15px;
          width: 15px;
        }
      }
      .text {
        opacity: 0.46;
      }
      .name {
        font-weight: bold;
        opacity: 0.8;
      }
    }
    .box-info {
      width: 387px;
      height: 65px;
      background-color: rgba($white, 0.13);
      margin-right: 12px;
      padding-left: 27px;
      padding-right: 27px;
      justify-content: center;
      align-items: center;
      flex-flow: row;
      display: flex;
      text-align: left;
      color: $white;
      line-height: 1.1;
      .subtitles {
        font-size: font-size(12px);
      }
      .values {
        font-size: font-size(14px);
        font-weight: bold;
      }
      .box {
        height: 35px;
        margin: auto;
      }
      .box3 {
        height: 35px;
        width: 111px;
        margin-left: 24px;
      }
    }
    .company {
      width: 21%;
      height: 55px;
      color: $white;
      padding-left: 1%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-right: 5px;
      .company2 {
        font-size: font-size(14px);
        font-weight: 300;
      }
      .company3 {
        font-weight: bold;
      }
    }
    .assetsInfo {
      .box-align {
        width: 93%;
        height: 66px;

        &.gain-loss-box {
          height: auto;
        }
        .checked {
          color: $white;
        }
      }
      height: 90px;
      width: 55%;
      color: $white;
      border-left: 1px solid white;
      border-right: 1px solid white;
      text-align: left;
      align-items: center;
      justify-content: center;
      display: flex;
      .asset {
        font-weight: 300;

        &.asset-uppercase {
          text-transform: uppercase;
        }
      }
      .value {
        font-weight: bold;
      }
      .mat-checkbox-checked .mat-checkbox-background {
        background-color: $secondary04-color;
      }
    }
    .total {
      height: 80px;
      width: 24%;
      color: $white;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 15px;
      .divTotalLoss {
        display: flex;
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .text {
        font-size: font-size(14px);
        font-weight: 300;
        // padding-left: 21px;
      }
      .text2 {
        font-size: font-size(12px);
        font-weight: 300;
        // padding-left: 21px;
      }
      .value {
        font-weight: bold;
        // padding-left: 21px;
      }
      .valueStop {
        font-weight: bold;
        // padding-left: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .signature-confirm {
      text-align: center;
      .signature {
        color: $white;
        font-size: font-size(14px);
        .title {
          text-align: center;
          margin-right: 8px;
        }
        .invalidSignature {
          color: $mat-ripple-error-color !important;
        }
        .signature-input {
          // width: 56px;
          width: 133px;
          text-align: center;
          float: left;
          .mat-input-element {
            color: $white !important;
          }
          .mat-form-field-ripple {
            background-color: $white !important;
            opacity: 1;
            transform: scaleX(1);
            margin-top: -7px;
          }
          input {
            color: $white !important;
          }
          mat-form-field .mat-form-field-label {
            font-size: 11px;
          }
        }
        .mat-form-field-flex {
          border-radius: 5px !important;
          padding: 0.75em 0.75em 0 0.75em !important;
          border: 1px solid !important;
          opacity: 0.4 !important;
        }
        .signature-input-invalid {
          width: 155px;
          text-align: center;
          float: left;
          margin: 0px;
          padding: 0px;
          // margin-bottom: -7px;
          .mat-input-element {
            color: $mat-ripple-error-color !important;
          }
          .mat-form-field-ripple {
            background-color: unset !important;
            opacity: 1;
            transform: scaleX(1);
            margin-top: -7px;
          }
          input {
            text-align: center;
            color: $mat-ripple-error-color !important;
          }
          .mat-form-field-infix {
            font-size: font-size(12px);
          }
        }
        .save-signature {
          color: $white;
          text-align: left;
          align-items: center;
          justify-content: center;
          display: flex;
          opacity: 0.35;
          padding-top: 10px;
          padding-left: 6px;
          .asset {
            font-weight: 300;
            &.asset-uppercase {
              text-transform: uppercase;
              margin-left: -9px;
              font-size: font-size(12px);
              color: $white;
            }
          }
          .value {
            font-weight: bold;
          }
          .mat-checkbox-checked .mat-checkbox-background {
            background-color: $secondary04-color;
          }
          .mat-checkbox-inner-container-no-side-margin {
            margin-top: 5px;
          }
        }
      }
      .forgot-signature {
        opacity: 0.58;
        font-size: 11px;
        font-weight: 300;
        color: #ffffff;
        width: 235px;
        margin-top: 20px;
        cursor: pointer;
        span {
          margin-left: -160px;
        }
      }
      .confirmButton {
        margin-top: 5px;
        button {
          width: 223.5px;
          height: 48.2px;
          color: $white;
          background-color: transparent;
          border-radius: 32px;
          border: 2px solid $white;
          font-weight: 900;
          font-size: font-size(20px);
          cursor: pointer;
          &:hover {
            background-color: $white;
            color: $secondary01-color;
          }
          &[disabled] {
            background-color: unset !important;
            border: 2px solid $white !important;
            color: $white !important;
            opacity: 0.35;
          }
        }
      }
    }
    .center {
      text-align: center !important;
    }
    .buttonBuy {
      .confirmButton {
        width: 223.5px;
        height: 48.2px;
        color: $white;
        background-color: transparent;
        border-radius: 32px;
        border: 2px solid $white;
        font-weight: 900;
        font-size: font-size(20px);
        cursor: pointer;
        &:hover {
          background-color: $white;
          color: $secondary01-color;
        }
        &[disabled] {
          background-color: unset !important;
          border: 2px solid $white !important;
          color: $white !important;
          opacity: 0.35;
        }
      }
    }
  }
  .height-confirmation-stop {
    height: 261px !important;
    .footer {
      height: 207px !important;
    }
    .company2 {
      font-size: font-size(14px);
      color: $white !important;
      font-weight: 300;
      margin-bottom: 5px;
    }
    .assetsInfo {
      height: 184px !important;
    }
    .triple {
      .company {
        width: 21% !important;
      }
      .assetsInfo {
        width: 55% !important;
        display: unset;
        padding-left: 15px;
      }
      .total {
        width: 24% !important;
        height: 184px !important;
      }
    }
  }
  mat-form-field {
    .mat-form-field-label {
      color: inherit;
    }
  }
  width: 100%;
  // background-color: $background2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  flex-flow: column;

  .billet-footer-back {
    background-color: $background2;
  }
  .billet-footer {
    width: 100%;
    background-color: rgba(190, 192, 194, 0.13);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    padding-top: 13px;
    color: $secondary02-color;
    .second-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      width: 300px;
      height: 65px;
      border: 2px dashed rgba($color: $secondary03-color, $alpha: 0.4);
      margin-right: 50px;
      .total {
        font-size: font-size(15px);
        font-weight: 900;
        text-align: center;
        color: $dark-blue;
      }
      .default {
        font-weight: 300;
        font-size: font-size(12px);
      }
      .default-bold {
        font-weight: 700;
        font-size: font-size(12px);
      }
    }
    .type-stop {
      width: 573px !important;
    }
    .first-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 255px;
      height: 65px;
      background-color: rgba(220, 250, 240, 0.22);
      border: dashed 1px rgba(15, 222, 157, 0.22);
      margin-right: 55px;
      .default {
        width: 54px;
        height: 14px;
        opacity: 0.7;
        font-size: font-size(12px);
        text-align: left;
        font-weight: 300;
      }
      .default-bold {
        font-size: font-size(14px);
        font-weight: bold;
        text-align: left;
      }
      .text {
        padding-left: 20px;
      }
      .left-text {
        // width: 175px;
        height: 100%;
        text-align: left;
        display: flex;
        justify-content: center;
        flex-flow: column;
        > .text {
          padding-left: 0px;
        }
      }
      .right-text {
        width: 127px;
        height: 100%;
        text-align: left;
        display: flex;
        justify-content: center;
        flex-flow: column;
      }
    }
    .bottom-btn {
      width: 255px;
      height: 50px;
    }
  }
  @media (max-width: 1280px) {
    .boleta {
      padding-left: 60px !important;
      padding-right: 60px !important;
    }
  }
  .boleta {
    width: 100%;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 28.1px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: $white;
    color: $secondary02-color;
    min-height: 365px;
    .general-input-font {
      font-size: font-size(16px);
      font-weight: bold;
      text-align: left;
    }
    .billet-body {
      display: flex;
      align-items: center;
      justify-content: center;

      .alignRow {
        margin-top: 17px !important;
      }

      mat-form-field.mat-form-field-appearance-legacy {
        &.mat-form-field-invalid {
          .mat-form-field-wrapper {
            .mat-form-field-infix {
              .mat-form-field-label {
                color: $mat-ripple-error-color;
              }
              .mat-input-element {
                color: $mat-ripple-error-color;
              }
            }
            .mat-form-field-underline {
              .mat-form-field-ripple {
                background-color: $mat-ripple-error-color;
              }
            }
          }
        }
        &.ng-valid.ng-touched {
          .mat-form-field-wrapper {
            .mat-form-field-infix {
              .mat-input-element {
                color: unset;
              }
            }
            .mat-form-field-label {
              color: inherit;
            }
            .mat-form-field-underline {
              .mat-form-field-ripple {
                background-color: unset;
                opacity: 1;
                transform: scaleX(1);
              }
            }
          }
        }
      }

      .mat-form-field {
        font-size: font-size(16px);
        font-weight: bold;
        text-align: left;

        &.invalidAsset {
          input,
          label {
            color: $mat-ripple-error-color;
          }

          .mat-form-field-underline {
            background: $mat-ripple-error-color;
          }
        }
      }
      .ng-touched + .invalidAsset {
        position: fixed;
        font-weight: 400;
        font-size: 0.6em;
        color: $mat-ripple-error-color;
        z-index: -1;
      }
      .ng-untouched + .invalidAsset {
        display: none;
      }

      .invalidQtd {
        position: fixed;
        font-weight: 400;
        font-size: 0.6em;
        color: $mat-ripple-error-color;
        margin-top: 2px;
      }

      .stop-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row;
        @media (max-width: 1280px) {
          .form {
            margin-right: 35px !important;
          }
        }

        .form {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row;
          margin-right: 67.2px;
          padding-top: 10px;
          @media (max-width: 1280px) {
            .margin-right {
              margin-right: 35px !important;
            }
          }
          .margin-right {
            margin-right: 73px;
          }
          .form-column {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            .invalidQtd {
              position: fixed;
              font-weight: 400;
              font-size: 0.6em;
              color: $mat-ripple-error-color;
              margin-top: 2px;
            }
            .margin-bottom {
              margin-bottom: 35px;
            }

            .margin-bottomQtd {
              margin-bottom: 45px;
            }

            .quote-alignStop {
              padding-top: 9px;
            }

            .timeInForces-align {
            }

            .strategy-align {
              bottom: -2px;
            }

            .date-align {
              bottom: -9px;
            }

            .account-align {
              bottom: -5px;
            }
          }
          mat-form-field.mat-form-field-appearance-legacy {
            .mat-form-field-wrapper {
              padding-bottom: 5px;
            }
            &:not(.date) {
              .mat-form-field-wrapper {
                padding-bottom: 9px;
              }
            }
          }
        }
        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: column;
          width: 780px;
          .margin-bottom {
            margin-bottom: 31px;
          }
          .info-row {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row;
            padding-right: 10px;
            padding-left: 10px;

            .mat-form-field-underline {
              position: absolute !important;
              bottom: 1px !important;
            }

            .incremental-stop {
              position: relative;
              bottom: -3px;
            }

            .info-resume {
              width: 780.8px;
              height: 60px;
              background-color: $darken-white;
              border-radius: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-flow: row;

              .grid-right {
                border-right: 1px solid rgba(190, 192, 194, 0.2);
              }
              .info-div {
                width: 120px;
                height: 30px;
                display: flex;
                justify-content: center;
                flex-flow: column;
                padding-left: 20px;
                font-size: font-size(14px);
                font-weight: bold;
                text-align: left;
                .positive {
                  color: $positive-currency-value;
                }
                .negative {
                  color: $negative-currency-value;
                }
                .info-title {
                  font-size: font-size(11px);
                  text-align: left;
                  text-align: left;
                }
                .info-content {
                  font-size: font-size(14px);
                  text-align: left;
                }
              }
            }
            .margin-right {
              margin-right: 9px;
            }
            .stop {
              width: 385px;
              border-radius: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-flow: column;
              padding-left: 14px;
              padding-right: 14px;
              background-color: $darken-white;
              .toggle-off {
                .mat-slide-toggle-thumb {
                  width: 14.6px;
                  height: 14.6px;
                  background-color: $secondary03-color;
                  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
                }
                .mat-slide-toggle-bar {
                  width: 24.8px;
                  height: 10.2px;
                  background-color: $secondary03-color;
                }
                .mat-slide-toggle-thumb-container {
                  top: -2px;
                }
              }
              .toggle-on {
                .mat-slide-toggle-thumb {
                  width: 14.6px;
                  height: 14.6px;
                  background-color: $secondary01-color;
                  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
                }
                .mat-slide-toggle-bar {
                  width: 24.8px;
                  height: 10.2px;
                  background-color: rgba(8, 103, 201, 0.5);
                }
                .mat-slide-toggle-thumb-container {
                  top: -2px;
                }
              }
              .divider {
                height: 2px;
                width: 357px;
                border-radius: 3px;
                background-color: rgba(190, 192, 194, 0.2);
                padding: 0;
                margin: 0;
                border: none;
              }
              .title {
                font-size: font-size(14px);
                font-weight: bold;
                text-align: left;
                margin-left: 10.2px;
                margin-right: 216px;
              }
              .i-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border-radius: 20px;
                background-color: $secondary03-color;
                right: 0;
                cursor: pointer;

                &:hover {
                  &:after {
                    content: "";
                    position: absolute;
                    top: 90px;
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;

                    border-top: 4px solid $white;
                  }
                }
                .i {
                  font-size: font-size(15px);
                  font-style: bold;
                  color: $white;
                }
              }
              .stop-loss-title {
                height: 46px;
                width: 357px;
                display: flex;
                align-items: center;
              }
              .stop-loss-content {
                height: 110px;
                width: 357px;
                display: flex;
                align-items: center;
                justify-content: center;
                .margin-right {
                  margin-right: 40.9px;
                }
              }
              .stop-gain-title {
                height: 46px;
                width: 357px;
                display: flex;
                align-items: center;
              }
              .stop-gain-content {
                height: 110px;
                width: 357px;
                display: flex;
                align-items: center;
                justify-content: center;
                .margin-right {
                  margin-right: 40.9px;
                }
              }
            }
          }
        }
      }
      .simple-body {
        align-items: center;
        justify-content: center;
        flex-flow: row;
        display: flex;
        height: 100%;

        .form {
          height: 100%;
          .row {
            padding-top: 1.5%;
            margin: 0;
            display: flex;
            align-items: flex-start;
            flex-flow: row;
            height: 65px;
            .last-input {
              margin-right: 59.2px;

              .strategy-hidden {
                width: 9.3rem;
              }
            }

            @media (max-width: 1280px) {
              .input {
                margin-right: 55px !important;
              }
            }

            .input {
              margin-right: 73px;
            }
            .quote-align {
              padding-top: 4px;
            }
            .typeOptions-align {
              padding-top: 4px;
            }
          }
          mat-form-field.mat-form-field-appearance-legacy {
            .mat-form-field-wrapper {
              padding-bottom: 5px;
            }
            &:not(.date) {
              .mat-form-field-wrapper {
                padding-bottom: 9px;
              }
            }
          }
        }
        .info-body {
          height: 145px;
          width: 338.8px;
          border-radius: 2px;
          background-color: $darken-white;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: column;
          hr {
            width: 308px;
            height: 1px;
            opacity: 0.2;
            background-color: rgba(190, 192, 194, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
          }
          .info-body-align {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row;
            .grid-right {
              border-right: 1px solid rgba(190, 192, 194, 0.2);
            }
            .box-align {
              width: 103px;
              height: 45px;
              display: flex;
              justify-content: center;
              flex-flow: column;
              padding-left: 15px;
              .info-title {
                font-size: font-size(11px);
                margin-bottom: 3px;
              }
              .info {
                font-size: font-size(14px);
                font-weight: bold;
              }
              .positive {
                color: $positive-currency-value;
              }
              .negative {
                color: $negative-currency-value;
              }
            }
          }
        }
      }
      .mat-form-field {
        width: 150px;
      }
      .mat-tab-group {
        background: $white;
        width: 100%;
        .mat-ink-bar {
          display: none;
        }
        .mat-tab-header {
          border: 0;
          .mat-tab-list {
            display: flex;
            justify-content: center;
          }
        }
        .mat-tab-body {
          width: 100vw;
          margin-top: 21px;
          margin-bottom: 21px;
          .mat-tab-body-content {
            overflow: hidden;
          }
        }
        .mat-tab-labels {
          border: 1px solid $grey-font;
          border-radius: 19px;
          .mat-ink-bar {
            display: none !important;
            visibility: hidden;
          }
          .mat-tab-label {
            height: 37px;
            width: 138px;
            border-radius: 21px;
            margin-top: -1px;
            margin-bottom: -1px;
            margin-left: -1px;
            margin-right: -1px;
          }
          .mat-tab-label-active {
            background-color: $white;
            border: solid 1px $secondary01-color;
            color: $secondary01-color;
            opacity: 1;
          }
        }
      }
    }
    .options-arrow-down {
      width: 150px;
      height: 25px;
      opacity: 0.5;
      font-size: font-size(14px);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .seta {
        transform: rotate(90deg);
      }

      .seta span {
        width: 6.5px;
        height: 0.5px;
        position: relative;
        left: -11px;
      }

      .seta span:before,
      .seta span:after {
        margin-left: 22px;
        content: "";
        width: 6.5px;
        height: 100%;
        border: 0.5px solid $secondary02-color;
        opacity: 0.5;
        position: relative;
        display: flex;
      }

      .seta span:before {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .seta span:after {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: -3px;
      }
    }
    .options-arrow-up {
      width: 150px;
      height: 25px;
      opacity: 0.5;
      font-size: font-size(14px);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .seta {
        transform: rotate(-90deg);
      }

      .seta span {
        width: 6.5px;
        height: 0.5px;
        position: relative;
        left: -11px;
      }

      .seta span:before,
      .seta span:after {
        margin-left: 22px;
        content: "";
        width: 6.5px;
        height: 100%;
        border: 0.5px solid $secondary02-color;
        opacity: 0.5;
        position: relative;
        display: flex;
      }

      .seta span:before {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .seta span:after {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: -3px;
      }
    }
    .optionsBody {
      width: 100%;
      height: 106.8px;
      display: none;
      align-items: center;
      justify-content: center;
      .input-options {
        margin-right: 31px;
        .mat-form-field {
          height: 49px;
          font-size: font-size(16px);
          font-weight: bold;
          text-align: left;
        }
      }
      .mat-form-field-underline {
        background-image: unset;
      }
      .huge {
        .mat-form-field {
          width: 320px;
          padding-top: 4px;
        }
      }
      .mat-form-field {
        width: 150px;
      }
      .tunel-container {
        width: 197px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        .tunel {
          width: 100%;
          height: 28px;
          background-color: rgba(89, 99, 119, 0.05);
          margin-bottom: 2px;
          .tunel-title {
            font-size: font-size(11px);
            text-align: left;
            margin-left: 17px;
          }
          .tunel-info {
            font-size: font-size(11px);
            font-weight: bold;
            text-align: right;
            margin-right: 17px;
            float: right;
            padding-top: 5px;
          }
        }
      }
    }

    .term-operator-component {
      text-align: center;
      .header {
        .icon {
          .mat-icon {
            width: 80.5px;
            height: 80.5px;
          }
        }
        .title {
          font-size: font-size(25px);
          font-weight: bold;
          color: $secondary02-color;
        }
        .sub-title {
          opacity: 0.7;
          font-size: font-size(14px);
          font-weight: bold;
          color: $secondary02-color;
          margin-top: 35px;
          margin-bottom: 46px;
        }
      }
      .m-check {
        margin-bottom: 46px;
        .check-term {
          .desc {
            font-family: $font-default;
            font-size: font-size(14px);
            color: $secondary02-color;
          }
        }
      }
      .buttons-term {
        margin-top: 5px;
        margin: 0 auto;
        width: 487px;
        .cancel-term {
          button {
            font-weight: 900;
            font-size: font-size(20px);
            float: left;
            width: 223.5px;
            height: 48.2px;
            border: 2px solid $secondary04-color;
            border-radius: 32px;
            color: $secondary04-color;
            background-color: transparent;
            cursor: pointer;
            margin: 10px;
            &:hover {
              background-color: $secondary04-color;
              color: $white;
            }
            &[disabled] {
              background-color: unset !important;
              border: 2px solid $white !important;
              color: $white !important;
              opacity: 0.35;
            }
          }
        }
        .send-term {
          button {
            font-weight: 900;
            font-size: font-size(20px);
            width: 223.5px;
            height: 48.2px;
            border: 2px solid $gradient-buy-1;
            border-radius: 32px;
            color: $white;
            background-color: $gradient-buy-1;
            cursor: pointer;
            float: left;
            margin: 10px;
            &:hover {
              border: 2px solid $secondary04-color;
              background-color: $secondary04-color;
              color: $white;
            }
            &[disabled] {
              // background-color: unset !important;
              // border: 2px solid $white !important;
              // color: $white !important;
              opacity: 0.35;
            }
          }
        }
      }
    }
  }

  .backdrop-confirmation {
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }
}

.stop-invalid {
  position: absolute;
  font-weight: 400;
  font-size: 0.7em;
  color: $mat-ripple-error-color;
}

.darkTheme {
  .btn-buy {
    &.selected {
      background: $dark-black-bg;
      border-top: 2px solid $gradient-buy-3;
      border-left: 2px solid $gradient-buy-3;
      border-right: 2px solid $gradient-buy-3;
    }
  }
  .btn-sell {
    &.selected {
      background: $dark-black-bg;
      border-top: 2px solid $gradient-sell-1;
      border-left: 2px solid $gradient-sell-1;
      border-right: 2px solid $gradient-sell-1;
    }
  }
  .buy-sell-modal {
    background-color: transparent;
    .border-sell {
      border-top: 2px solid $gradient-sell-1;
    }
    .border-buy {
      border-top: 2px solid $gradient-buy-3;
    }
    .boleta {
      background-color: $dark-black-bg;
      color: $grey-font;
      .mat-datepicker-toggle-default-icon {
        width: 1em;
        color: $secondary03-color;
      }

      .billet-body .mat-tab-group {
        background-color: $dark-black-bg;
        color: $grey-font;
      }

      .stop {
        background-color: $deep-black-bg !important;
      }

      .mat-tab-labels {
        border: 1px solid $secondary01-color !important;
        .mat-tab-label {
          color: inherit !important;
        }
      }

      input {
        color: $grey-font;
      }

      .mat-tab-label-active {
        color: $grey-font !important;
        background-color: $secondary01-color !important;
      }

      .info-body,
      .info-resume {
        background-color: $deep-black-bg !important;
      }
    }

    .billet-footer {
      background-color: $dark-grey-bg;
      color: $grey-font;
      .total {
        color: $secondary03-color;
      }
    }

    .confirmation {
      background-color: $dark-grey-bg;
      color: $secondary03-color;
      box-shadow: 1px -19px 25px -18px rgba(0, 0, 0, 0.75);
      .header {
        background-color: $dark-black-bg;
      }
      .box-info {
        background-color: $deep-grey-bg;
      }
      .assetsInfo .box-align .checked {
        color: $secondary01-color;
      }
      .mat-checkbox-frame {
        border-color: $bg-color;
      }
    }
  }
}
