.centered-modal-component {
    .close-btn {
        @include close-btn(13px, 13px);
        margin-right: -15px;
    }
    .send-icon {
        display: block;
        width: 96px;
        height: 92px;
        margin: 0 auto;
    }
}