.cdk-overlay-pane {
  .mat-dialog-container {

    .mat-dialog-content{

      .custom-dialog {
        &.change-password {
          .content {
            padding: 0 80px 0 50px;
          }
          .footer {
            padding: 0 80px 0 50px;
          }
        }
      }
    }
  }
}
