.component-selector-select {
  position: relative;
  display: inline-block;
  width: 288.6px;
  margin: 20px;
  right: 0;
  top: 0;
  transition: all 500ms linear;

  mat-form-field {
    .mat-form-field-label {
      color: inherit;
    }
  }
  .cdk-overlay-pane {
    transform: none !important;

    .mat-select-content {
      padding: 5px;
      width: 234.5px;
    }

    .mat-select-panel {
      margin-top: 20px;
    }

    .ng-trigger {
      min-width: 234.5px !important;
    }

    .first-option {
      .mat-pseudo-checkbox {
        display: none;
      }
    }

    .mat-option-text {
      width: 120px;
    }

    .cdk-overlay-connected-position-bounding-box {
      transform: none;
    }
  }

  .bg-gradient {
    background: $gradient-left;
    height: 50px;
  }

  .component-header-title {
    color: $component-selector-header-color;
    font-size: font-size(16px);
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10px;
    margin-left: 21.8px;
  }

  .component-header-size {
    width: 288.6px;
    height: 45.1px;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .component-body-size {
    width: 288.6px;
    height: 101.3px;
    background-color: $component-selector-bg-color;
    box-shadow: 0 0 6px 0 $component-selector-box-shadow-color;
    display: flex;
    justify-content: center;

    .component-form-size {
      width: 234.5px;
      height: 1px;
      margin-top: 15px;
      font-size: font-size(14px);
      font-weight: 500;
    }
  }

  button[mat-mini-fab].mat-accent {
    width: 31.8px;
    height: 31.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -15px;
    font-weight: 300;

    &.button-plus {
      background-color: $component-selector-add-button-color;

      &:after {
        position: relative;
        top: -2px;
        content: "+";
      }
    }

    &.button-check {
      background-color: $component-selector-check-button-color;

      &:after {
        position: relative;
        top: 0;
        font-size: font-size(20px);
        content: "✓";
      }
    }
  }
  .cdk-overlay-connected-position-bounding-box {
    .mat-select-panel {
      mat-option {
        .mat-option-text {
          .search-icon {
            margin-right: 5px;
          }
          .input-option {
            font-size: font-size(14px);
            color: $secondary02-color;
          }
          .option-select {
            font-size: font-size(14px);
            color: $secondary02-color;
          }
        }
      }
    }
  }
  mat-form-field.component-form-size {
    mat-select.select-multiple-auto {
      .mat-select-value {
        text-overflow: unset;
        .mat-select-value-text {
          visibility: hidden;
        }
      }
    }

    &.existValue {
      .mat-select-arrow-wrapper {
        top: -7px;
      }
      .mat-form-field-label {
        -webkit-transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
        transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
        -ms-transform: translateY(-1.28125em) scale(0.75);
        width: 133.33333333%;
        color: inherit;
      }
    }
    .mat-form-field-wrapper .mat-form-field-flex {
      margin-bottom: -13px;
    }
  }
}
.component-selector-select-mat-option {
  &.option-select {
    font-size: font-size(14px);
    color: $secondary02-color;
  }
  mat-icon.search-icon {
    margin-right: 5px;
  }
  .input-option {
    font-size: font-size(14px);
    color: $secondary02-color;
  }

  &.mat-option.mat-selected {
    color: unset !important;
  }
  .mat-pseudo-checkbox {
    width: 17px;
    height: 17px;
  }

  .mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background: $secondary02-color;
    .mat-option-text {
      font-weight: bold !important;
    }
  }
}

.darkTheme {
  .component-selector-select {
    .component-body-size {
      background: $deep-grey-bg;
      color: $grey-font;
      box-shadow: none;
    }

    .bg-gradient {
      background: linear-gradient($light-grey-bg, $light-grey-bg);
    }
  }
}
.mat-select-panel {
  margin-top: 44px !important;
  margin-left: 10px !important;
}
.mat-select-selector-select {
  margin-top: 70px !important;
}
.modal-open .modal {
  margin-top: -78px !important;
  margin-left: -174px !important;
}
