$component-selector-header-color: $white;
$component-selector-bg-color: $white;
$component-selector-box-shadow-color: rgba($grey, 0.4);
$component-selector-button-box-shadow-color: rgba($black, 0.27);
$component-selector-add-button-color: $secondary02-color;
$component-selector-check-button-color: $executed;
$component-selector-add-button-plus-sign-color: $light-grey;
$bg-title-color: $secondary11-color;
$bg-content-color: $white;

.component-selector-input{
  position: relative;
  display: inline-block;
  width: 288.6px;
  margin: 20px;
  right: 0;
  top: 0;
  transition: all 500ms linear;

  mat-form-field {
    .mat-form-field-label {
        color: inherit;
    }
  }

  .erroAtivo{
    font-size: font-size(10px);
    color: red;
  }

  button[mat-mini-fab].mat-accent {
    width: 31.8px;
    height: 31.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -15px;
    font-weight: 300;

    &.button-plus {
      background-color: $component-selector-add-button-color;

      &:after {
        position: relative;
        top: -2px;
        content: "+";
      }
    }
  }
  
  .bg-gradient {
    background: $gradient-left;
    height: 50px;
  }

  .component-header-title{
    color: $component-selector-header-color;
    font-size: font-size(16px);
    font-weight: 900;
    text-align: left;
    margin-top: 10px;
    margin-left: 21.8px;
  }
  
  .component-header-size{
    width: 288.6px;
    height: 45.1px;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .component-body-size{
    width: 288.6px;
    height: 101.3px;
    background-color: $component-selector-bg-color;
    box-shadow: 0 0 6px 0 $component-selector-box-shadow-color;
    display: flex;
    justify-content: center;

    mat-form-field {
      &.ng-touched + .invalid {
        position: relative;
        font-size: 0.8em;
        color: $mat-ripple-error-color;
        margin-top: 18px;
      }

      &.ng-untouched + .invalid {
        position: relative;
        font-size: 0.8em;
        color: $mat-ripple-error-color;
        margin-top: 18px;
      }
    }
    
   
    .mat-form-field-infix {
      display: flex;
      position: relative;
      flex: auto;
      min-width: 0;
      width: 60%;     
      font-size: font-size(14px);
      font-weight: 500;     
      .company {
        font-size: font-size(10px);
        text-align: right;
        color: $secondary03-color;
        width: 72px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        right: 0;
      }
    }
  }

  .component-form-size {
    width: 234.5px;
    height: 1px;
    margin-top: 15px;
  }

  &.button-check {
    button[mat-mini-fab].mat-accent.button-plus {
      background-color: $component-selector-check-button-color;

      &:after {
        position: relative;
        top: 0;
        font-size: font-size(20px);
        content: "✓";
      }
    }
  }
}

.darkTheme {
  .component-selector-input {
    .component-body-size {
      background-color: $deep-grey-bg;
      color: $grey-font;
      box-shadow: none;
    }

    .bg-gradient {
      background-image: linear-gradient($light-grey-bg,$light-grey-bg);
    }
  }
}