.component-blank{
    position: relative;
    display: inline-block;
    width: 288.6px;
    margin: 20px;
  
    .bg-gradient {
      background: $gradient-left;
      height: 50px;
    }
  
    .component-header-title{
      color: $component-selector-header-color;
      font-size: font-size(16px);
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      margin-top: 10px;
      margin-left: 21.8px;
    }
  
    .component-header-size{
      width: 288.6px;
      height: 45.1px;
      display: flex;
      align-items: center;
      justify-content: left;
    }
  
    .component-body-size{
      width: 288.6px;
      height: 59.9px;
      background-color: $component-selector-bg-color;
      box-shadow: 0 0 6px 0 $component-selector-box-shadow-color;
      display: flex;
      justify-content: center;
    }
  
  button[mat-mini-fab].mat-accent {
    width: 31.8px;
    height: 31.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -15px;
    font-weight: 300;

    &.button-plus {
      background-color: $component-selector-add-button-color;

      &:after {
        position: relative;
        top: -2px;
        content: "+";
      }
    }

    &.button-check {
      background-color: $component-selector-check-button-color;

      &:after {
        position: relative;
        top: 0;
        font-size: font-size(20px);
        content: "✓";
      }
    }
  }
}