$header-orders-input-color: $white;
$header-orders-label-input-color: $light-grey;
$header-orders-input-underline-ripple-background: $light-grey;
$table-row-color: $row-color;
$table-header-bg: #e5eef4;
$table-even-row-bg: #f4f5f6;

.custody-consult-component {
  .network-error-message-oms {
    position: absolute;
    top: 44px;
    margin: 0;
    left: 0px;
  }
  .m-spiner {
    position: absolute;
    right: 50%;
    top: 50%;
  }
  .paginator {
    margin-top: 10px;
  }
  .high-color {
    color: $high-variation-color;
  }
  .low-color {
    color: $low-variation-color;
  }
  .scrollable-body {
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100vh - 118.5px);
    width: calc(100vw - 211px);
    .ghostIndex {
      display: none;
      height: 50px;
    }
    .ghost-div {
      width: 100%;
      height: 166px;
      z-index: 0;
      margin-top: 45px;
    }
  }
  .position {
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: absolute;
    z-index: 3;
    top: -58px;
    right: 0px;
    &::-webkit-scrollbar {
      display: none;
    }
    background-color: transparent;
    color: $secondary02-color;
    .positionHeader {
      width: 100%;
      height: 57.5px;
      font-size: font-size(16px);
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      box-shadow: 0 0 5px 0 rgba($black, 0.16);
      padding-top: 10px;
      z-index: 3;
    }
    .ghostHeader {
      height: 57.5px;
      font-size: font-size(16px);
      font-weight: bold;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: $white;
      box-shadow: 0 0 5px 0 rgba($black, 0.16);
      padding-top: 10px;
      border-bottom: solid 0.5px rgba($secondary02-color, 0.2);
      z-index: 3;
    }
    .position-data {
      height: 65.65px;
      width: 100%;
      font-size: font-size(14px);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      background-color: $white;
      box-shadow: 0 0 5px 0 rgba($black, 0.16);
      z-index: 3;
      border-bottom: solid 0.5px rgba($secondary02-color, 0.2);
    }
  }
  .fixed-box {
    position: fixed;
    top: 138px;
    z-index: 1;
    width: calc(100% - 209px);
    &.statusOmsOffline {
      top: 160px;
    }
  }
  .fixed-box2 {
    position: fixed;
    width: calc(100% - 209px);
    z-index: 1;
    top: 200px;
    &.statusOmsOffline {
      top: 222px;
    }
  }

  .toUpper {
    text-transform: uppercase;
  }

  .selected {
    width: 30px;
    height: 25px;
    border-radius: 1px;
    background-color: $secondary02-color;
    color: $white;
  }
  .button-box {
    margin-top: 26px;
    margin-right: 43.8px;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 10%;
    .xs {
      width: 83.4px;
      height: 31px;
      border-radius: 50px;
      border: solid 1px $white;
      background: unset;
      background-color: transparent;
      box-shadow: none;
      min-width: unset;
      margin-left: 17.6px;
      &:hover {
        background-color: $light-grey;
        span {
          font-size: font-size(13px);
          font-weight: bold;
          font-style: normal;
          line-height: 1.15;
          text-align: left;
          color: $secondary02-color !important;
        }
      }
    }
  }
  .form-box {
    margin-left: 56px;
  }
  .symbol-form {
    .autoComplete {
      mat-form-field.mat-form-field {
        input {
          color: $white;
          height: 25px;
          font-size: smaller;
          font-weight: initial;
        }
        width: 150px !important;
      }
      .invalid {
        width: 90px;
        height: 0px;
      }
    }
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-container > div {
    text-align: center;
  }
  .flex-container-centered {
    display: flex;
    justify-content: center;
    bottom: 10px;
    position: relative;
  }
  .flex-container-centered > div {
    line-height: 2;
    font-size: font-size(12px);
    font-weight: 500;
    margin: 10px;
    text-align: center;
    cursor: pointer;
  }
  .index {
    display: flex;
    height: 50px;
    font-size: font-size(16px);
    font-weight: bold;
    color: $secondary02-color;
    &::-webkit-scrollbar {
      display: none;
    }
    .ghostCol {
      width: 20%;
      min-width: 2px;
      display: flex;
      background-color: $white;
    }
    .ghostColBmf {
      width: 2px !important;
      min-width: 2px;
      display: flex;
      background-color: $white;
    }
    .ghostCol-bmf-on {
      width: 194px !important;
    }
    .positionOn {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .bmf-custody {
      text-align: center !important;
      background-color: $white;
      padding: 10px 10px 0px 0px;
      margin-top: -10px;
    }
    .text-align {
      padding-left: 80px;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      z-index: 0;
      background-color: $white;
    }
    .text-align-bmf {
      text-align: center;
    }
    .number-align {
      padding-right: 100px;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      z-index: 0;
      background-color: $white;
    }
    .text2-align {
      padding-left: 30px;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      z-index: 0;
      background-color: $white;
    }
    .number2-align {
      padding-right: 30px;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      z-index: 0;
      background-color: $white;
    }
    .date-align {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 0;
      background-color: $white;
    }
  }
  .container-fluid {
    padding: 0;
    z-index: 2;
    .row-content {
      height: 100%;
      margin: 0;
    }
  }
  .header {
    border-bottom: 1px solid rgba($white, 0.07);
    background: $primary01-color;
    background-image: $header-gradient-right;
    padding: 10px 10px;
    margin: 0;
    position: fixed;
    height: 44px;
    width: calc(100% - 209px);
    border-radius: 3px 3px 0 0;
    z-index: 10;
    top: 94px;
    span.title {
      font-size: font-size(16px);
      font-weight: 900;
      text-align: left;
      color: $component-selector-header-color;
    }
    mat-form-field.mat-form-field-appearance-legacy,
    mat-form-field.mat-focused {
      color: $header-orders-input-color;
      .mat-form-field-wrapper {
        .mat-form-field-underline {
          background-color: $header-orders-input-color;
          background-image: unset;
          .mat-form-field-ripple {
            background-color: $header-orders-input-underline-ripple-background;
          }
        }
        .mat-form-field-flex {
          .mat-form-field-infix {
            width: 144px;
            mat-select {
              .mat-select-arrow-wrapper {
                border-top: 6px solid $header-orders-input-color;
              }
            }
            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                font-size: font-size(9px);
                opacity: 0.4;
                padding-top: 15px;
                font-weight: normal;
                color: $header-orders-label-input-color;
              }
            }
          }
        }
      }
    }
  }
  .header-box {
    background: $primary01-color;
    background-image: $header-gradient-right;
    padding: 19px 10px 0px;
    margin: 0;
    z-index: 0;
    span.title {
      font-size: font-size(16px);
      font-weight: 900;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: left;
      color: $component-selector-header-color;
    }
    mat-form-field.mat-form-field-appearance-legacy,
    mat-form-field.mat-focused {
      color: $header-orders-input-color;
      .mat-form-field-wrapper {
        .mat-form-field-underline {
          background-color: $header-orders-input-color;
          background-image: unset;
          .mat-form-field-ripple {
            background-color: $header-orders-input-underline-ripple-background;
          }
        }
        .mat-form-field-flex {
          .mat-form-field-infix {
            width: 144px;
            mat-select {
              .mat-select-arrow-wrapper {
                border-top: 6px solid $header-orders-input-color;
              }
            }
            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                font-size: font-size(9px);
                opacity: 0.4;
                padding-top: 15px;
                font-weight: normal;
                color: $header-orders-label-input-color;
              }
            }
          }
        }
      }
    }
  }
  .header-box2 {
    height: 103px;
    background: $primary01-color;
    background-image: $header-gradient-right-filter;
    // background-image: $shadow-gradient, linear-gradient(rgba($white, 0.1), rgba($white, 0.1));
    margin: 0;
    font-size: font-size(14px);
    color: $white;
    z-index: 0;
    padding: 20px 20px 20px 0px;
    &.bg-single {
      background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15)) !important;
    }
    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      .mat-checkbox-inner-container {
        width: 15px;
        height: 15px;
      }
      .mat-checkbox-frame {
        border-color: $white;
      }
    }
    .checked {
      .mat-checkbox-frame {
        border-color: transparent;
      }
    }
    mat-form-field.mat-form-field-appearance-legacy,
    mat-form-field.mat-focused {
      color: $header-orders-input-color;
      .mat-form-field-wrapper {
        .mat-form-field-underline {
          background-color: $header-orders-input-color;
          background-image: unset;
          .mat-form-field-ripple {
            background-color: $header-orders-input-underline-ripple-background;
          }
        }
        .mat-form-field-flex {
          .mat-form-field-infix {
            width: 144px;
            mat-select {
              .mat-select-arrow-wrapper {
                border-top: 6px solid $header-orders-input-color;
              }
            }
            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                opacity: 0.5;
                font-size: font-size(14px);
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.21;
                letter-spacing: 0.2px;
                text-align: left;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  .icon-order {
    height: 21px;
    width: 21px;
    margin-right: 15px;
    svg {
      margin-bottom: 5px;
      path {
        fill: $header-orders-input-color;
        stroke: $header-orders-input-color;
      }
    }
  }
  .icon-close-btn {
    height: 15px;
    width: 15px;
    svg {
      path {
        fill: $header-orders-input-color;
        stroke: $header-orders-input-color;
      }
    }
  }
  .col-table {
    padding-left: 0;
    padding-right: 0;
    background-color: $white;
  }
  .empty {
    text-align: center;
    padding-top: 12px;
    font-size: font-size(16px);
    background-color: $white;
    width: 100%;
    color: $secondary02-color;
  }
  .table-orders {
    width: 100%;
    color: $secondary02-color;
    background-color: $white;
    thead {
      box-shadow: 0 3px 5px 0 rgba(89, 99, 119, 0.15);
      th {
        height: 50px;
        background-color: $white;
        font-size: font-size(16px);
        font-weight: bold;
      }
      .text2-align {
        padding-left: 30px;
        text-align: left;
      }
      .number2-align {
        padding-right: 30px;
        text-align: right;
      }
    }

    tbody {
      .table-row-height {
        height: 64.5px;
      }
      tr {
        transition: 0.3s ease-in;
        line-height: 3;
        border-bottom: solid 0.5px rgba($secondary02-color, 0.2);

        &:nth-child(2n) {
          background-color: rgba($table-even-row-bg, 0.5);
        }
        .text-align {
          padding-left: 80px;
          text-align: left;
        }
        .bmf-custody {
          text-align: center !important;
          padding: 10px 10px 0px 0px;
        }
        .ghostColBmf {
          width: 2px !important;
          min-width: 2px;
          display: flex;
          background-color: $white;
        }
        .ghostCol-bmf-on {
          width: 194px !important;
        }
        .positionOn {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .text-align-bmf {
          text-align: center;
        }
        .number-align {
          // padding-right: 100px;
          padding-right: 0px;
          text-align: right;
        }
        .text2-align {
          padding-left: 30px;
          text-align: left;
        }
        .number2-align {
          padding-right: 30px;
          text-align: right;
        }
        .date-align {
          text-align: center;
        }
        td {
          font-size: font-size(14px);
          line-height: 1.21;
          box-shadow: none;
        }
      }

      tr:hover {
        box-shadow: 0 0 6px 0 rgba($black, 0.3);
        -moz-box-shadow: 0 0 6px 0 rgba($black, 0.3);
        -webkit-box-shadow: 0 0 6px 0 rgba($black, 0.3);
        td {
          transform: scale(1.01);
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  .tab {
    padding: 11px 43px 11px 43px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: font-size(15px);
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    color: $white;
    cursor: pointer;
  }
  .selected-tab {
    // background-color: rgba($white, 0.1);
    background: $primary01-color;
    background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
  }
  .table-header {
    div {
      display: inline-block;
    }
  }
}

.darkTheme .custody-consult-component {
  background-color: $deep-grey-bg;
  color: $grey-font;
  .high-color {
    color: $high-variation-color !important;
  }
  .low-color {
    color: $low-variation-color !important;
  }
  .position {
    color: $secondary03-color;
    .positionHeader {
      background-color: #272a2e;
    }
    .ghostHeader {
      background-color: #2c2c2c;
    }
    .position-data {
      background-color: #2d3035;
      &:nth-child(2n) {
        color: $secondary02-color;
      }
    }
  }
  .container-fluid {
    background-color: #2c2c2c;
    .col-table {
      background-color: #2c2c2c;
      .empty {
        background-color: $deep-grey-bg;
      }
    }
  }
  .index {
    color: #bec0c2;
    .text-align {
      background-color: #272a2e;
    }
    .number-align {
      background-color: #272a2e;
    }
    .date-align {
      background-color: #272a2e;
    }
    .text2-align {
      background-color: #272a2e;
    }
    .number2-align {
      background-color: #272a2e;
    }
    .ghostCol {
      background-color: #272a2e;
    }
    .bmf-custody {
      background-color: #272a2e;
    }
    .ghostColBmf {
      background-color: #2d3035;
    }
  }
  .header {
    background-image: unset;
    background-color: $dark-black-bg;
    span {
      color: $grey-font;
    }
  }
  .header-box {
    background-image: unset;
    background-color: $dark-black-bg;
    z-index: 0;
    .tab {
      color: $grey-font;
    }
  }
  .header-box2 {
    background: $dark-black-bg;
    background-color: $dark-black-bg;
    background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
    color: $grey-font;
    color: $grey-font;
    z-index: 0;
    .checked {
      .mat-checkbox-frame {
        border-color: transparent;
      }
      .mat-checkbox-inner-container {
        .mat-checkbox-background {
          background-color: #272a2e;
        }
      }
    }
    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      .mat-checkbox-inner-container {
        width: 15px;
        height: 15px;
      }
    }
    .flex-container {
      .button-box {
        margin-top: 26px;
        .xs {
          border: 1px solid $grey-font;
        }
        span {
          color: $grey-font;
        }

        .white {
          background-color: #eff3f6 !important;
          span {
            color: $secondary02-color !important;
          }
        }
      }
    }
  }
  .selected-tab {
    background-color: $deep-grey-bg;
    background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
    // background: #2d3035;
    color: $grey-font;
  }
  .table-orders {
    background-color: #2d3035;
  }
  tbody {
    td {
      color: $grey-font;
    }
    tr:nth-child(2n-1) {
      background-color: #2d3035;
      td {
        color: $grey-font;
        .gradient-options {
          background: linear-gradient(to right, transparent 20%, #2e2f2f 25%);
        }
      }
    }
    tr:nth-child(2n) {
      background-color: rgba($table-even-row-bg, 0.05);
      td {
        .gradient-options {
          background: linear-gradient(to right, transparent 20%, #2e2f2f 25%);
        }
      }
    }
  }
  .m-spiner {
    margin-top: 60px;
  }
}
