.custom-workspace {
  mat-form-field.mat-form-field-appearance-legacy {
    &.mat-form-field-invalid {
      .mat-form-field-wrapper {
        .mat-form-field-infix {
          .mat-input-element {
            color: unset;
          }
        }
        .mat-form-field-underline {
          .mat-form-field-ripple {
            background-color: unset;
          }
        }
      }
    }
    &.ng-valid.ng-touched {
      .mat-form-field-wrapper {
        .mat-form-field-infix {
          .mat-input-element {
            color: unset;
          }
        }
        .mat-form-field-label {
          color: inherit;
        }
        .mat-form-field-underline {
          .mat-form-field-ripple {
            background-color: unset;
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
    }
  }
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    justify-content: center;
  }

  .container {
    .component-selector-input {
      margin-left: 4px !important;
      margin-right: 4px !important;
    }
  }

  .workspace-area {
    position: absolute;
    width: calc(100% - 353px);
    left: 0;
    padding-top: 6%;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: visible;
    background-color: $background2;
    color: $secondary02-color;

    .wave {
      background-image: url("/assets/images/svg/ondas.svg");
      background-position: bottom;
      background-repeat: repeat-x;
      position: absolute;
      bottom: 0;
      width: 6400px;
      height: 198px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
    }

    .wave:nth-of-type(2) {
      bottom: -55px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
        swell 7s ease -1.25s infinite;
      opacity: 1;
    }

    @keyframes wave {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: -1600px;
      }
    }

    @keyframes swell {
      0%,
      100% {
        transform: translate3d(0, -25px, 0);
      }
      50% {
        transform: translate3d(0, 5px, 0);
      }
    }

    .workspace-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1300px;
    }

    .close-button {
      width: 60px;
      height: 60px;
      min-width: 60px;
      border: 0px;
      border-radius: 50%;
      right: 17px;
      top: 17px;
      position: absolute;
      background-color: inherit;
      color: inherit;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .button-text2 {
        font-size: font-size(11px);
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: 0.2px;
        text-align: left;
        font-weight: 500;
      }
    }
    .close-button:hover {
      background-color: $workspace-conf-modal-close-button-background-hover;
    }

    .goback-button {
      width: 60px;
      height: 60px;
      min-width: 60px;
      border: 0px;
      border-radius: 50%;
      left: 17px;
      top: 17px;
      position: absolute;
      background-color: inherit;
      color: inherit;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .button-text2 {
        font-size: font-size(11px);
        font-weight: 500;
      }

      &:hover {
        background-color: $workspace-conf-modal-close-button-background-hover;
      }
    }
  }
}

.right-bar {
  position: fixed;
  right: 0px;
  width: 353px;
  height: 100% !important;
  background-color: white;
  box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.24);

  .top {
    padding-top: 22%;
    height: 10%;
  }
  .mat-divider {
    margin-left: 25px;
    margin-right: 25px;
  }
  .bottom {
    padding-top: 5%;
    display: flex;
    flex-flow: column;
    align-items: center;

    .components-list {
      max-height: 45vh;
      overflow: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
    }

    .component-book {
      margin-top: 13px;
      width: 236.2px;
      height: 53.1px;
      border-radius: 4px;
      box-shadow: 0 0 6px 0 rgba($black, 0.08);
      transition-duration: 0.5s;
      margin-bottom: 5px;
      .quote-name {
        position: relative;
        margin-left: 19.8px;
        padding-top: 11.8px;
        height: 17px;
        font-size: font-size(14px);
        font-weight: 900;
        text-align: left;
        color: $secondary02-color;
      }
      .company-name {
        margin-left: 19.8px;
        padding-bottom: 11.1px;
        margin-top: 10px;
        padding-right: 31px;

        height: 13px;
        opacity: 0.7;
        font-size: font-size(10px);
        font-weight: 500;
        text-align: left;
        color: $secondary02-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .delete-button {
        position: relative;
        width: 48px;
        margin-top: -26px;
        margin-left: 189px;
        font-size: font-size(16px);
        opacity: 0.49;
        .closeIcon {
          height: 17px;
          width: 17px;
          cursor: pointer;
        }
      }
    }
    .animation-items {
      transition: 1s;
    }
    .save-button {
      position: relative;
      transition: 1s;
      margin-top: 15px;
    }
  }
}

.mat-option-multiple:first-child {
  .mat-option-pseudo-checkbox {
    display: none !important;
  }
  .mat-form-field-infix {
    text-align: center;
    display: inline;
  }
  .mat-option-mat-active {
    background: $white;
    color: $white;
  }
}

.custom-wk-modal-outter {
  .custom-workspace .workspace-area .goback-button {
    display: none;
  }
}

.darkTheme .custom-workspace .workspace-area {
  background-color: $dark-black-bg;
  color: $grey-font;

  h2 {
    color: $grey-font;
  }

  .close-button:hover, .goback-button:hover {
    color: $white;
    background-color: $black;
    opacity: 0.7;
    
    >mat-icon{
      >svg{
        >path:first-child{
          fill: $white;
        }
      }
    }
  }
}

.darkTheme .right-bar {
  background-color: $deep-black-bg;
  color: $grey-font;
  .component-book {
    border: 1px solid $secondary01-color;
    .quote-name {
      color: $white;
    }
    .company-name {
      color: $white;
    }
  }
}
