.datepicker-range {
  .vl {
    border-left: 1px solid rgba($white, 0.13);
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0%;
  }
  .mat-input-element {
    pointer-events: none;
    &:disabled {
      color: $white;
    }
  }
  mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    text-align: center;
  }
  .icon {
    width: 18px !important;
    padding-right: 0 !important;
  }
  .mat-form-field-infix {
    border-top: 0;
  }
}

.datepicker-modal {
  .selector {
    background-color: lightblue;
  }

  padding-right: 29px;
  padding-left: 29px;
  width: 720px;
  height: 446px;
  border-radius: 1px;
  background-color: transparent;
  position: absolute;
  top: 65px;
  .modal-dialog {
    margin: 0;
    height: 100%;
    width: 100%;
    .modal-content {
      width: 662px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .modal-header {
        position: relative;
        height: 69px;
        width: 100%;
        border: none;
        padding-right: 18px;
        padding-left: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .select-align {
          width: 70px;
          .form-control {
            border: none;
            outline: none;
            font-size: font-size(16px);
            font-weight: 900;
            color: $secondary02-color;
            -webkit-appearance: none;
          }
          .select {
            border: none;
            outline: none;
            font-size: font-size(16px);
            font-weight: 900;
            color: $secondary02-color;
            -webkit-appearance: none;
            width: 60px;
            cursor: pointer;
            z-index: 1;
            background-color: transparent;
          }
        }
        .arrow-down {
          pointer-events: none;
          position: absolute;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $secondary02-color;
          font-size: font-size(0);
          line-height: 0;
          top: 31px;
          left: 76px;
        }
        .redefine-align {
          position: absolute;
          right: 424px;
          .redefine {
            border: none;
            background-color: unset;
            font-size: font-size(12px);
            color: $secondary02-color;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: 500;
            margin-left: 35px;
          }
        }
        .selectors-div {
          position: absolute;
          right: 32px;
          width: 373px;
          height: 43px;
          background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          .calendar-div {
            width: 50px;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 2px;
            .calendar-icon {
              color: $secondary02-color;
              height: 19px !important;
              width: 19px !important;
              margin-top: -6px;
            }
          }
          .selector {
            width: 134px;
            height: 100%;
            background-color: unset;
            font-size: font-size(14px);
            font-weight: 500;
            color: $secondary02-color;
            padding-top: 2px;
            .mat-form-field-wrapper {
              padding: 0;
              .mat-input-element:disabled {
                color: $secondary02-color;
              }
              .mat-form-field-infix input {
                margin-bottom: 5px;
                color: $secondary02-color;
              }
            }
            .mat-form-field-underline {
              display: none;
            }
          }
        }
        .vertical-divider {
          width: 1px;
          height: 25px;
          background-color: $secondary03-color;
          margin-right: 18px;
          margin-left: 18px;
        }
      }
      .horizontal-divider {
        margin: 0;
        width: 630px;
        height: 1px;
        background-color: #f7f7f7;
      }
      .modal-body {
        border-radius: 1px;
        width: 100%;
        height: calc(100% - 69px);
        padding: 10px 1rem 1rem 1rem;
        .div-buttons {
          width: 100%;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 15px;
        }
        form {
          height: calc(100% - 40px);
          .form-group {
            height: 100%;
            margin: 0;
            .input-group {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .datepicker {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-flow: column;
                border: none;
                .bg-light {
                  background-color: $white !important;
                }
                .ngb-dp-header {
                  width: 100%;
                  padding-right: 15px;
                  padding-left: 15px;
                  height: 25px;
                  margin-bottom: 5px;
                  ngb-datepicker-navigation {
                    justify-content: space-around;
                    .ngb-dp-arrow {
                      position: absolute;
                      top: 120px;
                      left: -45px;
                      width: 54px;
                      height: 54px;
                      border-radius: 50%;
                      background-color: $white;
                      box-shadow: 0 3px 6px 0 rgba($black, 0.16);
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      .ngb-dp-navigation-chevron {
                        color: $secondary02-color;
                      }
                    }
                    .ngb-dp-month-name {
                      color: $secondary02-color;
                      height: 25px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      text-transform: uppercase;
                      font-size: font-size(14px);
                      font-weight: 900;
                    }
                    .right {
                      position: absolute;
                      top: 120px;
                      left: unset !important;
                      right: -45px;
                      width: 54px;
                      height: 54px;
                      border-radius: 50%;
                      background-color: $white;
                      box-shadow: 0 3px 6px 0 rgba($black, 0.16);
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                }
                .ngb-dp-months {
                  height: calc(100% - 43px);
                  .ngb-dp-month {
                    margin-bottom: 13px;
                    margin-right: 6.5px;
                    margin-left: 6.5px;
                    ngb-datepicker-month-view {
                      height: 240px;
                      width: 296px;
                      .ngb-dp-weekdays {
                        border: none;
                      }
                      .ngb-dp-week {
                        font-size: font-size(12px);
                        font-weight: 500;
                        color: #bec0c2;
                        margin-bottom: 4px;
                        padding-left: 0;
                        .ngb-dp-weekday {
                          width: 42.42px;
                          height: 35px;
                          font-size: font-size(12px);
                          font-weight: 500;
                          color: #bec0c2;
                        }
                        .ngb-dp-day {
                          width: 42.42px;
                          height: 35px;
                          font-weight: bold;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          .custom-day {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 35px;
                            height: 35px;
                          }
                          .focused {
                            background-color: $secondary01-color;
                            border-radius: 50%;
                            color: $white;
                            width: 35px;
                            height: 35px;
                          }
                          .range {
                            background-color: $secondary01-color;
                            border-radius: 50%;
                            color: $white;
                          }
                          .faded {
                            background-color: rgba(#c9def3, 0.21) !important;
                            color: #bec0c2 !important;
                            border-radius: 0 !important;
                            width: 43px;
                            height: 35px;
                          }
                          .maxed {
                            opacity: 0.5;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .cancel-button {
          font-size: font-size(16px);
          font-weight: 900;
          color: #bec0c2;
          border: none;
          background-color: transparent;
          width: 123px;
          height: 40px;
          cursor: pointer;
        }
      }
    }
  }
}
.overt {
  body div.cdk-overlay-container {
    z-index: 1000000;
  }
}

.darkTheme .datepicker-modal {
  .modal-dialog {
    .modal-content {
      background-color: $dark-black-bg;
      .modal-header {
        .select-align {
          .form-control {
            color: $white;
            background-color: $deep-black-bg !important;
          }
          .select {
            color: $white;
          }
        }
        .selectors-div {
          background-color: transparent;
          .selector {
            .mat-form-field-wrapper {
              .mat-form-field-infix input {
                color: #fff;
              }
            }
          }
        }
      }
      .modal-body {
        form {
          .form-group {
            .input-group {
              .datepicker {
                .bg-light {
                  background-color: $dark-black-bg !important;
                }
                .ngb-dp-header {
                  ngb-datepicker-navigation {
                    .ngb-dp-arrow {
                      background-color: $light-black-bg;
                    }
                    .right {
                      background-color: $light-black-bg;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}