.edit-order{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  padding-left: 52px;
  padding-right: 18.5px;

  > app-spinner-loading {
    margin: auto;
  }

  .title {
    font-size: font-size(16px);
    font-weight: bold;
    color: $secondary01-color;
    margin-bottom: 15.5px;
  }
  .horizontal-divider {
    width: 100%;
    height: 1px;
    background-color: rgba($secondary02-color, 0.11);
  }
  .mat-form-field-label {
    text-align: left;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .mat-form-field {
      width: 150px;
      .mat-input-element {
        font-weight: bold;
      }
    }
    .button-container {
      width: 200px;
      margin-right: 24.3px;
      .cancel-button {
        width: 187px;
        height: 40px;
        border-radius: 550px;
        background-color: $white;
        color: $secondary01-color;
        font-size: font-size(16px);
        font-weight: bold;
        border: 1px solid $secondary01-color;
        cursor: pointer;
      }
      .save-button {
        width: 187px;
        height: 40px;
        border-radius: 550px;
        background-color: $secondary01-color;
        color: $white;
        font-size: font-size(16px);
        font-weight: bold;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: $secondary04-color;
        }

        &.button-disabled {
          opacity: 0.35;
          pointer-events: none;
        }
      }
    }
    .ativo-div {
      .ativo-input {
        text-transform: uppercase;
      }
    }
    .precificacao-div,
    .duracao-div {
      .mat-select-arrow-wrapper {
        border-top: 0;
        top: 0;
        .mat-select-arrow {
          display: block;
        }
      }
      .mat-select-value-text {
        font-weight: bold;
      }
    }
  }
  .flex-container > div {
    width: 150px;
    margin-right: 64px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.confirmation-message {
  font-size: font-size(14px);
  width:  100%;
  background-color: $alert-success;
  color: $notification-success;
  font-weight: 500;
  height: 70px;
  text-align: center;
  line-height: 5;
  .icon {
    font-size: font-size(24px);
    top: 6px;
    position: relative;
  }
}
.error-message {
  font-size: font-size(14px);
  width:  100%;
  background-color: $alert-error;
  color: $notification-error;
  font-weight: 500;
  height: 70px;
  text-align: center;
  line-height: 5;
  .icon{
    top: 7px;
    position: relative;
  }
}

.darkTheme .edit-order {
  color: $secondary03-color !important;
  .mat-form-field-label {
    color: $secondary03-color !important;
  }
  .mat-form-field {
    .mat-datepicker-toggle-default-icon {
      color: $secondary03-color !important;
    }
    .mat-input-element {
      .mat-datepicker-toggle-default-icon {
        color: $secondary03-color !important;
      }
    }
    .mat-input-element:disabled {
      color: rgba($secondary03-color, 0.5) !important;
    }
  }
  .mat-form-field-disabled {
    .mat-datepicker-toggle-default-icon {
      color: rgba($secondary03-color, 0.5) !important;
    }
  }
  .mat-datepicker-toggle-default-icon {
    color: rgba($secondary03-color, 0.5) !important;
  }
  .flex-container {
    .precificacao-div,
    .duracao-div {
      .mat-select-arrow-wrapper {
        .mat-select-arrow {
          color: $secondary03-color !important;
        }
      }
      .mat-select-value-text {
        color: $secondary03-color !important;
      }
    }
    .button-container {
      .cancel-button {
        border: 1px solid $secondary03-color;
        color: #BEC0C2;
        background-color: transparent;
      }
    }
  }
}