.error-screen {
  background-image: url("/src/assets/images/svg/ondas-blue.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  padding-top: 15%;
  justify-content: center;
  color: $secondary01-color;

  mat-icon {
    width: unset;
    height: unset;
    max-width: 144px;
    max-height: 116px;
  }

  .text-container {
    margin-left: 55px;
    .title {
      font-size: 24px;
      font-weight: bold;
      display: block;
    }

    .subtitle {
      font-size: 16px;
      display: block;
      margin-bottom: 15px;
      margin-top: 10px;
      max-width: 400px;
    }
  }
}
