.extract-financial-component {
  .network-error-message-oms {
    margin: 0px;
  }
  .high-color {
    color: $high-variation-color !important;
  }
  .low-color {
    color: $low-variation-color !important;
  }
  .spinner {
    width: 100%;
    height: calc(100% - 350px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    border-bottom: 1px solid rgba($white, 0.07);
    background: $primary01-color;
    background-image: $header-gradient-right;
    padding: 10px 10px;
    margin: 0;
    height: 44px;
    border-radius: 3px 3px 0 0;
    span.title {
      font-size: font-size(16px);
      font-weight: 900;
      text-align: left;
      color: $component-selector-header-color;
    }
    .icon-order {
      height: 21px;
      width: 21px !important;
      margin-right: 15px;
      svg {
        margin-bottom: 5px;
        path {
          fill: $header-orders-input-color;
          stroke: $header-orders-input-color;
        }
      }
    }
    .icon-close-btn {
      height: 15px;
      width: 15px;
      svg {
        path {
          fill: $header-orders-input-color;
          stroke: $header-orders-input-color;
        }
      }
    }
  }
  .filter {
    background: $header-gradient-right-filter;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    .row-filter {
      color: $white;
      padding: 20px 0;
      margin: 0;
      mat-form-field.mat-form-field-appearance-legacy {
        .mat-form-field-wrapper {
          .mat-form-field-label {
            color: $white;
            font-size: font-size(14px);
          }
          .mat-form-field-underline {
            background-color: $white;
            background-image: unset;
            .mat-form-field-ripple {
              background-color: $white;
            }
          }
          mat-select .mat-select-arrow-wrapper {
            border-top: 6px solid $white;
          }
          .mat-form-field-infix {
            .mat-input-element {
              color: $white;
            }
          }
        }
        .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
          fill: $white;
        }
      }
      .col-datepicker {
        text-align: left;
        position: relative;
        margin-left: 50px;
        top: -5px;
        span.label {
          font-size: font-size(11px);
          opacity: 0.7;
        }
        .modal-datepicker {
          background: #000;
          .datepicker-modal {
            top: 80px !important;
            left: 156px !important;
          }
        }
      }
      .col-agency {
        margin-top: 13px !important;
      }
      .col-btn-filter {
        padding-top: 12px;
        text-align: right;
        padding-right: 43.8px;
        .white {
          background-color: #eff3f6 !important;
          span {
            color: $secondary02-color !important;
          }
        }
        .xs {
          width: 83.4px;
          height: 31px;
          border-radius: 50px;
          border: solid 1px rgba($white, 0.5);
          background: unset;
          background-color: transparent;
          box-shadow: none;
          min-width: unset;
          margin-left: 17.6px;
          span {
            color: rgba($white, 0.5);
          }
          &:hover {
            background-color: $light-grey;
            span {
              font-size: font-size(13px);
              font-weight: bold;
              font-style: normal;
              line-height: 1.15;
              text-align: left;
              color: $secondary02-color !important;
            }
          }
        }
        button {
          border-radius: 24px;
          width: 83.4px;
          height: 31px;
          font-size: font-size(13px);
          font-weight: bold;
          cursor: pointer;
          &.btn-clear {
            border: solid 2px $white;
            background-color: transparent;
            margin-right: 10px;
            color: $white;
            opacity: 0.4;
            &:hover {
              opacity: 0.8;
            }
          }
          &.btn-filter {
            border: unset;
            color: $secondary02-color;
            background-color: $news-filter-background;
            &:hover {
              background-color: $white;
            }
          }
        }
      }
    }
  }
  .extract {
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100vh - 273px);
    margin-top: -9px;
    .center {
      text-align: center;
    }
    .table {
      width: 100%;
      margin-top: -10px;
      thead {
        height: 50px;
        background: $table-header-bg;
        td {
          font-size: font-size(16px);
          font-weight: bold;
          color: $secondary02-color;
          text-align: center;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
      tbody {
        tr {
          &:nth-child(2n) {
            background-color: rgba($table-even-row-bg, 0.5);
          }
          td {
            font-size: font-size(14px);
            line-height: 1.21;
            color: $secondary02-color;
            box-shadow: none;
          }
        }
      }
    }
  }
  @media (max-height: 600px) {
    .filter .row-filter .col-datepicker .modal-datepicker .datepicker-modal {
      top: 26px !important;
      left: 156px !important;
    }
  }
}
.darkTheme .extract-financial-component {
  background-color: $deep-grey-bg;
  color: $grey-font;
  .header {
    background-image: unset;
    background-color: $dark-black-bg;
    border-bottom: 1px solid rgba($white, 0.07);
    span {
      color: $grey-font;
    }
  }
  .filter {
    background: $dark-black-bg;
    background-color: $dark-black-bg;
    background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
    color: $grey-font;
    .row-filter {
      color: $grey-font;
    }
  }
  .extract {
    .table {
      thead {
        background: $dark-black-bg;
        td {
          color: $grey-font;
        }
      }
      tbody {
        td {
          color: $grey-font;
        }
        tr {
          &:nth-child(2n) {
            background-color: rgba(000, 000, 000, 0.05);
          }
        }
      }
    }
  }
}
