.footer {
    height: 45px;
    width:  100%;
    background-color: transparent;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    transition: height 0.2s linear, bottom 0.2s linear;

    .btn-buy, .btn-sell {
        color: $white;
        font-weight: bold;
        width: 185px;
        height: 45px;
        font-size: font-size(16px);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        .icon{
            width: 25px;
            height: 25px;
            margin-right: 12.5px;
        }

        .font{
            font-size: font-size(16px);
            font-weight: bold;
        }
    }
    .btn-buy {
        border-top-left-radius: 12px;
        background: $gradient-buy-left;
    }
        
    .btn-sell {
        border-top-right-radius: 12px;
        background: $gradient-sell-right;
    }
}
