$header-extendable-background: $background2;
$header-extendable-box-shadow: rgba($black, 0.08);
$header-extendable-news-featured-border: #ff2a00;
$header-extendable-news-featured-background: $dark-blue;
$header-extendable-news-featured-text: $white;
$header-extendable-news-content-background: $bg-color;
$header-extendable-news-content-color: $black;
$header-input-font: $white;
$header-input-border-color: rgba($white, 0.25);
$header-workspace-selected-background: rgba($black, 0.11);
$header-user-menu-border: rgba($light-grey, 0.5);

$connection-ok-light-color: #13b554;
$connection-warn-light-color: #ffb300;
$connection-error-light-color: rgba(255, 8, 0, 1);

.header-bar {
  position: fixed;
  height: 70px;
  z-index: 99;
  background-image: $gradient-left;
  color: $bg-content-color;
  font-size: font-size(12px);
  padding: 0;
  padding-left: 10px;
  display: flex;
  flex-flow: row;
  min-width: 1280px;
  justify-content: space-between;
  .close-button-container {
    display: flex;
    align-items: center;
    width: 10%;
    button.close-btn {
      position: relative;
      top: -18px;
      right: -12px;
      visibility: hidden;
      min-width: unset;
      height: unset;
      background-color: unset;
      border: none;
      padding: 0;
      color: $bg-content-color;
      font-size: font-size(12px);
      font-weight: normal;
      opacity: 0.7;
      .closeIcon {
        margin: 0px;
        width: 15px !important;
        height: 15px !important;
        path:first-child {
          fill: $white;
        }
      }
    }
  }
  .logo {
    background-image: url("/assets/images/clients/"+$prefix+"/logo-workspace.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    display: flex;
    align-items: center;
    width: 150px;
  }
  .logo-center {
    background-size: auto !important;
    background-position-x: center !important;
  }
  .sidebar-control {
    position: absolute;
    left: 156px;
    width: 45px;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    display: flex;
    &:before {
      content: "";
      position: absolute;
      top: 29px;
      width: 13px;
      height: 2px;
      background: $sidebar-control-background;
      box-shadow: 3px 6px 0 0 $sidebar-control-background, 0 12px 0 0 $sidebar-control-background;
    }
  }
  .status-lights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55px;
    margin-right: 5px;
    // margin-left: 50px;
    .light {
      width: 15px;
      height: 15px;
      border-radius: 50%;

      &.circle-green-icon {
        background: $connection-ok-light-color;
        box-shadow: 0px 0px 0px 5px rgba($connection-ok-light-color, 0.2),
          0px 0px 0px 8px rgba($connection-ok-light-color, 0.1);
      }
      &.circle-yellow-icon {
        background: $connection-warn-light-color;
        box-shadow: 0px 0px 0px 5px rgba($connection-ok-light-color, 0.2),
          0px 0px 0px 8px rgba($connection-ok-light-color, 0.1);
      }
      &.circle-red-icon {
        animation: flash-red-light 1s ease infinite;
      }
    }
  }
  .login-w {
    margin-left: 50px;
  }
  .workspace-col {
    width: calc(100% - 780px);
    align-items: center;
    display: flex;
    .workspace-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row;
      cursor: pointer;
      width: 25%;
      &:not(:last-child) {
        border-right: 1px solid rgba($black, 0.2);
      }
      .label-container {
        opacity: 0.5;
        padding: 0 17px;
        height: 70px;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        .content-container {
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          .wks-name {
            margin: 0 !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: calc(100% - 30px);
          }
          .workspace-tab-icon {
            top: -4px;
            margin-left: 5px;
          }
          input {
            background: transparent;
            color: $header-input-font;
            border: none;
            border-bottom: 1px solid $header-input-border-color;
            outline: none;
          }
          label {
            margin-bottom: 0;
          }
        }

        mat-icon {
          width: 15px;
          height: 15px;
          margin-right: 10px;
          position: relative;
          top: -3px;
        }
        &.selected {
          opacity: 1;
          background-color: $header-workspace-selected-background;
          button.close-btn {
            visibility: visible;
          }
        }
      }
    }
  }
  .plus-sign {
    font-size: font-size(23px);
    margin-right: 9.5px;
    font-weight: 300;
  }
  .create-message {
    margin-right: 10px;
  }
  .add-workspace {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: $header-input-font;
    width: 163px;
    height: 30px;
    font-size: font-size(12px);
    font-weight: 500;
    line-height: 1;
    min-width: 163px;
    border: 1px dashed $white;
    margin-left: 30px;
    cursor: pointer;
    padding: 0 0px 0 6px;
    border-radius: 26px;
    opacity: 0.3;
    overflow: hidden;
  }
  .quick-search {
    height: 100%;
    display: flex;
    align-items: center;
    transition: right 0.2s linear;
    position: relative;
    right: -50px;
  }
  .user-menu {
    // justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row;
    height: 33%;
    align-self: center;
    cursor: pointer;
    border-left: 1px solid $header-user-menu-border;
    width: 160px;
    padding-left: 10px;
    z-index: 2;
    position: relative;
    &.isWso2 {
      min-width: 195px;
      max-width: 235px;
    }
    &.no-transition {
      margin-right: 15px;
    }
    .clock-down {
      width: 77px;
      margin-right: 7px;
      &.no-name {
        margin-right: 0px;
      }
      &.name-large {
        width: 88px;
      }
      .mat-icon {
        height: 15px;
        width: 15px;
      }
    }
    .seta {
      transform: rotate(90deg);
      // position: absolute;
      right: 8px;
      top: 11px;
    }
    .seta span {
      width: 6.5px;
      height: 0.5px;
      position: relative;
      left: -11px;
    }
    .seta span:before,
    .seta span:after {
      margin-left: 22px;
      content: "";
      width: 6.5px;
      height: 100%;
      border: 0.5px solid $white;
      position: relative;
      display: flex;
    }
    .seta span:before {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .seta span:after {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: -3px;
    }
    .user-picture-container {
      width: 73px;
      height: 38px;
      border-radius: 50%;
      background-position: center;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      .user-picture {
        border: 4px solid $gradient-2;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 7px;
        margin-right: 7px;
      }
      .name {
        min-width: 36px;
        max-width: 60px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &.name-large {
          min-width: 60px;
        }
      }
    }
  }
  .customSnackbar {
    top: 70px;
    left: 0;
  }
  .home-broker {
    cursor: pointer;
    display: table;
    height: 100%;
    min-height: 100%;
    width: 130px;
    transition-duration: 0.3s;
    background: rgba($black, 0.11);
    color: $white;

    &:hover {
      background: $secondary01-color;
    }

    > div {
      &:first-child {
        transform: rotate(45deg);
        position: absolute;
        top: 5px;
        right: 5px;
      }

      &:last-child {
        padding-left: 15px;
        display: table-cell;
        vertical-align: middle;
        line-height: 13px;

        > span {
          &:first-child {
            font-style: italic;
            font-size: font-size(11px);
          }
          &:last-child {
            font-weight: bold;
            line-height: 90%;
            font-size: font-size(16px);
          }
        }
      }
    }
  }
}

.network-error-message {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 90;
  background-color: #ff4e4e;
  color: $white;
  display: table;
  text-align: center;
  width: 100%;
  height: fit-content;
  max-height: 200px;
  font-size: font-size(12px);

  padding: 10px 15px;
  padding-left: 50px;
}

.network-error-message-oms {
  left: 0;
  z-index: 90;
  background-color: #ff4e4e;
  color: $white;
  display: table;
  text-align: center;
  width: 100%;
  height: fit-content;
  max-height: 200px;
  font-size: font-size(12px);
  font-weight: 600;
  padding: 10px 15px;
  padding-left: 50px;
}

.extendable-header-bar {
  width: calc(100% - 160px);
  height: 58px;
  left: 160px;
  top: 70px;
  position: absolute;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: $header-extendable-background;
  box-shadow: 0 3px 5px 0 $header-extendable-box-shadow;
  transition: 0.2s linear;
  z-index: 2;
  .news {
    width: 100%;
    padding-left: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .featured {
      width: 97px;
      height: 31px;
      background-color: $header-extendable-news-featured-background;
      font-size: font-size(10px);
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $header-extendable-news-featured-text;
      margin-right: 10px;
    }
    .news-content {
      cursor: pointer;
      width: 100%;
      height: 31px;
      background-color: $header-extendable-news-content-background;
      display: flex;
      align-items: center;
      font-size: font-size(12px);
      font-weight: 500;
      color: $header-extendable-news-content-color;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      border-left: 4px solid $header-extendable-news-featured-border;

      &.live {
        background-color: #1f2532;
        color: white;

        .live-running {
          display: flex;
          padding-left: 15px;
          padding-right: 10px;
          align-items: center;
          .youtube-icon {
            background-color: #f23658;
            width: 18px;
            height: 13px;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 12px;
            box-shadow: 0px 0px 0px 4px rgba(#f23658, 0.4), 0px 0px 0px 7px rgba(#f23658, 0.2);
            div {
              width: 0;
              height: 0;
              border-top: 3px solid transparent;
              border-bottom: 3px solid transparent;
              border-left: 5px solid white;
            }
          }
        }
      }
    }
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    .icons {
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
    }
    .grid {
      width: 18px;
      height: 20px;
      margin-top: -4px;
    }
    .add-components {
      margin-left: 10px;
      margin-right: 32px !important;
      min-width: 157px;
      height: 32px;
      font-size: font-size(11px);
      font-weight: bold;
      line-height: 1.09;
      padding: 0 13px;
      box-shadow: none;
      .plus-circle {
        width: 23px !important;
        height: 22px !important;
        line-height: 24px !important;
        margin: auto 0 auto 5px;
      }
    }
  }
}

.minimize-maximize-button-header {
  width: 144px;
  height: 10px;
  border-radius: 0 0px 15px 15px;
  background-color: $left-bar-maximize-button-background;
  position: absolute;
  top: 128px;
  left: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.2s linear;
  .triangle-bottom {
    border-top: 7px solid $left-bar-maximizer-button-triangle-background;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-radius: 1px;
  }
  .triangle-top {
    border-bottom: 7px solid $left-bar-maximizer-button-triangle-background;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-radius: 1px;
  }
}

.darkTheme {
  .header-bar {
    background-image: linear-gradient($header-deep-grey-bg, $header-deep-grey-bg);
  }
  .extendable-header-bar {
    background-color: $dark-black-bg;
    .news .news-content {
      background-color: $dark-grey-bg;
      color: $grey-font;
    }
  }
  .minimize-maximize-button-header {
    background-color: $dark-grey-bg;
    .triangle-top {
      border-bottom: 7px solid $grey-font;
    }
    .triangle-bottom {
      border-top: 7px solid $grey-font;
    }
  }
}
