body{
    background-color: $bg-color;
    .wrapper {
        display: block;
        
        .content {
            margin-left: 160px;
            position: absolute;
            top: 128px;
            width: calc(100% - 160px);
            height: calc(100% - 128px);
            background-color: $bg-color;
            transition: width 0.5 linear;
            transition: margin-left 0.5 linear;
            .gridster{
                width: 100% !important;
                height: 100% !important;
            }
        }    
        
        
        @media only screen and (max-width: 1279px) {
            display: none;
        }
    }
}

body.darkTheme {
    background-color: $deep-black-bg;
    .wrapper .content {
        background-color: $deep-black-bg;
    }
}
