.overIncrement {
  mat-form-field.mat-form-field-appearance-legacy {
    &.mat-form-field-invalid {
      .mat-form-field-wrapper {
        .mat-form-field-infix {
          .mat-input-element {
            color: $mat-ripple-error-color;
          }
        }
        .mat-form-field-underline {
          .mat-form-field-ripple {
            background-color: unset;
          }
        }
      }
    }
    &.ng-valid.ng-touched {
      .mat-form-field-wrapper {
        .mat-form-field-infix {
          .mat-input-element {
            color: unset;
          }
        }
        .mat-form-field-label {
          color: inherit;
        }
        .mat-form-field-underline {
          .mat-form-field-ripple {
            background-color: unset;
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
    }
  }
  color: $secondary02-color;
  .mat-form-field {
    display: block;
    font-size: font-size(16px);
    text-align: left;
    color: $secondary02-color;
    .mat-input-element {
      padding-right: 23px;
    }
    &.invalidC {
      color: $mat-ripple-error-color !important;
      .mat-form-field-underline {
        background: $mat-ripple-error-color;
      }     
      .mat-form-field-label {
        color: $mat-ripple-error-color !important;
      }     
      .mat-input-element {
        width: 150px;
        color: $mat-ripple-error-color !important;
        padding-right: 23px;
      }   
    }
  }

  .ng-touched + .invalidC {
    font-size: 0.6em;
    color: $mat-ripple-error-color;
    display: block;
  }
  .ng-untouched + .invalidC {
    display: none;
  }

  .increment-buttons-container {    
    float: right;
    .button {
      cursor: pointer;
      position: absolute;      
    }
    .increment {
      left: 0px;
    }
    .decrement {
      right: 0px;
    }
    .plus {
      // margin-left: 5px;
      font-size: font-size(16px);
      font-weight: bold;
      color: $secondary02-color;
      &.invalid {
        color: $mat-ripple-error-color;
      }
    }
    .minus {
      font-size: font-size(32px);
      color: $secondary02-color;
      font-weight: bold;
      line-height: 0;
      &.invalid {
        color: $mat-ripple-error-color;
      }
    }    
  }
  
}

.darkTheme {
  .overIncrement .mat-form-field {
    color: $grey-font;
  }
}
