.manual-online-component {
  .spinner {
    margin-top: 22%;
  }
  .header {
    border-bottom: 1px solid rgba($white, 0.07);
    background: $primary01-color;
    background-image: $header-gradient-right;
    padding: 10px 10px;
    margin: 0;
    height: 44px;
    border-radius: 3px 3px 0 0;
    span.title {
      font-size: font-size(16px);
      font-weight: 900;
      text-align: left;
      color: $component-selector-header-color;
    }
    .icon-order {
      margin-right: 15px;
      margin-left: -20px;
      svg {
        margin-bottom: 5px;
        width: 32px;
        path {
          fill: $header-orders-input-color;
          stroke: $header-orders-input-color;
        }
      }
    }
    .icon-close-btn {
      height: 15px;
      width: 15px;
      svg {
        path {
          fill: $header-orders-input-color;
          stroke: $header-orders-input-color;
        }
      }
    }
  }
  .scrollable-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    height: calc(100vh - 170px);
    h1,
    h2,
    h3,
    h4,
    h5 {
      text-align: left;
      margin: 35px 0px;
    }
    h2,
    h3,
    h4,
    h5 {
      padding-left: 50px;
    }
    p {
      text-align: justify;
      img {
        text-align: center !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1018px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    .btn-scroll {
      transition: 0.4s;
      position: absolute;
      right: 15px;
      bottom: 15px;
      width: 45px;
      height: 45px;
      border-radius: 35px;
      border: unset;
      background-color: $secondary01-color;
      cursor: pointer;
      color: $white;
      mat-icon {
        margin-left: -15px;
        font-size: font-size(40px);
      }
    }
    .btn-scroll.btn-hidden {
      opacity: 0;
      // z-index: -1;
    }
  }
}

.darkTheme .manual-online-component {
  .header {
    background-image: unset;
    background-color: $dark-black-bg;
    span.title {
      color: $component-selector-header-color;
    }
  }
  h1,
  h2,
  h3,
  h4 {
    color: $grey-font;
  }
}
