.min-resolution-modal {
  &.whitelabel {
    background-image: url("/assets/images/svg/ondas.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 90px 31px;
  }
  &.ranking {
    background-image: url("/assets/images/svg/ondas.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 90px 31px;
  }
  @media (max-width: 950px) {
    background-image: url("/assets/images/svg/ondas.svg");
  }
  .mobile-header {
    display: none;
  }
  .blue-warning {
    height: 150px;
    width: 100%;
    background-color: rgba($secondary01-color, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon {
      width: 122px;
      height: 87px;
      margin-right: 50px;
    }
    span {
      width: 271px;
      font-size: font-size(22px);
      text-align: left;
      color: $secondary01-color;
    }
  }
  .resolution-message {
    margin-top: 25px;
    max-width: 429px;
    justify-self: right;
    .title {
      font-size: font-size(31px);
      font-weight: 900;
      text-align: left;
      color: $secondary02-color;
      display: block;
      margin-bottom: 10px;
    }
    &.whitelabel {
      align-self: center;
    }
    &.ranking {
      align-self: center;
      .title {
        margin-top: 85px;
      }
    }
    .message {
      font-size: font-size(18px);
      text-align: left;
      color: $secondary03-color;
      display: block;
    }
    .images {
      display: flex;
      justify-content: left;
      margin-top: 20px;
      align-items: center;
      img {
        width: 130px;
        height: 40px;

        &:first-child {
          width: 120px;
          height: 40px;
          margin-right: 10px;
        }
      }
    }
    &.mobile {
      display: none;
    }
    .box-text-two {
      margin-top: 90px;
      text-align: center;
      .title {
        font-size: font-size(35px);
        text-align: center;
      }
      .text {
        font-size: font-size(18px);
        color: $secondary03-color;
      }
    }
  }
  @media only screen and (max-width: 568px) {
    &.whitelabel {
      display: flex;
      background-image: url("/assets/images/svg/ondas.svg"), url("/assets/images/clients/"+$prefix+"/logo-svg.svg"),
        url("/assets/images/clients/"+$prefix+"/svg/onda-header.svg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: bottom left, 16% 35px, top left;
      background-size: auto, 365px 50px, 100vw;
      &.bg-center {
        background-position: bottom left, 40% 35px, top left;
      }
      &.bg-left-zero {
        background-position: bottom left, 0% 35px, top left;
      }
      &.bg-size-two {
        background-size: auto, 365px 72px, 100vw;
      }
      .box-text {
        font-size: font-size(25px);
        color: $primary01-color;
        max-width: 314px;
        text-align: center;
        margin: 0 auto;
        margin-top: 25%;
        .bold {
          font-weight: bold;
        }
      }
      .box-text-two {
        margin-top: 90px;
        text-align: center;
        .title {
          font-size: font-size(25px);
          text-align: center;
        }
        .text {
          font-size: font-size(18px);
          color: $secondary03-color;
        }
      }
    }
    &.ranking {
      display: flex;
      background-image: url("/assets/images/svg/ondas.svg"),
        url("/assets/images/clients/"+$prefix+"/logo-workspace.png"), url("/assets/images/svg/onda-header.svg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: bottom left, 1.8em 22px, top left;
      background-size: auto, 257px, auto;
      height: 100vh;
    }
    .blue-warning {
      display: none;
    }
    .resolution-message {
      display: none;
      &.mobile {
        display: initial;
        align-self: center;
        justify-self: center;
      }
    }
  }
  @media (max-width: 460px) {
    &.whitelabel {
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: bottom left, 16% 23px, top left;
      background-size: auto, 316px 50px, 100vw;
      .box-text {
        margin-top: 10%;
      }
    }
  }
  @media (max-width: 370px) {
    &.whitelabel {
      background-size: auto, 225px 50px, 100vw !important;
      .box-text {
        margin-top: 10%;
      }
    }
  }
}
