$disabled: rgba($white, 0.3);
@media (max-height: 740px) {
  .adjust-overflow {
    height: 53vh !important;
  }
  .col-cards-overflow {
    max-height: 53vh !important;
  }
}
.modal-news {
  height: calc(100% - 44px);

  // .mat-form-field-disabled {
  //   opacity: 0.3;
  // }

  .header {
    background: $primary01-color;
    background-image: $header-gradient-right;
    box-shadow: 0 3px 10px 0 rgba($black, 0.16);
    padding: 10px 10px 10px 20px;
    color: $white;
    font-weight: bold;
  }
  .close-btn {
    float: right;
    color: $white;
    cursor: pointer;
    svg {
      .svg-color {
        fill: $white;
      }
    }
  }
  .icon-news {
    color: $white;
    margin-right: 5px;
    svg {
      padding-bottom: 7px;
      .cls-1 {
        fill: $white;
        stroke: $white;
      }
      g {
        path {
          fill: $white;
        }
      }
    }
  }
  .datepicker-range {
    position: relative;
    top: -2px;
  }
  .row-list {
    margin: 0;
  }
  .btn-pag {
    cursor: pointer;
    border-style: unset;
    color: $secondary02-color;
    font-size: font-size(15px);
    font-weight: bold;
    margin-right: 10px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    &.selected {
      box-shadow: 0 0px 4px 0 rgba($black, 0.68);
      background-color: $secondary02-color;
      color: $white;
      padding: 2px 10px;
      border-radius: 50%;
    }
  }
  .div-center {
    text-align: center;
  }
  .div-pag {
    margin-bottom: 25px;
  }
  .col-filter {
    background: $header-gradient-right-filter;
    // background-image: $shadow-gradient,
    //   linear-gradient(rgba($white, 0.1), rgba($white, 0.1));
    // background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    &.bg-single {
      background: $primary01-color !important;
      background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15)) !important; 
    }
  }
  .spinner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-details {
    cursor: pointer;
  }
  .row-filter {
    color: $white;
    padding: 20px 0;
    margin: 0;
    mat-form-field.mat-form-field-appearance-legacy {
      .mat-form-field-wrapper {
        .mat-form-field-label {
          color: $white;
          font-size: font-size(14px);
        }
        .mat-form-field-underline {
          background-color: $white;
          background-image: unset;
          .mat-form-field-ripple {
            background-color: $white;
          }
        }
        mat-select .mat-select-arrow-wrapper {
          border-top: 6px solid $white;
        }
        .mat-form-field-infix {
          .mat-input-element {
            color: $white;
          }
        }
      }
      .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
        fill: $white;
      }
    }
  }
  .col-item {
    padding-left: 25px;
    padding-right: 25px;
  }
  .icon-list {
    margin-right: 5px;
    font-size: 22.6px;
    cursor: pointer;
    color: rgba($black, 0.3);
    transition: 0.3s ease-in-out;
    &.icon-active {
      color: $secondary01-color;
    }
  }
  .icon-grid {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    cursor: pointer;
    svg {
      margin-top: -15.6px;
      g path {
        transition: 0.3s ease-in-out;
        fill: rgba($black, 0.3);
      }
    }

    &.icon-active {
      svg {
        g path {
          transition: 0.3s ease-in-out;
          fill: $secondary01-color;
        }
      }
    }
  }
  .col-icons-type {
    padding-right: 30px;
    text-align: right;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
  }
  .col-cards {
    margin-bottom: 25px;
  }
  .adjust-overflow {
    height: 62vh;
    overflow-y: auto;
  }
  .col-btn-filter {
    padding-top: 12px;
    text-align: right;
    padding-right: 43.8px;

    .white {
      background-color: #eff3f6 !important;
      span {
        color: $secondary02-color !important;
      }
    }

    .xs {
      width: 83.4px;
      height: 31px;
      border-radius: 50px;
      border: solid 1px rgba($white, 0.5);
      background: unset;
      background-color: transparent;
      box-shadow: none;
      min-width: unset;
      margin-left: 17.6px;
      span {
        color: rgba($white, 0.5);
      }
      &:hover {
        background-color: $light-grey;
        span {
          font-size: font-size(13px);
          font-weight: bold;
          font-style: normal;
          line-height: 1.15;
          text-align: left;
          color: $secondary02-color !important;
        }
      }
    }
    button {
      border-radius: 24px;
      width: 83.4px;
      height: 31px;
      font-size: font-size(13px);
      font-weight: bold;
      cursor: pointer;
      &.btn-clear {
        border: solid 2px $white;
        background-color: transparent;
        margin-right: 10px;
        color: $white;
        opacity: 0.4;
        &:hover {
          opacity: 0.8;
        }
      }
      &.btn-filter {
        border: unset;
        color: $secondary02-color;
        background-color: $news-filter-background;
        &:hover {
          background-color: $white;
        }
      }
    }
  }
  .masonry-item {
    margin: 15px;
  }
  .col-cards-overflow {
    overflow: auto;
    max-height: 66vh;
  }
  .row-filter {
    align-items: center;
    mat-form-field {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          .mat-form-field-infix {
            width: 8vw;
          }
        }
      }
    }
    .col-agency {
      mat-form-field {
        margin-top: 4px;
      }
    }
  }
  .col-datepicker {
    text-align: left;
    position: relative;
    top: -1px;
    span.label {
      font-size: font-size(11px);
      opacity: 0.7;
    }
    .modal-datepicker {
      background: #000;
    }
  }
  .col-search {
    mat-form-field {
      width: 95%;
      margin-top: 4px;
    }
  }
  .icon-search-input {
    height: 18px;
    width: 18px;
    svg path {
      stroke: $white;
    }
  }
  .spinner-search {
    margin-top: 25vh;
    margin-left: 45%;
  }
  .spinner-get {
    position: absolute;
    bottom: 15px;
    left: 48.5%;
  }
}

.panel-class-modal-news-component {
  transition: margin-left 400ms;
  .mat-dialog-container {
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
  }
}

.darkTheme .panel-class-modal-news-component {
  transition: margin-left 400ms;
  .mat-dialog-container {
    border-radius: 5px;
    background-color: $dark-black-bg;
    color: $grey-font;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
  }
}

.darkTheme .modal-news {
  background-color: $dark-black-bg;
  color: $grey-font;
  .header {
    background-color: $dark-black-bg;
    background-image: unset;
    color: $grey-font;
    .icon-news svg g path,
    .close-btn svg path.svg-color {
      fill: $grey-font;
    }
  }
  .col-filter {
    background: $dark-black-bg;
    background-color: $dark-black-bg;
    background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
    color: $grey-font;
  }
  .icon-grid {
    svg {
      g path {
        fill: rgba($grey-font, 0.3);
      }
    }

    &.icon-active {
      svg {
        g path {
          fill: $grey-font;
        }
      }
    }
  }
  .icon-list {
    color: rgba($grey-font, 0.3);
    &.icon-active {
      color: $grey-font;
    }
  }
}
.margin-data-picker {
  margin-left: -213px;
  margin-top: -79px;
}
