.modal-trading-view {
  .header {
    background: $primary01-color;
    background-image: $header-gradient-right;
    box-shadow: 0 3px 10px 0 rgba($black, 0.16);
    padding: 10px 10px 10px 20px;
    color: $white;

    span {
      margin-left: 15px;
      position: relative;
      top: 3px;
    }
  }
  .close-btn {
    float: right;
    cursor: pointer;
  }

  .expand-btn {
    position: absolute;
    right: 45px;
    cursor: pointer;
    width: 17px;
  }

  mat-icon {
    svg path.svg-color {
      fill: white;
    }
  }
}

.darkTheme .modal-trading-view {
  .header {
    background: $dark-black-bg;
    background-image: $shadow-gradient;
    box-shadow: 0 3px 10px 0 rgba($black, 0.16);
    padding: 10px 10px 10px 20px;
    color: $grey-font;    
  }  
}