.modal-password-component {
  border-radius: 25px;
  .goback-btn {
    cursor: pointer;
    color: $secondary02-color;
    position: absolute;
    top: 11px;
    left: 16px;
  }
  .close-btn {
    // @include close-btn();
    // margin-right: -20px;
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 31px;
    margin-right: -20px;
  }
  .send-icon {
    display: block;
    width: 96px;
    height: 92px;
    margin: 0 auto;
  }
  .mat-dialog-title {
    font-size: font-size(25px) !important;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #596377;

    .recover-error {
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      color: $notification-error;
      border-color: $notification-error;
      background-image: url("/assets/images/svg/alert-error.svg");
      margin-right: 6px;
    }

    span {
      &.title-error {
        color: $notification-error;
      }
    }
  }
  .mat-dialog-content {
    font-size: font-size(14px) !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.36 !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #596377 !important;
    margin-bottom: 22px !important;
    // opacity: 0.5 !important;
    form {
      margin-top: 37px;
      mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
        width: 380px;
      }
    }
  }
  .mat-dialog-actions {
    float: inherit !important;
    .button-submit {
      margin: 0 auto;
      .button-progress {
        position: relative;
        #spinnerDiv {
          mat-spinner {
            position: absolute;
            z-index: 6;
            left: 105px;
            top: 9px;
          }
        }
      }
    }

    .contact-error {
      width: 100%;
      text-align: center;
      .box {
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        width: 215px;
        height: 115px;
        margin-right: 12px;
        background-color: $white;
        color: $secondary02-color;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);

        &:last-child {
          margin-right: 0px;
        }

        .block-box {
          display: table;
          margin: auto;
          box-sizing: border-box;
          padding-top: 12px;

          &.contact-link {
            color: $secondary02-color !important;
            font-size: font-size(14px);
            font-weight: bold;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
          &.cursor-inherit {
            &:hover {
              cursor: inherit;
              text-decoration: none;
            }
          }
        }
        &.three-boxes {
          width: 156px;
        }
      }
    }
  }
  .opacity-5 {
    opacity: 0.5 !important;
  }
}
