.news-grid {
  padding: 11px 30px 5px 0px;
  border-bottom: 1px solid rgba($secondary03-color, 0.41);
  transition: .2s ease-out;
  height: 100px;
  min-height: 80px;
  .gradient-details {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: opacity .4s ease-out;
    background: linear-gradient(to right, transparent, transparent);
    text-align: right;
    color: $secondary01-color;
    font-size: font-size(14px);
    font-weight: 500;
  }
  &:hover {
    transform: scale(1.01);
    border-bottom: 1px solid transparent;
    box-shadow: 0 3px 10px 0 rgba($black, 0.07);
    background-color: $white;
    .gradient-details {
      z-index: 1;
      background: linear-gradient(to right, transparent 35%, $white 65%);
      opacity: 1;
      position: absolute;
      width: 40%;
      right: 20px;
      height: 100%;
      padding: 0px 80px;
      margin: -6px 0px -7px 0;
      visibility: visible;
    }
  }
  .icon-details {
    transform: rotate(180deg);
    cursor: pointer;
  }
  .div-details {
    position: relative;
    top: 40%;
  }
  .span-details {
    padding: 8px;
  }
  .div-date {
    color: $secondary03-color;
    text-align: right;
    padding-right: 8px;
    // margin-top: 8px;
    // margin-bottom: 8px;
    border-right: 1px solid rgba($secondary03-color, 0.31);
    .div-day {
      font-size: font-size(25px);
      font-weight: bold;
      margin-bottom: -7px;
    }
    .div-month, .div-year {
      font-size: font-size(13px);
      font-weight: 500;
    }
  }
  .div-info {
    padding-left: 10px;
    margin-top: 6px;
    .div-agency {
      font-size: font-size(9px);
      font-weight: 500;
      color: $secondary02-color;
      .span-time {
        background-color: rgba($news-card-date-background, 0.19);
        margin-left: 10px;
        padding: 1px 9px;
      }
    }
    .div-title {
      font-size: font-size(18px);
      font-weight: bold;
      color: $secondary10-color;
      a:hover {
        text-decoration: underline;
      }
    }
    .div-desc {
      font-size: font-size(12px);
      font-weight: normal;
      color: $secondary02-color;
    }
  }
}

.darkTheme .news-grid {
  color: $grey-font;
  &:hover {
    background-color: $dark-black-bg;
    .gradient-details {
      background: linear-gradient(to right, transparent 40%, $dark-black-bg 65%);
      color: $grey-font;
    }
  }
  .div-date {
    color: $grey-font;
    border-right: 1px solid rgba($grey-font, 0.31);
  }
  .div-agency, .div-title, .div-desc {
    color: $grey-font;
  }
}
