.news-card {
  min-height: 250px;
  max-height: 480px;
  width: 300px;
  box-shadow: 0 3px 12px 0 rgba($black, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 5px 12px 0 rgba($black, 0.2);
  }
  .card-img-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-title-content {
    padding: 10px;
    // border-left: 4px solid $secondary01-color;
    background-color: rgba($secondary02-color, 0.1);
  }
  .ft {
    border-left: 4px solid $secondary05-color;
    min-height: 103px;
    max-height: 103px;
  }
  .cedro {
    border-left: 4px solid $secondary06-color;
    min-height: 103px;
    max-height: 103px;
  }
  .bovespa {
    border-left: 4px solid $secondary07-color;
    min-height: 103px;
    max-height: 103px;
  }
  .bmf {
    border-left: 4px solid $secondary08-color;
    min-height: 103px;
    max-height: 103px;
  }
  .card-content {
    padding: 10px;
    min-height: 70px;
    overflow: hidden;
    margin-bottom: 45px;
    margin-right: 15px;
    padding-right: 11px;
    min-height: 105px;
    max-height: 105px;
  }
  .news-agency {
    font-size: font-size(11px);
    font-weight: bold;
    line-height: 1;
    color: $secondary02-color;
    padding-left: 10px;
    .img-compamy {
      margin-right: 4px;
    }
  }
  .news-date {
    font-size: font-size(9px);
    font-weight: normal;
    color: rgba($secondary02-color, .5);
    padding: 3px;
    text-align: center;
  }
  .col-hr {
    padding-left: 10px;
    hr {
      background: rgba($secondary02-color, .05);
      margin-top: 5px;
    }
  }
  .col-title {
    padding-left: 10px;
    font-size: font-size(20px);
    font-weight: bold;
    color: $secondary02-color;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .col-content {
    font-size: font-size(14px);
    font-weight: normal;
    color: $secondary03-color;
    line-height: 1.25;
    margin-left: 15px;
    margin-right: 15px;
    // max-width: 280px;
    word-break: break-word;
    max-width: 287px;
  }
  .gradient-content {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, $white 50%);
    width: 100%;
    right: 0px;
    height: 85px;
  }
  .div-detail {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .btn-details {
    border: 1.0px solid $secondary01-color;
    background: transparent;
    color: $secondary01-color;
    border-radius: 19px;
    transition: 0.3s;
    font-size: font-size(12px);
    font-weight: bold;
    padding: 8px 27px 8px 28px;
    cursor: pointer;
    &:hover {
      color: $white;
      background: $secondary01-color;
    }
  }
}

.darkTheme .news-card {
  box-shadow: 0 3px 12px 0 rgba($grey-font, 0.1);
  .gradient-content {
    background: linear-gradient(to bottom, transparent 0%, $dark-black-bg 50%);
  }
}
