.news-detail {
  .detail-img-content {
    height: 186px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .scrollable-area {
    overflow: auto;
  }
  .card-title-content {
    height: 118.6px;
    background-color: rgba($secondary02-color, 0.1);
    padding: 14px 100px 0px 100px;
    margin-bottom: 36px;
  }
  .title-header {
    position: relative;
    height: 87px;
    padding-left: 12px;
    padding-right: 12px;
    border-left: 4px solid $secondary01-color;
  }
  .news-agency {
    font-size: font-size(14px);
    font-weight: bold;
    color: $secondary02-color;
  }
  .news-date {
    font-size: font-size(14px);
    font-weight: bold;
    color: $secondary02-color;
    text-align: right;
  }
  .col-hr {
    hr {
      background: rgba($secondary02-color, .05);
      margin-top: 4px;
      margin-bottom: 7px;
    }
  }
  .col-title {
    font-size: font-size(25px);
    font-weight: bold;
    color: $secondary10-color;
    line-height: 1;
  }
  .btn-close {
    transition: 0.3s;
    position: absolute;
    right: 25px;
    bottom: 0px;
    border-radius: 25px;
    border: unset;
    width: 45px;
    height: 45px;
    background-color: transparent;
    color: $secondary02-color;
    cursor: pointer;
    mat-icon {
      height: 30px;
      width: 30px;
    }
    &:hover {
      background-color: rgba($secondary02-color, .16);
    }
  }
  .div-detail {
    height: 60vh;
    // overflow: auto;
    padding-left: 100px;
    padding-right: 125px;
    pre {
      font-family: Roboto;
      font-weight: normal;
      white-space: pre-wrap;
      word-wrap: break-word;
      font-size: font-size(16px);
      line-height: 1.38;
      color: $secondary02-color;
    }
  }
  .btn-scroll {
    transition: 0.4s;
    position: absolute;
    right: 60px;
    bottom: 60px;
    width: 45px;
    height: 45px;
    border-radius: 35px;
    border: unset;
    background-color: $secondary01-color;
    cursor: pointer;
    color: $white;
    mat-icon {
      margin-left: -15px;
      font-size: font-size(40px);
    }
  }
  .btn-scroll.btn-hidden {
    opacity: 0;
    z-index: -1;
  }
}
.goback-button {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border: 0px;
  border-radius: 50%;
  left: -84px;
  top: 17px;
  position: absolute;
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  .button-text2 {
      font-size: font-size(11px);
      font-weight: 500;
  }  
  &:hover {
      background-color: $workspace-conf-modal-close-button-background-hover;
  }
}

.darkTheme {
  .news-detail {
    color: $grey-font;
    .col-title {
      color: $grey-font;
    }
    .goback-button:hover {
      color: $white;
      background-color: $black;
      opacity: 0.7;
      
      >mat-icon{
        >svg{
          >path:first-child{
            fill: $white;
          }
        }
      }
    }
    .div-detail {
      pre {
        color: $grey-font;
      }
      a {
        // color: #0a67c9 !important;
        color: $secondary01-color !important;
      }
    }
  }
}