.normal-modal-component {
  border-radius: 25px;
  .close-btn {
    // @include close-btn();
    // margin-right: -20px;
    position: absolute;
    top: 11px;
    right: 31px;
    margin-right: -20px;
  }
  .send-icon {
    display: block;
    width: 96px;
    height: 92px;
    margin: 0 auto;
  }
  .signature-confirm {
    text-align: center;
    .signature {
      color: $primary01-color;
      font-size: font-size(14px);
      margin-top: 24px;
      .title {
        text-align: center;
        margin-right: 8px;
      }
      .invalidSignature {
        color: $mat-ripple-error-color !important;
      }
      .signature-input {
        text-align: center;
        .mat-input-element {
          color: $primary01-color !important;
        }
        .mat-form-field-ripple {
          background-color: $primary01-color !important;
          opacity: 1;
          transform: scaleX(1);
          margin-top: -7px;
        }
        input {
          color: $primary01-color !important;
        }
        mat-form-field .mat-form-field-label {
          font-size: 11px;
        }
      }
      .mat-form-field-flex {
        border-radius: 5px !important;
        padding: 0.75em 0.75em 0 0.75em !important;
        border: 1px solid !important;
        opacity: 0.4 !important;
      }
      .signature-input-invalid {
        width: 200px;
        text-align: center;
        margin: 0px;
        padding: 0px;
        // margin-bottom: -7px;
        .mat-input-element {
          color: $mat-ripple-error-color !important;
        }
        .mat-form-field-ripple {
          background-color: unset !important;
          opacity: 1;
          transform: scaleX(1);
          margin-top: -7px;
        }
        input {
          text-align: center;
          color: $mat-ripple-error-color !important;
        }
        .mat-form-field-infix {
          font-size: font-size(14px) !important;
        }
      }
    }
    .forgot-signature {
      opacity: 0.58;
      font-size: 12px;
      font-weight: 300;
      color: $primary01-color;
      cursor: pointer;
      margin-top: -17px;
    }
  }
  .darkTheme {
    .signature {
      color: $grey-font;
      .invalidSignature {
        color: $mat-ripple-error-color !important;
      }
      .signature-input {
        .mat-input-element {
          color: $grey-font !important;
        }
        input {
          color: $grey-font !important;
        }
      }
      .signature-input-invalid {
        .mat-input-element {
          color: $mat-ripple-error-color !important;
        }
        input {
          color: $mat-ripple-error-color !important;
        }
      }
    }
  }
}
