$header-orders-input-color: $white;
$header-orders-label-input-color: $light-grey;
$header-orders-input-underline-ripple-background: $light-grey;
$table-row-color: $row-color;
$table-header-bg: #e5eef4;
$table-even-row-bg: #f4f5f6;

.orders-history-component {
  .network-error-message-oms {
    top: 44px;
  }
  .upper-text {
    float: left;
    height: 1px;
    margin-top: -13px;
    opacity: 0.5;
    font-size: font-size(11px);
    margin-left: 14px;
  }

  .spinner {
    width: 100%;
    height: calc(100% - 350px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scrollable-body {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 118.5px);
    width: calc(100vw - 209px);
    .index {
      display: flex;
      height: 50px;
      font-size: font-size(16px);
      font-weight: bold;
      color: $secondary02-color;
      background-color: $table-header-bg;
      align-items: center;
    }
    .status-padding {
      padding-left: 55px !important;
    }
    .text-align {
      padding-left: 20px;
      text-align: left;
    }
    .number-align {
      padding-right: 20px;
      text-align: right;
    }
    .date-align {
      text-align: center;
    }
  }

  .toUpper {
    text-transform: uppercase;
  }

  .selected {
    width: 30px;
    height: 25px;
    border-radius: 1px;
    background-color: $secondary02-color;
    color: $white;
  }

  @media (max-width: 1330px) {
    .button-box {
      margin-top: 6px;
    }
  }

  @media (max-width: 1722px) {
    .button-box {
      &.general-history {
        margin-top: 20px;
      }
    }
  }

  .button-box {
    // margin-top: 20px;
    margin-left: 26px;
    background-color: transparent;
    .xs {
      width: 83.4px;
      height: 31px;
      border-radius: 50px;
      border: solid 1px $white;
      background: unset;
      background-color: transparent;
      box-shadow: none;
      min-width: unset;
      margin-left: 17.6px;
      &:hover {
        background-color: $light-grey;
        span {
          font-size: font-size(13px);
          font-weight: bold;
          font-style: normal;
          line-height: 1.15;
          text-align: left;
          color: $secondary02-color !important;
        }
      }
    }
    .white {
      background-color: #eff3f6 !important;
      span {
        color: $secondary02-color !important;
      }
    }
  }

  .sort-arrow {
    position: relative;
    top: 2px;
    font-size: font-size(15px);
  }

  .form-box {
    margin-left: 42px;
    .icon {
      width: 18px !important;
      height: 18px !important;
    }
  }

  .auto-box {
    margin-left: 56px;
    margin-bottom: 2px;
    mat-form-field {
      .mat-form-field-wrapper .mat-form-field-underline {
        top: 34px;
      }
    }
    app-auto-complete.symbol-form .company {
      width: 101px !important;
    }
  }

  .datepicker-align {
    margin-top: 5px !important;
  }

  .status-form {
    width: 120px !important;
  }

  .date-form {
    width: 100px !important;
  }

  .type-form {
    width: 180px !important;
  }

  .direction-form {
    width: 100px !important;
  }

  .market-form {
    width: 100px !important;
  }

  .symbol-form {
    .autoComplete {
      mat-form-field.mat-form-field {
        input {
          color: $white;
          height: 25px;
          font-size: smaller;
          font-weight: initial;
        }
        width: 100px !important;
      }
      .invalid {
        width: 90px;
        height: 0px;
      }
    }
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-container > div {
    text-align: center;
  }

  .flex-container-centered {
    display: flex;
    justify-content: center;
    bottom: 10px;
    position: relative;
  }

  .flex-container-centered > div {
    line-height: 2;
    font-size: font-size(12px);
    font-weight: 500;
    margin: 10px;
    text-align: center;
    cursor: pointer;
  }

  .container-fluid {
    padding: 0;
    .row-content {
      height: 100%;
      margin: 0;
    }
  }

  .margin-input {
    margin-right: 30px;

    .input-status {
      width: 170px;
      -webkit-appearance: none;
    }

    .input-period {
      width: 80px;
      -webkit-appearance: none;
    }

    .input-calender {
      width: 80px;
      -webkit-appearance: none;
    }

    .input-direction {
      width: 75px;
      -webkit-appearance: none;
    }

    .input-active {
      width: 85px;
    }
  }

  .header {
    border-bottom: 1px solid rgba($white, 0.07);
    background: $primary01-color;
    background-image: $header-gradient-right;
    padding: 10px 10px;
    margin: 0;
    position: fixed;
    height: 44px;
    width: calc(100% - 209px);
    border-radius: 3px 3px 0 0;
    z-index: 1;
    top: 94px;
    span.title {
      font-size: font-size(16px);
      font-weight: 900;
      text-align: left;
      color: $component-selector-header-color;
    }

    mat-form-field.mat-form-field-appearance-legacy,
    mat-form-field.mat-focused {
      color: $header-orders-input-color;

      .mat-form-field-wrapper {
        .mat-form-field-underline {
          background-color: $header-orders-input-color;
          background-image: unset;

          .mat-form-field-ripple {
            background-color: $header-orders-input-underline-ripple-background;
          }
        }

        .mat-form-field-flex {
          .mat-form-field-infix {
            width: 144px;

            mat-select {
              .mat-select-arrow-wrapper {
                border-top: 6px solid $header-orders-input-color;
              }
            }

            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                font-size: font-size(9px);
                opacity: 0.4;
                padding-top: 15px;
                font-weight: normal;
                color: $header-orders-label-input-color;
              }
            }
          }
        }
      }
    }
  }

  .header-box {
    background: $primary01-color;
    background-image: $header-gradient-right;
    padding: 19px 10px 0px;
    margin: 0;
    top: 44px;
    position: relative;

    span.title {
      font-size: font-size(16px);
      font-weight: 900;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: left;
      color: $component-selector-header-color;
    }

    mat-form-field.mat-form-field-appearance-legacy,
    mat-form-field.mat-focused {
      color: $header-orders-input-color;

      .mat-form-field-wrapper {
        .mat-form-field-underline {
          background-color: $header-orders-input-color;
          background-image: unset;

          .mat-form-field-ripple {
            background-color: $header-orders-input-underline-ripple-background;
          }
        }

        .mat-form-field-flex {
          .mat-form-field-infix {
            width: 144px;

            mat-select {
              .mat-select-arrow-wrapper {
                border-top: 6px solid $header-orders-input-color;
              }
            }

            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                font-size: font-size(9px);
                opacity: 0.4;
                padding-top: 15px;
                font-weight: normal;
                color: $header-orders-label-input-color;
              }
            }
          }
        }
      }
    }
  }

  .header-box2 {
    width: 100%;
    background: $primary01-color;
    // background-image: $shadow-gradient, linear-gradient(rgba($white, 0.1), rgba($white, 0.1));
    background-image: $header-gradient-right-filter;
    margin: 0;
    font-size: font-size(14px);
    color: $white;
    padding-top: 20px;
    padding-bottom: 31px;
    position: relative;
    margin-top: 44px;
    &.bg-single {
      background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15)) !important;
    }
    .flex-container {
      padding-right: 10px;
    }

    mat-form-field.mat-form-field-appearance-legacy,
    mat-form-field.mat-focused {
      color: $header-orders-input-color;

      .mat-form-field-wrapper {
        .mat-form-field-underline {
          background-color: $header-orders-input-color;
          background-image: unset;

          .mat-form-field-ripple {
            background-color: $header-orders-input-underline-ripple-background;
          }
        }

        .mat-form-field-flex {
          .mat-form-field-infix {
            width: 144px;

            mat-select {
              .mat-select-arrow-wrapper {
                border-top: 6px solid $header-orders-input-color;
              }
            }

            .mat-form-field-label-wrapper {
              .mat-form-field-label {
                opacity: 0.5;
                font-size: font-size(14px);
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.21;
                letter-spacing: 0.2px;
                text-align: left;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  .mat-icon {
    width: 10px !important;
  }
  .icon-order-two {
    // width: 38px !important;
    // height: 38px !important;
  }

  .reply {
    width: 49px !important;
    margin-top: -15px;
    height: 46px !important;
    svg {
      text {
        font-size: font-size(12px);
      }
    }
  }

  .delete {
    width: 49px !important;
    height: 45px !important;
    margin-top: -7px;
    svg {
      text {
        font-size: font-size(12px);
      }
    }
  }
  .edit {
    width: 38px !important;
    height: 45px !important;
    margin-top: -11px;
    svg {
      text {
        font-size: font-size(11px);
      }
    }
  }
  @media screen and (max-width: 1450px) and (min-width: 1280px) {
    .table-orders tbody tr:hover td .gradient-options {
      padding: 0px 6px !important;
    }

    .table-orders tbody tr td .icon-options {
      margin-left: 5px !important;
    }

    .reply {
      width: 49px !important;
      margin-top: -13px;
    }
    .delete {
      width: 50px !important;
      margin-top: -8px;
    }
    .edit {
      width: 38px !important;
      margin-top: -13px;
    }
  }

  @media screen and (max-width: 1800px) and (min-width: 1450px) {
    .table-orders tbody tr:hover td .gradient-options {
      padding: 0px 10px !important;
    }

    .table-orders tbody tr td .icon-options {
      margin-left: 9px !important;
    }

    .reply {
      width: 49px !important;
      margin-top: -13px;
    }
    .delete {
      width: 50px !important;
      margin-top: -8px;
    }
    .edit {
      width: 38px !important;
      margin-top: -13px;
    }
  }
  @media (min-width: 1820px) {
    .edit {
      margin-top: -14px;
    }
  }
  .icon-order {
    height: 21px;
    width: 21px !important;
    margin-right: 15px;
    svg {
      margin-bottom: 5px;
      path {
        fill: $header-orders-input-color;
        stroke: $header-orders-input-color;
      }
    }
  }

  .icon-close-btn {
    height: 15px;
    width: 15px;

    svg {
      path {
        fill: $header-orders-input-color;
        stroke: $header-orders-input-color;
      }
    }
  }

  .divider {
    border-top-color: rgba($white, 0.07);
    margin: 10px -10px 0 -10px;
  }

  .border-right {
    border-right: solid 1px $secondary03-color;
  }

  .border-top {
    border-top: solid 1px $secondary03-color;
  }

  .col-table {
    padding-left: 0;
    padding-right: 0;
  }

  .table-orders {
    width: 100%;

    tbody {
      .table-row-height {
        height: 65.5px;
      }
      tr {
        transition: 0.3s ease-in;
        line-height: 3;

        &:nth-child(4n),
        &:nth-child(4n-1) {
          background-color: rgba($table-even-row-bg, 0.5);
        }
        .status-padding {
          padding-left: 55px !important;
        }
        .text-align {
          padding-left: 20px;
          text-align: left;
        }
        .number-align {
          padding-right: 51px;
          text-align: right;
        }
        .date-align {
          text-align: center;
        }
        .text-buy {
          color: $gradient-buy-2 !important;
          font-weight: bold;
        }
        .text-sell {
          color: $gradient-sell-2 !important;
          font-weight: bold;
        }
        td {
          font-size: font-size(14px);
          line-height: 1.21;
          color: $secondary02-color;
          box-shadow: none;
          .gradient-options {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: opacity 0.4s ease-out;
            background: linear-gradient(to right, transparent, transparent);
            text-align: right;
            color: $secondary01-color;
            font-size: font-size(14px);
            font-weight: 500;
          }
          .icon-options {
            cursor: pointer;
            margin-left: 11px;
          }
          .shrink {
            width: 20px;
          }
          .enlarge {
            width: 30px;
          }
          .div-options {
            position: relative;
            top: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            float: right;
          }
          .arrow {
            opacity: 0;
            position: absolute;
            left: 3px;
            margin-top: 10px;
            font-size: font-size(18px);
            margin-left: 10px;
            line-height: 0;
          }

          .span-arrow {
            margin-left: -15px;
          }
        }
      }

      tr:hover {
        box-shadow: 0 0 6px 0 rgba($black, 0.3);
        -moz-box-shadow: 0 0 6px 0 rgba($black, 0.3);
        -webkit-box-shadow: 0 0 6px 0 rgba($black, 0.3);
        td {
          transform: scale(1);
          border-bottom: 1px solid transparent;
          .gradient-options {
            top: 6px;
            z-index: 1;
            background: linear-gradient(to right, transparent 0%, #fff 0%);
            opacity: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0px 20px;
            margin: -6px 0px 0px 0;
            visibility: visible;
            right: 0px;
          }
        }
        .arrow {
          opacity: 1;
        }
      }

      tr.hover-up {
        box-shadow: 0 -5px 5px -3px rgba($black, 0.2);
        -moz-box-shadow: 0 -5px 5px -3px rgba($black, 0.2);
        -webkit-box-shadow: 0 -5px 5px -3px rgba($black, 0.2);

        .arrow {
          opacity: 1;
        }
      }

      tr.hover-down {
        box-shadow: 0 5px 5px -2px rgba($black, 0.2);
        -moz-box-shadow: 0 5px 5px -2px rgba($black, 0.2);
        -webkit-box-shadow: 0 5px 5px -2px rgba($black, 0.2);
      }
    }

    .icon-remove {
      height: 10px;
      width: 15px;
      margin-right: 5px;

      svg {
        margin-bottom: 3px;

        path {
          fill: $table-row-color;
          stroke: $table-row-color;
        }
      }
    }

    .icon-edit,
    .icon-view {
      height: 15px;
      width: 15px;
      margin-right: 5px;
      color: $table-row-color;

      svg {
        margin-bottom: 3px;
      }
    }
    .empty {
      text-align: center;
      padding-top: 12px;
      font-size: font-size(16px);
      background-color: $white;
    }
  }

  .tab {
    padding: 11px 43px 11px 43px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; //text
    font-size: font-size(15px);
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    color: $white;
    cursor: pointer;
  }

  .selected-tab {
    background: $primary01-color;
    background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
    // background-color: rgba($white, 0.1);
  }

  .table-header {
    div {
      display: inline-block;
    }
  }
  .datepicker-modal {
    position: absolute;
    top: 17px;
    left: 180px;
  }
}

//TODO pegar informações das cores corretas com o UX
.executed-font-os {
  color: $executed;
}

.canceled-font-os {
  color: $canceled;
}

.edited-font-os {
  color: $edited;
}

.pending-edition-font-os {
  color: $gradient-buy-3;
}

.partially-font-os {
  color: $partially;
}

.new-font-os {
  color: $secondary03-color;
}

.suspended-font-os {
  color: $suspended;
}

.pending-font-os {
  color: $primary01-color;
}

.expired-font-os {
  color: $secondary02-color;
}

.cancellation-pending-font-os {
  color: $cancellationPending;
}

.rejected-font-os {
  color: $rejected;
}

.ngx-mat-drp-calendar-container {
  .ngx-mat-drp-calendar-item:nth-child(3) {
    display: none;
  }
  .ngx-mat-drp-date-label {
    display: none;
  }
}

.darkTheme .orders-history-component {
  background-color: $deep-grey-bg;
  color: $grey-font;
  .empty {
    background-color: $deep-grey-bg;
  }
  .header {
    background-image: unset;
    background-color: $dark-black-bg;
    border-bottom: 1px solid rgba($white, 0.07);
    span {
      color: $grey-font;
    }
  }
  .header-box {
    background-image: unset;
    background-color: $dark-black-bg;
    .tab {
      color: $grey-font;
    }
  }
  .header-box2 {
    background: $dark-black-bg;
    background-color: $dark-black-bg;
    background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
    color: $grey-font;
    .flex-container {
      .button-box {
        .xs {
          border: 1px solid $grey-font;
        }
        span {
          color: $grey-font;
        }
      }
    }
  }
  .selected-tab {
    // background-color: rgba($white, 0.25);
    background-color: $deep-grey-bg;
    background-image: linear-gradient(to right, rgba($white, 0.15), rgba($white, 0.15));
    // background: #2d3035;
    color: $grey-font;
  }
  .index {
    background-color: #272a2e;
    color: $grey-font;
  }
  tbody {
    td {
      color: $grey-font;
    }
    tr:nth-child(2n-1) {
      background-color: rgba(000, 000, 000, 0.05);
      td {
        color: $grey-font;
        .gradient-options {
          // background: linear-gradient(to right, transparent 20%, #2d3035 25%);
          background: linear-gradient(to right, transparent 0%, #2d3035 0%);
        }
      }
    }
    tr:nth-child(2n) {
      background-color: rgba(000, 000, 000, 0.05);
      td {
        .gradient-options {
          background: linear-gradient(to right, transparent 20%, #2d3035 25%);
        }
      }
    }
  }
}
