$order-detail-table-header-background: #fffefe;
$order-history-detail-table-odd-row: #f8f9f9;

.tableDiv {
  max-height: 200px;
  height: 100%;
  overflow: scroll;

  .spinner-container {
    height: 100%;
  }
}

.orders-history-detail {
  .aligner {
    .detail-body {
      .first-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin-left: 57px;
        padding: 0;
        .first-line {
          width: 100%;
          height: 123px;
          border-radius: 5px;
          border: 2px dashed rgba($secondary02-color, 0.5);
          padding: 19px 19px 19px 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: column;
          margin-bottom: 17px;
          .first-line-info {
            width: 100%;
            height: 63px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row;
            .id {
              width: 36%;
              min-width: 139px;
              height: 63px;
              border-radius: 3px;
              background-color: rgba($secondary02-color, 0.05);
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: font-size(16px);
              line-height: 1.19;
              color: $secondary02-color;
              b {
                font-size: font-size(13px);
                font-weight: 900;
              }
            }
            .estrategiaValidade {
              width: 33%;
              min-width: 162.5px;
              height: 63px;
              display: flex;
              justify-content: center;
              flex-flow: column;
              padding-left: 15px;
              font-size: font-size(14px);
              line-height: 1.21;
              color: $secondary02-color;
              .div-space {
                margin-bottom: 14px;
              }
              b {
                font-weight: 900;
              }
            }
            .vertical-divider {
              width: 1px;
              height: 54px;
              background-color: rgba($secondary02-color, 0.15);
            }
            .qtdAparenteMinima {
              width: 30%;
              min-width: 160.5px;
              height: 63px;
              display: flex;
              padding-left: 14px;
              justify-content: center;
              flex-flow: column;
              font-size: font-size(14px);
              line-height: 1.21;
              color: $secondary02-color;
              .div-space {
                margin-bottom: 14px;
              }
              b {
                font-weight: bold;
              }
            }
          }
          .first-line-rotulo {
            width: 100%;
            height: 15px;
            display: flex;
            align-items: center;
            margin-top: 7px;
            padding-left: 4px;
            b {
              font-size: font-size(14px);
              line-height: 1.21;
              color: $secondary02-color;
              font-weight: bold;
            }
          }
        }
        .second-line {
          width: 100%;
          height: 85px;
          background-color: rgba($secondary02-color, 0.05);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row;
          .half-content {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            .preco {
              width: 100%;
              height: 50%;
              display: flex;
              align-items: center;
              padding-left: 31px;
              font-size: font-size(14px);
              line-height: 1.21;
              color: $secondary02-color;
              b {
                font-weight: bold;
              }
            }
          }
        }
        .third-line {
          width: 100%;
          height: 70px;
          display: flex;
          align-items: center;
          font-size: font-size(14px);
          font-weight: 300;
          line-height: 1.21;
          color: $secondary02-color;
          b {
            font-weight: bold;
          }
        }
      }
      @media (max-width: 1280px) {
        .second-block {
          margin-left: 20px !important;
        }
      }
      .second-block {
        padding: 0;
        background-color: rgba($secondary02-color, 0.04);
        border-radius: 5px;
        margin-left: 15px;
        height: 280px;
        .blue-text {
          width: 100%;
          height: 46px;
          display: flex;
          align-items: center;
          padding-left: 17px;
          font-size: font-size(15px);
          font-weight: bold;
          line-height: 1.2;
          color: $secondary01-color;
        }
        .table-header {
          width: 100%;
          font-size: font-size(16px);
          font-weight: bold;
          line-height: 1.19;
          color: $secondary02-color;
          background-color: $order-detail-table-header-background;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row;
          div {
            display: flex;
            align-items: center;
            height: 32px !important;
          }
        }
        .letter-align {
          justify-content: flex-start;
          padding-left: 20px;
        }
        .number-align {
          justify-content: flex-end;
          padding-right: 20px;
        }
        .date-align {
          justify-content: center;
        }
        table {
          width: 100%;

          tbody {
            overflow-y: scroll;
            max-height: 200px;
            height: 200px;
            display: block;
          }
          .letter-align {
            text-align: left;
            padding-left: 20px;
          }
          .number-align {
            text-align: right;
            padding-right: 20px;
          }
          .date-align {
            text-align: center;
          }
          tr {
            height: 36px;
            max-height: 36px;
            box-shadow: unset;
            &:nth-child(2n-1) {
              background-color: $order-history-detail-table-odd-row;
            }
            &:nth-child(2n) {
              background-color: rgba($secondary02-color, 0.04);
            }
          }
          td {
            height: 36px;
            max-height: 36px;
            font-size: font-size(14px);
            line-height: 1.21;
            color: $secondary02-color;
          }
        }
      }
    }
  }
}

.darkTheme .orders-history-detail {
  .first-block {
    .id {
      background-color: #272a2e !important;
      color: #bec0c2 !important;
    }
    .estrategiaValidade {
      color: #bec0c2 !important;
    }
    .qtdAparenteMinima {
      color: #bec0c2 !important;
    }
    .vertical-divider {
      background-color: #2c2c2c !important;
    }
    .first-line-rotulo {
      b {
        color: #bec0c2 !important;
      }
    }
    .second-line {
      background-color: #272a2e !important;
      .preco {
        color: #bec0c2 !important;
      }
    }
    .third-line {
      color: #bec0c2 !important;
    }
  }
  .second-block {
    background-color: #272a2e !important;
    .blue-text {
      color: #bec0c2 !important;
    }
    .table-header {
      background-color: #2d3035 !important;
      color: #bec0c2 !important;
    }
    tr {
      &:nth-child(2n) {
        background-color: #2d3035 !important;
        td {
          color: #bec0c2 !important;
        }
      }
      &:nth-child(2n-1) {
        background-color: #272a2e !important;
        td {
          color: #bec0c2 !important;
        }
      }
    }
  }
}
