.quick-search-autocomplete-panel{
  width: 165px !important;
  left: -44px;
  max-width: unset;
}

.quickSearchAutoComplete {
  color: $white;
  

  .active {
    text-transform: uppercase;
    height: 29px;
    font-size: font-size(14px);
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    overflow: hidden;
    width: 120px;
  }

  .invalid {
    height: 11px;
    font-size: font-size(10px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    margin-left: 5px;
    color: $error;
  }

  .search-icon {
    position: relative;
    width: 18px;
    height: 18px;
    svg path {
      fill: white;
      stroke: white;
    }
  }

  .bar{
    width: 165px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    right: 10px;
    top: 10px;
    margin: 0px !important;
    font-style: italic;
    font-size: font-size(14px);
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
  }

  .barFocused{
    transition: background-color 200ms linear 200ms;
    background-color: rgba(0, 0, 0, 0.25);
    width: 165px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    margin: 0px !important;

    .mat-form-field-underline{
      display: none;
      font-size: font-size(14px);
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
    }
  }

  .placeholder {
    color: $white;
    font-size: font-size(12px);
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 35px;
    letter-spacing: normal;
    align-items: baseline;
  }

  .mat-form-field-appearance-legacy {
    .mat-form-field-underline{
      border-bottom: 0px;
      height: 0px;
      .mat-form-field-ripple{
          border-bottom: 0px;
          height: 0px;
      }
    }

    .mat-form-field-wrapper {
      padding-bottom: 2px;
       .mat-form-field-flex .mat-form-field-infix {
         border-top: 0;
       }
    }
  }
}
.darkTheme {
  .barFocused {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

