.quote-chart {
  height: 100%;

  .gridster-item-error {
    height: calc(100% - 40px);

    .cont {
      height: 100%;
      width: 100%;
      display: table;

      .errorMsg {
        margin-top: 0%;
        display: table-cell;
        vertical-align: middle;
        text-align: center
      }
    }
  }
  
  .errorMsg {
    // margin: 0 auto;
    // width: fit-content;
    // margin-top: 10%;
    // margin-top: 5%;
  }
  .marketCloseMsg {
    margin: 0 auto;
    width: fit-content;
    margin-top: 10%;
  }

  .autoComplete {
    height: 24px;
    margin-top: -3px;
    .invalid {
      margin-top: -9px;
      margin-left: 0px;
    }
  }
  .mat-form-field {
    .mat-form-field-infix {
      padding: 0 !important;
      border-top: none;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
      .mat-form-field-flex {
        padding-left: 0;
      }
    }
    .mat-form-field-label {
      opacity: 0.3;
      font-family: $font-default;
      font-size: font-size(16px);
      font-weight: 900;
      color: $secondary02-color;
      top: 0;
    }
    .mat-form-field-label-wrapper {
      top: 2px !important;
    }
    .mat-input-element {
      font-family: $font-default;
      font-size: font-size(16px);
      font-weight: 900;
      color: $secondary02-color;
    }
    .mat-form-field-underline {
      display: none;
    }
  }
  .title-item-grid {
    box-shadow: 0px 0px 1px #afaeae;
    background-color: rgba($secondary11-color, 0.26);
    padding: 7px 10px 0 10px;
    span:first-child {
      margin-right: 5px;
    }
    span {
      font-family: $font-default;
      font-size: font-size(16px);
      font-weight: 900;
      color: $secondary02-color;
    }
  }

  .item-grid {
    height: 100%;
  }

  .div-chart {
    padding-top: 4%;
  }

  .col-input {
    padding-left: 0;
    margin-left: -20px;
    margin-right: 20px;
  }
  .row-input {
    margin: 7px 0 0 0px;
  }
}

.darkTheme .quote-chart {
  .highcharts-background {
    fill: $dark-black-bg !important;
  }

  .highcharts-axis-labels text {
    color: $grey-font !important;
    fill: $grey-font !important;
  }
}
.icon-edit {
  width: 18px;
  height: 21px;
  border-bottom: 1px solid;
  margin-left: 5px;
  svg {
    padding-bottom: 3px;
  }
}
.worksheet-close {
  position: relative !important;
  top: -2px !important;
  width: 17px !important;
  height: 17px !important;
}
