// .ranking-component {
//   .header {
//     border-bottom: 1px solid rgba($white, 0.07);
//     background: $primary01-color;
//     background-image: $header-gradient-right;
//     padding: 10px 10px;
//     margin: 0;
//     height: 44px;
//     border-radius: 3px 3px 0 0;
//     span.title {
//       font-size: font-size(16px);
//       font-weight: 900;
//       text-align: left;
//       color: $component-selector-header-color;
//     }
//     .icon-order {
//       height: 21px;
//       width: 21px !important;
//       margin-right: 15px;
//       svg {
//         margin-bottom: 5px;
//         path {
//           fill: $header-orders-input-color;
//           stroke: $header-orders-input-color;
//         }
//       }
//     }
//     .icon-close-btn {
//       height: 15px;
//       width: 15px;
//       svg {
//         path {
//           fill: $header-orders-input-color;
//           stroke: $header-orders-input-color;
//         }
//       }
//     }
//   }
//   .iframe-modal {
//     overflow: scroll;
//     height: 100vh;
//     iframe {
//       width: calc(100vw - 207px);
//       height: calc(100vh - 157px);
//       header.header-nav div.top-bar {
//         display: none;
//       }
//     }
//   }
// }
// iframe header.header-nav {
//   display: none !important;
// }