.reconnect-modal {
  .mat-dialog-container {
      overflow: visible;
  }

  .reconnect {
    text-align: center;
    color: $secondary02-color;

    .baloon {
      border-radius: 5px;
      max-width: 450px;

      display: flex;
      flex-direction: column;
      align-items: center;

      .div-top {
        padding: 35px 50px;
      }

      .div-bottom {
        box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.05);
        padding: 20px 0;
        display: flex;
        justify-content: center;
        width: 100%;

        button:first-child {
          margin-right: 15px;
        }
      }
  
      .reconnect-msg-1 {
        margin-top: 30px;
        display: block;
        font-size: font-size(16px);
      }
    }

    .arrow-up {
      position: relative;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $white;
      top: -10px;
      left: 28px;
    }
  }
}

.darkTheme {
    .reconnect {
        color: $grey-font;
        background-color: $dark-grey-bg;
        .arrow-up {
            border-bottom: 10px solid $dark-grey-bg;
        }
    }
}