$left-bar-item-list-perfil-background-color: $bg-color;
$left-side-bar-list-background-color: $background2;
$left-side-bar-list-box-shadow-color: rgba($black, 0.16);
$left-side-bar-photo-border: #e7e4e4;
$left-bar-photo-name-color: $secondary02-color;
$left-bar-perfil-select-background: $secondary01-color;
$left-bar-perfil-select-font: $white;
$left-side-bar-list-divider: $dark-blue;
$left-bar-list-end-rectangle: $secondary02-color;
$left-bar-maximize-button-background: $background2;
$left-bar-maximize-button-border: rgba($black, 0.19);
$left-bar-maximizer-button-triangle-background: $secondary01-color;
$left-bar-maximize-button-box-shadow: rgba($black, 0.5);
$sidebar-control-background: $white;

.sidebar-left {
  width: 160px;
  height: calc(100% - 70px);
  margin-top: 70px;
  position: fixed;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: left 0.2s linear;
  left: 0px;
  background-color: $left-side-bar-list-background-color;
  color: $left-bar-photo-name-color;
  .minimize-maximize-button {
    width: 10px;
    height: 88.5px;
    border-radius: 0 15px 15px 0;
    background-color: $left-bar-maximize-button-background;
    position: absolute;
    left: 160px;
    top: calc(50% - 70px);
    z-index: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: left 0.2s linear;
    @media (max-height: 768px) {
      top: calc(100% - 50% - 158.5px);
    }
    .triangle-right {
      left: 160px;
      border-top: 7px solid transparent;
      border-left: 7px solid $left-bar-maximizer-button-triangle-background;
      border-bottom: 7px solid transparent;
      border-radius: 1px;
    }
    .triangle-left {
      left: 160px;
      border-top: 7px solid transparent;
      border-right: 7px solid $left-bar-maximizer-button-triangle-background;
      border-bottom: 7px solid transparent;
      border-radius: 1px;
    }
  }
  .menu-sidebar-left {
    width: 100%;
    height: 100%;
    min-height: 768px;
    box-shadow: 0 3px 6px 0 $left-side-bar-list-box-shadow-color;
    z-index: 1;
    transition: opacity 0.1s linear;
    .help {
      position: fixed;
      bottom: -14px;
      &.support {
        bottom: 0px;
      }
      height: 120px;
      min-height: 50px;
      width: 160px;
      padding-left: 10px;
      .rectangle {
        width: 25%;
        height: 4px;
        background-color: $left-bar-list-end-rectangle;
        margin-bottom: 15px;
      }
      .list-item-content-div {
        margin-bottom: 5px;
        font-weight: bold;
        .list-item-content-font {
          font-size: font-size(14px);
          text-align: left;
          cursor: pointer;
        }
        .list-end-item-font {
          font-size: font-size(16px);
          font-weight: bold;
          text-align: left;
        }
      }
      .list-end-item-font-text {
        font-size: font-size(12px);
        text-align: left;
        margin-bottom: -3px;
        font-weight: 400;
        margin-left: 6px;
      }
      .list-end-item-content-div {
        font-size: font-size(11px);
        text-align: left;
        margin-top: 5px;
        padding-left: 7px;
        cursor: pointer;
        &.noCursor {
          cursor: inherit;
        }
        .underline {
          text-decoration: underline;
        }
        .list-end-item-content-link-font {
          font-size: font-size(12px);
          letter-spacing: normal;
          text-align: left;
        }
        a {
          color: #596377;
        }
      }
    }
    .list {
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100%;
      .scroll-menu {
        height: calc(100vh - 296px);
        overflow-y: auto;
      }
      a:hover {
        text-decoration: none;
        color: unset;
      }
      .divider {
        height: 1px;
        width: 100%;
        opacity: 0.03;
        background-color: $left-side-bar-list-divider;
        margin: 0px;
      }
      .list-item:hover {
        &.cotacao {
          border-left: 3px solid $secondary01-color;
          background-color: rgba(8, 103, 201, 0.15) !important;
        }
        &:not(:first-child) {
          border-left: 3px solid $secondary01-color;
          background-color: rgba(8, 103, 201, 0.15) !important;
        }
      }
      .selected {
        border-left: 3px solid $secondary01-color;
        background-color: rgba(8, 103, 201, 0.15) !important;
      }
      .list-item {
        width: 100%;
        height: 10%;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        min-height: 52px;
        transition: 0.5s;
        cursor: pointer;

        &.not-connected {
          padding: 25px 10px;
          height: 110px;

          .photo-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            cursor: auto;
          }

          .perfil-button {
            width: 100%;
            cursor: pointer;
          }
        }

        @media (max-height: 768px) {
          height: 6%;
          min-height: 46px;
        }
        .list-item-div {
          // cursor: pointer;
          .icon_coin {
            width: 18px;
            height: 18px;
            margin-right: 5px;
            margin-bottom: 3px;
          }
          .list-item-font {
            font-size: font-size(13px);
            font-weight: bold;
            text-align: left;
            margin: 1.2%;
          }
        }
        .list-item-content-div {
          .list-item-content-font {
            font-size: font-size(14px);
            text-align: left;
            // cursor: pointer;
          }
        }
        .my-balance {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
          padding-bottom: 0;

          .mat-select-arrow-wrapper {
            top: 5px;
            border-top-color: white;
          }

          .mat-form-field-flex {
            width: 134px;
          }

          .mat-form-field-infix {
            padding: 0;
            border-top: 0;
            .mat-form-field-label-wrapper {
              top: 0;
              padding-top: 0;
            }
          }

          .mat-form-field-underline {
            height: 0;
            .mat-form-field-ripple {
              height: 0;
            }
          }
        }
      }
      .item-perfil-assessor-cliente {
        background-color: $left-bar-item-list-perfil-background-color;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        min-height: 155px;
        height: 18%;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 15px;
        .select {
          width: 100%;
          height: 25px;
          border-radius: 2px;
          background-color: $left-bar-perfil-select-background;
          color: $left-bar-perfil-select-font;
          border: none;
          padding: 4px 10px;
          .option {
            width: 100% !important;
            background-color: $white !important;
            color: $secondary02-color;
            border: none;
          }
        }
        .perfil-name {
          font-size: font-size(15px);
          font-weight: bold;
          margin-top: -5px;
        }
        .perfil-kind {
          font-size: font-size(10px);
          font-weight: 500;
          margin-top: -10px;
          .bold {
            font-weight: bold;
          }
          .yellow {
            color: #a1a101;
            padding: 0px;
          }
          .purple {
            color: purple;
            padding: 0px;
          }
          .orange {
            color: orange;
            padding: 0px;
          }
          .red {
            color: #d60f0f;
            padding: 0px;
          }
          .blue {
            color: #8383f3;
            padding: 0px;
          }
        }

        .photo-container {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          border: 4px solid $left-side-bar-photo-border;
          .perfil-photo {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
      .item-perfil-corretora {
        height: 115px;
        width: 100%;
        background-color: $left-bar-item-list-perfil-background-color;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 10px 12px;
        .select {
          width: 100%;
          height: 25px;
          border-radius: 2px;
          background-color: $left-bar-perfil-select-background;
          color: $left-bar-perfil-select-font;
          border: none;
          padding: 4px 10px;
          .option {
            width: 100% !important;
            background-color: $white !important;
            color: $secondary02-color;
            border: none;
          }
        }
        .simulator {
          background-color: #f1d4d9 !important;
          padding: 4px 0;
          width: 132px !important;
          .perfil-font {
            font-size: font-size(18px) !important;
            font-weight: 900 !important;
            color: #f23658 !important;
            padding-left: 16px !important;
          }
        }
        .perfil-div {
          width: 100%;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 10px;
          .perfil-font {
            font-size: font-size(12px);
            font-weight: bold;
          }
          .photo-container {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 6px;
            .perfil-photo {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
        .perfil-kind {
          font-size: font-size(10px);
          font-weight: 500;
          margin-top: -10px;
          .bold {
            font-weight: bold;
          }
          .yellow {
            color: #a1a101;
            padding: 0px;
          }
          .purple {
            color: purple;
            padding: 0px;
          }
          .orange {
            color: orange;
            padding: 0px;
          }
          .red {
            color: #d60f0f;
            padding: 0px;
          }
          .blue {
            color: #8383f3;
            padding: 0px;
          }
        }
      }
    }
  }
  .text {
    width: 116px;
    height: 24px;
    font-size: font-size(10px);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    float: left;
  }
  .ico {
    width: 20.9px;
    height: 17.5px;
    object-fit: cover;
    float: left;
  }
  .perfil-button {
    width: 140px;
    height: 25px;
    border-radius: 2px;
    background-color: $secondary01-color;
    font-size: font-size(12px);
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $white;
    border: none;
    text-align: center;
  }
  &.modalOrder {
    z-index: 1001;
  }
  &.modelInvisible {
    z-index: 0;
  }
}
.panel-class-order-component {
  transition: margin-left 400ms;
  .mat-dialog-container {
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
  }
}

.sidebar-select {
  .mat-option {
    height: 2em !important;
    .mat-option-text {
      font-size: font-size(12px);
      color: $secondary02-color;
    }

    mat-icon {
      width: 12px;
      svg g path {
        stroke: white;
      }
    }

    &:last-child {
      background-color: $secondary02-color;
      .mat-option-text {
        color: white;
      }
    }
  }
}

.darkTheme {
  .sidebar-left {
    background-color: $menu-deep-grey-bg;
    color: $grey-font;
    .item-perfil-corretora,
    .item-perfil-assessor-cliente {
      background-color: $dark-black-bg !important;
    }
    .minimize-maximize-button {
      background-color: $dark-grey-bg;
      .triangle-right {
        border-left: 7px solid $grey-font;
      }
      .triangle-left {
        border-right: 7px solid $grey-font;
      }
    }
    .color-icon mat-icon {
      width: 12px;
      svg g path, svg g g path {
        stroke: $grey-font;
      }
    }
  }
  a {
    color: #abb2b9 !important;
  }
  .panel-class-order-component {
    .mat-dialog-container {
      background: $deep-grey-bg;
    }
  }
  .mat-select-content {
    // background: $secondary01-color;
    color: $white !important;
    .mat-option {
      color: orange !important;
      ::placeholder {
        color: green !important;
      }
      .mat-option-text {
        color: $white !important;
        font-size: font-size(12px);
      }
    }
  }
}
.m-help-whats {
  padding-left: 6px;
  &:hover {
    text-decoration: underline;
  }
}
