.styleguide {
    padding-bottom: 10px;
    /////////////////////////// INICIO PALETA DE CORES
    .color-section {
      // color: $primary01-color;
      .bg-primary{
        &01 {
          background-color: $primary01-color;
          height: 50px;
        }
        &02 {
          background-color: $primary02-color;
          height: 50px;
        }
      }
      .bg-secondary{
        &01 {
          background-color: $secondary01-color;
          height: 50px;
        }
        &02 {
          background-color: $secondary02-color;
          height: 50px;
        }
        &03 {
          background-color: $secondary03-color;
          height: 50px;
        }
      }
      .bg-gradient {
        background: $gradient-left;
        height: 50px;
      }
    }

    ////////////////////////// FIM PALETA DE CORES

    ////////////////////////// INICIO TIPOGRAFIA
    .typography-section {
        .font-examples {
            span {
                display: block;
                &:nth-child(1) {
                    font-weight: 300;
                }
                &:nth-child(2) {
                    font-weight: 300;
                    font-style: italic;
                }
                &:nth-child(3) {
                    font-weight: 400;
                }
                &:nth-child(4) {
                    font-weight: 400;
                    font-style: italic;
                }
                &:nth-child(5) {
                    font-weight: 700;
                }
                &:nth-child(6) {
                    font-weight: 700;
                    font-style: italic;
                }
                &:nth-child(7) {
                    font-weight: 900;
                }
                &:nth-child(8) {
                    font-weight: 900;
                    font-style: italic;
                }
            }
        }
    }

    ///////////////////////// FIM TIPOGRAFIA

    //////////////////////// INICIO COMPONENTS
    .select-pre-built {
        width: 245px;
        height: 190px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        font-size: font-size(14px);
        color: $secondary02-color;

        .img-stack-component {
            background-image: url("/assets/images/svg/component-stack.svg");
            background-repeat: no-repeat;
            background-size: 50px 45px;
            width: 50px;
            height: 45px;
        }

        .title {
            font-size: font-size(19px);
            font-weight: 500;
        }

        .hidden-content {
            visibility: hidden;
        }
        

        &:hover {
            color: #06acd5;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 12px 0 rgba(187, 187, 187, 0.93);
            .img-stack-component {
                background-image: url("/assets/images/svg/component-stack-hover.svg");
            }
    
            .hidden-content {
                visibility: visible;
            }
        }
    }
    /////////////////////// FIM COMPONENTS
}
