// .term-operator-component {
//   text-align: center;
//   .header {
//     .icon {
//       .mat-icon {
//         width: 80.5px;
//         height: 80.5px;
//       }
//     }
//     .title {
//       font-size: font-size(25px);
//       font-weight: bold;
//       color: $secondary02-color;
//     }
//     .sub-title {
//       opacity: 0.7;
//       font-size: font-size(14px);
//       font-weight: bold;
//       color: $secondary02-color;
//       margin-top: 35px;
//       margin-bottom: 46px;
//     }
//   }
//   .m-check {
//     margin-bottom: 46px;
//     .check-term {
//       .desc {
//         font-family: $font-default;
//         font-size: font-size(14px);
//         color: $secondary02-color;
//       }
//     }
//   }
//   .buttons-term {
//     margin-top: 5px;
//     margin: 0 auto;
//     width: 487px;
//     .cancel-term {
//       button {
//         font-weight: 900;
//         font-size: font-size(20px);
//         float: left;
//         width: 223.5px;
//         height: 48.2px;
//         border: 2px solid $secondary04-color;
//         border-radius: 32px;
//         color: $secondary04-color;
//         background-color: transparent;
//         cursor: pointer;
//         margin: 10px;
//         &:hover {
//           background-color: $secondary04-color;
//           color: $white;
//         }
//         &[disabled] {
//           background-color: unset !important;
//           border: 2px solid $white !important;
//           color: $white !important;
//           opacity: 0.35;
//         }
//       }
//     }
//     .send-term {
//       button {
//         font-weight: 900;
//         font-size: font-size(20px);
//         width: 223.5px;
//         height: 48.2px;
//         border: 2px solid $gradient-buy-1;
//         border-radius: 32px;
//         color: $white;
//         background-color: $gradient-buy-1;
//         cursor: pointer;
//         float: left;
//         margin: 10px;
//         &:hover {
//           border: 2px solid $secondary04-color;
//           background-color: $secondary04-color;
//           color: $white;
//         }
//         &[disabled] {
//           // background-color: unset !important;
//           // border: 2px solid $white !important;
//           // color: $white !important;
//           opacity: 0.35;
//         }
//       }
//     }
//   }
// }
