.times-trades {
  color: $secondary02-color;

  .header-table {
    font-size: font-size(10px);
    font-weight: 900;
    position: fixed;
    width: calc(100% - 22px);
    left: 15px;
    z-index: 1;
    background-color: white;
    .line {
      display: flex;
      padding-top: 11px;
      padding-bottom: 5px;

      div {
        text-align: center;
        border-right: 1px solid rgba($secondary02-color, 0.2);
        &:last-child {
          border-right: unset;
        }
      }
    }
  }

  .closedMarket {
    text-align: center;
    padding-top: 151px;
  }

  .no-data-msg {
    text-align: center;
    padding-top: 164px;
  }

  .table-height {
    height: 334px;
    overflow-y: scroll;
  }

  table {
    width: 100%;
    font-size: font-size(12px);
    margin-top: 26px;

    .number-align {
      padding-right: 9.4px;
      text-align: right;
    }

    .hour-align {
      padding-right: 12px;
      width: 17.5%;
      max-width: 17.5%;
    }

    .price-align {
      text-align: right;
      padding-right: 11px;
      width: 14.9%;
      max-width: 14.9%;
    }

    .qtd-align {
      text-align: right;
      padding-right: 13px;
      width: 13.9%;
      max-width: 13.9%;
    }

    .buy-align {
      width: 17.7%;
      max-width: 17.7%;
      padding-right: 24px;
    }

    .sell-align {
      width: 18.2%;
      max-width: 18.2%;
      padding-right: 22px;
    }

    .agressor {
      width: 16.5%;
      max-width: 16.5%;
    }

    .letter-align {
      padding-left: 9.4px;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .aggressor {
      font-weight: bold;
      font-size: font-size(14px);
      line-height: 0.64;
    }

    thead {
      font-size: font-size(10px);
      line-height: 1;
      tr {
        th {
          color: $secondary02-color;
          text-align: center;
          border-right: 2px rgba($secondary02-color, 0.2) solid;
        }
        th:last-child {
          border-right: none;
        }
      }
    }
    tbody:before {
      content: "-";
      display: block;
      line-height: 1em;
      color: transparent;
    }
    td {
      text-align: center;
      height: 28.8px;
    }
    td:first-child,
    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5) {
      color: $row-color;
      font-weight: normal;
    }
  }
  .mat-form-field {
    .mat-form-field-infix {
      width: 100%;
      max-width: 180px;
    }
  }
  .title-item-grid {
    background-color: rgba($secondary11-color, 0.26);
    padding: 7px 10px;
    box-shadow: 0px 0px 1px #afaeae;
    span {
      font-family: $font-default;
      font-size: font-size(16px);
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: left;
      color: $secondary02-color;
    }
  }
  .icon-expand {
    float: right;
  }

  .align {
    display: flex;
    align-items: center;

    .export {
      font-size: font-size(22px);
      margin-left: 4.5px;
    }

    .close-card {
      font-size: font-size(25px);
      margin-right: 4.5px;
      margin-bottom: 3px;
    }

    .chain {
      font-size: font-size(28px);
      margin-left: 4.5px;
      margin-right: 4.5px;
      margin-bottom: 3px;
    }
  }

  .last-trade {
    font-size: font-size(24px);
    font-weight: bold;
    text-align: right;
    span {
      font-size: font-size(24px);
    }
    .rs {
      font-size: font-size(10px);
    }
    .auction_hammer {
      margin-right: 8px;
      margin-bottom: -3px;
      .icon {
        width: 18px;
        height: 15px;
        vertical-align: 0;
        margin-right: 0px;
      }
    }
  }
  .variation {
    font-size: font-size(15px);
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    width: 91px;
    height: 23.1px;
    float: right;
    margin-right: 12px;
  }
  #input-times {
    input {
      font-size: font-size(25px);
      font-weight: bold;
      text-align: left;
    }
  }

  .spinner {
    padding-top: 30%;
  }
}

.darkTheme .times-trades {
  background-color: $dark-black-bg;
  color: $grey-font;
  th {
    color: $grey-font;
  }
  td:first-child,
  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5) {
    color: $dark-row-color;
  }
  .header-table {
    background-color: $dark-black-bg;
  }
}
