.update-signature {
  height: 100%;
  color: $secondary02-color;
  .center {
    text-align: center;
  }
  .row.justify-content-end {
    .close-btn {
      @include close-btn(22px, 22px);
      .text {
        width: 13px;
        height: 8px;
        font-size: font-size(11px);
        font-weight: 600;
        text-align: center;
        width: 100%;
      }
    }
  }
  .row.justify-content-start {
    padding-top: 0px !important;
    position: absolute;
    left: 91px;
    top: 46px; 
    .back-btn {
      @include close-btn(17px, 12px);
    }
  }
  .broker-modal-content {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 4%;
    text-align: left;
    .broker-modal-title {
      font-size: font-size(25px);
      font-weight: bold;
    }
    .broker-modal-subtitle {
      font-size: font-size(14px);
      margin: 15px 0 5% 0;
      line-height: 2;
      opacity: 0.7;
    }
    .broker-modal-email {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
     }
    .snack-bar-msg {
      margin-bottom: 50px;
    }
    form {
      margin-top: 37px;
      mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
        width: 380px;
        margin-bottom: 50px;
      }
    } 
    .error-forgot {
      font-size: font-size(25px) !important;
      line-height: 1.32;
      letter-spacing: normal;
      text-align: center;
      color: $secondary02-color;
      width: 445px;
      margin-left: -25px;
      .recover-error{
        width: 43.8px;
        height: 44.9px;
        display: inline-block;
        vertical-align: middle;
        color: $notification-error;
        border-color: $notification-error;
        background-image: url('/assets/images/svg/alert-error.svg');
        margin-right: 6px;
      }  
      div {
        &.title-error {
          color: $notification-error;
        }
      }
      .content {
        font-size: font-size(14px) !important;
        font-weight: normal !important;
        font-style: normal !important;
        font-stretch: normal !important;
        line-height: 1.36 !important;
        letter-spacing: normal !important;
        text-align: center !important;
        color: $secondary02-color !important;
        overflow: hidden !important;
        max-width: 472px;
        margin: 20px auto;
        margin-bottom: 50px !important;
      }
      .contact-error {
        width: 100%;
        text-align: center;
        >div {
          display: inline-block;
          text-align: center;
          box-sizing: border-box;
          width: 215px;
          height: 92px;
          margin-right: 12px;
          // background-color: $white;
          color: $secondary02-color;
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
          &:last-child {
            margin-right: 0px;
          }
          .block-box {
            display: table;
            margin: auto;
            box-sizing: border-box;
            padding-top: 12px;
            &.contact-link {
              color: $secondary02-color !important;
              font-size: font-size(14px);
              font-weight: bold;
              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .msg-error-one {
    margin-top: -23px !important;
  }
  .signature-success{
    margin-left: -34px;
    margin-top: 113px;
    width: 466px;
    text-align: center;
    .title {
      font-size: font-size(25px);
    }
    .sub-title {
      font-size: font-size(16px);
      color: $secondary02-color;
      margin-top: 7px;
      font-weight: normal;
    }
    .img {
      margin-top: 121px;
      margin-bottom: 20px;
    }
  }
  .button-submit {
    margin-left: -10px;
    .button-progress {
      transition: margin 0.3s ease-out;
      > button {        
        cursor: pointer;
        transition: 0.3s ease-out;       
        .mat-button-wrapper {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
        }
        &.fadeOut {
          width: 54px;
          left: calc(50% - 205px);
          .mat-button-wrapper {
            visibility: hidden;
          }
        }
        &.error {
          background: $error-color !important;
          .mat-button-wrapper {
            visibility: hidden;
          }
          &::before {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            display: block;
            position: absolute;
            left: 0;
            color: #fff;
            text-align: center;
            content: "close";
            width: 100%;
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: font-size(24px);
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
          }
        }
        &.success {
          .mat-button-wrapper {
            visibility: hidden;
          }
          &::before {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            display: block;
            position: absolute;
            left: 0;
            color: #fff;
            text-align: center;
            content: "done";
            width: 100%;
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: font-size(24px);
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            // display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
          }
        }
      }
      > div.change-signature {
        position: relative;
        width: 40px;
        left: 105px;
        top: 3rem;
      }
      > div.forgot-signature {
        position: relative;
        width: 40px;
        left: 45%;
        top: 5rem;
      }
    }
  }
  .forgot-signature {
    display: flex;
    font-size: font-size(12px);
    margin-top: -42px;
    margin-bottom: 24px;
    position: absolute;
    .error-msg {
      text-align: left;
      width: 177px;
    }
    .forgot {
      text-align: right;
      color: #0867c9;
      cursor: pointer;
      width: 202px;
    }
  }
}
.darkTheme {
  .update-signature  {
    color: $grey-font !important;
    background-color: $dark-black-bg !important;
    input {
      color: $grey-font !important;
      background-color: $dark-black-bg !important;
    }
    mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
      .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
        color: $grey-font !important;
      }
    }
    .error-forgot {      
      color: $grey-font !important;
      .recover-error{
        color: $grey-font !important;
      }  
      div {
        &.title-error {
          color: $grey-font !important;
        }
      }
      .content {
        color: $grey-font !important;
      }
      .contact-error {
        >div {
          color: $grey-font !important;
          .block-box {
            &.contact-link {
              color: $grey-font !important;
              }
            }
          }
        }
      }
  }
}

