.update-password {
  height: 100%;
  color: $secondary02-color;
  margin-top: -34px;
  .row.justify-content-end {
    .close-btn {
      @include close-btn(22px, 22px);
      .text {
        width: 13px;
        height: 8px;
        font-size: font-size(11px);
        font-weight: 600;
        text-align: center;
        width: 100%;
      }
    }
  }
  .broker-modal-content {
    margin-left: 5%;
    margin-top: -1%;
    margin-right: 4%;
    text-align: left;
    .broker-modal-title {
      font-size: font-size(25px);
      font-weight: bold;
    }
    .broker-modal-subtitle {
      font-size: font-size(14px);
      margin: 0px 0 -25px 0;
      line-height: 2;
      opacity: 0.7;
    }
    .snack-bar-msg {
      margin-bottom: 50px;
    }
    form {
      margin-top: 37px;
      mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
        width: 380px;
        margin-bottom: 50px;
      }
      .complexy-password {
        font-size: font-size(12px);
        line-height: 2;
        opacity: 0.6;
        margin-bottom: 20px;
        margin-top: -9px;
        .bold {
          font-weight: bold;
        }
        .valid {
          padding-left: 4px;
          font-weight: 600;
        }
      }
    }
    .strong-password {
      font-size: font-size(13px);
      opacity: 0.6;
      margin-bottom: 15px;
      .text-weak {
        font-weight: 600;
        color: $password-weak;
      }
      .text-medium {
        font-weight: 600;
        color: $password-medium;
      }
      .text-good {
        font-weight: 600;
        color: $password-good;
      }
      .text-strong {
        font-weight: 600;
        color: $password-strong;
      }
      .strong {
        min-height: 4px;
        max-width: 88px;
        margin-left: 16px;
        margin-bottom: 7px;
        text-align: center;
        color: $secondary02-color;
        background: $success;
      }
    }
  }
  .msg-error-one {
    margin-top: -23px !important;
  }
  .password-success {
    .title {
      margin-top: 190px;
      margin-left: -8px;
    }
    .img {
      text-align: center;
    }
  }
  .button-submit {
    margin-left: -10px;
    .button-progress {
      transition: margin 0.3s ease-out;
      > button {
        transition: 0.3s ease-out;
        .mat-button-wrapper {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
        }
        &.fadeOut {
          width: 54px;
          left: calc(50% - 205px);
          .mat-button-wrapper {
            visibility: hidden;
          }
        }
        &.error {
          background: $error-color !important;
          .mat-button-wrapper {
            visibility: hidden;
          }
          &::before {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            display: block;
            position: absolute;
            left: 0;
            color: #fff;
            text-align: center;
            content: "close";
            width: 100%;
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: font-size(24px);
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
          }
        }
        &.success {
          .mat-button-wrapper {
            visibility: hidden;
          }
          &::before {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            display: block;
            position: absolute;
            left: 0;
            color: #fff;
            text-align: center;
            content: "done";
            width: 100%;
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: font-size(24px);
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            // display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
          }
        }
      }
      > div {
        position: absolute;
        display: table;
        // margin-top: 40px;
        left: calc(50% - 103px);
        bottom: calc(50% - 202px);
      }
    }
  }
  .cursor {
    cursor: pointer !important;
  }
}
.darkTheme {
  .update-password {
    color: $grey-font !important;
    background-color: $dark-black-bg !important;
    input {
      color: $grey-font !important;
      background-color: $dark-black-bg !important;
    }
    mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
      .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
        color: $grey-font !important;
      }
    }
  }
}
