.user-menu-popup{
  opacity: 0;
  visibility: hidden;
  z-index: 998;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);


  > section{
    position: absolute;
    top: 63px;
    right: 150px;
    min-width: 320px;
    background: #FFF;
    display: table;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0,0,0,.5);

    > .row-menu-popup{
      float: right;
      margin-top: -11px;
      margin-right: 50px;
      display: block;
      width: 0;
      height: 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 11px solid $bg-color;
    }

    .header{
      background: $bg-color;
      border-radius: 5px 5px 0 0;
      padding: 20px;
      box-sizing: border-box;

      > h3{
        margin: 0;
      }

      > small{
        font-size: font-size(12px);
      }
    }
    .content{
      box-sizing: border-box;

      > ul{
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        > li {
          transition-duration: .3s;
          cursor: pointer;
          text-align: left;
          width: 100%;
          padding: 12px 20px;
          color: $primary02-color;
          outline: 0;

          > mat-icon {
            position: absolute;
            margin-left: -2px;
            margin-top: -4px;
          }
          > span {
            text-transform: none;
            padding-left: 34px
          }

          &:first-child{
            padding-top: 21px;
          }

          &:last-child{
            padding-bottom: 21px;
          }

          &:hover{
            background: rgba(0,0,0,.015);
          }

          &.disabled{
            pointer-events: none;
            cursor: default;
            opacity: .5;

            &:hover{ background: transparent }
          }
        }
      }
    }
  }
}
