$user-settings-container-box-shadow: rgba($black, 0.16);
$user-settings-perfil-kind-font: #ffaa00;

.user-settings-container {
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0 0 6px 0 $user-settings-container-box-shadow;

  .color-correction {
    .cls-1 {
      stroke-width: 0.2px;
    }
  }

  .user-perfil {
    background-color: $light-grey;
    color: $secondary02-color;
    align-items: center;
    display: flex;
    flex-flow: row;
    padding-bottom: 10px;

    .photo-container {
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 50%;
      box-shadow: 0px 0px 1px 0px rgba($black, 0.05);
      .user-photo {
        float: left;
        margin: 4px;

        .photo {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .user-name-perfil {
      .user-name {
        font-size: font-size(23px);
        font-weight: bold;
        margin-bottom: 3px;
      }

      .user-perfil-kind {
        font-size: font-size(12px);
        text-align: left;
        opacity: 0.77;

        .perfil-font {
          font-weight: 500;
          color: $user-settings-perfil-kind-font;
        }
      }
    }
  }

  .user-settings-body {
    display: flex;
    flex-flow: column;
    width: 100%;
    font-size: font-size(14px);
    color: $secondary02-color;

    .user-settings-icon {
      width: 17px;
      height: 17px;
      margin-right: 8px;
      margin-top: -10px;
    }

    .option-font-title {
      font-weight: bold;
      margin-right: 8px;
    }

    .dados-corretora {
      width: 100%;
      height: 156px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: left;
      padding: 0 30px;

      .horizontal-divider {
        height: 1px;
        width: 298px;
        margin: 0;
        padding: 0;
        background-color: rgba($user-settings-item-border, 0.17) !important;
      }
      .title {
        font-size: font-size(14px);
        font-weight: bold;
        text-align: left;
        height: 36px;
        width: 100%;
        margin-left: 40px;
        align-items: center;
        display: flex;
        color: $secondary03-color;
      }

      .item {
        width: 298px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bg-color;
        border-radius: 1px;
        cursor: pointer;
        padding: 0 10px;
        border: none !important;
      }

      .arrow-right {
        width: 7px;
        height: 12.3px;
        position: relative;
        top: -6px;
      }
    }

    .last-options {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      padding: 0 30px;
      padding-top: 30px;

      .last-options-item-size {
        width: 100%;
        height: 35px;

        .last-options-icon {
          width: 17px;
          height: 17px;
          margin-right: 15px;
        }
      }

      .theme {
        .toggle-option {
          opacity: 0.61;
          width: 70px;
          display: inline-block;
          margin-right: 25px;
        }
        .toggle-theme {
          .mat-slide-toggle-thumb {
            background-color: $user-settings-toggle-slide-thumb-off;
          }
        }
      }

      .last-options-details {
        cursor: pointer;
      }
    }

    .download-section {
      font-size: font-size(16px);
      font-weight: bold;
      background-color: rgba($light-grey, 0.21);
      padding: 20px 30px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;

      .img-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        a {
          color: unset !important;
          text-decoration: none;
        }

        img {
          width: 117px;
          height: 69px;
        }

        button {
          width: 140px;
          min-width: 140px;
          font-size: font-size(12px);
          font-weight: bold;
          height: 35px;

          mat-icon {
            height: 14px;
            width: 14px;
            right: -10px;
            top: -2px;
            position: relative;
          }
        }
      }
    }
  }
}

.darkTheme .user-settings-container {
  background-color: $dark-grey-bg;
  color: $grey-font;

  .user-settings-body {
    background-color: $dark-grey-bg;
    color: $grey-font;
    .last-options {
      .theme {
        .toggle-theme {
          .mat-slide-toggle-thumb {
            background-color: $secondary01-color;
          }
        }
      }
    }
  }
  .user-perfil,
  .dados-corretora .item {
    background-color: $deep-grey-bg;
    color: $grey-font;
  }
}
