.user-settings-dialog{

  .mat-dialog-container{
    background-color: transparent;
    box-shadow: none;
  }

  .user-settings-pop-up {

      .baloon {
        width: 324.3px;
        overflow: hidden;
        border-radius: 5px;
        // height: 376.5px;
      }

      .arrow-up {
        position: relative;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $light-grey;
        top: 1px;
        right: -205px;
      }
  }
}

.darkTheme .user-settings-dialog .arrow-up {
  border-bottom: 10px solid #2d3035;
}