// TITLE COLORS
$secondary17-color: #b1b2b3;
$secondary19-color: #888e9a;
$secondary20-color: #f23636;
$secondary21-color: #08c9c3;

$volume-at-price-period-active-background: rgba($secondary03-color, 0.46);
$volume-at-price-period-active-color: rgba($secondary02-color, 0.59);
$volume-at-price-period-inactive-background: rgba($secondary02-color, 0);
$volume-at-price-period-inactive-color: $secondary03-color;
$volume-at-price-min-max-color: rgba($black, 0.4);
$volume-at-price-linear-gradient-first-color: $gradient-buy-3;
$volume-at-price-linear-gradient-second-color: $gradient-sell-2;

$buy-aggressor-color: $gradient-buy-3;
$buy-aggressor-background-color: rgba($gradient-buy-3, 0.2);
$sell-aggressor-color: $gradient-sell-2;
$sell-aggressor-background-color: rgba($gradient-sell-2, 0.2);
$price-current-background-color: #d8dadd;
$price-low-background-color: rgba($gradient-buy-3, 0.2);
$price-open-background-color: rgba($secondary01-color, 0.2);
$price-close-background-color: rgba($secondary20-color, 0.2);
$price-adjustment-background-color: rgba($secondary21-color, 0.2);

.volumeAtPriceComponent {
  background-color: $white;
  .empty {
    margin-top: 100px;
    text-align: center;
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    .spinner {
      margin-top: 100px;
      margin-left: -4px;
    }
    .marketCloseMsg {
      padding-top: 100px;
      width: 100%;
      text-align: center;
    }
    .no-data-msg {
      padding-top: 113px;
      width: 100%;
      text-align: center;
    }
  }

  .header-table {
    font-size: font-size(10px);
    font-weight: 900;
    position: fixed;
    width: calc(100% - 35px);
    left: 15px;
    z-index: 1;
    background-color: white;
    .line {
      display: flex;
      padding-top: 9px;
      padding-bottom: 5px;

      .number {
        text-align: right;
        padding-right: 11.5px;
      }

      .letter {
        text-align: left;
        padding-left: 11.5px;
      }
    }
  }

  .price {
    width: 17%;
  }
  .volume {
    width: 23%;
    text-align: right;
    padding-right: 11px;
  }
  .bar {
    width: 42%;
    padding-left: 11px;
    padding-right: 8px;
  }
  .balance {
    width: 17%;
    text-align: right;
    padding-right: 12px;
  }

  th {
    font-weight: 900;
  }

  .priceLabel {
    width: 17%;
    border-right: 1px solid rgba($secondary02-color, 0.2);
    padding-left: 6px;
  }
  .volumeLabel {
    width: 23%;
    text-align: right;
    padding-right: 11px;
    border-right: 1px solid rgba($secondary02-color, 0.2);
  }
  .barLabel {
    width: 42%;
    padding-left: 11px;
    border-right: 1px solid rgba($secondary02-color, 0.2);
  }
  .balanceLabel {
    width: 17%;
    text-align: right;
    padding-right: 7px;
  }

  color: $secondary02-color;
  .col-12 {
    top: 18px;
    overflow-y: scroll;
    // height: 246px;
    height: 232px;
  }

  .title-item-grid {
    background-color: rgba($secondary11-color, 0.26);
    padding: 7px 0 0 10px;
    span {
      font-family: $font-default;
      font-size: font-size(16px);
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: left;
      color: $secondary02-color;
    }

    .align {
      display: flex;
      align-items: center;

      .export {
        font-size: font-size(22px);
        margin-left: 4.5px;
        margin-right: 4.5px;
      }

      .close-card {
        font-size: font-size(25px);
        margin-bottom: 3px;
      }

      .chain {
        font-size: font-size(28px);
        margin-left: 4.5px;
        margin-right: 4.5px;
        margin-bottom: 3px;
      }
    }
  }
  .last-trade {
    font-size: font-size(24px);
    font-weight: bold;
    text-align: right;
    span {
      font-size: font-size(10px);
      text-align: right;
    }
    .auction_hammer {
      margin-right: 8px;
      margin-bottom: 7px;
      .icon {
        width: 18px;
        height: 15px;
        vertical-align: 0;
        margin-right: 0px;
      }
    }
  }
  .div-min-max {
    font-size: font-size(10px);
    margin-bottom: 9.7px;
  }

  .variation {
    font-family: $font-default;
    font-size: font-size(15px);
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
    width: 91px;
    height: 23.1px;
    float: right;
  }
  .rectangle-active {
    float: left;
    width: 29.1px;
    height: 23.3px;
    background-color: $volume-at-price-period-active-background;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.5px;
    cursor: pointer;
  }
  .rectangle-inactive {
    float: left;
    width: 29.1px;
    height: 23.3px;
    margin-right: 3.5px;
    background-color: $volume-at-price-period-inactive-background;
    position: relative;
    cursor: pointer;
    color: $volume-at-price-period-inactive-color;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .period {
    width: 18px;
    height: 11px;
    font-size: font-size(9px);
    font-weight: 500;
    line-height: 1;
    text-align: center;
  }
  table {
    width: 100%;
    font-size: font-size(12px);
    overflow-y: scroll;

    thead {
      line-height: 1;
      tr {
        .number {
          text-align: right;
          padding-right: 11.5px;
        }

        .letter {
          text-align: left;
          padding-left: 11.5px;
        }

        th {
          border-right: 2px rgba($secondary02-color, 0.2) solid;
          color: $secondary02-color;
          height: 13px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          font-size: font-size(10px);
          font-weight: 900;
        }
        th:last-child {
          border-right: none;
        }
      }
    }
    tbody:before {
      content: "-";
      display: block;
      line-height: 1em;
      color: transparent;
    }

    .padding-number {
      padding-right: 11.5px;
      text-align: right;
    }

    .padding-letter {
      padding-left: 11.5px;
      text-align: left;
    }

    td {
      text-align: center;
      color: $row-color;
      height: 29px;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      font-size: font-size(12px);
    }
  }
  .bar-volume {
    position: relative;
    height: 12.5px;
    width: 100%;
    .bar-volume-buyer {
      position: absolute;
      height: 100%;
      top: 0%;
      background-color: $gradient-buy-3;
    }
    .bar-volume-seller {
      position: absolute;
      height: 100%;
      top: 0%;
      background-color: $gradient-sell-2;
    }
    .bar-volume-direct {
      position: absolute;
      height: 100%;
      top: 0%;
      background-color: $secondary17-color;
    }
    .bar-volume-undetermined {
      position: absolute;
      height: 100%;
      top: 0%;
      background-color: $secondary03-color;
    }
  }

  .margin-adjust-values {
    margin-bottom: -10px;
    margin-top: 10px;

    .div-min {
      color: $gradient-buy-3;
      font-family: $font-default;
      font-size: font-size(11px);
      font-weight: bold;
    }
    .div-max {
      color: $gradient-sell-2;
      font-family: $font-default;
      font-size: font-size(11px);
      font-weight: bold;
    }
  }

  .margin-adjust {
    margin-bottom: 3px !important;

    .pressure-graph {
      width: 100%;
      height: 11px;
      margin-top: 23px;
      font-size: font-size(12px);
      line-height: 22px;
      .title {
        color: $black;
        text-transform: uppercase;
        font-size: font-size(13px);
      }

      .graph {
        width: 100%;
        height: 11px;
        border-radius: 6px;
        .left {
          padding-left: 5px;
        }
        .right {
          float: right;
          padding-right: 5px;
        }
        .subtitle {
          width: 95%;
        }
        .purchase {
          float: left;
          width: 50%;
          margin-left: -1px;
          margin-top: -5px;
        }
        .sale {
          float: right;
          margin-top: -5px;
        }
      }
    }
  }

  .line-dynamic-blue {
    height: 8px;
    width: 138px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 12px;
    z-index: 999;
  }
  .price-current-color {
    padding-right: 11.5px;
    text-align: right;
    color: $secondary19-color !important;
    background-color: $price-current-background-color;
  }
  .price-high-color {
    padding-right: 11.5px;
    text-align: right;
    color: $gradient-sell-2 !important;
    background-color: rgba($gradient-sell-2, 0.2);
  }
  .price-low-color {
    padding-right: 11.5px;
    text-align: right;
    color: $gradient-buy-3 !important;
    background-color: rgba($gradient-buy-3, 0.2);
  }
  .price-close-color {
    padding-right: 11.5px;
    text-align: right;
    color: $secondary20-color !important;
    background-color: rgba($secondary20-color, 0.2);
  }
  .price-adjustment-color {
    padding-right: 11.5px;
    text-align: right;
    color: $secondary21-color !important;
    background-color: rgba($secondary21-color, 0.2);
  }
  .price-open-color {
    padding-right: 11.5px;
    text-align: right;
    color: $gradient-buy-3 !important;
    background-color: rgba($secondary01-color, 0.2);
  }
  .time-update {
    text-align: right;
    font-size: font-size(12px);
    width: 100%;
  }
}

.darkTheme .volumeAtPriceComponent {
  background-color: $dark-black-bg;
  color: $grey-font;
  th {
    color: $grey-font;
  }
  td {
    color: $dark-row-color;
  }
  .header-table {
    background-color: $dark-black-bg;
  }
}
