.gridster{
    background-color: $bg-color;

    .gridster-item{
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    }
}

.darkTheme .gridster{
    background-color: $deep-black-bg;
    .gridster-item {
        background-color: $dark-black-bg;
    }
}