$workspace-conf-modal-close-button-background: $white;
$workspace-conf-modal-pre-select-background-hover: rgba($white, 0.5);
$workspace-conf-modal-pre-select-box-shadow-hover: rgba($grey, 0.34);
@media (max-height: 740px) {
    .components-section {
        margin-bottom: 0px !important;
    }
}
.workspace-conf-modal {
    background-color: $background2;
    color: $secondary02-color;
    background-image: url('/assets/images/svg/ondas.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    max-width: 100vw !important;
    height: 100vh;
    width: 100vw;
    top: 0;
    mat-form-field {
        .mat-form-field-label {
            color: inherit;
        }
    }
    .mat-dialog-container {
        background: transparent;
    }
    .close-button {
        width: 60px;
        height: 60px;
        min-width: 60px;
        border: 0px;
        border-radius: 50%;
        right: 17px;
        top: 17px;
        position: absolute;
        background-color: inherit;
        color: inherit;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .button-text2 {
            font-size: font-size(11px);
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            letter-spacing: 0.2px;
            text-align: left;
            font-weight: 500;
        }
    }
    .close-button:hover {
        background-color: $workspace-conf-modal-close-button-background-hover;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        .title-text{
            font-size: font-size(17px);
            font-weight: bold;
            text-align: left;
        }
        .title-icon{
            width: 18px;
            height: 18px;
            margin-left: 12px;
            margin-top: -12px;
        }
    }
    .components-section {
        margin: 0 auto;
        max-width: 1280px;
        margin-bottom: 100px;
        .col-3 {
            display: flex;
            justify-content: center;
            mat-icon {
                width: 44px;
                height: 44px;
            }
            .title {
                margin-top: 0;
                font-size: font-size(19px);
                font-weight: 500;
            }
        }
    }
    .info-text {
        text-align: center;
        margin-top: 20px;
        font-size: font-size(16px);
        text-align: center;
        margin-bottom: 50px;
    }
    .info-text-bottom {
        font-size: font-size(16px);
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
    .buttons-section {
        margin-bottom: 140px;
        margin-top: 20px;
    }
    .input-title {
        justify-content: center;
        margin-bottom: 35px;
        .mat-form-field {
            display: unset;
            position: relative;
            font-size: font-size(33px);
            text-align: center;
            &.ng-untouched {
                .mat-form-field-wrapper {
                    opacity: 0.4;
                }
            }
        }
    }
    .select-pre-built {
        width: 100%;
        height: 208px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        font-size: font-size(14px);
        cursor: pointer;
        padding: 20px 15px;
        mat-icon {
            color: $white;
        }
        .hidden-content {
            visibility: hidden; 
        }
        &:hover, &.selected {
            background-color: $workspace-conf-modal-pre-select-background-hover;
            box-shadow: 0 0 12px 0 $workspace-conf-modal-pre-select-box-shadow-hover;            
            .hidden-content {
                visibility: visible;
            }    
            span {
                -webkit-transition: color .4s ease;
                -moz-transition: color .4s ease;
                -o-transition: color .4s ease;
                transition: color .4s ease;
                color: $primary02-color;
            }    
            .mat-icon {
                #people-gradient, #chart-gradient, #line-gradient, #component-gradient {
                    opacity: 1.0;
                }  
            }
        }
    }
}

.darkTheme .workspace-conf-modal {
    background-color: $dark-black-bg;
    color: $grey-font;
    h2 {
        color: $grey-font;    
    }
    .select-pre-built {     
        &:hover, &.selected {
            background-color: $black;
            opacity: 0.7;
        }
    }

    .close-button:hover {
      color: $white;
      background-color: $black;
      opacity: 0.7;
      
      >mat-icon{
        >svg{
          >path:first-child{
            fill: $white;
          }
        }
      }
    }
}
.btn-default-column {
    font-size: font-size(12px) !important;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
    color: #bec0c2;
    margin: 4px 12px 0px 3px;
    cursor: pointer;
}
.btn-default-column-rigth {
    font-size: font-size(12px) !important;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
    color: #bec0c2;
    margin: 4px 12px;
    border-right: 1px solid #bec0c2;
    padding-right: 15px;
    float: right;
    cursor: pointer;
}
