.worksheet-config-modal {
  .arrow-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $worksheet-config-background-color;
    top: 1px;
    left: 700px;
  }
  .arrow-down {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $worksheet-config-background-color;
    top: 0;
    left: 700px;
  }
  .ballon {
    background-color: $worksheet-config-background-color;
    padding: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  }
  .title {
    font-size: font-size(13px);
    font-weight: bold;
    padding-left: 15px;
    color: $secondary02-color;
  }
  .icon-close {
    float: right;
    cursor: pointer;
  }
  .btn-default-column {
    float: right;
    font-size: 10px;
    cursor: pointer;
  }
  .content {
    overflow: auto;
    height: 260px;
    font-size: font-size(12px);
    font-weight: 500;
    color: $secondary01-color;
  }
  .divider {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-top: 1px solid rgba($secondary02-color, 0.1);
  }
  .check-options {
    .mat-checkbox-layout {
      margin-bottom: 0;
    }
    .mat-checkbox-inner-container {
      height: 12px;
      width: 12px;
    }
    &.uncheck {
      color: $secondary03-color;
    }
    .mat-checkbox-frame {
      border-color: unset;
    }
  }
  .col-check {
    padding-left: 17px;
  }
}
.worksheet-config-modal-container{

  .mat-dialog-container{
    background-color: transparent;
    box-shadow: none;
  }
}
.worksheet-config-modal-backdrop {
  background: transparent;
}

.darkTheme .worksheet-config-modal {
  .ballon {
    background-color: $dark-black-bg;
    color: $grey-font;
  }
}
