$worksheet-remove-button-background-color: $error-color;
$worksheet-remove-button-color: $white;
$worksheet-remove-div-background-color: $white;
$worksheet-remove-div-color: $secondary01-color;
$worksheet-remove-checkbox-color: $secondary01-color;
$worksheet-config-background-color: $white;

.worksheet {
  height: 100%;
  .txt-left {
    justify-content: flex-start !important;
  }

  // .icon-height {
  //   height: 11px!important;
  // }

  .ag-theme-balham,
  .ag-theme-balham .ag-header {
    font-family: $font-default;
  }

  .container-fluid {
    height: calc(100% - 40px);
    padding-top: 3px;
    padding-right: 0;
    padding-left: 0;
    .row-content {
      height: 100%;
      width: calc(100% - 30px);
      margin-left: 15px;
      .col-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .title-item-grid {
    background-color: rgba($secondary11-color, 0.26);
    padding: 7px 10px;
    box-shadow: 0px 0px 1px #afaeae;
    margin-bottom: 4px;

    span {
      font-size: font-size(16px);
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: left;
      color: $secondary02-color;
      margin-right: 10px;
    }
  }
  .icon-expand {
    float: right;

    .align {
      padding-bottom: 5px;

      .search {
        font-size: font-size(23px);
        margin-left: 4.5px;
      }
      .close-card {
        font-size: font-size(25px);
      }
      .reorder {
        font-size: font-size(24px);
        margin-left: 4.5px;
        margin-right: 4.5px;
      }
      .delete {
        font-size: font-size(23px);
      }
      .export {
        font-size: font-size(22px);
        margin-left: 4.5px;
        margin-right: 4.5px;
      }
    }
  }

  table {
    width: 100%;
    line-height: 2;

    thead {
      line-height: 1;
      tr {
        font-size: font-size(11px);
        font-weight: 900;
        color: $secondary02-color;
        th {
          text-align: center;
        }
      }
    }
    tbody {
      td {
        font-size: font-size(11px);
        font-weight: normal;
        text-align: center;
        .buy {
          color: $gradient-buy-3;
          border: solid 1px $gradient-buy-3;
          border-radius: 20px;
          &:hover {
            color: white;
            background-color: $gradient-buy-3;
            cursor: pointer;
          }
        }
        .sell {
          color: $gradient-sell-2;
          border: solid 1px $gradient-sell-2;
          border-radius: 20px;
          &:hover {
            color: white;
            background-color: $gradient-sell-2;
            cursor: pointer;
          }
        }
      }
    }
  }
  .high-color {
    color: $high-variation-color;
  }
  .low-color {
    color: $low-variation-color;
  }

  &.new-window {
    table {
      thead {
        line-height: 1;
        tr {
          font-size: font-size(16px);
          font-weight: 900;
          color: $secondary02-color;
          th {
            text-align: center;
          }
        }
      }
      tbody {
        td {
          font-size: font-size(18px);
          font-weight: normal;
          text-align: center;
        }
      }
    }
  }
  .add-button {
    position: absolute;
    bottom: -3px;
    right: 5px;
    button {
      height: 25px !important;
      width: 25px !important;
      font-size: 28px !important;
      &[mat-mini-fab] {
        box-shadow: none;
        .mat-button-wrapper {
          position: absolute !important;
          top: -7.5px;
          left: 6.1px;
          font-family: "Courier New", Courier, monospace;
          font-size: 24px;
        }
      }
    }
  }

  table {
    .mat-form-field {
      margin-right: 15px !important;
      .mat-form-field-infix {
        width: 100% !important;
        border-top: none !important;
        padding: 0 !important;
        input {
          font-size: font-size(18px) !important;
        }
        .mat-form-field-label-wrapper {
          top: -8px !important;
        }
      }
    }
    .company {
      display: none;
    }
  }
  .div-remove {
    margin-bottom: -10px;
  }
  .selected-row {
    background-color: rgba($secondary02-color, 0.3) !important;
  }

  mat-form-field.mat-form-title {
    .mat-form-field-ripple {
      background-color: $secondary02-color !important;
    }
    &.ng-valid {
      color: $secondary02-color !important;
      .mat-form-field-ripple {
        background-color: $secondary02-color !important;
      }
      .mat-form-field-wrapper {
        width: 320px;
        padding-bottom: 0;
        .mat-form-field-underline {
          width: 320px;
          display: none;
        }
      }
    }
    line-height: 1.4 !important;
    .mat-form-field-infix {
      border-top: none !important;
      padding: 0 !important;
      input {
        color: $secondary02-color !important;
        font-weight: 900 !important;
        text-transform: uppercase;
      }
    }
  }
  .div-new-input {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    right: -40%;
    transition: 200ms ease-out;
    .autoComplete {
      div:first-child {
        background-color: white;
        box-shadow: 1px 1px 8px #888888;
      }
    }
  }
  .div-new-input.show-input {
    right: 40px;
    opacity: 1;
  }
  .input-filter {
    width: 0px;
    opacity: 0;
    transition: 200ms ease-out;
    visibility: hidden;

    .company {
      display: none;
    }
    .mat-form-field-infix {
      padding-top: 0 !important;
      border-top: unset;
      margin-top: 8px;
    }
    .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper {
      top: -1.6em !important;
    }
    .mat-form-field-label {
      margin-top: 7px;
    }
    input {
      font-size: font-size(18px);
    }
    .autoComplete {
      .row {
        margin-left: 0;
        margin-right: -25px;
      }
    }
    .mat-form-field-wrapper .mat-form-field-underline {
      bottom: 5px !important;
      width: 120px;
    }
    .invalid {
      display: none;
    }
  }
  .input-filter.open {
    width: 115px;
    opacity: 1;
    visibility: visible;
    margin-left: 5px;
  }
  .close-filter {
    font-size: font-size(17px);
    z-index: 0;
    opacity: 0;
    margin-right: -25px;
    transition: 200ms ease-out;
  }
  .close-filter.open {
    margin-right: 0;
    z-index: 1;
    opacity: 1;
    margin-left: -10px;
  }

  .buy-renderer {
    height: 25px;
    width: 80px;
    border: 1px solid $gradient-buy-3;
    border-radius: 12px;
    color: $gradient-buy-3;
    animation-name: flash-grid-buy;
    animation-duration: 1s;
    margin-left: 25px;
    cursor: pointer;
    margin: 0 auto;
    span {
      top: -2px;
      position: relative;
    }

    &.disabled {
      opacity: 0.3 !important;
    }
  }
  .sell-renderer {
    height: 25px;
    width: 80px;
    border: 1px solid $gradient-sell-2;
    border-radius: 12px;
    color: $gradient-sell-2;
    animation-name: flash-grid-sell;
    animation-duration: 1s;
    margin-left: 25px;
    cursor: pointer;
    margin: 0 auto;
    span {
      top: -2px;
      position: relative;
    }

    &.disabled {
      opacity: 0.3 !important;
    }
  }
  .high-color {
    color: $high-variation-color;
  }
  .low-color {
    color: $low-variation-color;
  }
  .weight-500 {
    font-weight: 500;
  }
  .launch-icon,
  .reorder-icon,
  .close-icon,
  .delete-icon {
    z-index: 2;
  }
  &.new-window {
    background: $white;
    .container-fluid {
      padding-left: 38px;
    }
    .input-filter {
      .autoComplete {
        mat-form-field {
          position: fixed;
        }
      }
    }
    .row-content {
      width: calc(97% + 37px);
      margin-left: -24px;
    }
    .row-btns {
      padding-top: 0;
      mat-icon {
        svg path {
          stroke: $secondary02-color;
        }
      }
      .close-btn {
        path {
          stroke: transparent;
        }
      }
    }
  }
  .spinner {
    #spinner-center {
      margin-top: 15%;
      margin-left: 42% !important;
    }
  }
  .loading {
    z-index: 1;
    position: absolute;
    left: 42%;
    top: 45%;
  }

  ag-grid-angular {
    .autoComplete {
      input {
        font-size: font-size(13px);
      }
      .mat-form-field-label {
        display: none;
      }
    }
    .ag-header {
      background-color: unset !important;
      border-bottom: unset !important;
      min-height: 35px !important;
      .ag-header-row {
        .ag-header-cell {
          &:not(.txt-left) {
            .ag-cell-label-container {
              .ag-header-cell-text {
                margin: auto;
              }
            }
          }
          .ag-header-select-all {
            &.ag-hidden {
              + .ag-cell-label-container {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .ag-cell-wrapper {
      height: 100%;
      width: 100%;
      .ag-row-drag {
        margin-left: 20px;
        margin-right: -30px;
      }
    }
    .ag-root {
      border: unset !important;

      .ag-overlay {
        .ag-overlay-panel {
          .ag-overlay-no-rows-center {
            font-size: font-size(16px);
          }
        }
      }
    }
    .ag-header-cell-label {
      width: 100% !important;
      .ag-header-icon.ag-filter-icon {
        display: none;
      }
    }
    .ag-icon-desc,
    .ag-icon-asc {
      height: 90% !important;
    }
    .ag-row-selected {
      background-color: rgba($secondary02-color, 0.3) !important;
    }
    .ag-cell-focus {
      border: unset !important;
    }
    .ag-row {
      border-bottom-color: unset !important;
      border-bottom: unset !important;
      .ag-cell-focus {
        border: 1px solid transparent !important;
      }
      &:hover {
        .positive-renderer,
        .negative-renderer {
          span {
            font-weight: bold;
          }
        }
      }
    }
    .ag-selection-checkbox span {
      float: left;
      top: 5px;
    }
    .ag-header-select-all {
      margin-left: 2px;
      span {
        margin-top: -5px;
        margin-left: -1px;
      }
    }
    .autoComplete {
      .mat-form-field-infix {
        padding-top: 16px !important;
      }
      padding-left: 2px;
    }
    &.uncheck {
      .ag-row {
        .ag-selection-checkbox {
          transition: 250ms ease-out;
          opacity: 0;
        }
      }
      .ag-row:hover {
        .ag-selection-checkbox {
          opacity: 1;
        }
      }
    }
  }

  .remove-asset {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 17px;
  }
  .remove-div {
    position: absolute;
    opacity: 0;
    left: -100%;
    width: 96.5%;
    z-index: 5;
    margin-top: -3px;
    height: 48px;
    background-color: $worksheet-remove-div-background-color;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
    transition: 200ms ease-out;
  }
  .remove-div.show {
    opacity: 1;
    left: 15px;
  }
  .remove-btn {
    background-color: $worksheet-remove-button-background-color;
    float: right;
    width: 20%;
    height: 100%;
  }
  .row-remove {
    height: 100%;
    margin: 0;
  }
  .btn-rem {
    transition: 0.2s;
    cursor: pointer;
    background-color: $worksheet-remove-button-background-color;
    font-size: font-size(13px);
    font-weight: bold;
    color: $worksheet-remove-button-color;
    padding: 10px;
    text-align: center;
    &:hover {
      box-shadow: 0px 0px 10px rgba($black, 0.3);
    }
  }
  .delete-icon-white {
    height: 14px;
    width: 15px;
    svg {
      margin-top: -4px;
    }
  }
  .col-data-remove {
    padding: 7px 10px;
    color: $worksheet-remove-div-color;
    font-size: font-size(13px);
    font-weight: bold;
  }
  .chk-delete {
    &.mat-checkbox-checked,
    &.mat-checkbox-indeterminate {
      .mat-checkbox-inner-container {
        margin-left: 4px;
        margin-right: 13px;
        height: 11px;
        width: 11px;
        margin-bottom: 7px;
        .mat-checkbox-background {
          background-color: unset !important;
          svg path {
            // stroke: #1b99e7 !important;
            stroke: $worksheet-remove-checkbox-color !important;
          }
        }
        .mat-checkbox-frame {
          border-color: $worksheet-remove-checkbox-color;
        }
        .mat-checkbox-mixedmark {
          background-color: $worksheet-remove-checkbox-color;
          width: 60%;
        }
      }
      .mat-checkbox-layout .mat-checkbox-label {
        line-height: 27px;
      }
    }
  }
  .positive-renderer {
    animation-name: flash-grid-positive;
    animation-duration: 1s;
    text-align: center;
  }
  .negative-renderer {
    animation-name: flash-grid-negative;
    animation-duration: 1s;
    text-align: center;
  }
  .icon-edit {
    width: 18px;
    height: 21px;
    border-bottom: 1px solid;
    svg {
      padding-bottom: 3px;
    }
  }
  .span-title {
    margin-right: 10px;
  }
  .row-btns {
    align-items: center;
    mat-icon {
      z-index: 1;
    }
    .btn-add {
      width: 122px;
      height: 25px;
      border-radius: 13px;
      font-weight: bold;
      font-size: font-size(10px);
      color: $secondary02-color;
      background: unset;
      border: 1px solid $secondary02-color;
      cursor: pointer;
      mat-icon {
        margin-left: 0px;
        margin-right: 2px;
        width: 9.9px;
        color: $secondary02-color;
      }
    }
  }
  .worksheet-close {
    position: relative;
    top: -2px;
    width: 17px;
    height: 17px;
  }
  .row-even {
    background-color: $ag-grid-odd-row-bg;
  }
}

.darkTheme .worksheet {
  background-color: $dark-black-bg;
  color: $grey-font;
  .add-icon {
    > svg {
      > g {
        > path {
          fill: $grey-font;
          stroke: $grey-font;
        }
      }
    }
  }

  .color-autocomplete .autoComplete .active {
    color: $secondary02-color;
  }

  .ag-theme-balham {
    background-color: $dark-black-bg;
    color: $grey-font;
  }

  .col-data-remove {
    background-color: $grey-font;
  }

  .ag-row,
  .ag-header-row {
    background-color: $dark-black-bg;
    color: $grey-font;
    .autoComplete .active {
      color: $secondary02-color;
    }
    .autoComplete .svg-stroke {
      stroke: $secondary02-color !important;
    }

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
      color: $grey-font;
    }
  }
  .row-btns {
    .btn-add {
      color: $grey-font;
    }
  }
}
