.youtube-live {
  .header {
    background: $primary01-color;
    background-image: $header-gradient-right;
    box-shadow: 0 3px 10px 0 rgba($black, 0.16);
    padding: 10px 10px 10px 20px;
    color: $white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

    .icon-div {
      mat-icon {
        width: 18px;
        cursor: pointer;
        
        &:first-child {
          margin-right: 10px;
        }

        svg path:first-child {
          fill: white;
        }
      }
    }

    .youtube-icon {
      background-color: #f23658;
      width: 28px;
      height: 20px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;

      div {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 7px solid white;
      }
    }
  }

  .content-body {
    display: flex;
    justify-content: space-around;
    height: calc(80vh - 45px);
    padding: 4% 2%;
  }
}

.darkTheme .youtube-live {
  background-color: $dark-black-bg;
  color: $grey-font;

  .header {
    background: $primary01-color;
    background-image: $shadow-gradient;  
    color: $grey-font;    
    background-color: $dark-black-bg;
  }
}