/*  TEXTS */
$prefix: 'fc-stone';
$font-default: 'Ropa';

/*  OTHERS */

/*  COLORS */
$gradient-1:  #1f2a5c;
$gradient-2:  #607c8b;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);

$primary01-color: #001C55;
$primary01-hover-color: #1f2a5c;
$primary01-disabled-color: #f1f1f1;

$primary02-color: #1B438B;
$primary02-hover-color: #0558ae;
$primary02-disabled-color: #2d578d;

$secondary01-color: #2d578d;
$secondary02-color: #596377;
$secondary03-color: #BEC0C2;
$secondary04-color: #2d578d;

$default-color: $primary02-color;
$default-hover-color: $primary02-hover-color;
$default-disabled-color: $primary02-disabled-color;

$bg-color: #f1f1f1;

$header-gradient01-color: #1f2a5c;
$header-gradient02-color: #607c8b;
$header-gradient03-color: #35406d;
$header-gradient-right: linear-gradient(to right, $header-gradient01-color, $header-gradient02-color);
$header-gradient-right-filter: linear-gradient(to right, $header-gradient03-color, $header-gradient02-color);