<div (window:beforeunload)="ngOnDestroy()" class="volumeAtPriceComponent">
  <div class="component-header">
    <span>VOLUME POR PREÇO</span>
    <div class="icons">
      <!-- <mat-icon svgIcon="chain"></mat-icon> TODO adicionar quando funcionalidade estiver implementada -->
      <mat-icon *ngIf="!newWindow" svgIcon="expand" (click)="openNewWindow()"></mat-icon>
      <mat-icon *ngIf="!newWindow" svgIcon="close" (click)="removeItemFromWorkspace()"></mat-icon>
    </div>
  </div>

  <div class="container-fluid gridster-item-content">
    <div class="component-input-header">
      <div class="asset-form-field">
        <div>
          <div>
            <app-auto-complete [symbolAutoComplete]="symbol" (onsymbolChanged)="selectAsset($event)"
              [autoSizeActive]="true"></app-auto-complete>
            <div [hidden]="hiddenInvalid" class="company m-company">{{ company }}</div>
          </div>
        </div>
      </div>
      <div class="price-div" [hidden]="hiddenInvalid">
        <div class="price">
          <div class="last-trade">
            <!-- <div class="last-trade" [ngClass]="{'2':'red-font', '1':'green-font', '0':''}[style]"> -->
            <!-- <span class="rs" *ngIf="lastTrade && !indiceFuture">R$</span> -->
            <span class="auction_hammer" *ngIf="auctionHammer">
              <mat-icon class="icon" svgIcon="auction_hammer"></mat-icon>
            </span>
            <span class="last">{{ !lastTrade ? '-' : lastTrade }}</span>
          </div>
          <div [ngClass]="{'size-box color-red' : variation < 0,
              'size-box color-green' : variation > 0,
              'size-box color-grey' : variation === 0}">
            <div *ngIf="!showVariation && !messageQuote.dateLastNegotiation">
              {{ messageQuote.hourLastTrade ? messageQuote.hourLastTrade : messageQuote.timeUpdate }}
            </div>
            <div *ngIf="!showVariation && messageQuote.dateLastNegotiation">
              {{ messageQuote.dateLastNegotiation }}
            </div>
            <div *ngIf="showVariation">
              {{variation > 0 ? '+' : ''}} {{variation ? (variation/100 | percent:'1.2':'pt') : '' }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="invalid" [hidden]="!hiddenInvalid">{{ msgInvalidAsset }}</div>

    <mat-divider></mat-divider>

    <div class="pressure-bar-container">
      <div class="boxes-container">
        <div class="grey-box">
          mínimo:&nbsp;<b>{{ messageQuote.low ? messageQuote.low : '0' }}</b>
        </div>
        <div class="grey-box">
          máximo:&nbsp;<b>{{ messageQuote.high ? messageQuote.high : '0' }}</b>
        </div>
        <div class="time-update">
          <div>Última Atualização</div>
          <div>{{ timeUpdate ? timeUpdate : '-' }}</div>
        </div>
      </div>

      <div class="pressure-bar" [style.background]="classPressure"></div>

      <div class="volume-container">
        <span>{{ percentageBuy/100 | percent:'1.2':'pt' }}</span>
        <span>{{ percentageSell/100 | percent:'1.2':'pt' }}</span>
      </div>

      <mat-divider class="mat-divider-arrow"></mat-divider>
    </div>
    <div *ngIf="hiddenInvalid" class="no-data-msg">{{ msgNoData }}</div>
    <div *ngIf="!hiddenInvalid">
      <div class="row pl-1">
        <div *ngFor="let item of period"
          [ngClass]="{'rectangle-active' : item.selected, 'rectangle-inactive' : !item.selected}"
          (click)="onChangePeriod(item)">
          <div class="period">
            {{ item.description }}
          </div>
        </div>
      </div>

      <div *ngIf="loading" class="spinner">
        <app-spinner-loading></app-spinner-loading>
      </div>
      <!--TABLE-->
      <div *ngIf="!loading" class="row">
        <div class="header-table">
          <div class="line">
            <th class="priceLabel">PREÇO</th>
            <th class="volumeLabel">VOLUME</th>
            <th class="barLabel">BARRA DE VOLUME</th>
            <th class="balanceLabel">SALDO</th>
          </div>
        </div>
        <div class="col-12">
          <div class="empty" *ngIf="showEmpty">Não há dados do ativo.</div>
          <table class="table-striped table-hovered">
            <tbody>
              <tr *ngFor="let row of rowOffersData; let index=index;">
                <td (mouseenter)="mouseEnterBrokerRow()" (mouseleave)="mouseLeaveBrokerRow()"
                  class="price letter-align tooltip-cell {{row.class}}">
                  <span style="left: 20px;"
                    [ngStyle]="{'margin-top' : tooltiphover ? '3px' : '-10px'}">{{ row.price }}</span>
                  <div *ngIf="tooltiphover" matTooltipPosition="above" matTooltip="{{row.tooltipTitle}}"></div>
                </td>
                <td class="volume padding-number">{{ row.totalVolume }}</td>
                <td class="bar">
                  <div class="bar-volume" [style.width]="((row.totalVolumeUnformatted * 100) / maxVolume) + '%'">
                    <div class="bar-volume-buyer" [ngStyle]="row?.classBarVolumeWidthOfBuyer">
                    </div>
                    <div class="bar-volume-seller" [ngStyle]="row?.classBarVolumeWidthOfSeller">
                    </div>
                    <div class="bar-volume-direct" [ngStyle]="row?.classBarVolumeWidthOfDirect">
                    </div>
                    <div class="bar-volume-undetermined" [ngStyle]="row?.classBarVolumeWidthOfUndetermined">
                    </div>
                  </div>
                </td>
                <td class="balance padding-number"
                  [ngClass]="{'balance-positive': row.balance > 0, 'balance-negative': row.balance < 0}">{{row.balance
                  | number:'1.2-2':'pt'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div (window:beforeunload)="closeSheet()"></div>