<div class="auth-broker">
  <div class="box-auth">

    <div class="broker-modal-title">Autenticar com sua corretora</div>
    <div class="broker-modal-subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in ante varius, semper erat at, iaculis ligula.
      Fusce pulvinar odio non elit.
    </div>

    <div class="broker-modal-form">
      <form name="form" class="form" (ngSubmit)="brokerForm.form.valid && brokerServiceLogin()" #brokerForm="ngForm"
        novalidate>

        <mat-form-field class="mat-dialog-content">
          <input name="searchText" [(ngModel)]="model.broker" type="text" placeholder="Qual é sua corretora?" matInput
            [matAutocomplete]="auto" required #broker="ngModel" maxlength="255" ondragstart="return false;" ondrop="return false;"
            (keypress)="onKeyPressLetter($event)">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let item of brokers" value="{{item.company}}">
              <mat-icon svgIcon="{{ item.icon }}" matPrefix></mat-icon>{{item.company}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="broker.invalid">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-dialog-content">
          <mat-icon svgIcon="user" matPrefix></mat-icon>
          <input matInput placeholder="Usuário" autocomplete="username" name="username" [(ngModel)]="model.username"
            #username="ngModel" required maxlength="255" ondragstart="return false;" ondrop="return false;">
          <mat-icon *ngIf="username.touched && username.valid" matSuffix class="valid">done</mat-icon>
          <mat-icon *ngIf="username.touched && username.invalid" matSuffix class="invalid">clear</mat-icon>
          <mat-error *ngIf="username.invalid">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-dialog-content">
          <mat-icon matPrefix class="md-18 pr-2">lock</mat-icon>
          <input [type]="showpassword ? 'text' : 'password'" matInput placeholder="Digite sua senha" autocomplete="password"
            name="password" [(ngModel)]="model.password" #password="ngModel" required maxlength="255" ondragstart="return false;"
            ondrop="return false;">
          <mat-icon (click)="togglePassword()" matSuffix class="opac05">{{ icon }}</mat-icon>
          <mat-error *ngIf="password.invalid">Campo obrigatório</mat-error>
        </mat-form-field>

        <div class="forgotPass">
          <span href="#">esqueci minha senha</span>
        </div>

        <div class="button-submit">
          <div class="button-progress">
            <div id="spinnerDiv" *ngIf="!isUserLogged && loading" [ngClass]="{ 'fadeIn': loading, 'fadeOut': !loading }"
              class="animated">
              <mat-spinner diameter="38" color="primary02"></mat-spinner>
            </div>
            <button [ngClass]="{ 'fadeIn': !loading, 'fadeOut': loading, 'error': brokerForm.form.invalid && brokerForm.touched && broker.invalid && username.invalid && password.invalid, 'success': !loading && isUserLogged }"
              mat-raised-button color="primary01" class="animated" type="submit" (click)="brokerServiceLogin()"
              [disabled]="loading || brokerForm.form.invalid || broker.invalid || username.invalid || password.invalid">
              ENTRAR
            </button>
          </div>
        </div>

      </form>
    </div>



  </div>
</div>



<!-- <div class="auth-broker">

  <div class="broker-modal-content">
    <div class="broker-modal-title">Autenticar com sua corretora</div>
    <div class="broker-modal-subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in ante varius, semper erat at, iaculis ligula.
      Fusce pulvinar odio non elit.
    </div>
    <div class="snack-bar-msg">
      <div #error></div>
    </div>

    <form name="form" class="form" (ngSubmit)="brokerForm.form.valid && brokerServiceLogin()" #brokerForm="ngForm"
      novalidate>

      <mat-form-field class="userinput not-icon">
        <input name="searchText" [(ngModel)]="model.broker" type="text" placeholder="Qual é sua corretora?" matInput
          [matAutocomplete]="auto" required #broker="ngModel" maxlength="255" ondragstart="return false;" ondrop="return false;">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let item of brokers" value="{{item}}">{{item}}</mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="broker.invalid">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="userinput">
        <mat-icon svgIcon="user" matPrefix></mat-icon>
        <input matInput placeholder="Usuário" autocomplete="username" name="username" [(ngModel)]="model.username"
          #username="ngModel" required maxlength="255" ondragstart="return false;" ondrop="return false;">
        <mat-icon *ngIf="username.touched && username.valid" matSuffix class="valid">done</mat-icon>
        <mat-icon *ngIf="username.touched && username.invalid" matSuffix class="invalid">clear</mat-icon>
        <mat-error *ngIf="username.invalid">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="userinput">
        <mat-icon matPrefix class="md-18 pr-2">lock</mat-icon>
        <input [type]="showpassword ? 'text' : 'password'" matInput placeholder="Digite sua senha" autocomplete="password"
          name="password" [(ngModel)]="model.password" #password="ngModel" required maxlength="255" ondragstart="return false;"
          ondrop="return false;">
        <mat-icon (click)="togglePassword()" matSuffix class="opac05">{{ icon }}</mat-icon>
        <mat-hint align="end" class="mt-1 forgotPass">
          <span href="#">esqueci minha senha</span>
        </mat-hint>
        <mat-error *ngIf="password.invalid">Campo obrigatório</mat-error>
      </mat-form-field>

      <button [disabled]="loading || !model.password || !model.username" mat-raised-button class="lg" *ngIf='!loading'>
        Entrar
      </button>
      <div class="spinner" *ngIf="loading">
        <app-spinner-loading></app-spinner-loading>
      </div>
    </form>
  </div>
</div> -->