@font-face {
  font-family: RopaSansPro;
  src: url('/assets/styles/fonts/ropa-sans/italic/RopaSansPro-Italic.eot');
  src: url('/assets/styles/fonts/ropa-sans/italic/RopaSansPro-Italic.woff2') format('woff2'),
       url('/assets/styles/fonts/ropa-sans/italic/RopaSansPro-Italic.woff') format('woff'),
       url('/assets/styles/fonts/ropa-sans/italic/RopaSansPro-Italic.ttf') format('truetype'),
       url('/assets/styles/fonts/ropa-sans/italic/RopaSansPro-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

