.app-login {
  overflow: hidden;
  background-color: $white;
  height: 100%;
  @media only screen and (max-width: 1279px) {
    display: none;
  }
  .cursor {
    cursor: pointer;
  }
  .phone-broker {
    z-index: 1;
    font-size: font-size(12px);
    position: absolute;
    bottom: 69px;
    right: 0px;
    border-radius: 28px;
    padding: 3px 27px;
    color: $white;
    background: $gradient-right;
    max-width: 190px;
    border: 2px solid #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    .phone-icon {
      padding-top: 6px;
      margin-left: -15px;
      .mat-icon {
        float: left;
      }
    }
  }
  .align-items-center {
    height: calc(100vh - 14px);
    overflow: auto;
  }
  .spinner-login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -26px;
    margin-top: -18px;
  }
  .logo {
    // width: 360px;
    // height: 61px;
    height: 105px;
    background-image: url("/assets/images/clients/"+$prefix+"/logo.png");
    background-repeat: no-repeat;
    // margin-bottom: 36px;
    // margin-left: -21px;
    margin-top: 116px;
    img {
      width: 50%;
    }
  }

  .button-progress {
    position: relative;
    display: flex;
    margin: 0;
    min-width: 254px;
    width: 0;
    -webkit-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    > button {
      position: absolute;
      left: 0;
      width: 100%;
      -webkit-transition: 0.3s ease-out;
      transition: 0.3s ease-out;
      min-width: 0;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      justify-content: center;

      .mat-button-wrapper {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
      }

      &.fadeOut {
        width: 54px;
        left: calc(50% - 27px);

        .mat-button-wrapper {
          visibility: hidden;
        }
      }

      &.error {
        background: $error-color !important;

        .mat-button-wrapper {
          visibility: hidden;
        }

        &::before {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          display: block;
          position: absolute;
          content: "close";
          width: 100%;
          font-family: "Material Icons";
          font-weight: normal;
          font-size: font-size(24px);
          text-transform: none;
          font-feature-settings: "liga";
          -webkit-font-smoothing: antialiased;
        }
      }

      &.success {
        .mat-button-wrapper {
          visibility: hidden;
        }

        &::before {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          display: block;
          position: absolute;
          content: "done";
          width: 100%;
          font-family: "Material Icons";
          font-weight: normal;
          font-size: font-size(24px);
          text-transform: none;
          font-feature-settings: "liga";
          -webkit-font-smoothing: antialiased;
        }
      }
    }

    > div {
      position: absolute;
      display: table;
    }
  }
  .row {
    height: 100%;
  }

  h1 {
    height: 36px;
    font-size: font-size(25px);
  }

  h2 {
    height: 71px;
    font-size: font-size(16px);
    opacity: 0.7;
    font-weight: normal;
    font-style: normal;
    max-width: 400px;
    &.double-auth {
      height: 35px;
      margin-bottom: 15px !important;
    }
  }

  .subTitle-ranking {
    margin-bottom: 50px !important;
  }

  .userinput {
    margin-bottom: 50px;
    display: block;
    &.login-user-input {
      margin-bottom: 0px;
    }

    label {
      color: $secondary02-color;
    }
    .mat-icon {
      color: $secondary02-color;
      &.invalid {
        color: $error;
      }
      &.valid {
        color: $success;
      }
      &.opac05 {
        opacity: 0.5;
      }
    }
  }

  .forgot {
    float: right;
    color: $primary02-color;
    text-decoration: none;
    margin-bottom: 50px;
    cursor: pointer;
  }

  .buttonLogin {
    margin-left: -15px;
    .mat-icon {
      color: $white;
    }
  }
  .bg-ranking {
    background: url("/assets/images/clients/"+$prefix+"/Onboarding_01.png") center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    display: inline-block !important;
    height: 100vh !important;
    background-size: cover !important;
    cursor: pointer;
  }
  .carousel-inner {
    .slide1 {
      // background-image: url('/assets/images/clients/'+$prefix+'/Onboarding_01.png') center center no-repeat;
      background: url("/assets/images/clients/"+$prefix+"/Onboarding_01.png") center center no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100% !important;
      display: inline-block !important;
      height: 100vh !important;
      background-size: cover !important;
    }

    .slide2 {
      background: url("/assets/images/clients/"+$prefix+"/Onboarding_02.png") center center no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100% !important;
      display: inline-block !important;
      height: 100vh !important;
      background-size: cover !important;
    }

    .slide3 {
      background: url("/assets/images/clients/"+$prefix+"/Onboarding_03.png") center center no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100% !important;
      display: inline-block !important;
      height: 100vh !important;
      background-size: cover !important;
    }
  }
  .mat-form-field-label-wrapper {
    overflow: visible;
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px) translateX(-30px) !important;
  }

  .snack-bar-msg {
    transition: 0.3s;
    position: relative;
    height: 0;
    visibility: hidden;
    opacity: 0;
    &.active {
      height: 75px;
      opacity: 1;
      visibility: visible;
    }
  }
  .spinner {
    #spinner-center {
      margin-left: 15%;
    }
  }

  .forgot-passwd {
    color: $secondary02-color;

    &.login-user-input {
      text-align: right;
      padding-top: 1rem;
      position: relative;
      padding-bottom: 30px;

      > span {
        cursor: pointer;
        color: $secondary02-color;
        font-size: font-size(12px);
        opacity: 0.8;
        position: absolute;
        top: 7px;
        right: 0px;
      }
    }
  }

  .new-account {
    margin-top: 27px;
    font-size: font-size(14px);
    margin-left: 1px;
    color: rgba($secondary02-color, 0.7);
    a {
      text-decoration: none;
      color: $secondary02-color !important;
      cursor: pointer;
      opacity: 0.6;
      font-weight: bold;
    }
  }
  .new-account-ranked {
    margin-top: 90px;
    .text {
      font-size: font-size(14px);
      font-weight: 500;
      color: rgba($secondary02-color, 0.7);
    }
    .link {
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      color: $secondary05-color;
      padding: 10px 20px;
      border: 1px solid $secondary05-color;
      border-radius: 28px;
      cursor: pointer;
    }
  }
  .no-padding {
    padding-right: 0px !important;
  }
  .cvm-message {
    font-size: font-size(12px);
    text-align: center;
    opacity: 0.7;
    font-weight: normal;
    font-style: normal;
    max-width: 400px;
    margin-top: 30px;
    .logo-cvm {
      // float: left;
      img {
        max-width: 190px;
        max-height: 50px;
        margin: 14px;
        cursor: pointer;
      }
    }
    .browser {
      svg {
        width: 16px;
      }
    }
  }
  .complexy-password {
    font-size: font-size(12px);
    line-height: 2;
    opacity: 0.6;
    margin-bottom: 20px;
    margin-top: -9px;
    color: $secondary02-color;
    .bold {
      font-weight: bold;
    }
    .valid {
      padding-left: 4px;
      font-weight: 600;
    }
  }
}
.darkTheme .userinput {
  color: $secondary02-color;
}
