.app-recover-password {
  border-radius: 25px;
  .phone-broker {
    z-index: 1;
    font-size: font-size(12px);
    position: absolute;
    bottom: 69px;
    right: 0px;
    border-radius: 28px;
    padding: 3px 27px;
    color: $white;
    background: $gradient-right;
    max-width: 190px;
    border: 2px solid #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    .phone-icon {
      padding-top: 6px;
      margin-left: -15px;
      .mat-icon {
        float: left;
      }
    }
  }
  .close-btn {
    // @include close-btn();
    // margin-right: -20px;
    position: absolute;
    top: 11px;
    right: 31px;
    margin-right: -20px;
  }
  .send-icon {
    display: block;
    width: 96px;
    height: 92px;
    margin: 0 auto;
  }
  .mat-dialog-title {
    font-size: font-size(25px) !important;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #596377;
  }
  .mat-dialog-content {
    font-size: font-size(14px) !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.36 !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #596377 !important;
    margin-bottom: 22px !important;
    opacity: 0.5 !important;
    form {
      margin-top: 37px;
      mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
        width: 380px;
      }
    }
  }
  .mat-dialog-actions {
    float: inherit !important;
    .button-submit {
      margin: 0 auto;
    }
  }
  .button-submit {
    margin-left: -10px;
    .button-progress {
      transition: margin 0.3s ease-out;
      > button {
        transition: 0.3s ease-out;
        .mat-button-wrapper {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
        }
        &.fadeOut {
          width: 54px;
          left: calc(50% - 205px);
          .mat-button-wrapper {
            visibility: hidden;
          }
        }
        &.error {
          background: $error-color !important;
          .mat-button-wrapper {
            visibility: hidden;
          }
          &::before {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            display: block;
            position: absolute;
            left: 0;
            color: #fff;
            text-align: center;
            content: "close";
            width: 100%;
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: font-size(24px);
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
          }
        }
        &.success {
          .mat-button-wrapper {
            visibility: hidden;
          }
          &::before {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            display: block;
            position: absolute;
            left: 0;
            color: #fff;
            text-align: center;
            content: "done";
            width: 100%;
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: font-size(24px);
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            // display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
          }
        }
      }
      > div {
        position: absolute;
        display: table;
        // margin-top: 40px;
        left: calc(50% - 103px);
        bottom: calc(50% - 202px);
      }
    }
  }
}
.msg-error-one {
  margin-top: -33px !important;
  font-size: font-size(12px) !important;
  color: #f44336;
  margin-bottom: 15px;
}
.msg-error-two {
  margin-top: 0px !important;
  font-size: font-size(12px) !important;
  color: #f44336;
}
