@import "./../../variables.scss";
@import "./../../core/clients/um/varables.scss";

/*  TEXTS */
$prefix: 'um';
$font-default: "Roboto";
$font-rate: 1;
$border-radius: 28px;

/* GRADIENT COLORS */

$gradient-1:  #192649;
$gradient-2:  #305b7a;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);
$gradient-right: linear-gradient(to right, $gradient-2, $gradient-1);

$gradient-sell-1: #f06666;
$gradient-sell-2: #e24545;
$gradient-sell-left:  linear-gradient(to left, $gradient-sell-2, $gradient-sell-1);
$gradient-sell-right:  linear-gradient(to left, $gradient-sell-1, $gradient-sell-2);

$gradient-buy-1: #6298d5;
$gradient-buy-2: #427ab9;
$gradient-buy-3: $gradient-buy-1;
$gradient-buy-left: linear-gradient(to left, $gradient-buy-2, $gradient-buy-1);

$header-gradient01-color: #20567e;
$header-gradient02-color: #192649;
$header-gradient-right: linear-gradient(to right, $header-gradient01-color, $header-gradient02-color);
// STYLEGUIDE COLORS

$primary01-color: #1f4b72;
$primary02-color: #06acd5;

$secondary01-color: #338fd4;
$secondary02-color: #596377;
$secondary03-color: #bec0c2;
$secondary04-color: $primary02-color;
$secondary10-color: $primary01-color;

$bg-color: #E6E3DF;
$executed: $gradient-sell-1; 