<div class="times-trades" (window:beforeunload)="ngOnDestroy()" [ngClass]="{'new-window' : newWindow}">

  <div class="component-header">
    <span>NEGÓCIOS REALIZADOS</span>
    <div class="icons">
      <!-- <mat-icon svgIcon="chain"></mat-icon> TODO adicionar quando funcionalidade estiver implementada -->
      <mat-icon *ngIf="!newWindow" svgIcon="expand" (click)="openNewWindow()"></mat-icon>
      <mat-icon *ngIf="!newWindow" svgIcon="close" (click)="removeItemFromWorkspace()"></mat-icon>
    </div>
  </div>

  <div class="container-fluid gridster-item-content">

    <div class="component-input-header">
      <div class="asset-form-field">
        <div>
          <app-auto-complete [symbolAutoComplete]="symbol" id="input-times" (onsymbolChanged)="selectAsset($event)"
            [autoSizeActive]="true"></app-auto-complete>
          <div [hidden]="hiddenInvalidActive" class="company m-company">{{ company }}</div>
        </div>
      </div>
      <div class="price-div" [hidden]="hiddenInvalidActive">
        <div class="price">
          <div class="last-trade">
            <!-- <div class="last-trade" [ngClass]="{'2':'red-font', '1':'green-font', '0':''}[style]"> -->
            <!-- <span class="rs" *ngIf="!indiceFuture">R$</span> -->
            <span class="auction_hammer" *ngIf="auctionHammer">
              <mat-icon class="icon" svgIcon="auction_hammer"></mat-icon>
            </span>
            <span class="last">{{ messageQuote.lastTrade }}</span>
          </div>
          <div [ngClass]="{'size-box color-red' : messageQuote.variation < 0,
              'size-box color-green' : messageQuote.variation > 0,
              'size-box color-grey' : messageQuote.variation === 0}">
            <div *ngIf="!showVariation && !messageQuote.dateLastNegotiation">
              {{ messageQuote.hourLastTrade ? messageQuote.hourLastTrade : messageQuote.timeUpdate }}
            </div>
            <div *ngIf="!showVariation && messageQuote.dateLastNegotiation">
              {{ messageQuote.dateLastNegotiation }}
            </div>
            <div *ngIf="showVariation">
              {{messageQuote.variation > 0 ? '+' : ''}} {{messageQuote.variation/100 | percent:'1.2':'pt' }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="invalid" [hidden]="!hiddenInvalidActive">{{ msgInvalidAsset }}</div>

    <mat-divider></mat-divider>
    <div class="pressure-bar-container">
      <div class="boxes-container">
        <div class="grey-box">
          mínimo:&nbsp;<b>{{ messageQuote.low ? lowOptimized : '0' }}</b>
        </div>
        <div class="grey-box">
          máximo:&nbsp;<b>{{ messageQuote.high ? highOptimized : '0' }}</b>
        </div>
        <div class="grey-box">
          negócios:&nbsp;<b>{{ messageQuote.quantity ? quantityOptimized : '0' }}</b>
        </div>
      </div>
    </div>

    <div class="spinner" *ngIf='loading'>
      <app-spinner-loading></app-spinner-loading>
    </div>


    <div class="row" *ngIf='!loading && !hiddenInvalidActive'>
      <div class="col-12 table-height">

        <div class="header-table">
          <div class="line">
            <div class="number-align" style="width: 17.5%; max-width: 17.5%;">HORAS</div>
            <div class="number-align" style="width: 14.9%; max-width: 14.9%;">PREÇO</div>
            <div class="number-align" style="width: 13.9%; max-width: 13.9%;">QTD</div>
            <div class="letter-align" style="width: 17.7%; max-width: 17.7%;">COMPR.</div>
            <div class="letter-align" style="width: 16.4%; max-width: 16.4%;">VEND.</div>
            <div class="number-letter" style="width: 18.2%; max-width: 18.2%;">AGRESSOR</div>
          </div>
        </div>
        <div class="no-data-msg" *ngIf="hiddenInvalidActive">{{ msgNoData }}</div>
        <div class="closedMarket" *ngIf="showEmpty && !hiddenInvalidActive">{{ msgEmpty }}</div>
        <table class="table-striped table-hovered" *ngIf="!showEmpty">
          <tbody>
            <tr *ngFor="let row of rowOffersData let index=index;">
              <td class="hour-align">{{ row.time | date:'HH:mm:ss' }}</td>
              <td class="price-align">{{ row.price }}</td>
              <td class="qtd-align">{{ row.quantity }}</td>
              <td (mouseenter)="mouseEnterBrokerRow()" (mouseleave)="mouseLeaveBrokerRow()"
                class="buy-align tooltip-cell">
                <span [ngStyle]="{'margin-top' : tooltiphover ? '6px' : '-7px'}">{{ row.buy_short }}</span>
                <div *ngIf="tooltiphover" matTooltipPosition="above" matTooltip="{{row.buy}}"></div>
              </td>
              <td (mouseenter)="mouseEnterBrokerRow()" (mouseleave)="mouseLeaveBrokerRow()"
                class="sell-align tooltip-cell">
                <span [ngStyle]="{'margin-top' : tooltiphover ? '6px' : '-7px'}">{{ row.sell_short }}</span>
                <div *ngIf="tooltiphover" matTooltipPosition="above" matTooltip="{{row.sell}}"></div>
              </td>
              <td class="agressor {{row.class}}">{{ row.going_for_growth }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div (window:beforeunload)="closeSheet()"></div>