<div class="worksheet" (window:beforeunload)="ngOnDestroy()" [ngClass]="{'new-window' : newWindow}" #worksheet>

  <div class="component-header">
    <div>
      <span class="span-title" *ngIf="!editTitleFlag" (dblclick)="toggleEditTitle()">{{title}}</span>
      <mat-form-field class="mat-form-title" *ngIf="editTitleFlag">
        <input maxlength="30" matInput #inputTitle (blur)="checkTitle()" (keyup.enter)="checkTitle()" matInput
          [(ngModel)]="titleInput">
      </mat-form-field>
      <mat-icon svgIcon="close" class="pointer worksheet-close" *ngIf="editTitleFlag" (click)="toggleEditTitle()">
      </mat-icon>
      <mat-icon class="icon-edit pointer" svgIcon="edit-outline" *ngIf="!editTitleFlag" (click)="toggleEditTitle()">
      </mat-icon>
    </div>


    <div class="icons">
      <div class="row m-0 row-btns">
        <button *ngIf="!newWindow" class="btn-add" (click)="addNew()">
          <mat-icon svgIcon="more" class="icon-options icon-height enlarge icon-order-two reply add-icon"
            title="ADICIONAR ATIVO"></mat-icon>
          ADICIONAR ATIVO
        </button>
        <mat-icon svgIcon="search" (click)="openFilter()"></mat-icon>
        <app-auto-complete #inputFilter id="input-filter" class="input-filter" [autoFocus]="true"
          (keyup)="keyup($event)" (onsymbolChanged)="symbolChanged($event)" [ngClass]="{'open': filterOn}">
        </app-auto-complete>
        <mat-icon svgIcon="close" class="close-filter" (click)="closeFilter()" [ngClass]="{'open': filterOn}">
        </mat-icon>
        <mat-icon svgIcon="filter" (click)="openConfig($event)"></mat-icon>
        <mat-icon *ngIf="!newWindow" svgIcon="expand" (click)="openNewWindow()"></mat-icon>
        <mat-icon *ngIf="!newWindow" class="close-btn" svgIcon="close" (click)="removeGrid()"></mat-icon>
      </div>
    </div>

  </div>

  <div class="container-fluid  gridster-item-content">
    <div class="loading" *ngIf="loading">
      <div>
        <app-spinner-loading class="spinner"></app-spinner-loading>
      </div>
    </div>

    <div class="remove-div" [ngClass]="{'show': checkedItems || checkIndeterminate}">
      <div class="row row-remove">
        <div class="col-9 col-data-remove">

          <mat-checkbox class="chk-delete" [(ngModel)]="checkedItems" [(indeterminate)]="checkIndeterminate"
            labelPosition="after" (change)="changeCheck($event)">
            {{lengthChecked + (lengthChecked > 1 ? ' ATIVOS SELECIONADOS' : ' ATIVO SELECIONADO')}}
          </mat-checkbox>
        </div>
        <div class="col-3 btn-rem" (click)="onRemoveSelected()">
          <mat-icon class="pointer delete-icon-white" svgIcon="delete-white"></mat-icon>
          Excluir ativos
        </div>
      </div>
    </div>
    <div class="row row-content">
      <div class="col-12">
        <ag-grid-angular #agGrid [ngClass]="{'uncheck': !checkedItems && !checkIndeterminate}" class="ag-theme-balham color-autocomplete"
          style="width: 100%;height: 100%;" [gridOptions]="gridOptions" [enableSorting]="true" [rowData]="rowData"
          [columnDefs]="columnDefs" [rowSelection]="rowSelection" [rowClassRules]="rowClassRules"
          [suppressRowClickSelection]="true" [enableCellChangeFlash]="false" [deltaRowDataMode]="true"
          [animateRows]="true" [defaultColDef]="defaultColDef" (cellClicked)='onCellClicked($event)'
          (gridReady)="onGridReady($event)" (cellValueChanged)="onCellValueChanged($event)"
          (selectionChanged)="onSelectionChanged($event)" (cellMouseOver)="onCellHover($event)"
          (cellMouseOut)="onCellOut($event)" (cellEditingStarted)="editingStarted($event)"
          (cellEditingStopped)="editingStopped($event)">
        </ag-grid-angular>
        <!-- [deltaRowDataMode]=true -->
        <!-- [stopEditingWhenGridLosesFocus]="true" -->
      </div>
    </div>
  </div>
  <!-- <div class="div-new-input" [ngClass]="{'show-input' : newAsset}" >
    <app-auto-complete [symbolAutoComplete]="newSymbol" [autoFocus]="true" (onsymbolChanged)="selectEdit($event)"></app-auto-complete>
  </div> -->
  <!-- <div class="add-button">
    <button mat-mini-fab (click)="addNew()">+</button>
  </div> -->
  <div (window:beforeunload)="closeSheet()"></div>
</div>