/* TEXTS */
$prefix: 'default';
$font-default: 'Calibri';

/* OTHERS */
$white: #FFF;
$dark-white: #FAFAFA;
$darken-white: #F8F8F8;
$transparent: transparent;

/* TOAST COLORS */
$success: #63B500;
$error: #F55D52;
$warn: #FF791E;
$info: #267ED6;

/* Password Strong */
$password-weak: #f55d52;
$password-medium: #ff791e;
$password-good: #4d4289;
$password-strong: #63B500;

/*  COLORS */
$gradient-1:  rgb(30, 30, 39);
$gradient-2:  rgb(54, 61, 80);
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);

$primary01-color: rgb(44, 49, 62);
$primary01-hover-color: rgb(49, 53, 63);
$primary01-disabled-color: rgb(56, 57, 61);

$primary02-color: rgb(30, 30, 39);
$primary02-hover-color: rgb(34, 34, 43);
$primary02-disabled-color: rgb(39, 39, 43);

$secondary01-color: #6e6159;
$secondary02-color: #b5ada6;
$secondary03-color: #d6d1cc;
$secondary04-color: #63b500;

$default-color: grey;
$default-hover-color: rgb(121, 121, 121);
$default-disabled-color: rgb(151, 151, 151);

$bg-color: rgb(241, 241, 241);
$dark-color: #252525;