<div class="normal-modal-component">
  <div class="close-btn">
    <mat-icon (click)="closeClick()" svgIcon="close"></mat-icon>
  </div>
  <div mat-dialog-title>{{ data.title }}</div>
  <div mat-dialog-content>
    <span [innerHtml]="data.body"></span>


    <div class="spinner" style="margin-top: 35px;" *ngIf="data.isHistoryOrderWSO2 && loadingConfirmation">
      <app-spinner-loading></app-spinner-loading>
    </div>

    <div class="signature-confirm" *ngIf="data.isHistoryOrderWSO2 && !loadingConfirmation">
      <div class="signature">
        <div>
          <mat-form-field appearance="fill"
            [ngClass]="{'signature-input': validSignature, 'signature-input-invalid': !validSignature}">
            <mat-label>Assinatura eletrônica</mat-label>
            <input matInput placeholder="Assinatura eletrônica" type="text" minlength="6" maxlength="6"
              [(ngModel)]="signature" ondragstart="return false;" (keydown.enter)="validateSignatureValid(signature)"
              (blur)="validateSignatureValid(signature)" ondrop="return false;" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="forgot-signature">
          <span>esqueci minha senha</span>
        </div>
      </div>
    </div>


  </div>
  <div mat-dialog-actions>
    <span class="cancel" (click)="closeClick()">Cancelar</span>
    <button mat-raised-button color="primary02" class="sm" (click)="redirect()"
      [disabled]="data.isHistoryOrderWSO2 && !validSignature">Confirmar</button>
  </div>
</div>