<div class="orders-history-detail">
  <div class="aligner">
    <div class="row m-0 detail-body">
      <div class="col-6 first-block">
        <div class="first-line">
          <div class="first-line-info">
            <div class="id">ID: &nbsp;
              <b>{{dataOrder.orderID}}</b>
            </div>
            <div class="estrategiaValidade">
              <div class="div-space">Estratégia:
                <b>{{dataOrder.orderStrategy}}</b>
              </div>
              <div>Validade:
                <b>{{dataOrder.timeInForce == 'GTD' ? dataOrder.maturity : dataOrder.timeInForce}}</b>
              </div>
            </div>
            <div class="vertical-divider"></div>
            <div class="qtdAparenteMinima">
              <div class="div-space">Qtd Aparente:
                <b>{{dataOrder.maxFloor ? dataOrder.maxFloor : '-'}}</b>
              </div>
              <div class="div-space">Qtd Mínima:
                <b>{{dataOrder.minQty ? dataOrder.minQty : '-'}}</b>
              </div>

            </div>
          </div>
          <div class="first-line-rotulo">
            <b>Rótulo:</b> &nbsp;{{dataOrder.orderTag}}
          </div>
        </div>

        <div class="second-line">
          <div class="half-content">
            <div class="preco">P. de disp. de ganho:
              <b>&nbsp;{{futureIndice || dataOrder.priceStopGain === '' ? '' : 'R$ '}}
                {{dataOrder.priceStopGain === '' ? '-' : dataOrder.priceStopGain | number}}</b>
            </div>
            <div class="preco">P. de disp. de perda:
              <b>&nbsp;{{futureIndice || dataOrder.priceStop === '' ? '' : 'R$ '}}
                {{dataOrder.priceStop === '' ? '-' : dataOrder.priceStop | number}}</b>
            </div>
          </div>
          <div class="half-content">
            <div class="preco">P. de limite de ganho:
              <b>&nbsp;{{futureIndice || dataOrder.price2 === '' ? '' : 'R$ '}}
                {{dataOrder.price2 === '' ? '-' : dataOrder.price2 | number}}</b>
            </div>
            <div class="preco">P. de limite de perda:
              <b>&nbsp;{{futureIndice || dataOrder.price === '' ? '' : 'R$ '}}
                {{dataOrder.price === '' ? '-' : dataOrder.price | number}}</b>
            </div>
          </div>
        </div>
        <div class="third-line">
          <b>Motivo da rejeição:&nbsp;</b> {{dataOrder.text}}</div>
      </div>
      <div class="col-5 second-block">
        <div class="blue-text">
          Histórico de Atualizações
        </div>
        <div class="table-header">
          <div class="letter-align" style="width: 35%;">
            <span>Status</span>
          </div>
          <div class="number-align" style="width: 15.5%;">
            <span>Exec.</span>
          </div>
          <div class="number-align" style="width: 15.5%;">
            <span>Restante</span>
          </div>
          <div class="date-align" style="width: 33%;">
            <span>Data e Hora</span>
          </div>
        </div>
        <div class="tableDiv">

          <table *ngIf="!loading">
            <ng-template ngFor let-element [ngForOf]="listHistoryOrder" let-i="index">
              <tr>
                <td style="width: 35%;" class="letter-align">{{element.state.value}}</td>
                <td style="width: 15.5%;" class="number-align">{{element.quantityExecuted.value}}</td>
                <td style="width: 15.5%;" class="number-align">{{element.quantityRemaining.value}}</td>
                <td style="width: 33%;" class="date-align">{{element.transactTime.value}}</td>
              </tr>
            </ng-template>
          </table>

          <app-spinner-loading *ngIf='loading'></app-spinner-loading>
        </div>
      </div>
    </div>
  </div>
</div>