.h100 { height: 99.90% !important; }

.w100 { width: 100% !important; }

.pointer{ cursor: pointer !important; }

.w100 { width: 100% !important; }

.txt{
  &-right{ text-align: right !important; }
  &-left{ text-align: left !important; }
  &-center{ text-align: center !important; }
  &-justify{ text-align: justify !important; }
}

.f{
  &-left{ float: left !important; }
  &-right{ float: right !important; }
  &-none{ float: none !important; }
}

.d{
  &-none { display: none; }
  &-block { display: block; }
  &-inline-block { display: inline-block; }
  &-table { display: table; }
  &-table-cell { display: table-cell; }
  &-inline-flex { display: inline-flex; }
}

.m-auto{ margin: auto !important; }
.m-0auto{ margin: 0 auto !important; }

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.675em 0;
}
.mat-form-field-flex {
    padding-left: 10px;
}
.mat-form-field-infix input {
    margin-bottom: 1px;
}

.opct-hover{
  opacity: .9;
  &:hover{ opacity: 1; }

  &-8 { opacity: .8; &:hover{ opacity: 1; } }
  &-7 { opacity: .7; &:hover{ opacity: 1; } }
  &-6 { opacity: .6; &:hover{ opacity: 1; }}
  &-5 { opacity: .5; &:hover{ opacity: 1; } }
  &-4 { opacity: .4; &:hover{ opacity: 1; } }
  &-3 { opacity: .3; &:hover{ opacity: 1; } }
  &-2 { opacity: .2; &:hover{ opacity: 1; } }
  &-1 { opacity: .1; &:hover{ opacity: 1; } }
}

.no-results{
  display: table;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: font-size(15px);
  font-style: italic;
  padding: 28px 20px 25px 20px;
  background: #F8F8F8;
  color: $primary02-color;

  > div {
    display: table;
    margin: auto;

    > span {
      margin-top: -3px;
      display: block;
      float: left;
      font-style: normal;
      font-family: 'Material Icons';
      font-size: font-size(24px);
      padding-right: 5px;

      &::before {
        content: 'search';
      }
    }
  }
}

.pointer-events-disabled {
  pointer-events: none;
}
.pointer-events-enabled {
  pointer-events: auto;
}

.font{
  &-normal { font-weight: normal; }
  &-bold { font-weight: bold; }
  &-bolder { font-weight: bolder; }
}
