@keyframes flash-grid-buy {
  0%   {background-color: $gradient-buy-3;
        color: white;
       }
}
@keyframes flash-grid-sell {
  0%   {background-color: $gradient-sell-2;
        color: white;
       }
}
@keyframes flash-grid-positive {
  0%   {background-color: rgba($high-variation-color, 0.5);
       }
}
@keyframes flash-grid-negative {
  0%   {background-color: rgba($low-variation-color, 0.5);
       }
}
@keyframes flash-red-light {
  0% {
    background: rgba(255,8,0,1);
    box-shadow: 
    0px 0px 0px 5px rgba(rgba(255,8,0,1), 0.1), 
    0px 0px 0px 8px rgba(rgba(255,8,0,1), 0.0)
  }
  100% {
    background: rgba(255,8,0,1);
    box-shadow: 
    0px 0px 0px 5px rgba(rgba(255,8,0,1), 0.4), 
    0px 0px 0px 8px rgba(rgba(255,8,0,1), 0.3)
  }
}
@keyframes add-component-animation {
  100% {
    transform: translate3d(35vw, 25vh, 0);
  }
}