$cancel-color: #acb1bb;

.mat-modal {
  &-normal {
    &.cdk-overlay-pane > mat-dialog-container {
      padding: 33px 45px;

      [mat-dialog-title] {
        font-size: font-size(30px);
        font-weight: bold;
        color: $secondary02-color;
      }

      [mat-dialog-content] {
        font-size: font-size(16px);
        color: $secondary03-color;
        margin-bottom: 45px;
      }

      [mat-dialog-actions] {
        font-size: font-size(16px);
        color: $secondary03-color;
        float: right;
        margin-bottom: -10px;

        span.cancel {
          padding: 0 20px;
          color: $cancel-color;
          font-size: font-size(16px);
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  &-fullheight {
    height: 100%;
    &.cdk-overlay-pane {
      .mat-dialog-container {
        padding: 40px;
        text-align: center;
        .right-bar {
          position: absolute;
          right: 0px;
          width: 353px;
          height: 100vh !important;
          overflow: hidden;
          background-color: black;
        }

        [mat-dialog-title] {
          font-size: font-size(30px);
          font-weight: bold;
          color: $secondary02-color;
        }

        [mat-dialog-content] {
          font-size: font-size(16px);
          color: $secondary03-color;
        }

        [mat-dialog-actions] {
          font-size: font-size(16px);
          color: $secondary03-color;
          float: right;

          span.cancel {
            padding: 0 20px;
            color: $cancel-color;
            font-size: font-size(16px);
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }

  &-centered {
    &.cdk-overlay-pane > mat-dialog-container {
      display: flex;
      text-align: center;
      padding: 45px;
      padding-top: 20px;
      flex-flow: column;

      [mat-dialog-title] {
        font-size: font-size(30px);
        font-weight: bold;
        color: $secondary02-color;
      }

      [mat-dialog-content] {
        font-size: font-size(16px);
        color: $secondary03-color;
      }
    }
  }
}

.fullscreen {
    max-width: 100vw !important;
}

.darkTheme {
  .mat-modal {
    &-fullheight,
    &-normal,
    &-centered {
      .mat-dialog-container {
        color: $grey-font;
        background-color: $dark-black-bg;
      }
    }
  }
}
