// PADDINGS
.p{
  &-0{ padding: 0 !important; }
  &-025{ padding: .25rem !important; }
  &-05{ padding: .5rem !important; }
  &-1{ padding: 1rem !important; }
  &-2{ padding: 1.5rem !important; }
  &-3{ padding: 2rem !important; }
  &-4{ padding: 2.5rem !important; }
  &-5{ padding: 3rem !important; }
  &-6{ padding: 3.5rem !important; }
  &-7{ padding: 4rem !important; }

  &t{
    &-0{ padding-top: 0 !important; }
    &-025{ padding-top: .25rem !important; }
    &-05{ padding-top: .5rem !important; }
    &-1{ padding-top: 1rem !important; }
    &-2{ padding-top: 1.5rem !important; }
    &-3{ padding-top: 2rem !important; }
    &-4{ padding-top: 2.5rem !important; }
    &-5{ padding-top: 3rem !important; }
    &-6{ padding-top: 3.5rem !important; }
    &-7{ padding-top: 4rem !important; }
  }

  &b{
    &-0{ padding-bottom: 0 !important; }
    &-025{ padding-bottom: .25rem !important; }
    &-05{ padding-bottom: .5rem !important; }
    &-1{ padding-bottom: 1rem !important; }
    &-2{ padding-bottom: 1.5rem !important; }
    &-3{ padding-bottom: 2rem !important; }
    &-4{ padding-bottom: 2.5rem !important; }
    &-5{ padding-bottom: 3rem !important; }
    &-6{ padding-bottom: 3.5rem !important; }
    &-7{ padding-bottom: 4rem !important; }
  }

  &l{
    &-0{ padding-left: 0 !important; }
    &-025{ padding-left: .25rem !important; }
    &-05{ padding-left: .5rem !important; }
    &-1{ padding-left: 1rem !important; }
    &-2{ padding-left: 1.5rem !important; }
    &-3{ padding-left: 2rem !important; }
    &-4{ padding-left: 2.5rem !important; }
    &-5{ padding-left: 3rem !important; }
    &-6{ padding-left: 3.5rem !important; }
    &-7{ padding-left: 4rem !important; }
  }

  &r{
    &-0{ padding-right: 0 !important; }
    &-025{ padding-right: .25rem !important; }
    &-05{ padding-right: .5rem !important; }
    &-1{ padding-right: 1rem !important; }
    &-2{ padding-right: 1.5rem !important; }
    &-3{ padding-right: 2rem !important; }
    &-4{ padding-right: 2.5rem !important; }
    &-5{ padding-right: 3rem !important; }
    &-6{ padding-right: 3.5rem !important; }
    &-7{ padding-right: 4rem !important; }
  }
}

// MARGINS
.m{
  &-0{ margin: 0 !important; }
  &-025{ margin: .25rem !important; }
  &-05{ margin: .5rem !important; }
  &-1{ margin: 1rem !important; }
  &-2{ margin: 1.5rem !important; }
  &-3{ margin: 2rem !important; }
  &-4{ margin: 2.5rem !important; }
  &-5{ margin: 3rem !important; }
  &-6{ margin: 3.5rem !important; }
  &-7{ margin: 4rem !important; }

  &t{
    &-0{ margin-top: 0 !important; }
    &-025{ margin-top: .25rem !important; }
    &-05{ margin-top: .5rem !important; }
    &-1{ margin-top: 1rem !important; }
    &-2{ margin-top: 1.5rem !important; }
    &-3{ margin-top: 2rem !important; }
    &-4{ margin-top: 2.5rem !important; }
    &-5{ margin-top: 3rem !important; }
    &-6{ margin-top: 3.5rem !important; }
    &-7{ margin-top: 4rem !important; }
  }

  &b{
    &-0{ margin-bottom: 0 !important; }
    &-025{ margin-bottom: .25rem !important; }
    &-05{ margin-bottom: .5rem !important; }
    &-1{ margin-bottom: 1rem !important; }
    &-2{ margin-bottom: 1.5rem !important; }
    &-3{ margin-bottom: 2rem !important; }
    &-4{ margin-bottom: 2.5rem !important; }
    &-5{ margin-bottom: 3rem !important; }
    &-6{ margin-bottom: 3.5rem !important; }
    &-7{ margin-bottom: 4rem !important; }
  }

  &l{
    &-0{ margin-left: 0 !important; }
    &-025{ margin-left: .25rem !important; }
    &-05{ margin-left: .5rem !important; }
    &-1{ margin-left: 1rem !important; }
    &-2{ margin-left: 1.5rem !important; }
    &-3{ margin-left: 2rem !important; }
    &-4{ margin-left: 2.5rem !important; }
    &-5{ margin-left: 3rem !important; }
    &-6{ margin-left: 3.5rem !important; }
    &-7{ margin-left: 4rem !important; }
  }

  &r{
    &-0{ margin-right: 0 !important; }
    &-025{ margin-right: .25rem !important; }
    &-05{ margin-right: .5rem !important; }
    &-1{ margin-right: 1rem !important; }
    &-2{ margin-right: 1.5rem !important; }
    &-3{ margin-right: 2rem !important; }
    &-4{ margin-right: 2.5rem !important; }
    &-5{ margin-right: 3rem !important; }
    &-6{ margin-right: 3.5rem !important; }
    &-7{ margin-right: 4rem !important; }
  }
}
