<div class="custody-consult-component" #historyOrdens>
  <div class="row header" #header>
    <div class="col-10">
      <mat-icon class="icon-order" svgIcon="file"></mat-icon>
      <span class="title">{{ title }}</span>
    </div>
    <div class="col-2 txt-right">
      <mat-icon class="icon-close-btn pointer" (click)="close()" svgIcon="close-btn"></mat-icon>
    </div>
  </div>
  <div class="scrollable-body" (scroll)="onScroll()" #body>

    <div class="row network-error-message-oms" *ngIf="!statusOmsOnline && !loading">{{ msgStatusOmsOffile }}</div>

    <div class="spinner m-spiner" *ngIf="loading">
      <app-spinner-loading></app-spinner-loading>
    </div>
    <div *ngIf="!loading" class="ghost-div"></div>

    <div *ngIf="!loading" class="row header-box fixed-box" [ngClass]="{'statusOmsOffline': !statusOmsOnline}">

      <div class="tab" #bovespa [ngClass]="{'0':'selected-tab'}[selected]" (click)="changeBovespa(0)">{{ tabBov }}
      </div>
      <div class="tab" *ngIf="whiteLabel !== 2" [ngClass]="{'1':'selected-tab'}[selected]" (click)="changeBMF(1)">
        {{ tabBMF }}</div>
    </div>
    <div *ngIf="!loading" class="row header-box2 fixed-box2"
      [ngClass]="{'bg-single': whiteLabel === 2 || whiteLabel === 3, 'statusOmsOffline': !statusOmsOnline}" #filter>
      <div class="flex-container">
        <div *ngIf="selected == 0" id="check-Bovespa" class="form-box check">
          <mat-checkbox [(ngModel)]="showPositionBovespa">Exibir posição do dia
          </mat-checkbox>
        </div>
        <div *ngIf="selected == 1" id="check-BMF" class="form-box check">
          <mat-checkbox [(ngModel)]="showPositionBMF">Exibir posição do dia
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="ghostIndex" #ghostIndex></div>
    <div *ngIf="!loading && selected == 1" class="index" #index>
      <div class="bmf-custody text-align-bmf" style="width: 10%; min-width: 100px; padding-top: 22px;" title="Ativo">
        Ativo</div>
      <div *ngIf="showPositionBMF" style="width: 15%; min-width: 100px; padding-top: 22px;"
        class="bmf-custody text-align-bmf" title="Compra Executada no Dia">C. Exec. Dia</div>
      <div *ngIf="showPositionBMF" style="width: 15%; min-width: 100px; padding-top: 22px;"
        class="bmf-custody text-align-bmf" title="Venda Executada no Dia">V. Exec. Dia</div>
      <div *ngIf="showPositionBMF" style="width: 15%; min-width: 100px; padding-top: 22px;"
        class="bmf-custody text-align-bmf" title="NET no Dia">NET Dia</div>
      <div *ngIf="showPositionBMF" style="width: 15%; min-width: 100px; padding-top: 22px;"
        class="bmf-custody text-align-bmf" title="Preço médio aberto">Pr. Med. Aberto</div>
      <div *ngIf="showPositionBMF" style="width: 15%; min-width: 100px; padding-top: 22px;"
        class="bmf-custody text-align-bmf" title="L/P Aberto">L/P Aberto</div>
      <div *ngIf="showPositionBMF" style="width: 15%; min-width: 100px; padding-top: 22px;"
        class="bmf-custody text-align-bmf" title="L/P Fechado">L/P Fechado</div>
      <div *ngIf="!showPositionBMF" style="width: 12.85%; min-width: 100px; padding-top: 22px;"
        class="bmf-custody number-align-bmf" title="Quantidade Inicial">Qtd Inicial</div>
      <div *ngIf="!showPositionBMF" style="width: 12.85%; min-width: 100px; padding-top: 22px;"
        class="bmf-custody number-align-bmf" title="Posição">Posição</div>
      <div *ngIf="!showPositionBMF" style="width: 12.85%; min-width: 170px; padding-top: 22px;"
        class="bmf-custody number-align-bmf" title="Compras Executadas">Compras Exec</div>
      <div *ngIf="!showPositionBMF" style="width: 12.85%; min-width: 155px; padding-top: 22px;"
        class="bmf-custody number-align-bmf" title="Vendas Executadas">Vendas Exec</div>
      <div *ngIf="!showPositionBMF" style="width: 12.85%; min-width: 100px; padding-top: 22px;"
        class="bmf-custody number-align-bmf" title="Preço Atual">Preço Atual</div>
      <div *ngIf="!showPositionBMF" style="width: 12.85%; min-width: 120px; padding-top: 22px;"
        class="bmf-custody number-align-bmf" title="Ajuste Anterior">Preço Fech.</div>
      <div *ngIf="!showPositionBMF" style="width: 12.85%; min-width: 155px; padding-top: 22px;"
        class="bmf-custody date-align-bmf" title="Ajuste de Posição">Ajuste de Posição</div>
    </div>
    <div *ngIf="!loading && selected == 0" class="index" #index2>
      <div class="text2-align" style="width: 5%; min-width: 100px;" title="Ativo">Ativo</div>
      <div class="text2-align" style="width: 5%; min-width: 100px;" title="Ativo">Tipo</div>
      <div *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;"
        title="Compra Executada no Dia">C. Exec. Dia</div>
      <div *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;"
        title="Venda Executada no Dia">V. Exec. Dia</div>
      <div *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;" title="NET no Dia">
        NET Dia</div>
      <div *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 175px;"
        title="Preço médio aberto">Pr. Med. Aberto</div>
      <div *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;" title="L/P Aberto">
        L/P Aberto</div>
      <div *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;" title="L/P Fechado">
        L/P Fechado</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
        title="Quantidade Inicial">Q. Inicial</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 100px;"
        title="Quantidade Atual">Q. Atual</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
        title="Preço Atual">P. Atual</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
        title="Preço Fechamento">P. Fech.</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
        title="Valor Inicial">Valor Inicial</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
        title="Valor Atual">Valor Atual</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 200px;"
        title="Quandidade Executada de Compra">Q.Exec Compra</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 175px;"
        title="Quantidade Executada de Venda">Q.Exec Venda</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.0%; min-width: 170px;"
        title="Quantidade Aberta de Compra">Q. Ab. Compra</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 150px;"
        title="Quantidade Aberta de Venda">Q. Ab. Venda</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 150px;"
        title="Bloqueados">Q. Bloqueada</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 150px;"
        title="Disponível">Q. Disponível</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 100px;" title="D + 0">D
        +
        0</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 100px;" title="D + 1">D
        +
        1</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 100px;" title="D + 2">D
        +
        2</div>
      <div *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
        title="Preço Médio">P. Médio</div>
    </div>
    <div *ngIf="!loading" class="container-fluid">
      <div class="row row-content">
        <div class="col-12 col-table">
          <table *ngIf='selected == 1 && resultListBmf?.length >= 0' class="table-orders" id="table-orders" #table>
            <tbody>
              <tr *ngFor="let bmf of resultListBmf" class="table-row-height" (mouseenter)="mouseEnter(i)"
                (mouseleave)="mouseLeave(i)" id="tr{{i}}">
                <td style="width: 10%; min-width: 100px;" class="bmf-custody text-align-bmf">{{ bmf.quote }}</td>
                <td *ngIf="showPositionBMF" class="bmf-custody number-align-bmf" style="width: 15%; min-width: 100px;">
                  {{ bmf.executedBuy | number:'0.2-2':'pt' }}</td>
                <td *ngIf="showPositionBMF" class="bmf-custody number-align-bmf" style="width: 15%; min-width: 100px;">
                  {{ bmf.executedSell | number:'0.2-2':'pt' }}</td>
                <td *ngIf="showPositionBMF" class="bmf-custody number-align-bmf" style="width: 15%; min-width: 100px;"
                  [ngClass]="{'low-color' : bmf.netDay < 0, 'high-color' : bmf.netDay > 0}">
                  {{ bmf.netDay | number:'0.2-2':'pt' }}</td>
                <td *ngIf="showPositionBMF" class="bmf-custody number-align-bmf" style="width: 15%; min-width: 100px;">
                  {{ bmf.averagePricePos }}</td>
                <td *ngIf="showPositionBMF" class="bmf-custody number-align-bmf" style="width: 15%; min-width: 100px;"
                  [ngClass]="{'low-color' : bmf.openProfitLoss < 0, 'high-color' : bmf.openProfitLoss > 0}">
                  {{ bmf.openProfitLoss }}</td>
                <td *ngIf="showPositionBMF" class="bmf-custody number-align-bmf" style="width: 15%; min-width: 100px;"
                  [ngClass]="{'low-color' : bmf.closedProfitLoss < 0, 'high-color' : bmf.closedProfitLoss > 0}">
                  {{ bmf.closedProfitLoss }}</td>
                <td *ngIf="!showPositionBMF" class="bmf-custody number-align-bmf"
                  style="width: 12.85%; min-width: 100px;"
                  [ngClass]="{'low-color' : bmf.initQuantity < 0, 'high-color' : bmf.initQuantity > 0}">
                  {{ bmf.initQuantity | number:'0.0-0':'pt' }}</td>
                <td *ngIf="!showPositionBMF" class="bmf-custody number-align-bmf"
                  style="width: 12.85%; min-width: 100px;"
                  [ngClass]="{'low-color' : bmf.position < 0, 'high-color' : bmf.position > 0}">
                  {{ bmf.position | number:'0.0-0':'pt' }}</td>
                <td *ngIf="!showPositionBMF" class="bmf-custody number-align-bmf"
                  style="width: 12.85%; min-width: 170px;">{{ bmf.executedBuy | number:'0.0-0':'pt' }}</td>
                <td *ngIf="!showPositionBMF" class="bmf-custody number-align-bmf"
                  style="width: 12.85%; min-width: 155px;">{{ bmf.executedSell | number:'0.0-0':'pt' }}</td>
                <td *ngIf="!showPositionBMF" class="bmf-custody number-align-bmf"
                  style="width: 12.85%; min-width: 100px;">{{ bmf.currentPrice }}</td>
                <td *ngIf="!showPositionBMF" class="bmf-custody number-align-bmf"
                  style="width: 12.85%; min-width: 120px;">{{ bmf.precoAjuste }}</td>
                <td *ngIf="!showPositionBMF" class="bmf-custody number-align-bmf"
                  style="width: 12.85%; min-width: 155px;">{{ bmf.previousAdjustment }}</td>
              </tr>
            </tbody>
          </table>
          <table *ngIf='selected == 0 && !loading && resultListBov?.length >= 0' class="table-orders" id="table-orders">
            <tbody>
              <tr *ngFor="let bov of resultListBov" class="table-row-height" (mouseenter)="mouseEnter(i)"
                (mouseleave)="mouseLeave(i)" id="tr{{i}}">
                <td class="text2-align" style="width: 5%; min-width: 100px;">{{ bov.quote }}</td>
                <td class="text2-align" style="width: 5%; min-width: 100px;">{{ bov.quoteType }}</td>
                <td *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;">
                  {{ bov.executedBuy ? (bov.executedBuy | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;">
                  {{ bov.executedSell ? (bov.executedSell | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;"
                  [ngClass]="{'low-color' : bov.netDay < 0, 'high-color' : bov.netDay > 0}">
                  {{ bov.netDay ? (bov.netDay | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 175px;">
                  {{ bov.avgValueDaytradeToday ? bov.avgValueDaytradeToday : '-' }}</td>
                <td *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;"
                  [ngClass]="{'low-color' : bov.openProfitLossColor < 0, 'high-color' : bov.openProfitLossColor > 0}">
                  {{ bov.openProfitLoss ? bov.openProfitLoss  : '-' }}</td>
                <td *ngIf="showPositionBovespa" class="number2-align" style="width: 15%; min-width: 120px;"
                  [ngClass]="{'low-color' : bov.closedProfitLoss < 0, 'high-color' : bov.closedProfitLoss > 0}">
                  {{ bov.closedProfitLoss ? bov.closedProfitLoss : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
                  [ngClass]="{'low-color' : bov.initQuantity < 0, 'high-color' : bov.initQuantity > 0}">
                  {{ bov.initQuantity ? (bov.initQuantity | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 100px;"
                  [ngClass]="{'low-color' : bov.currentQuantity < 0, 'high-color' : bov.currentQuantity > 0}">
                  {{ bov.currentQuantity ? (bov.currentQuantity | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
                  [ngClass]="{'low-color' : bov.valueCurrent < 0, 'high-color' : bov.valueCurrent > 0}">
                  {{ bov.valueCurrent ? bov.valueCurrent : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
                  [ngClass]="{'low-color' : bov.lastTrade < 0, 'high-color' : bov.lastTrade > 0}">
                  {{ bov.lastTrade ? bov.lastTrade : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
                  [ngClass]="{'low-color' : bov.valueInit < 0, 'high-color' : bov.valueInit > 0}">
                  {{ bov.valueInit ? bov.valueInit : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;"
                  [ngClass]="{'low-color' : bov.valueCurrent < 0, 'high-color' : bov.valueCurrent > 0}">
                  {{ bov.valueCurrent ? bov.valueCurrent : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 200px;">
                  {{ bov.executedBuy ? (bov.executedBuy | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 175px;">
                  {{ bov.executedSell ? (bov.executedSell | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 170px;">
                  {{ bov.openBuy ? bov.openBuy : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 150px;">
                  {{ bov.openSell ? bov.openSell : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 150px;">
                  {{ bov.quantityBlocked ? (bov.quantityBlocked | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 150px;"
                  [ngClass]="{'low-color' : bov.quantityReleased < 0, 'high-color' : bov.quantityReleased > 0}">
                  {{ bov.quantityReleased ? (bov.quantityReleased | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 100px;"
                  [ngClass]="{'low-color' : bov.quantityD1 < 0, 'high-color' : bov.quantityD1 > 0}">
                  {{ bov.quantityD1 ? (bov.quantityD1 | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 100px;"
                  [ngClass]="{'low-color' : bov.quantityD2 < 0, 'high-color' : bov.quantityD2 > 0}">
                  {{ bov.quantityD2 ? (bov.quantityD2 | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 100px;"
                  [ngClass]="{'low-color' : bov.quantityD3 < 0, 'high-color' : bov.quantityD3 > 0}">
                  {{ bov.quantityD3 ? (bov.quantityD3 | number:'0.2-2':'pt') : '-' }}</td>
                <td *ngIf="!showPositionBovespa" class="number2-align" style="width: 18.1%; min-width: 120px;">
                  {{ bov.averagePrice ? bov.averagePrice : '-' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!loading" class="paginator">
      <app-paginator *ngIf='selected == 1' [list]="listBmf" (result)='resultListBmf = ($event)'
        [list2]="positionDayList" (result2)="resultListPositionBmf = ($event)"></app-paginator>
      <app-paginator *ngIf='selected == 0' [list]="listBov" (result)='resultListBov = ($event)'
        [list2]="positionDayList" (result2)="resultListPositionBov = ($event)"></app-paginator>
    </div>
  </div>
</div>