<div class="header-bar w100">
  <div class="logo pointer" [ngClass]="{'logo-center': isLoginPI || isLoginUm }" #parent title="{{version}}"
    (click)="getRefresh()">
  </div>
  <div (click)="clickSidebar()" class="sidebar-control"></div>
  <div class="status-lights" [ngClass]="{'login-w' : isWso2}">
    <div class="light {{statusClassDifusion}}" title="Difusor"></div>
    <div class="light {{statusClassOMS}}" title="OMS"></div>
  </div>

  <div class="workspace-col">
    <div class="workspace-container" *ngFor="let tab of userWorkspaces; let i = index">
      <div (click)="clickTab(tab.Id)" [ngClass]="{'selected' : workspaceSelId == tab.Id}" class="label-container"
        *ngIf="tab.Name !== undefined">
        <div class="content-container">
          <mat-icon class="workspace-tab-icon mat-icon" svgIcon="monitor" (dblclick)="doEditRename(tab.Id);">
          </mat-icon>
          <input matInput maxlength="20" minlength="3" *ngIf="editing(tab.Id)"
            (keydown.enter)="enterRename($event, tab.Id);" (keydown.esc)="enterRename($event,tab.Id)"
            (focusout)="enterRename($event,tab.Id)" type="text" value="{{tab.Name}}">
          <label class="wks-name" *ngIf="!editing(tab.Id)" (dblclick)="doEditRename(tab.Id);" title="{{tab.Name}}">
            {{ tab.Name }}
          </label>
        </div>
        <div class="close-button-container">
          <button class="close-btn" (click)="showConfirmClose()">
            <mat-icon class="closeIcon mat-icon" svgIcon="close"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <button class="add-workspace" (click)="addWorkspace()" *ngIf="showAddWorkspace === true">
      <span class="plus-sign">+</span>
      <span class="create-message">criar área de trabalho</span>
    </button>
  </div>
  <div #quick class="quick-search" (click)="inputGrow()">
    <app-quick-search-auto-complete (focusOut)="inputShrink($event)" (onsymbolChanged)="selectAsset($event)">
    </app-quick-search-auto-complete>
  </div>
  <div id="userMenu" class="user-menu" [ngClass]="{'isWso2' : isWso2, 'no-transition': activeWhiteLabel === 6}"
    (click)="openUserSettings()">
    <div class="clock-down" [ngClass]="{'name-large': userName && userName.length > 5, 'no-name': !userName}"
      title="Tempo de inatividade para expirar sessão.">
      <mat-icon class="icons" svgIcon="clock" *ngIf="clockDownTimer"></mat-icon>
      {{ clockDownTimer }}
    </div>
    <div>
      <div class="user-picture-container">
        <img src="./assets/images/assets/avatar.svg" class="user-picture">
        <span class="name" [ngClass]="{'name-large': userName && userName.length > 5}"
          *ngIf="userName">{{ userName }}</span>
        <div class="seta">
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <a href="{{urlGoPath}}" *ngIf="isWso2 && activeWhiteLabel !== 6">
    <!-- <a (click)="goPath()" *ngIf="isWso2"> -->
    <div class="home-broker">
      <div class="material-icons">arrow_upward</div>
      <div>
        <span>Acessar</span>
        <br>
        <span>PORTAL DO<br /> CLIENTE</span>
      </div>
    </div>
  </a>
</div>
<div *ngIf="!statutsNetworkconnected" class="network-error-message">{{ networkErrorMessage }}</div>
<div id="extendable-header" class="extendable-header-bar">
  <div class="news">
    <div class="news-content" [ngClass]="{ 'live' : liveRunning }" (click)="openNew()">
      <div class="featured" *ngIf="!liveRunning">EM DESTAQUE</div>
      <div class="live-running" *ngIf="liveRunning">
        <div class="youtube-icon">
          <div></div>
        </div>
        <span>AO VIVO</span>
        <div style="padding-left: 8px;">-</div>
      </div>
      <span>
        <!-- {{ liveRunning ? liveTitle : lastNew.title }} -->
        {{ liveRunning ? liveTitle : lastNewFestMarket[0]?.title?.rendered }}
      </span>
    </div>
  </div>
  <div class="options">
    <mat-icon *ngIf="!lockWorkspace" class="icons" svgIcon="padlock-locked" (click)="workspaceLockUnlock()">
    </mat-icon>
    <mat-icon *ngIf="lockWorkspace" class="icons" svgIcon="padlock-open" (click)="workspaceLockUnlock()"></mat-icon>
    <!-- <mat-icon class="icons grid" svgIcon="grid" style="opacity: 0.5"></mat-icon> -->
    <button mat-raised-button class="add mr-1 add-components" color="primary02" (click)="addComponent()">
      adicionar ferramentas
      <div class="add-circle plus-circle">+</div>
    </button>
  </div>
</div>
<div id="minmax-button-header" class="minimize-maximize-button-header" (click)="minimaxiHeader()">
  <div id="triangle-header-bar" class="triangle-top"></div>
</div>