<div class="wrapper">
  <app-header-bar></app-header-bar>
  <app-side-bar-left></app-side-bar-left>
  <div id="contentGridster" class="content">
    <div class="spinner" style="position: absolute; top: 50%; left: 50%; margin-top: -25px; margin-left: -25px;"
      *ngIf="loadingWorkspace">
      <app-spinner-loading></app-spinner-loading>
    </div>
    <router-outlet *ngIf="!loadingWorkspace"></router-outlet>
  </div>
  <app-footer></app-footer>
</div>