<div class="worksheet-config-modal" (window:resize)="onResize()">
  <div *ngIf="!bottomArrow" class="arrow-up"></div>
  <div class="ballon" #worksheetConfig>
    <mat-icon class="icon-close" (click)="close()" svgIcon="close"></mat-icon>
    <span class="btn-default-column" (click)="clearColumns()">Limpar Colunas</span>
    <span class="btn-default-column-rigth" (click)="defaultColumns()">Redefinir Colunas</span>
    <div class="title">HABILITE OU DESABILITE AS COLUNAS</div>
    <hr class="divider">
    <div class="content">
      <div class="row m-0">
        <div class="col-3 col-check" *ngFor="let item of listColumns; let i = index" >
          <mat-checkbox
              (change)="onChange($event, i)"
              [ngClass]="{'uncheck': !modelList[i]}"
              class="check-options"
              [(ngModel)]="modelList[i]"
              labelPosition="after"
              >
              {{item.header}}
            </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="bottomArrow" class="arrow-down"></div>
</div>
