@import "./../../variables.scss";
@import "./../../core/clients/ranking/variables.scss";

/*  TEXTS */
$prefix: 'ranking';
$font-default: "Roboto";
$font-rate: 1;
$border-radius: 28px;

/* GRADIENT COLORS */

$gradient-1:  #093bc1;
$gradient-2:  #06B0D6;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);
$gradient-right: linear-gradient(to right, $gradient-2, $gradient-1);

$gradient-sell-1: #589221;
$gradient-sell-2: #78bd36;
$gradient-sell-left:  linear-gradient(to left, $gradient-sell-2, $gradient-sell-1);
$gradient-sell-right:  linear-gradient(to left, $gradient-sell-1, $gradient-sell-2);

$gradient-buy-1: #ffb300;
$gradient-buy-2: #ffdd00;
$gradient-buy-3: $gradient-buy-1;
$gradient-buy-left: linear-gradient(to left, $gradient-buy-2, $gradient-buy-1);

$header-gradient01-color: #084bc4;
$header-gradient02-color: #043ea8;
$header-gradient-right: linear-gradient(to right, $header-gradient01-color, $header-gradient02-color);

// STYLEGUIDE COLORS

$primary01-color: #093bc1;
$primary02-color: #06b0d6;

$secondary01-color: #0867C9;
$secondary02-color: #596377;
$secondary03-color: #BEC0C2;
$secondary04-color: #0558ae;

$secondary05-color: #267ED6;
$secondary06-color: #63B500;
$secondary07-color: #FF661F;
$secondary08-color: #6E6159;

$secondary09-color: #ABB2B9;
$secondary10-color: $secondary01-color;

$bg-color: #f1f1f1;
