<div class="orders-history-component" #historyOrdens>
  <div class="row header" #header>
    <div class="col-10">
      <mat-icon class="icon-order" svgIcon="layers"></mat-icon>
      <span class="title">CONSULTA DE ORDENS</span>
    </div>

    <div class="col-2 txt-right">
      <mat-icon class="icon-close-btn pointer" (click)="closeDialog()" svgIcon="close-btn"></mat-icon>
    </div>

  </div>

  <div class="col-12 network-error-message-oms" *ngIf="!statusOmsOnline">{{ msgStatusOmsOffile }}</div>

  <div class="scrollable-body" (scroll)="onScroll($event)" #body>
    <div class="row header-box">
      <div class="tab" [ngClass]="{'1':'selected-tab'}[selected]" (click)="changeScreen(1)">Ordens do dia</div>
      <div class="tab" [ngClass]="{'0':'selected-tab'}[selected]" (click)="changeScreen(0)">Histórico geral</div>
    </div>
    <div #blankSpace></div>
    <div *ngIf="selected == 0" class="row header-box2" [ngClass]="{'bg-single': whiteLabel === 2 || whiteLabel === 3}"
      #filter>

      <div class="flex-container">

        <div class="form-box">
          <mat-form-field class="status-form">
            <mat-select [disableOptionCentering]='true' class="status" placeholder="status" [(value)]="model.status">
              <mat-option *ngFor="let status of statusFilter" [value]="status.descFilter">{{ status.descFilter }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-box datepicker-align">
          <div class="upper-text">selecione o período desejado</div>
          <div class="container">
            <ngbd-datepicker-range [maxDateToday]='true' [reset]="changingValue" (dateIni)="changeDateIni($event)"
              (dateFin)="changeDateFim($event)">
            </ngbd-datepicker-range>
          </div>
        </div>

        <div class="form-box">
          <mat-form-field class="type-form">
            <mat-select [disableOptionCentering]='true' placeholder="tipo" [(value)]="model.type">
              <mat-option *ngFor="let status of typeFilter" [value]="status.descFilter">{{ status.descFilter }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-box">
          <mat-form-field class="direction-form">
            <mat-select [disableOptionCentering]='true' placeholder="direção" [(value)]="model.direction">
              <mat-option *ngFor="let status of buySellFilter" [value]="status.descFilter">{{ status.descFilter }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-box">
          <mat-form-field class="market-form">
            <mat-select [disableOptionCentering]='true' placeholder="mercado" [(value)]="model.market">
              <mat-option *ngFor="let status of MarketFilter" [value]="status.descFilter">{{ status.descFilter }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="auto-box">
          <app-auto-complete class="symbol-form" [placeHolderSetter]="'ativo'" [hideCompany]='true'
            [symbolAutoComplete]="model.symbol" #issuingAsset id="issuingAsset" (rawInformation)="checkForBlank($event)"
            (onsymbolChanged)="selectAsset($event)"></app-auto-complete>
        </div>

        <div class="button-box general-history">
          <button mat-raised-button class="xs" (click)="onClearSearch()">LIMPAR</button>
          <button mat-raised-button class="xs white" (click)="onSearch()">FILTRAR</button>
        </div>
      </div>
    </div>

    <div *ngIf="selected == 1" class="row header-box2" [ngClass]="{'bg-single': whiteLabel === 2 || whiteLabel === 3}"
      #filter>
      <div class="flex-container">

        <div class="form-box">
          <mat-form-field class="status-form">
            <mat-select [disableOptionCentering]='true' placeholder="status" [(value)]="model.status">
              <mat-option *ngFor="let status of statusFilter" [value]="status.descFilter">{{ status.descFilter }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-box">
          <mat-form-field class="type-form">
            <mat-select [disableOptionCentering]='true' placeholder="tipo" [(value)]="model.type">
              <mat-option *ngFor="let status of typeFilter" [value]="status.descFilter">{{ status.descFilter }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-box">
          <mat-form-field class="direction-form">
            <mat-select [disableOptionCentering]='true' placeholder="direção" [(value)]="model.direction">
              <mat-option *ngFor="let status of buySellFilter" [value]="status.descFilter">{{ status.descFilter }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-box">
          <mat-form-field class="market-form">
            <mat-select [disableOptionCentering]='true' placeholder="mercado" [(value)]="model.market">
              <mat-option *ngFor="let status of MarketFilter" [value]="status.descFilter">{{ status.descFilter }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="auto-box">

          <app-auto-complete class="symbol-form" [placeHolderSetter]="'ativo'" [hideCompany]='true'
            [symbolAutoComplete]="model.symbol" #issuingAsset id="issuingAsset" (rawInformation)="checkForBlank($event)"
            (onsymbolChanged)="selectAsset($event)"></app-auto-complete>


        </div>
        <div class="button-box">
          <button mat-raised-button class="xs" (click)="onClearDailySearch()">LIMPAR</button>
          <button mat-raised-button class="xs white" (click)="onSearchDaily()">FILTRAR</button>
          <!--TODO remover daily-->
        </div>
      </div>
    </div>

    <div class="index" #index>

      <div (click)="sortBy('stateName')" class="text-align status-padding" style="width: 12%;">
        Status
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'stateName'" class="sort-arrow">none</mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'stateName'" class="sort-arrow">arrow_downward
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'stateName'" class="sort-arrow">arrow_upward
        </mat-icon>
      </div>
      <div (click)="sortBy('quote')" class="text-align" style="width: 8%;">Ativo
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'quote'" class="sort-arrow">none</mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'quote'" class="sort-arrow">arrow_downward</mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'quote'" class="sort-arrow">arrow_upward</mat-icon>
      </div>
      <div class="text-align" style="width: 7%;" (click)="sortBy('type')">Tipo
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'type'" class="sort-arrow">none</mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'type'" class="sort-arrow">arrow_downward</mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'type'" class="sort-arrow">arrow_upward</mat-icon>
      </div>
      <div class="number-align" style="width: 10%;" (click)="sortBy('buyOrSell')">Direção
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'buyOrSell'" class="sort-arrow">none</mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'buyOrSell'" class="sort-arrow">arrow_downward
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'buyOrSell'" class="sort-arrow">arrow_upward
        </mat-icon>
      </div>
      <div class="number-align" style="width: 7%;" (click)="sortBy('quantitySupplied')">Qtd.
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'quantitySupplied'" class="sort-arrow">none
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'quantitySupplied'" class="sort-arrow">arrow_downward
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'quantitySupplied'" class="sort-arrow">arrow_upward
        </mat-icon>
      </div>
      <div class="number-align" style="width: 8%;" (click)="sortBy('quantityExecuted')">Exec.
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'quantityExecuted'" class="sort-arrow">none
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'quantityExecuted'" class="sort-arrow">arrow_downward
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'quantityExecuted'" class="sort-arrow">arrow_upward
        </mat-icon>
      </div>
      <div class="number-align" style="width: 10%;" (click)="sortBy('quantityRemaining')">Restante
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'quantityRemaining'" class="sort-arrow">none
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'quantityRemaining'" class="sort-arrow">arrow_downward
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'quantityRemaining'" class="sort-arrow">arrow_upward
        </mat-icon>
      </div>
      <div class="number-align" style="width: 8%;" (click)="sortBy('price')">Preço
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'price'" class="sort-arrow">none</mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'price'" class="sort-arrow">arrow_downward</mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'price'" class="sort-arrow">arrow_upward</mat-icon>
      </div>
      <div class="number-align" style="width: 10%;" (click)="sortBy('priceAverage')">P. Médio
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'priceAverage'" class="sort-arrow">none</mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'priceAverage'" class="sort-arrow">arrow_downward
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'priceAverage'" class="sort-arrow">arrow_upward
        </mat-icon>
      </div>
      <div class="text-align" style="width: 10%;" (click)="sortBy('mercado')">Mercado
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'mercado'" class="sort-arrow">none</mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'mercado'" class="sort-arrow">arrow_downward
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'mercado'" class="sort-arrow">arrow_upward</mat-icon>
      </div>
      <div class="date-align" style="width: 14%;" (click)="sortBy('transactTime')">Data/Hora
        <mat-icon *ngIf="filterDirection == 0  || currentFilter != 'transactTime'" class="sort-arrow">none</mat-icon>
        <mat-icon *ngIf="filterDirection == 1 && currentFilter == 'transactTime'" class="sort-arrow">arrow_downward
        </mat-icon>
        <mat-icon *ngIf="filterDirection == 2 && currentFilter == 'transactTime'" class="sort-arrow">arrow_upward
        </mat-icon>
      </div>
      <div style="display: none">Ações</div>
    </div>
    <div class="container-fluid">
      <div class="row row-content">
        <div class="col-12 col-table">
          <table class="table-orders" id="table-orders">
            <tbody>

              <ng-template *ngIf='selected == 1 && !loading2 && filteredList?.length >= 0' class="row-template" ngFor
                let-element [ngForOf]="filteredList" let-i="index">
                <tr class="table-row-height" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave(i)" id="tr{{i}}"
                  (click)="i !== idDetails ? openDetail(i) : closeDetail(i)">
                  <td class="text-align status-padding" style="width: 11%;">
                    <mat-icon *ngIf="i !== idDetails" class="pointer arrow">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="i === idDetails" class="pointer arrow">keyboard_arrow_up</mat-icon>
                    <div [ngClass]="{
                      'Nova':'new-font-os',
                      'Pendente':'pending-font-os',
                      'Parcialmente executada':'partially-font-os',
                      'Editada':'edited-font-os',
                      'Edição Pendente':' pending-edition-font-os',
                      'Cancelamento Pendente':'cancellation-pending-font-os',
                      'Cancelada':'canceled-font-os',
                      'Rejeitada':'rejected-font-os',
                      'Expirada':'expired-font-os',
                      'Suspensa':'suspended-font-os',
                      'Executada':'executed-font-os',
                      '0':''}[element.state]">
                      {{element.state}}</div>
                  </td>
                  <td class="text-align" style="width: 8%;">{{element.quote}}</td>
                  <td class="text-align" style="width: 7%;">{{element.type}}</td>
                  <td class="number-align" style="width: 10%;"
                    [ngClass]="{'text-buy': element.buyOrSell === 'Compra', 'text-sell': element.buyOrSell === 'Venda'}">
                    {{element.buyOrSell === 'Compra' ? 'C' : 'V'}} </td>
                  <td class="number-align" style="width: 7%;">{{element.quantitySupplied | number:'0.2-2':'pt'}}</td>
                  <td class="number-align" style="width: 8%;">{{element.quantityExecuted | number:'0.2-2':'pt'}}</td>
                  <td class="number-align" style="width: 10%;">{{element.quantityRemaining | number:'0.2-2':'pt'}}</td>
                  <td class="number-align" style="width: 8%;">{{element.price | number}}</td>
                  <td class="number-align" style="width: 9%;">{{element.priceAverage | number}}</td>
                  <td class="text-align" style="width: 10%;">{{element.mercado}}</td>
                  <td class="date-align" style="width: 14%;">{{element.transactTime}}
                    <div class="gradient-options">
                      <div class="div-options">

                        <mat-icon
                          *ngIf="element.stateCode !== 0 || element.stateCode !== 1 || element.stateCode !== 5 || element.stateCode !== 6 || element.stateCode !== 9 || element.stateCode !== 'A' || element.stateCode !==  'E' || element.stateCode !== 'R'"
                          (click)="confirmSend(element, $event)" svgIcon="reenviarOrder"
                          class="icon-options enlarge icon-order-two reply" title="Reenviar Ordem"></mat-icon>
                        <mat-icon *ngIf="i == idEdit && openStatus.generic.includes(element.stat) && element.stateCode !== 'A'" svgIcon="editarOrder"
                          (click)="closeEditOrder(i, $event)" class="icon-options icon-order-two edit"
                          title="Editar Ordem"></mat-icon>
                        <mat-icon *ngIf="i != idEdit && openStatus.generic.includes(element.state) && element.stateCode !== 'A'"
                          svgIcon="editarOrder" (click)="openEditOrder(i, $event)"
                          class="icon-options icon-order-two edit" title="Editar Ordem"></mat-icon>
                        <mat-icon *ngIf="openStatus.generic.includes(element.state)" svgIcon="removerOrder"
                          (click)="cancelOrder(element, $event)" class="icon-options shrink icon-order-two delete"
                          title="Cancelar Ordem"></mat-icon>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave(i)" id="trd{{i}}">
                  <td colspan="12">
                    <div *ngIf="idDetails === i" [@animateDetails]="stateDetails"
                      [@animateDetailsClose]="stateDetailsClose">
                      <app-orders-history-detail [dataOrder]="element"></app-orders-history-detail>
                    </div>
                    <div *ngIf="idEdit === i" [@animateDetails]="stateDetails"
                      [@animateDetailsClose]="stateDetailsClose">
                      <app-edit-order [(editOpen)]="idEdit" [dataOrder]="element"
                        (close)="closeEditOrder(i);onSearchDaily()"></app-edit-order>
                    </div>
                  </td>
                </tr>
              </ng-template>

              <div class="empty" *ngIf="selected == 1 && !loading2 && filteredList?.length <= 0">
                Nenhuma ordem encontrada!
              </div>

              <ng-template *ngIf='selected == 0 && !loading && filteredHistory?.length >= 0' class="row-template" ngFor
                let-element [ngForOf]="filteredHistory" let-i="index">
                <tr class="table-row-height" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave(i)" id="tr{{i}}"
                  (click)="i !== idDetails ? openDetail(i) : closeDetail(i)">
                  <td class="text-align status-padding" style="width: 10%;">
                    <mat-icon *ngIf="i !== idDetails" class="pointer arrow">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="i === idDetails" class="pointer arrow">keyboard_arrow_up</mat-icon>
                    <div [ngClass]="{
                                   'Nova':'new-font-os',
                                   'Pendente':'pending-font-os',
                                   'Parcialmente executada':'partially-font-os',
                                   'Editada':'edited-font-os',
                                   'Edição Pendente':' pending-edition-font-os',
                                   'Cancelamento Pendente':'cancellation-pending-font-os',
                                   'Cancelada':'canceled-font-os',
                                   'Rejeitada':'rejected-font-os',
                                   'Expirada':'expired-font-os',
                                   'Suspensa':'suspended-font-os',
                                   'Executada':'executed-font-os',

                    '0':''}[element.stateName]">
                      {{element.stateName}}</div>
                  </td>
                  <td class="text-align" style="width: 8%;">{{element.quote}}</td>
                  <td class="text-align" style="width: 7%;">{{element.type}}</td>
                  <td class="number-align" style="width: 10%;"
                    [ngClass]="{'text-buy': element.buyOrSell === 'Compra', 'text-sell': element.buyOrSell === 'Venda'}">
                    {{element.buyOrSell === 'Compra' ? 'C' : 'V'}} </td>
                  <td class="number-align" style="width: 7%;">{{element.quantitySupplied | number:'0.2-2':'pt'}}</td>
                  <td class="number-align" style="width: 8%;">{{element.quantityExecuted | number:'0.2-2':'pt'}}</td>
                  <td class="number-align" style="width: 10%;">{{element.quantityRemaining | number:'0.2-2':'pt'}}</td>
                  <td class="number-align" style="width: 8%;">{{element.price | number}}</td>
                  <td class="number-align" style="width: 9%;">{{element.priceAverage | number}}</td>
                  <td class="text-align" style="width: 10%;">{{element.marketName}}</td>
                  <td class="date-align" style="width: 14%;">{{element.transactTime}}
                    <div class="gradient-options">
                      <div class="div-options">
                        <mat-icon
                          *ngIf="element.stateCode !== 0 || element.stateCode !== 1 || element.stateCode !== 5 || element.stateCode !== 6 || element.stateCode !== 9 || element.stateCode !== 'A' || element.stateCode !==  'E' || element.stateCode !== 'R'"
                          (click)="confirmSend(element, $event)" svgIcon="reenviarOrder"
                          class="icon-options enlarge icon-order-two reply" title="Reenviar Ordem"></mat-icon>
                        <mat-icon *ngIf="i == idEdit && openStatus.generic.includes(element.stateName) && element.stateCode !== 'A'"
                          svgIcon="editarOrder" (click)="closeEditOrder(i, $event)"
                          class="icon-options icon-order-two edit" title="Editar Ordem"></mat-icon>
                        <mat-icon *ngIf="i != idEdit && openStatus.generic.includes(element.stateName) && element.stateCode !== 'A'"
                          svgIcon="editarOrder" (click)="openEditOrder(i, $event)"
                          class="icon-options icon-order-two edit" title="Editar Ordem"></mat-icon>
                        <mat-icon *ngIf="openStatus.generic.includes(element.stateName)" svgIcon="removerOrder"
                          (click)="cancelOrder(element, $event)" class="icon-options shrink icon-order-two delete"
                          title="Cancelar Ordem"></mat-icon>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave(i)" id="trd{{i}}">
                  <td colspan="12">
                    <div *ngIf="idDetails === i" [@animateDetails]="stateDetails"
                      [@animateDetailsClose]="stateDetailsClose">
                      <app-orders-history-detail [dataOrder]="element"></app-orders-history-detail>
                    </div>
                    <div *ngIf="idEdit === i" [@animateDetails]="stateDetails"
                      [@animateDetailsClose]="stateDetailsClose">
                      <app-edit-order (close)="closeEditOrder(i);onSearch()" [dataOrder]="element"></app-edit-order>
                    </div>
                  </td>

                </tr>
              </ng-template>

              <div class="empty" *ngIf="selected == 0 && !loading && filteredHistory?.length <= 0">
                Nenhuma ordem encontrada!
              </div>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <app-paginator *ngIf='selected == 0 && !loading' (result)='filteredHistory = ($event)' [list]="historyList">
    </app-paginator>

    <app-paginator *ngIf='selected == 1 && !loading2' (result)='filteredList = ($event)' [list]="currentDailyList">
    </app-paginator>

    <div class="spinner" *ngIf="(loading && selected == 0) || (loading2 && selected == 1)">
      <app-spinner-loading></app-spinner-loading>
    </div>
  </div>