<div class="quickSearchAutoComplete">
  <div [ngClass]="focus ? 'barFocused' : 'bar'" class="row justify-content-md-center" (focusout)="inputShrink()">
     <div class="col-2">
      <mat-icon svgIcon="search" class="search-icon searchBar" id="searchBar"></mat-icon>
    </div>
    <div class="place col-10">
      <mat-form-field class="replace" [floatLabel]="'never'">
        <input id='toFocus' maxlength="12" matInput type="text" class="active" [matAutocomplete]="issuingAsset" (focus)="switchFocus(); onAutoCompletAsset($event)" (blur)="switchFocus()" (keyup)="onAutoCompletAsset($event)"
          ondragstart="return false;" ondrop="return false;" [value]="symbolAutoComplete" (keydown.enter)="onInputEnter($event)">
        <mat-placeholder class="placeholder">Pesquisa ...</mat-placeholder>
      </mat-form-field>

      <mat-autocomplete class="quick-search-autocomplete-panel" #issuingAsset id="issuingAsset">
        <mat-option *ngFor="let item of filteredAssets" 
          [value]="item.symbol" 
          (click)="onAutoCompletAsset(item.symbol)" 
          (onSelectionChange)="onchangeSymbol($event)">{{ item.symbol | uppercase }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
</div>
