@import "./../../variables.scss";
@import "./../../core/clients/daycoval/variables.scss";

/*  TEXTS */
$prefix: 'daycoval';
$font-default: "Roboto";
$font-rate: 1;
$border-radius: 28px;

/* GRADIENT COLORS */

$gradient-1:  #001c55;
$gradient-2:  #001c55;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);
$gradient-right: linear-gradient(to right, $gradient-2, $gradient-1);

$gradient-sell-1: #009e73;
$gradient-sell-2: #037b5a;
$gradient-sell-3: #589221;
$gradient-sell-left:  linear-gradient(to left, $gradient-sell-2, $gradient-sell-1);
$gradient-sell-right:  linear-gradient(to left, $gradient-sell-1, $gradient-sell-2);

$gradient-buy-1: #0088ca;
$gradient-buy-2: #0a83be;
$gradient-buy-3: $gradient-buy-1;
$gradient-buy-left: linear-gradient(to left, $gradient-buy-2, $gradient-buy-1);

// STYLEGUIDE COLORS

$primary01-color: #001c55;
$primary02-color: #009e73;

$secondary01-color: #001c55;
$secondary02-color: #596377;
$secondary03-color: #BEC0C2;
$secondary04-color: #009e73;
$secondary10-color: $secondary01-color;

$bg-color: #f1f1f1;
$executed: #009e73;
