<div class="styleguide container-fluid" #styleguide>
  <!-- INICIO PALETA DE CORES -->
  <div class="color-section row">
    <h1 class="col-12">01.Paleta de Cores</h1>
    <div class="col-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 bg-primary01">
          </div>
          <div class="col-6 bg-primary02">
          </div>
          <div class="txt-center col-12">
            Cores Primárias
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 bg-secondary01">
          </div>
          <div class="col-4 bg-secondary02">
          </div>
          <div class="col-4 bg-secondary03">
          </div>
          <div class="txt-center col-12">
            Cores Secundárias
          </div>
        </div>
      </div>

    </div>
    <div class="col-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 bg-gradient">
          </div>
          <div class="txt-center col-12">
            Gradiente
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- FIM PALETA DE CORES -->

  <!-- INICIO TIPOGRAFIA -->
  <div class="typography-section row">
    <h1 class="col-12">02.Tipografias</h1>

    <h1 class="col-4">H1 Título primário</h1>
    <h2 class="col-4">H2 Título secundário</h2>
    <h3 class="col-4">H3 Título</h3>
    <div class="font-examples col-12">
      <span>Fonte light</span>
      <span>Fonte light italic</span>
      <span>Fonte regular</span>
      <span>Fonte regular italic</span>
      <span>Fonte bold</span>
      <span>Fonte bold italic</span>
      <span>Fonte black</span>
      <span>Fonte black italic</span>
    </div>
  </div>
  <!-- FIM TIPOGRAFIA -->

  <!-- BOTOES -->
  <div class="buttons-section row">
    <h1 class="col-12">03.Botões</h1>
    <!-- INICIO BOTOES ESTILOS PRIMARIOS -->
    <div class="primary-buttons col-12">
      <h2 class="col-12">Primary buttons</h2>
      <div class="col-12 mb-1">
        <button mat-raised-button class="mr-1">Default</button>
        <button mat-raised-button class="mr-1" color="primary01">Primary01</button>
        <button mat-raised-button color="primary02">Primary02</button>
      </div>
      <div class="col-12 mb-1">
        <button mat-raised-button class="mr-1" disabled>Disabled</button>
        <button mat-raised-button class="mr-1" color="primary01" disabled>Disabled 01</button>
        <button mat-raised-button color="primary02" disabled>Disabled 02</button>
      </div>
    </div>
    <!-- FIM BOTOES ESTILOS PRIMARIOS -->

    <!-- INICIO BOTOES ESTILOS SECUNDARIOS -->
    <div class="secondary-buttons col-12">
      <h2 class="col-12">Secondary buttons</h2>
      <div class="col-12 mb-1">
        <button mat-stroked-button class="mr-1">
          BOTÃO
        </button>
        <button mat-stroked-button disabled>
          BOTÃO DISABLED
        </button>
      </div>
      <div class="col-12 mb-1">
        <button mat-stroked-button color="primary02" class="mr-1">
          PRIMARY02
        </button>
        <button mat-stroked-button color="primary02" disabled>
          PRIMARY02 DISABLED
        </button>
      </div>
    </div>
    <!-- FIM BOTOES ESTILOS SECUNDARIOS -->

    <!-- INICIO TAMANHO BOTOES -->
    <div class="button-size col-12">
      <h2 class="col-12">Tamanhos</h2>
      <div class="col-12 mb-1">
        <button mat-raised-button class="mr-1">NORMAL</button>
        <button mat-raised-button class="md mr-1">MEDIUM</button>
        <button mat-raised-button class="sm mr-1">SMALL</button>
        <button mat-raised-button class="xs">X-SMALL</button>
      </div>

      <div class="col-12">
        <button mat-raised-button class="full mr-1 mb-1">FULL</button>
      </div>
    </div>
    <!-- FIM TAMANHO BOTOES -->

    <!-- BOTOES DIVERSOS -->
    <!-- FIM BOTOES DIVERSOS -->
    <div class="button-size col-12">
      <h2 class="col-12">Diversos</h2>
      <div class="col-12 mb-1">
        <button mat-raised-button color="sell" class="xs mr-1">Vender</button>
        <button mat-raised-button color="buy" class="xs mr-1">Comprar</button>
        <button mat-mini-fab>+</button>
      </div>
      <div class="col-12">
        <div class="col-12 mb-1">
          <button mat-raised-button class="add mr-1" color="primary02">
            add componentes
            <div class="add-circle">
              +
            </div>
          </button>
          <button mat-raised-button class="md add mr-1" color="primary02">
            add componentes
            <div class="add-circle">
              +
            </div>
          </button>
          <button mat-raised-button class="sm add mr-1" color="primary02">
            add componentes
            <div class="add-circle">
              +
            </div>
          </button>
          <button mat-raised-button class="xs add mr-1 " color="primary02">
            add componentes
            <div class="add-circle">
              +
            </div>
          </button>
        </div>
        <div class="col-12 mb-1">
          <button mat-raised-button class="mr-1 radius-0" color="primary02">conectar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM BOTOES -->

  <!-- FORMULARIO -->
  <div class="form-section row">
    <h1 class="col-12">04.Formulário</h1>
    <!-- TEXT INPUT -->
    <h3 class="col-12">Text input</h3>
    <mat-form-field class="col-3">
      <input [formControl]="email" matInput placeholder="Input com validação (olhar .ts)">
      <mat-error *ngIf="email.invalid">Mensagem de erro</mat-error>
    </mat-form-field>
    <mat-form-field class="col-3">
      <input matInput placeholder="Input sem validação">
    </mat-form-field>
    <mat-form-field class="col-3">
      <input type="text" matInput placeholder="Input disabled" disabled>
    </mat-form-field>
    <!-- FIM TEXT INPUT -->
    <!-- TEXT SELECT -->
    <h3 class="col-12">Select</h3>
    <div class="col-12">
      <mat-form-field>
        <mat-select placeholder="selecione o tipo de extrato">
          <mat-option value="0">Informe de rendimentos</mat-option>
          <mat-option value="1">Informe de rendimentos</mat-option>
          <mat-option value="2">Informe de rendimentos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- FIM SELECT -->
    <!-- TEXT AUTOCOMPLETE -->
    <h3 class="col-12">Auto-complete</h3>
    <div class="col-12">
      <mat-form-field>
        <input type="text" placeholder="Qual é a sua corretora?" matInput [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let item of ['XP Investimentos', 'Guide', 'Easynvest']" value="{{item}}">
          <img src="./assets/images/svg/brokerages/{{item | lowercase}}.svg" style="  width: 35px;"> {{item}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <!-- FIM AUTOCOMPLETE -->
    <!-- DATE INPUT -->
    <h3 class="col-12"></h3>
    <div class="col-12">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
  </div>
  <!-- FIM FORMULARIO -->

  <!-- CHECKBOX RB TOGGLE -->
  <div class="select-elements-section row">
    <h1 class="col-12">05.Checkbox, Radio Button, Slide Toggle</h1>
    <div class="col-12">
      <mat-checkbox class="mr-1">Check me!</mat-checkbox>
      <mat-radio-group class="mr-1">
        <mat-radio-button value="1">Option 1</mat-radio-button>
      </mat-radio-group>
      <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </div>
  </div>
  <!-- CHECKBOX RB TOGGLE FIM -->

  <!-- INICIO COMPONENTES -->
  <div class="components-section row">
    <h1 class="col-12">06.Componentes</h1>
    <div class="col-12">
      <div class="select-pre-built">
        <div class="img-stack-component"></div>
        <span class="title">Personalize o seu</span>
        <span class="hidden-content">Planilha de Cotação, Gráfico de Cotação e Times & Trades</span>
      </div>
    </div>
  </div>
    <!-- FIM INICIO COMPONENTES -->

    <!-- INICIO MODAIS -->
    <div class="row">
      <h1 class="col-12">07.Modais</h1>
      <div class="col-12">
        <button mat-stroked-button class="mr-1" (click)="openModalFull()">Modal Full</button>
        <button mat-button class="mr-1" (click)="openModalCentered()">Modal Centralizado</button>
        <button mat-button color="primary02" (click)="openModalNormal()">Modal Normal</button>
      </div>
    </div>
    <!-- FIM MODAIS -->

    <!-- INICIO NOTIFICOES -->
    <div class="row">
      <h1 class="col-12">08.Notificações</h1>
      <div class="col-12">
        <button mat-stroked-button class="mr-1" (click)="notifySuccess()">Sucesso</button>
        <button mat-button class="mr-1" (click)="notifyWarn()">Warning</button>
        <button mat-button class="mr-1" (click)="notifyError()">Erro</button>
        <button mat-button class="mr-1" (click)="notifyInfo()">Info</button>
        <button mat-button color="primary02" (click)="notifyNormal()">Normal</button>
      </div>
    </div>
    <!-- FIM NOTIFICACOES -->

    <!-- INICIO SNACKBAR -->
    <div class="row">
      <h1 class="col-12">09.Alerta</h1>
      <div class="col-12 mb-1">
        <button mat-stroked-button class="mr-1" (click)="alertSuccess()">Sucesso</button>
        <button mat-button class="mr-1" (click)="alertWarn()">Warning</button>
        <button mat-button class="mr-1" (click)="alertError()">Erro</button>
        <button mat-button class="mr-1" (click)="alertInfo()">Info</button>
      </div>
    </div>
    <!-- FIM SNACKBAR -->

  <!-- Inicio COMPONENTS SELECTION -->
  <div class="row">
    <h1 class="col-12">10.Tabela</h1>
    <div class="col-12 mb-1">
      <ag-grid-angular style="width: 620px; height: 150px;" [rowHeight]="40" [enableSorting]="true" [rowData]="rowData" [columnDefs]="columnDefs"></ag-grid-angular>
    </div>
  </div>
</div>
