<div (window:beforeunload)="ngOnDestroy()" class="bookOffers">
  <div class="component-header">
    <span>LIVRO DE OFERTAS</span>
    <div class="icons">
      <!-- <mat-icon svgIcon="chain"></mat-icon> TODO adicionar quando funcionalidade estiver implementada  -->
      <mat-icon *ngIf="!newWindow" svgIcon="expand" (click)="openNewWindow()"></mat-icon>
      <mat-icon *ngIf="!newWindow" svgIcon="close" (click)="removeItemFromWorkspace()"></mat-icon>
    </div>
  </div>
  <div class="container-fluid gridster-item-content">

    <div class="component-input-header">
      <div class="asset-form-field">
        <div>
          <app-auto-complete [symbolAutoComplete]="symbol" [reset]="changingValue"
            (setActiveValid)="setActiveValid($event)" (onsymbolChanged)="selectAsset($event)" [autoSizeActive]="true">
          </app-auto-complete>
          <div [hidden]="hiddenInvalid" class="company m-company">{{ company }}</div>
        </div>
      </div>
      <div class="price-div" [hidden]="hiddenInvalid">
        <div class="price">
          <!-- <div class="last-trade" [ngClass]="{'2':'red-font', '1':'green-font', '0':''}[style]"> -->
          <div class="last-trade">
            <!-- <span class="rs" *ngIf="lastTrade && !indiceFuture">R$</span> -->
            <span class="auction_hammer" *ngIf="auctionHammer">
              <mat-icon class="icon" svgIcon="auction_hammer"></mat-icon>
            </span>
            <span class="last">{{ lastTrade }}</span>
            <!-- <span class="last">{{ lastTrade }}</span> -->
          </div>
          <div [ngClass]="{'size-box color-red' : variation < 0,
          'size-box color-green' : variation > 0,
          'size-box color-grey' : variation === 0}">
            <div *ngIf="!showVariation && !messageQuote.dateLastNegotiation">
              {{ messageQuote.hourLastTrade ? messageQuote.hourLastTrade : messageQuote.timeUpdate }}
            </div>
            <div *ngIf="!showVariation && messageQuote.dateLastNegotiation">
              {{ messageQuote.dateLastNegotiation }}
            </div>
            <div *ngIf="showVariation">
              {{variation > 0 ? '+' : ''}} {{variation ? (variation/100 | percent:'1.2':'pt') : '' }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="invalid" [hidden]="!hiddenInvalid">{{ msgInvalidAsset }}</div>

    <mat-divider></mat-divider>
    <div class="pressure-bar-container">
      <div class="boxes-container">
        <div class="grey-box">
          mínimo:&nbsp;<b>{{ messageQuote.low ? messageQuote.low : '0' }}</b>
        </div>
        <div class="grey-box">
          máximo:&nbsp;<b>{{ messageQuote.high ? messageQuote.high : '0' }}</b>
        </div>
      </div>

      <div class="pressure-bar" [style.background]="classPressure"></div>

      <div class="volume-container">
        <span>{{ percentageBuy/100 | percent:'1.2':'pt' }}</span>
        <span>{{ percentageSell/100 | percent:'1.2':'pt' }}</span>
      </div>

      <mat-divider></mat-divider>
    </div>

    <div class="row" [ngClass]="hiddenInvalid ? 'has-msg' : ''">
      <mat-tab-group class="col-12" (selectedTabChange)="changeTab($event)">
        <mat-tab label="DETALHADO">
          <!-- TELA DETALHADO -->
          <div class="header-table">
            <div class="line">
              <div class="padding-letter1" style="width: 19.8%; min-width: 19.8%;">CORR.</div>
              <div class="padding-number" style="width: 13.6%; min-width: 13.6%">QTD.</div>
              <div class="padding-number" style="width: 16.7%; min-width: 16.7%">COMPRA</div>
              <div class="padding-number2" style="width: 16%; min-width: 16%">VENDA </div>
              <div class="padding-number3" style="width: 17.4%; min-width: 17.4%">QTD.</div>
              <div class="padding-letter2" style="width: 19.8%; min-width: 19.8%">CORR.</div>
            </div>
          </div>
          <div id="agGrid" class="flex-column table-book align" *ngIf="!loadingDetailBook">
            <!-- <div class="empty" *ngIf="rowOffersData?.length <= 0">Não há dados do ativo.</div> -->
            <table class="col-12 table-striped table-hovered table-body" *ngIf="rowOffersData?.length >= 0">
              <tbody>
                <tr *ngFor="let row of rowOffersData let index=index;">
                  <td (mouseenter)="mouseEnterBrokerRow()" (mouseleave)="mouseLeaveBrokerRow()"
                    class="letterAlign tooltip-cell">
                    <span [ngStyle]="{'margin-top' : tooltiphover ? '0' : '-13px'}">{{row.broker_purchase_short}}</span>
                    <div *ngIf="tooltiphover" matTooltipPosition="above" matTooltip="{{row.broker_purchase}}"></div>
                  </td>
                  <td class="numberAlign">{{ row.qty_purchase }}</td>
                  <td class="buy-aggressor !important numberAlign" (click)="openBillet('sell', row.purchase);">
                    <currency-cell [price]="row.purchase" [changeBackground]="false"></currency-cell>
                  </td>
                  <td class="sell-aggressor !important numberAlign" (click)="openBillet('buy', row.sale);">
                    <currency-cell [price]="row.sale" [changeBackground]="false"></currency-cell>
                  </td>
                  <td class="numberAlign">{{ row.qty_sale }}</td>
                  <td (mouseenter)="mouseEnterBrokerRow()" (mouseleave)="mouseLeaveBrokerRow()"
                    class="letterAlign tooltip-cell">
                    <span class="lastField" [ngStyle]="{'margin-top' : tooltiphover ? '0' : '-13px'}">{{
                      row.broker_sale_short }}</span>
                    <div *ngIf="tooltiphover" matTooltipPosition="above" matTooltip="{{row.broker_sale}}"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>

        <mat-tab label="AGREGADO" (selectedTabChange)="changeTab(2)">
          <!-- TELA AGREGADO -->
          <div class="header-table">
            <div class="line">
              <div class="numberAlignAgr">QTD.</div>
              <div class="numberAlignAgr">COMPRA</div>
              <div class="numberAlignAgr">VENDA</div>
              <div class="numberAlignAgr">QTD.</div>
            </div>
          </div>
          <div id="agGrid" class="flex-column table-book2" *ngIf="!loadingAggregatedBook">
            <!-- <div class="empty" *ngIf="rowPriceData?.length <= 0">Não há dados do ativo.</div> -->
            <table class="col-12 table-striped table-hovered" *ngIf="rowPriceData?.length >= 0">
              <tbody>
                <tr *ngFor="let row of rowPriceData let index=index;">
                  <td class="numberAlignData">{{ row.qty_purchase }}</td>
                  <td class="buy-aggressor numberAlignData" style="width: 40px;"
                    (click)="openBillet('sell', row.purchase);">
                    <currency-cell [price]="row.purchase" [changeBackground]="false"></currency-cell>
                  </td>
                  <td class="sell-aggressor numberAlignData" style="width: 40px;"
                    (click)="openBillet('buy', row.sale);">
                    <currency-cell [price]="row.sale" [changeBackground]="false"></currency-cell>
                  </td>
                  <td class="numberAlignData">{{ row.qty_sale }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
    <div class="spinner" *ngIf="(loading || loadingDetailBook || loadingAggregatedBook) && !hiddenInvalid">
      <app-spinner-loading></app-spinner-loading>
    </div>
    <div *ngIf="hiddenInvalid" class="no-data-msg">
      <div>{{ msgNoData }}</div>
    </div>
    <div (window:beforeunload)="closeSheet()"></div>
  </div>
</div>