@import "./../../variables.scss";
@import "./../../core/clients/rb-capital/variables.scss";

/*  TEXTS */
$prefix: 'rb-capital';
$font-default: "RopaSansPro";
$font-rate: 1.2;
$border-radius: 1px;

/* GRADIENT COLORS */

$gradient-1:  #443C38;
$gradient-2:  #655952;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);
$gradient-right: linear-gradient(to right, $gradient-2, $gradient-1);

$gradient-sell-1: #589221;
$gradient-sell-2: #78bd36;
$gradient-sell-left:  linear-gradient(to left, $gradient-sell-2, $gradient-sell-1);
$gradient-sell-right:  linear-gradient(to left, $gradient-sell-1, $gradient-sell-2);

$gradient-buy-1: #ff9204;
$gradient-buy-2: #ffdd00;
$gradient-buy-3: $gradient-buy-1;
$gradient-buy-left: linear-gradient(to left, $gradient-buy-2, $gradient-buy-1);

// STYLEGUIDE COLORS

$primary01-color: #8c8278;
$primary02-color: #96d600;

$secondary01-color: #6e6159;
$secondary02-color: #b5ada6;
$secondary03-color: #d6d1cc;
$secondary04-color: #63b500;
$secondary10-color: $secondary01-color;

$bg-color: #E6E3DF;
