/*  TEXTS */
$prefix: 'rb-capital';
$font-default: 'Ropa';

/*  OTHERS */

/*  COLORS */
$gradient-1:  #443C38;
$gradient-2:  #655952;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);

$primary01-color: #96D600;
$primary01-hover-color: #63B500;
$primary01-disabled-color: #BDDC6E;

$primary02-color: #6E6159;
$primary02-hover-color: #433A34;
$primary02-disabled-color: #A9A19B;

$secondary01-color: #6e6159;
$secondary02-color: #b5ada6;
$secondary03-color: #d6d1cc;
$secondary04-color: #63b500;

$default-color: $primary02-color;
$default-hover-color: $primary02-hover-color;
$default-disabled-color: $primary02-disabled-color;

$bg-color: #E6E3DF;

$header-gradient01-color: #443C38;
$header-gradient02-color: #655952;
$header-gradient03-color: #655952;
$header-gradient-right: linear-gradient(to right, $header-gradient01-color, $header-gradient02-color);
$header-gradient-right-filter: linear-gradient(to right, $header-gradient03-color, $header-gradient02-color);
