$component-header-title-color: $secondary02-color;
$component-header-bg-color: $secondary11-color;

.component-header {
    height: 40px;
    background-color: rgba($component-header-bg-color, 0.26);
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $component-header-bg-color;

    font-size: font-size(16px);
    font-weight: 900;
    color: $component-header-title-color;

    .icons {
        mat-icon {
            width: 13px;
            // height: 13px;
            margin-left: 9px;
            cursor: pointer;

            &:last-child {
                margin-left: 5px;
                width: 19px;
                // height: 19px;
            }
        }
    }
}

.darkTheme .component-header {
    background-color: $dark-grey-bg;
    color: $grey-font;
    border-bottom-color: $border-divisor;
}