.component-input-header {
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 8px;
    .asset-form-field {
        .mat-form-field {
            height: 1;
            .mat-form-field-infix {
                padding-top: 0 !important;
                border-top: 0;
            }
            .mat-form-field-subscript-wrapper {
                margin-top: 0;
            }
        }
    }
    .price-div {
        max-width: 150px !important;
        .price {
            float: right;
            width: fit-content;
            div:nth-child(even) {
            border-radius: 2px;
            text-align: center;
            font-size: 15.8px;
            }
            .last-trade {
                font-weight: 900;
                text-align: center;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                width: 91px;
                height: 29px !important;
                .last {
                    font-size: font-size(24px);
                    line-height: 1.21;
                }
                .rs {
                    font-size: font-size(10px);
                    line-height: 1.8;
                    margin-right: 3px;
                }
            }
            .size-box {
                width: 91px;
                height: 23.1px;
                border-radius: 2px !important;
            }
            .color-red {
                color: $negative-currency-value;
                background-color: rgba($negative-currency-value, 0.15);
                font-size: font-size(15px);
                font-weight: bold;
            }
            .color-green {
                color: $high-variation-color;
                background-color: $high-variation-background-color;
                font-size: font-size(15px);
                font-weight: bold;
            }
            .color-grey {
                color: $secondary02-color;
                background-color: transparent;
                font-size: font-size(15px);
                font-weight: bold;
            }
            .green-font {
                .last::before {
                    content: '';
                    border: 5px solid transparent;
                    border-bottom: 5px solid $high-variation-color;
                    top: -16px;
                    position: relative;
                    left: -4px;
                }
            }
            .red-font {
                .last::before {
                    content: '';
                    border: 5px solid transparent;
                    border-top: 5px solid $negative-currency-value;
                    top: 16px;
                    position: relative;
                    left: -4px;
                }
            }
        }
    }
}
.company {
    height: 15px;
    margin-top: 3px;
    font-size: font-size(10px);
    font-weight: 500;
    text-align: left;
    color: $secondary03-color;
}
.invalid {
    font-size: font-size(10px);
    font-weight: 500;
    margin-left: 0px;
    margin-top: -22px;
    color: $error;
}