$alert-success: #d9ece3;
$alert-error: #f2dcdc;
$alert-warning: #fef5e5;
$alert-info: #dbe4f2;

.customSnackbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: fit-content;
    max-height: 200px;

    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    padding: 10px 15px;
    padding-left: 50px;

    .close-btn {
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        font-size: font-size(15px);
    }

    &.warn {
        background-color: $alert-warning;
        color: $notification-warning;
        border-color: $notification-warning;
        background-image: url('/assets/images/svg/alert-warning.svg')
    }

    &.success {
        background-color: $alert-success;
        color: $notification-success;
        border-color: $notification-success;
        background-image: url('/assets/images/svg/alert-success.svg')
    }

    &.error {
        background-color: $alert-error;
        color: $notification-error;
        border-color: $notification-error;
        background-image: url('/assets/images/svg/alert-error.svg')
    }

    &.info {
        background-color: $alert-info;
        color: $notification-info;
        border-color: $notification-info;
        background-image: url('/assets/images/svg/alert-info.svg')
    }

    &.no-network {
        background-color: #ff4e4e;
        color: $white;
        border-color: #ff4e4e;
        background-image: none;
        border-radius: 0px;
        justify-content: center;

        .close-btn {
            display: none;
        }
    }
}