.pressure-bar-container {
    padding-top: 10px;

    .pressure-bar {
        border-radius: 10px;
        height: 11px;

        &:before, &:after {
            content: '';
            position: relative;
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            top: 12px;
            z-index: 2;
            border-top-width: 3px;
            border-top-style: solid;
        }

        &:before {
            border-top-color: $gradient-sell-2;
            right: -96.3%;
        }

        &:after {
            border-top-color: $gradient-buy-3;
            right: 0;
        }
    }

    .boxes-container {    
        display: flex;
        flex-flow: row;
        margin-bottom: 10px;
    }

    .grey-box {
        width: fit-content;
        padding: 7px 18px;
        background-color: rgba($secondary03-color, 0.08);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12.4px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .volume-container {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 5px;
    
        span {
            font-size: font-size(10px);
            font-weight: bold;
            color: $gradient-buy-3;
            &:last-child {
                color: $gradient-sell-2;
            }
        }
    }

    .mat-divider {
      margin-bottom: 10px;
    }

    mat-divider {
      &.mat-divider-arrow {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: -9px;
          left: calc(50% - 8px);
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          // border-top: 4px solid transparent;
          border-bottom: 8px solid rgba(0, 0, 0, 0.12);
        }
      }
    }
}

.darkTheme {
  mat-divider {
    border-top-color: rgba($secondary02-color, 0.2);
    &.mat-divider-arrow {
     
      &:after {
        border-bottom-color: rgba($secondary02-color, 0.2);
      }
    }
  }
}