<div class="error-screen">
  <mat-icon svgIcon="{{errorMsg.iconName}}"></mat-icon>
  <div class="text-container">
    <span class="title">{{errorMsg.title}}</span>
    <span class="subtitle">{{errorMsg.text}}</span>
    <button (click)='onClick()' mat-raised-button color="primary02" class="sm">{{errorMsg.buttonText}}</button>
  </div>
</div>