<div class="news-detail">
  <div id="scrollable-area" class="scrollable-area" (scroll)="onScroll($event)">
    <div class="detail-img-content" [ngStyle]="{ 'background-image': 'url(' + urlImg + ')'}" *ngIf="urlImg"></div>
    <div class="card-title-content">
      <div class="title-header">
        <div class="row m-0">
          <div class="col-6 news-agency">
            <img class="img-compamy" src="{{companyImg}}">
            {{newFastMarketNews.agencyDescription ? newFastMarketNews.agencyDescription : ''}}
          </div>

          <div class="col-6 news-date">
            <span *ngIf="typeNews === 0">{{ newFastMarketBranch.date | date: 'dd \'DE\' MMMM yyyy - HH:mm:ss'| uppercase }}</span>
            <span *ngIf="typeNews === 1">{{ newFastMarketNews.newsDate | date: 'dd \'DE\' MMMM yyyy - HH:mm:ss'| uppercase }}</span>
            <span *ngIf="typeNews === 2">{{ newWF.newsDate | date: 'dd \'DE\' MMMM yyyy - HH:mm:ss'| uppercase}}</span>
          </div>
          <div class="col-12 col-hr">
            <hr>
          </div>
          <div class="col-11 col-title">
            <span *ngIf="typeNews === 0">{{ newFastMarketBranch.title.rendered }}</span>
            <span *ngIf="typeNews === 1">{{ newFastMarketNews.title }}</span>
            <span *ngIf="typeNews === 2">{{ newWF.title }}</span>
          </div>
        </div>
        <button class="goback-button" (click)="closeDetails()" *ngIf="close">
          <mat-icon svgIcon="goback"></mat-icon>
          <span class="button-text2">Voltar</span>
        </button>
        <!-- <button (click)="closeDetails()" class="btn-close" *ngIf="close">
          <mat-icon svgIcon="close"></mat-icon>
        </button> -->
      </div>
    </div>
    <div id="div-detail" class="div-detail">
      <pre *ngIf="typeNews === 0" [innerHTML]="newFastMarketBranch.content.rendered"></pre>
      <pre *ngIf="typeNews === 1" [innerHTML]="newFastMarketNews.fullDescription"></pre>
      <pre *ngIf="typeNews === 2" [innerHTML]="newWF.description"></pre>
    </div>
  </div>
  <button id="btn-scroll" class="btn-scroll btn-hidden" (click)="scrollTop()">
    <mat-icon>expand_less</mat-icon>
  </button>
</div>