<div id="sidebar-left" class="sidebar-left">
  <nav id="menu-sidebar-left" class="menu-sidebar-left">
    <ul class="list">
      <!-- ######################### Assessor Profile ############################# -->
      <li *ngIf="connectedAs == 1" id="perfil-assessor" class="list-item item-perfil-assessor-cliente">

        <div class="spinner" *ngIf="loadingAssessor" style="margin-top: 45px;">
          <app-spinner-loading></app-spinner-loading>
        </div>
        <div *ngIf="!loadingAssessor" class="photo-container" id="assessorSearch" (click)="openAssessorSearch()">
          <img id="image-assessor" class="perfil-photo" alt="" src="{{image}}">
        </div>
        <span *ngIf="!loadingAssessor" id="name-assessor" class="perfil-name">{{ clientName | uppercase }}
        </span>
        <div class="perfil-kind" *ngIf="!loadingAssessor">
          Perfil: <span class="bold {{ assessorClientSelected.user.profile_color }}">
            {{ assessorClientSelected.user.profile_name ? (assessorClientSelected.user.profile_name | uppercase) : ('Não encontrado' | uppercase) }}</span>
        </div>
        <mat-form-field *ngIf="!loadingAssessor">
          <mat-select (click)='this.dialog.closeAll()' (selectionChange)="changeAccount()" [(ngModel)]="selectedAccount"
            class="select" panelClass='sidebar-select' disableRipple='true'>
            <mat-option *ngFor="let account of accountHbLogged" [value]="account.account">{{ account.account }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <!-- ######################### Perfil Corretora ############################# -->
      <li *ngIf="connectedAs == 2" id="perfil-corretora" class="list-item item-perfil-corretora">
        <div class="perfil-div">
          <div class="photo-container">
            <img id="image-corretora" class="perfil-photo" alt="" src="{{ image }}">
          </div>
          <div class="perfil-font">{{ clientName }}</div>
        </div>
        <div class="perfil-kind" *ngIf="!loadingAssessor">
          Perfil: <span class="bold" [ngClass]="{'yellow': perfilProfile === 'MODERADO', 'purple': perfilProfile === 'BALANCEADO',
           'orange': perfilProfile === 'ARROJADO', 'red': perfilProfile === 'AGRESSIVO',
           'blue': perfilProfile === 'CONSERVADOR', 'blue': perfilProfile === '' }">
            {{ perfilProfile ? (perfilProfile | uppercase) : ('Não encontrado' | uppercase) }}
          </span>
        </div>
        <select class="select">
          <option>98565454</option>
          <option>98566568</option>
          <option>98477412</option>
          <option>95232638</option>
        </select>
      </li>
      <!-- ######################### Perfil Não conectado ############################# -->
      <!-- <li *ngIf="connectedAs == 3" id="perfil-not-connected" class="list-item not-connected" (click)="openBrokerAuthenticationModal()"
        style="opacity: 0.5; cursor: no-drop;"> -->
      <li *ngIf="connectedAs == 3" id="perfil-not-connected" class="list-item not-connected">
        <div class="photo-container">
          <img id="image-not-connected" class="perfil-photo ico" alt="" src="{{ image }}">
          <div class="text">Você não está conectado na corretora / simulador</div>
        </div>
        <!-- <button id="perfil-button" class="perfil-button" style="opacity: 0.5; cursor: no-drop;">CONECTAR</button> -->
        <button id="perfil-button" class="perfil-button" (click)="openBrokerAuthenticationModal()">CONECTAR</button>
      </li>
      <!-- ######################### Perfil CEDRO (WF) ############################# -->
      <li *ngIf="connectedAs == 4" id="perfil-corretora" class="list-item item-perfil-corretora">
        <div class="spinner" *ngIf="loadingAssessorCedro" style="margin-top: 0px;">
          <app-spinner-loading></app-spinner-loading>
        </div>
        <div class="perfil-div"
          *ngIf="!isLoginTypeWSO2 && (whithelabel === 1 || whithelabel === 4) && !loadingAssessorCedro">
          <div class="photo-container">
            <img id="image-corretora" class="perfil-photo" alt="" src="{{ image }}">
          </div>
          <div class="perfil-font">{{ clientName }}</div>
        </div>
        <div class="perfil-kind" *ngIf="!loadingAssessorCedro">
          Perfil: <span class="bold" [ngClass]="{'yellow': perfilProfile === 'MODERADO', 'purple': perfilProfile === 'BALANCEADO',
           'orange': perfilProfile === 'ARROJADO', 'red': perfilProfile === 'AGRESSIVO',
           'blue': perfilProfile === 'CONSERVADOR', 'blue': perfilProfile === '' }">
            {{ perfilProfile ? (perfilProfile | uppercase) : ('Não encontrado' | uppercase) }}
          </span>
        </div>
        <mat-form-field *ngIf="!loadingAssessorCedro">
          <mat-select (click)='this.dialog.closeAll()' (selectionChange)="changeAccount()" [(ngModel)]="selectedAccount"
            class="select" panelClass='sidebar-select' disableRipple='true'>
            <mat-option *ngFor="let account of accountOptions" [value]="account">{{ account }}</mat-option>
            <mat-option value="sair">
              <mat-icon svgIcon="power"></mat-icon>Sair
            </mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <!-- ######################### Perfil CEDRO (WF) ############################# -->
      <li *ngIf="connectedAs == 5" id="perfil-corretora" class="list-item item-perfil-corretora">
        <div class="perfil-div simulator">
          <div class="perfil-font">{{ clientName }}</div>
        </div>
        <mat-form-field>
          <mat-select (click)='this.dialog.closeAll()' (selectionChange)="changeAccount()" [(ngModel)]="selectedAccount"
            class="select" panelClass='sidebar-select' disableRipple='true'>
            <mat-option *ngFor="let account of accountOptions" [value]="account">{{ account }}</mat-option>
            <mat-option value="sair">
              <mat-icon svgIcon="power"></mat-icon>Sair
            </mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <!-- ############################################################################ -->
      <div class="scroll-menu">
        <hr class="divider" *ngIf="whithelabel === 10">
        <li class="list-item" id="ranking" (click)="openRanking()" [ngClass]="{'selected': menuSelected === 11}"
          *ngIf="whithelabel === 10">
          <a>
            <div class="list-item-div color-icon">
              <mat-icon class="icon_coin" svgIcon="ranking"></mat-icon>
              <span class="list-item-font">RANKING</span>
            </div>
          </a>
        </li>
        <!-- ############################################################################ -->
        <hr class="divider" *ngIf="whithelabel === 10">
        <li class="list-item" id="educational" (click)="openEducational()" [ngClass]="{'selected': menuSelected === 12}"
          *ngIf="whithelabel === 10">
          <a>
            <div class="list-item-div color-icon">
              <mat-icon svgIcon="material-educacional" class="icon_coin"></mat-icon>
              <span class="list-item-font">MATERIAL EDUCACIONAL</span>
            </div>
          </a>
        </li>
        <!-- ############################################################################ -->
        <hr class="divider">
        <!-- <li class="list-item" style="opacity: 0.5; cursor: no-drop;"> -->
        <li class="list-item" (click)="openMyBalance()" id="balance" [ngClass]="{'selected': menuSelected === 4}">
          <!-- (click)="openMyBalance()" id="balance" -->
          <a>
            <div class="list-item-div">
              <mat-icon class="icon_coin" svgIcon="coin"></mat-icon>
              <span class="list-item-font">FINANCEIRO</span>
            </div>
            <!-- <div class="list-item-content-div my-balance">
            <span class="list-item-content-font">{{ balance ? balance : '-' }}</span>
          </div> -->
          </a>
        </li>
        <!-- ############################################################################ -->
        <hr class="divider">
        <!-- <li class="list-item" style="opacity: 0.5; cursor: no-drop;"> -->
        <li class="list-item" (click)="openHistory()" id="history" [ngClass]="{'selected': menuSelected === 2}">
          <!-- (click)="openHistory()" id="history" -->
          <a>
            <div class="list-item-div">
              <mat-icon class="icon_coin" svgIcon="layers"></mat-icon>
              <span class="list-item-font">ORDENS</span>
            </div>
            <!-- <div class="list-item-content-div">
            <span class="list-item-content-font">{{ quantityOrder > 0 ? quantityOrder : '0'}} aberta(s)</span>
          </div> -->
          </a>
        </li>
        <!-- ############################################################################ -->
        <hr class="divider">
        <!-- <li class="list-item" style="opacity: 0.5; cursor: no-drop;"> -->
        <li class="list-item" (click)="openCustody()" id="custody" [ngClass]="{'selected': menuSelected === 3}">
          <!-- (click)="openCustody()" id="custody" -->
          <a>
            <div class="list-item-div">
              <mat-icon svgIcon="file" class="icon_coin"></mat-icon>
              <span class="list-item-font">CUSTÓDIA</span>
            </div>
            <!-- <div class="list-item-content-div">
            <span class="list-item-content-font">{{ custodyOrders ? custodyOrders : '0' }} ativo(s)</span>
          </div> -->
          </a>
        </li>
        <!-- ############################################################################ -->
        <hr class="divider">
        <li class="list-item" id="graph" (click)="openGraph()" [ngClass]="{'selected': menuSelected === 7}">
          <a>
            <div class="list-item-div">
              <mat-icon svgIcon="line-chart-sidebar" class="icon_coin"></mat-icon>
              <span class="list-item-font">GRÁFICOS</span>
            </div>
          </a>
        </li>
        <!-- ############################################################################ -->
        <hr class="divider">
        <li class="list-item" id="news" (click)="openNews()" [ngClass]="{'selected': menuSelected === 8}">
          <a>
            <div class="list-item-div">
              <mat-icon svgIcon="news" class="icon_coin"></mat-icon>
              <span class="list-item-font">NOTÍCIAS</span>
            </div>
          </a>
        </li>
        <!-- ############################################################################ -->
        <hr class="divider" *ngIf="(whithelabel !== 1 && whithelabel !== 4 && whithelabel !== 10)">
        <li class="list-item" id="brokerage" (click)="openBrokerage()" [ngClass]="{'selected': menuSelected === 9}"
          *ngIf="(whithelabel !== 1 && whithelabel !== 4 && whithelabel !== 10)">
          <a>
            <div class="list-item-div">
              <mat-icon svgIcon="news" class="icon_coin"></mat-icon>
              <span class="list-item-font">NOTA DE CORRETAGEM</span>
            </div>
          </a>
        </li>
        <!-- ############################################################################ -->
        <hr class="divider" *ngIf="(whithelabel !== 1 && whithelabel !== 4 && whithelabel !== 10)">
        <li class="list-item" id="extrato" (click)="openExtract()" [ngClass]="{'selected': menuSelected === 10}"
          *ngIf="(whithelabel !== 1 && whithelabel !== 4 && whithelabel !== 10)">
          <a>
            <div class="list-item-div">
              <mat-icon svgIcon="news" class="icon_coin"></mat-icon>
              <span class="list-item-font">EXTRATO</span>
            </div>
          </a>
        </li>
        <!-- ############################################################################ -->
        <!-- TODO: MENU DADOS CADASTRAIS -->
        <!-- <li class="list-item" (click)="openAssessorData()" id="assessorData" [ngClass]="{'selected': menuSelected === 9}"
        *ngIf="isAssessor && isLoginTypeWSO2"> -->
        <!-- <li class="list-item" (click)="openAssessorData()" id="assessorData" [ngClass]="{'selected': menuSelected === 9}">
        <a>
          <div class="list-item-div">
            <mat-icon class="icon_coin" svgIcon="coin"></mat-icon>
            <span class="list-item-font">DADOS PESSOAIS</span>
          </div>
        </a>
      </li>
      <hr class="divider"> -->
      </div>
    </ul>
    <!-- ############################################################################ -->
    <div style="clear: both;"></div>
    <div class="help" [ngClass]="{'support': whithelabel === 7}" *ngIf="!isLoginTypeWSO2 && !showHelp">
      <div class="rectangle"></div>
      <div class="list-item-content-div">
        <span class="">{{ titleHelp }}</span>
        <div *ngIf="whithelabel === 10">
          <img src="./assets/images/svg/apoio.png">
        </div>
      </div>
      <div class="list-end-item-font-text" *ngIf="whithelabel === 7">Suporte</div>
      <div class="list-end-item-content-div" [ngClass]="{'noCursor': whithelabel === 7}" (click)="openWhatsappWindow()"
        *ngIf="helpPhone1">
        <img src="./assets/images/svg/whatsapp-logo.svg" style="width: 15px;" *ngIf="whithelabel !== 7">
        <span [ngClass]="{'m-help-whats': whithelabel === 1}">{{ helpPhone1 }}</span>
      </div>
      <div class="list-end-item-font-text" *ngIf="whithelabel === 7">Ouvidoria</div>
      <div class="list-end-item-content-div" [ngClass]="{'noCursor': whithelabel === 7}" (click)="openWhatsappWindow()"
        *ngIf="helpPhone2">
        <img src="./assets/images/svg/whatsapp-logo.svg" style="width: 15px;" *ngIf="whithelabel !== 7">
        <span [ngClass]="{'m-help-whats': whithelabel === 1}">{{ helpPhone2 }}</span>
      </div>
      <div class="list-end-item-content-div" *ngIf="helpEmail">
        <a href="mailto:{{ helpEmail }}">{{ helpEmail }}</a>
      </div>
      <!-- TODO HABILITAR NEGOTIATION -->
      <!-- <div class="list-end-item-content-div">
        <a>
          <span class="list-end-item-content-link-font underline">Visite o FAQ</span>
        </a>
      </div> -->
    </div>
  </nav>
  <div id="minmax-button" class="minimize-maximize-button" (click)="openCloseSidebar()">
    <div id="triangle-left-bar" class="triangle-left">
    </div>
  </div>
</div>