$ag-grid-header-bg: #e5eef4;
$ag-grid-odd-row-bg: #f4f5f6;
$ag-grid-header-color: $secondary02-color;
$ag-grid-row-color: #848484;

.worksheet {
  ag-grid-angular {
    &.ag-theme-balham {
      .ag-icon-checkbox-checked,
      .ag-icon-checkbox-unchecked,
      .ag-icon-checkbox-indeterminate {
        background-size: 12px 12px !important;
      }
    }
  }
}

ag-grid-angular {
//   &.ag-theme-balham {
//     .ag-icon-checkbox-checked,
//     .ag-icon-checkbox-unchecked,
//     .ag-icon-checkbox-indeterminate {
//       background-size: 12px 12px !important;
//     }
//   }
  .ag-header {
    height: 30px !important;

    .ag-header-row {
      color: $ag-grid-header-color;
      font-size: font-size(12px);
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      height: 40px !important;

      .ag-header-cell {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .ag-row {
    color: $ag-grid-row-color;
    font-size: font-size(13px);
    &:nth-child(even) {
      // TODO background-color: $ag-grid-odd-row-bg;
    }

    &:hover {
      transform: scale(1.01) translateX(0.5) !important;
      color: $ag-grid-header-color;
      font-weight: bold;
      .remove-btn {
        display: block;
      }
    }

    .ag-cell {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
