<div class="balance-consult-component-new" #balance>

  <!-- Header -->
  <div class="row header" #header>
    <div class="col-10">
      <mat-icon class="icon-order" svgIcon="coin"></mat-icon>
      <span class="title">{{ title }}</span>
    </div>
    <div class="col-2 txt-right">
      <mat-icon class="icon-close-btn pointer" (click)="close()" svgIcon="close-btn"></mat-icon>
    </div>
  </div>

  <!-- Body -->
  <div class="scrollable-body" #body>

    <div *ngIf="loading" class="spinner">
      <app-spinner-loading></app-spinner-loading>
    </div>

    <div class="row" *ngIf="!loading">

      <div class="col-12 network-error-message-oms" *ngIf="!statusOmsOnline">{{ msgStatusOmsOffile }}</div>

      <!-- Lado Esquerdo -->
      <div class="col-9 side-l">
        <div class="row margin first">
          <div class="col-12 title-header">Saldo em Conta:</div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">Saldo em Conta</div>
              <div class="col-12 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                <span *ngIf="!showpassword"
                  [ngClass]="{'low-color' : availableBalanceColor < 0, 'high-color' : availableBalanceColor > 0}">{{ availableBalance | currency }}</span>
                <span *ngIf="showpassword">&nbsp;</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">Saldo Projetado</div>
              <div class="col-12 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                <span *ngIf="!showpassword"
                  [ngClass]="{'low-color' : saldoProjOnlineColor < 0, 'high-color' : saldoProjOnlineColor > 0}">{{ saldoProjOnline | currency }}</span>
                <span *ngIf="showpassword">&nbsp;</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">
                <span class="cursor" (click)="togglePassword()">
                  {{ showpassword ? 'Mostrar' : 'Esconder' }} valores
                </span>
                <span class="cursor" [ngClass]="showpassword ? 'eye-icon' : ''">
                  <mat-icon (click)="togglePassword()" matSuffix class="eye-icon">{{ icon }}</mat-icon>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row margin">
          <div class="col-12 title-header">Ajuste BM&F</div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">Ajuste posição</div>
              <div class="col-12 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                <span *ngIf="!showpassword"
                  [ngClass]="{'low-color' : ajustePosicaoColor < 0, 'high-color' : ajustePosicaoColor > 0}">{{ ajustePosicao | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                <span *ngIf="showpassword">&nbsp;</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">Ajuste pregão</div>
              <div class="col-12 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                <span *ngIf="!showpassword"
                  [ngClass]="{'low-color' : ajustePregaoColor < 0, 'high-color' : ajustePregaoColor > 0}">{{ ajustePregao | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                <span *ngIf="showpassword">&nbsp;</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row margin">
          <div class="col-12 title-header">Posição:</div>
          <div class="col-6">
            <div class="row">
              <!-- <div class="col-12 title-header">Renda Variável</div> -->
              <div class="col-12">
                <div class="row">
                  <div class="col-6 title-left">Custódia Online:</div>
                  <div class="col-6 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                    <span *ngIf="!showpassword"
                      [ngClass]="{'low-color' : custodiaOnlineColor < 0, 'high-color' : custodiaOnlineColor > 0}">{{ custodiaOnline | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                    <span *ngIf="showpassword">&nbsp;</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 title-left">Proventos:</div>
                  <div class="col-6 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                    <span *ngIf="!showpassword"
                      [ngClass]="{'low-color' : proventosColor < 0, 'high-color' : proventosColor > 0}">{{ proventos | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                    <span *ngIf="showpassword">&nbsp;</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 title-left">Garantia:</div>
                  <div class="col-6 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                    <span *ngIf="!showpassword"
                      [ngClass]="{'low-color' : garantiaColor < 0, 'high-color' : garantiaColor > 0}">{{ garantia | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                    <span *ngIf="showpassword">&nbsp;</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 title-left">Garantia Livre:</div>
                  <div class="col-6 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                    <span *ngIf="!showpassword"
                      [ngClass]="{'low-color' : garantiaLivreColor < 0, 'high-color' : garantiaLivreColor > 0}">{{ garantiaLivre | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                    <span *ngIf="showpassword">&nbsp;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-6 title-left">Renda Fixa:</div>
                  <div class="col-6 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                    <span *ngIf="!showpassword"
                      [ngClass]="{'low-color' : rendaFixaColor < 0, 'high-color' : rendaFixaColor > 0}">{{ rendaFixa | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                    <span *ngIf="showpassword">&nbsp;</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 title-left">Fundos:</div>
                  <div class="col-6 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                    <span *ngIf="!showpassword"
                      [ngClass]="{'low-color' : fundosColor < 0, 'high-color' : fundosColor > 0}">{{ fundos | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                    <span *ngIf="showpassword">&nbsp;</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 title-left">Clubes:</div>
                  <div class="col-6 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                    <span *ngIf="!showpassword"
                      [ngClass]="{'low-color' : clubesColor < 0, 'high-color' : clubesColor > 0}">{{ clubes | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                    <span *ngIf="showpassword">&nbsp;</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 title-left">Tesouro Direto:</div>
                  <div class="col-6 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                    <span *ngIf="!showpassword"
                      [ngClass]="{'low-color' : tesouroDiretoColor < 0, 'high-color' : tesouroDiretoColor > 0}">{{ tesouroDireto | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                    <span *ngIf="showpassword">&nbsp;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row margin">
          <div class="col-12 title-header">Lucro/Prejuízo Day Trade</div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">L/P Aberto</div>
              <div class="col-12 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                <span *ngIf="!showpassword"
                  [ngClass]="{'low-color' : lucroPrejuizoOpenColor < 0, 'high-color' : lucroPrejuizoOpenColor > 0}">{{ lucroPrejuizoOpen | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                <span *ngIf="showpassword">&nbsp;</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">L/P Fechado</div>
              <div class="col-12 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                <span *ngIf="!showpassword"
                  [ngClass]="{'low-color' : lucroPrejuizoCloseColor < 0, 'high-color' : lucroPrejuizoCloseColor > 0}">{{ lucroPrejuizoClose | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                <span *ngIf="showpassword">&nbsp;</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">L/P Total</div>
              <div class="col-12 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                <span *ngIf="!showpassword"
                  [ngClass]="{'low-color' : lucroPrejuizoTotalColor < 0, 'high-color' : lucroPrejuizoTotalColor > 0}">{{ lucroPrejuizoTotal | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                <span *ngIf="showpassword">&nbsp;</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row margin last">
          <div class="col-12 title-header">Patrimônio</div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">Patrimônio inicial</div>
              <div class="col-12 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                <span *ngIf="!showpassword"
                  [ngClass]="{'low-color' : patrimonioInicialColor < 0, 'high-color' : patrimonioInicialColor > 0}">{{ patrimonioInicial | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                <span *ngIf="showpassword">&nbsp;</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 title-left">Patrimônio online</div>
              <div class="col-12 text-left" [ngClass]="showpassword ? 'hide-balance-data' : ''">
                <span *ngIf="!showpassword"
                  [ngClass]="{'low-color' : patrimonioOnlineColor < 0, 'high-color' : patrimonioOnlineColor > 0}">{{ patrimonioOnline | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                <span *ngIf="showpassword">&nbsp;</span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Lado Direito -->
      <div class="col-3 side-r">
        <div class="row row-content">
          <div *ngIf="whiteLabel !== 2">
            <div class="col-12 box-three">
              <div class="text-lg">Limite operacional</div>
              <div class="value-lg" *ngIf="!showpassword"
                [ngClass]="{'low-color' : limiteOperacionalColor < 0, 'high-color' : limiteOperacionalColor > 0}">
                {{ limiteOperacional ? 'R$ ' + limiteOperacional : ' - ' | currency:'BRL':'symbol':'1.2-2':'pt' }}</div>
              <div class="empty-value hide-balance-data" *ngIf="showpassword">&nbsp;</div>
            </div>
            <div class="col-12 box-three">
              <div class="text-lg">Alavancagem à vista</div>
              <div class="value-lg" *ngIf="!showpassword"
                [ngClass]="{'low-color' : alavancagemVistaColor < 0, 'high-color' : alavancagemVistaColor > 0}">
                {{ alavancagemVista ? 'R$ ' + alavancagemVista : ' - ' | currency:'BRL':'symbol':'1.2-2':'pt' }}</div>
              <div class="empty-value hide-balance-data" *ngIf="showpassword">&nbsp;</div>
            </div>
            <div class="col-12 box-three">
              <div class="text-lg">Alavancagem opções</div>
              <div class="value-lg" *ngIf="!showpassword"
                [ngClass]="{'low-color' : alavancagemOpcoesColor < 0, 'high-color' : alavancagemOpcoesColor > 0}">
                {{ alavancagemOpcoes ? 'R$ ' + alavancagemOpcoes : ' - ' | currency:'BRL':'symbol':'1.2-2':'pt' }}</div>
              <div class="empty-value hide-balance-data" *ngIf="showpassword">&nbsp;</div>
            </div>
            <div class="col-12 box-three">
              <div class="text-lg">Alavancagem futuro</div>
              <div class="value-lg" *ngIf="!showpassword"
                [ngClass]="{'low-color' : alavancagemBMFColor < 0, 'high-color' : alavancagemBMFColor > 0}">
                {{ alavancagemBMF ? 'R$ ' + alavancagemBMF : ' - ' | currency:'BRL':'symbol':'1.2-2':'pt' }}</div>
              <div class="empty-value hide-balance-data" *ngIf="showpassword">&nbsp;</div>
            </div>
          </div>
          <div *ngIf="whiteLabel == 2">
            <div class="col-12 box-three">
              <div class="text-lg">Limite operacional</div>
              <div class="value-lg" *ngIf="!showpassword"
                [ngClass]="{'low-color' : limiteOperacionalColor < 0, 'high-color' : limiteOperacionalColor > 0}">
                {{ limiteOperacional ? 'R$ ' + limiteOperacional : ' - ' | currency:'BRL':'symbol':'1.2-2':'pt' }}</div>
              <div class="empty-value hide-balance-data" *ngIf="showpassword">&nbsp;</div>
            </div>
            <div class="col-12 box-three">
              <div class="text-lg">D0</div>
              <div class="value-lg" *ngIf="!showpassword"
                [ngClass]="{'low-color' : D0Color < 0, 'high-color' : D0Color > 0}">
                {{ D0 ? 'R$ ' + D0 : ' - ' | currency:'BRL':'symbol':'1.2-2':'pt' }}</div>
              <div class="empty-value hide-balance-data" *ngIf="showpassword">&nbsp;</div>
            </div>
            <div class="col-12 box-three">
              <div class="text-lg">D1</div>
              <div class="value-lg" *ngIf="!showpassword"
                [ngClass]="{'low-color' : D1Color < 0, 'high-color' : D1Color > 0}">
                {{ D1 ? 'R$ ' + D1 : ' - ' | currency:'BRL':'symbol':'1.2-2':'pt' }}</div>
              <div class="empty-value hide-balance-data" *ngIf="showpassword">&nbsp;</div>
            </div>
            <div class="col-12 box-three">
              <div class="text-lg">D2</div>
              <div class="value-lg" *ngIf="!showpassword"
                [ngClass]="{'low-color' : D2Color < 0, 'high-color' : D2Color > 0}">
                {{ D2 ? 'R$ ' + D2 : ' - ' | currency:'BRL':'symbol':'1.2-2':'pt' }}</div>
              <div class="empty-value hide-balance-data" *ngIf="showpassword">&nbsp;</div>
            </div>
          </div>
        </div>



















      </div>

    </div>
  </div>
</div>