<div class="brokerage-note-component">
  <div class="row header" #header>
    <div class="col-10">
      <mat-icon class="icon-order" svgIcon="file"></mat-icon>
      <span class="title">{{ title }}</span>
    </div>
    <div class="col-2 txt-right">
      <mat-icon class="icon-close-btn pointer" (click)="close()" svgIcon="close-btn"></mat-icon>
    </div>
  </div>

  <div class="filter">
    <div class="row network-error-message-oms" *ngIf="!statusOmsOnline">{{ msgStatusOmsOffile }}</div>

    <div class="row row-filter">

      <div class="col-3 col-datepicker">
        <mat-form-field class="date">
          <input appDatepickerMask matInput [matDatepicker]="picker2" placeholder="Data" [(ngModel)]="dataFilter"
            maxlength="10">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-2 col-agency">
        <mat-form-field>
          <mat-select placeholder="Mercado" [(ngModel)]="market">
            <mat-option *ngFor="let item of listMarket" value="{{item.value}}">{{item.desc}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-2 col-btn-filter">
        <button mat-raised-button class="xs white" (click)="searchFilter()"
          [disabled]="!dataFilter || !market">Buscar</button>
      </div>

    </div>
  </div>


  <div *ngIf="loading" class="spinner-get">
    <app-spinner-loading></app-spinner-loading>
  </div>

  <div class="pdf" *ngIf="!loading && urlPdf">
    <object [data]="urlPdf" type="application/pdf"></object>
  </div>


</div>