/*  TEXTS */
$prefix: 'pi';
$font-default: 'Nunito';

/*  OTHERS */

/*  COLORS */
$gradient-1:  #330066;
$gradient-2:  #330066;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);

$primary01-color: #330066;
$primary01-hover-color: #ff2c79;
$primary01-disabled-color: #BDDC6E;

$primary02-color: #6E6159;
$primary02-hover-color: #433A34;
$primary02-disabled-color: #A9A19B;

$secondary01-color: #330066;
$secondary02-color: #596377;
$secondary03-color: #BEC0C2;
$secondary04-color: #ff2c79;

$default-color: $primary02-color;
$default-hover-color: $primary02-hover-color;
$default-disabled-color: $primary02-disabled-color;

$bg-color: #E6E3DF;

$header-gradient01-color: #330066;
$header-gradient02-color: #330066;
$header-gradient03-color: #330066;
$header-gradient-right: linear-gradient(to right, $header-gradient01-color, $header-gradient02-color);
$header-gradient-right-filter: $header-gradient03-color;
