/*  TEXTS */
$prefix: 'um';
$font-default: 'Roboto';

/*  OTHERS */

/*  COLORS */
$gradient-1:  #192649;
$gradient-2:  #305b7a;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);

$primary01-color: #1f4b72;
$primary01-hover-color: #ff2c79;
$primary01-disabled-color: #BDDC6E;

$primary02-color: #06acd5;
$primary02-hover-color: #433A34;
$primary02-disabled-color: #A9A19B;

$secondary01-color: #338fd4;
$secondary02-color: #596377;
$secondary03-color: #bec0c2;
$secondary04-color: $primary02-color;

$default-color: $primary02-color;
$default-hover-color: $primary02-hover-color;
$default-disabled-color: $primary02-disabled-color;

$bg-color: #E6E3DF;

$header-gradient01-color: #20567e;
$header-gradient02-color: #303c5c;
$header-gradient03-color: #406587;
$header-gradient-right: linear-gradient(to right, $header-gradient01-color, $header-gradient02-color);
$header-gradient-right-filter: linear-gradient(to right, $header-gradient03-color, $header-gradient02-color);
