@font-face {
  font-family: RopaSansPro;
  src: url('/assets/styles/fonts/ropa-sans/thin-italic/RopaSansPro-ThinItalic.eot');
  src: url('/assets/styles/fonts/ropa-sans/thin-italic/RopaSansPro-ThinItalic.woff2') format('woff2'),
       url('/assets/styles/fonts/ropa-sans/thin-italic/RopaSansPro-ThinItalic.woff') format('woff'),
       url('/assets/styles/fonts/ropa-sans/thin-italic/RopaSansPro-ThinItalic.ttf') format('truetype'),
       url('/assets/styles/fonts/ropa-sans/thin-italic/RopaSansPro-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: italic;
}

