.main{
    height: 100%;
    // height: auto;
    min-height: 100%;
    position: relative;
    background: $bg-color;

    .body{
        height: calc(100% - 70px);
        position: relative;
        display: table;
        width: 100%;
        background: $bg-color;

        .content{
          display: table-cell;
          vertical-align: top;
          padding: 25px;
          box-sizing: border-box;
        }
    }

    .square{
        float: left;
        margin-top: 2px;
        margin-right: 5px;
        width: 15px;
        height: 15px;
        background: $primary02-color;
    }
}