<div class="broker-authentication">
  <div class="container-auth">

    <div class="row justify-content-end">
      <div class="close-btn">
        <mat-icon (click)="closeClick()" svgIcon="close"></mat-icon>
        <div class="text">ESC</div>
      </div>
    </div>

    <div class="row justify-content-start" *ngIf="!showAuth">
      <div class="back-btn">
        <mat-icon (click)="backClick()" svgIcon="left-arrow"></mat-icon>
      </div>
    </div>

    <div class="broker-modal-content" *ngIf="showAuth">
      <div class="box">
        <div class="header-message">
          <h1>Simulador</h1>
          <h2>
            Habilite o seu simulador em tempo real, disponibilizamos 100 mil reais diários para que você
            possa treinar para se tornar um expert no mercado de ações.
          </h2>
        </div>
        <div class="button-submit">
          <div class="button-progress">
            <div id="spinnerDiv" *ngIf="!isUserLogged && loadingSimulator" [ngClass]="{ 'fadeIn': loadingSimulator, 'fadeOut': !loadingSimulator }"
              class="animated">
              <mat-spinner diameter="38" color="primary02"></mat-spinner>
            </div>
            <button [ngClass]="{ 'fadeIn': !loadingSimulator, 'fadeOut': loadingSimulator, 'success': !loadingSimulator && isUserLogged }"
              mat-raised-button color="primary01" class="animated" type="submit" (click)="openAuthSimulator()">
              Conectar <mat-icon matSuffix>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: Conectar com a corretora -->
    <!-- <div class="broker-modal-content" *ngIf="showAuth" style="opacity: 0.5; cursor: no-drop;">
      <div class="box p-0">
        <div class="header-message">
          <h1>Autenticar com sua corretora</h1>
          <h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in ante varius, semper erat at,
            iaculis ligula. Fusce pulvinar odio non elit.
          </h2>
        </div>
        <div class="button-submit">
          <div class="button-progress">
            <div id="spinnerDiv" *ngIf="!isUserLogged && loadingBroker" [ngClass]="{ 'fadeIn': loadingBroker, 'fadeOut': !loadingBroker }"
              class="animated">
              <mat-spinner diameter="38" color="primary02"></mat-spinner>
            </div>
            <button [ngClass]="{ 'fadeIn': !loadingBroker, 'fadeOut': loadingBroker, 'success': !loadingBroker && isUserLogged }"
              [disabled]="loadingSimulator" mat-raised-button color="primary01" class="animated" type="submit" (click)="openAuthBroker()">
              Conectar <mat-icon matSuffix>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="broker-modal-content-broker" *ngIf="showAuthBroker">
      <div class="box">
        <app-auth-broker></app-auth-broker>
      </div>
    </div>

  </div>
</div>