@font-face {
  font-family: RopaSansPro;
  src: url('/assets/styles/fonts/ropa-sans/regular/RopaSansPro-Regular.eot');
  src: url('/assets/styles/fonts/ropa-sans/regular/RopaSansPro-Regular.woff2') format('woff2'),
       url('/assets/styles/fonts/ropa-sans/regular/RopaSansPro-Regular.woff') format('woff'),
       url('/assets/styles/fonts/ropa-sans/regular/RopaSansPro-Regular.ttf') format('truetype'),
       url('/assets/styles/fonts/ropa-sans/regular/RopaSansPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

