<div class="assessor-search-client">

  <div class="spinner" *ngIf="loading">
    <app-spinner-loading></app-spinner-loading>
  </div>

  <div *ngIf="!loading">
    <div #header class="header-search">
      <div style="display: flex">
        <mat-icon svgIcon="search" (click)="toggleInput()"></mat-icon>
        <div class="separator"></div>
        <div class="autoComplete-assessor">
          <mat-form-field [floatLabel]="'never'" [ngClass]="{'input-invalid' : !hiddenInvalid}">
            <input spellcheck="false" (blur)="callBackWorksheet()" minlength="1" maxlength="60" matInput #autoInput
              type="text" class="active" (keyup)="onAutoCompletAsset($event)" [(value)]="nameAutoComplete"
              [placeholder]="'Pesquisar clientes'" (keydown.enter)="onInputEnter($event)" ondragstart="return false;"
              ondrop="return false;" appAutosizeInput [minWidth]="80" [maxWidth]="36" [autoSizeActive]="autoSizeActive">
          </mat-form-field>
        </div>
        <mat-icon svgIcon="close" class="pointer worksheet-close" (click)="toggleInput()" *ngIf="inputName"></mat-icon>
      </div>
      <div class="icons">
        <mat-icon svgIcon="close" (click)="closeDialog()"></mat-icon>
      </div>
    </div>

    <div class="content">
      <div class="row client" *ngFor="let item of listAssessorClient" (click)="selecClient(item)">
        <div class="col-7">
          <div class="photo-container">
            <img id="image-corretora" class="perfil-photo" alt="" src="{{ image }}">
          </div>
          <div class="name">{{ item.user.full_name | uppercase }}</div>
          <div class="profile">Perfil:
            <span
              class="bold {{ item.user.profile_color }}">{{ item.user.profile_name ? (item.user.profile_name | uppercase) : ('Não encontrado' | uppercase) }}</span>
          </div>
          <div class="profile">Email:
            <span class="bold">{{ item.user.profile_name ? item.user.email : '-' }}</span>
          </div>
        </div>
        <div class="col-2 account">
          <div class="col-12 title">Conta</div>
          <div class="col-12 bold">{{ item.user.account_id }}</div>
        </div>
        <div class="col-3 phone">
          <div class="col-12 title">Telefone:</div>
          <div class="col-12 bold">{{ item.user.phone }}</div>
        </div>
        <div class="col-12 divisor"></div>
      </div>
    </div>

  </div>
</div>