@import "./../../variables.scss";
@import "./../../core/clients/vitreo/variables.scss";

/*  TEXTS */
$prefix: 'vitreo';
$font-default: "Roboto";
$font-rate: 1;
$border-radius: 28px;

/* GRADIENT COLORS */

$gradient-1:  #0052cc;
$gradient-2:  #3c79d8;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);
$gradient-right: linear-gradient(to right, $gradient-2, $gradient-1);

$gradient-sell-1: #00af73;
$gradient-sell-2: #51c49d;
$gradient-sell-left:  linear-gradient(to left, $gradient-sell-2, $gradient-sell-1);
$gradient-sell-right:  linear-gradient(to left, $gradient-sell-1, $gradient-sell-2);

$gradient-buy-1: #ffb44a;
$gradient-buy-2: #ff9b00;
$gradient-buy-3: $gradient-buy-1;
$gradient-buy-left: linear-gradient(to left, $gradient-buy-2, $gradient-buy-1);

$header-gradient01-color: #0052cc;
$header-gradient02-color: #3c79d8;
$header-gradient03-color: #3c79d8;
$header-gradient-right: linear-gradient(to right, $header-gradient01-color, $header-gradient02-color);
$header-gradient-right-filter: linear-gradient(to right, $header-gradient03-color, $header-gradient02-color);

// STYLEGUIDE COLORS

$primary01-color: #236ad3;
$primary02-color: #006ed5;

$secondary01-color: #46505c;
$secondary02-color: #596377;
$secondary03-color: #bec0c2;
$secondary04-color: #0558ae;

$secondary05-color: #267ED6;
$secondary06-color: #63B500;
$secondary07-color: #FF661F;
$secondary08-color: #6E6159;

$secondary09-color: #ABB2B9;
$secondary10-color: $secondary01-color;

$bg-color: #f1f1f1;
