@font-face {
  font-family: RopaSansPro;
  src: url('/assets/styles/fonts/ropa-sans/bold/RopaSansPro-Bold.eot');
  src: url('/assets/styles/fonts/ropa-sans/bold/RopaSansPro-Bold.woff2') format('woff2'),
       url('/assets/styles/fonts/ropa-sans/bold/RopaSansPro-Bold.woff') format('woff'),
       url('/assets/styles/fonts/ropa-sans/bold/RopaSansPro-Bold.ttf') format('truetype'),
       url('/assets/styles/fonts/ropa-sans/bold/RopaSansPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

