<div class="orders-history-component">

<div *ngIf="list?.length > numberOfLines" class="flex-container-centered">
    <div (click) = "choosePrevious()" >Anterior</div>
    <div [ngClass]=" content == currentPage ? 'selected' : ''" *ngFor="let content of generatePagination()" (click) = "goToPage(content)">{{1 + content}}</div>
    <div (click) = "chooseNext()" >Próximo</div>
</div>

</div>

