<div id="app-login" class="app-login container-fluid animated" [ngClass]="{'fadeIn': !isUserLogged }">
	<div class="spinner spinner-login" *ngIf="loadingTransition">
		<app-spinner-loading></app-spinner-loading>
	</div>
	<div class="row" *ngIf="!loadingTransition">

		<div class="phone-broker" *ngIf="showPhone">
			<div class="row">
				<div class="col-1 phone-icon">
					<mat-icon svgIcon="phone" class="icon_coin"></mat-icon>
				</div>
				<div class="col-10">
					<div class="row">
						<div class="col-12">Atendimento</div>
						<div class="col-12">{{ phone1 }}</div>
					</div>
				</div>
			</div>
		</div>

		<div id="left-content" class="col-6 d-flex justify-content-center align-items-center animated"
			[ngClass]="{'slideInLeft': !isUserLogged }">
			<div class="d-flex justify-content-center flex-column">
				<div class="logo" *ngIf="whitelabaleActive !== 10" [ngClass]="{'cursor': urlHbWhitelabel }" (click)="openHb()">
				</div>
				<div class="header-message">
					<h1>{{ whitelabaleActive !== 10 && !showDoubleAuthetication ? title : 
							whitelabaleActive !== 10 && showDoubleAuthetication ? titleDoubleAuthentication : titleRanking }}</h1>
					<h2
						[ngClass]="{'subTitle-ranking': whitelabaleActive === 10, 'double-auth': typeLogin === 'LoginO' && listQuestionDoubleAuthentication }">
						{{ whitelabaleActive !== 10 && !showDoubleAuthetication ? subTitle :
							whitelabaleActive === 10 && !showDoubleAuthetication ? subTitleRanking : questionActive.question }}
					</h2>
					<div id="snack-bar-msg" class="snack-bar-msg">
						<div #snackBar></div>
					</div>
				</div>
				<form name="form" (ngSubmit)="loginForm.form.valid" #loginForm="ngForm" novalidate>
					<div class="form-div">

						<div [hidden]="!showDoubleAuthetication">
							<mat-form-field class="userinput">
								<mat-icon svgIcon="user" matPrefix></mat-icon>
								<input type="password" (keyup)="resetValidity($event)" matInput placeholder="Resposta"
									autocomplete="questionResp" name="questionResp" [(ngModel)]="questionActive.questionResp"
									#questionResp="ngModel" required minlength="2" maxlength="255" autofocus
									(keypress)="validChar($event)">
								<mat-icon *ngIf="questionResp.touched && questionResp.valid" matSuffix class="valid">done</mat-icon>
								<mat-icon *ngIf="questionResp.touched && questionResp.invalid" matSuffix class="invalid">clear
								</mat-icon>
								<mat-error
									*ngIf="(questionResp.touched || questionResp.invalid) && (questionResp.value == '' || questionResp.value == null || questionResp.value == undefined)">
									Campo obrigatório</mat-error>
							</mat-form-field>
						</div>

						<div [hidden]="showDoubleAuthetication">
							<mat-form-field class="userinput">
								<mat-icon svgIcon="user" matPrefix></mat-icon>
								<input (keyup)="resetValidity($event)" matInput placeholder="usuário" autocomplete="username"
									name="username" [(ngModel)]="model.username" #username="ngModel" required minlength="3"
									maxlength="255" (keypress)="validChar($event)">
								<mat-icon *ngIf="username.touched && username.valid" matSuffix class="valid">done</mat-icon>
								<mat-icon *ngIf="username.touched && username.invalid" matSuffix class="invalid">clear</mat-icon>
								<mat-error
									*ngIf="(username.touched || username.invalid) && (username.value == '' || username.value == null || username.value == undefined)">
									Campo obrigatório</mat-error>
							</mat-form-field>


							<mat-form-field class="userinput login-user-input">
								<mat-icon matPrefix class="md-18" svgIcon="login-lock"></mat-icon>
								<input (keyup)="resetValidity($event)" [type]="showpassword ? 'text' : 'password'" matInput
									placeholder="digite sua senha" autocomplete="new-password" name="password"
									[(ngModel)]="model.password" #password="ngModel" required minlength="0" maxlength="255"
									(keypress)="validChar($event)">
								<mat-icon (click)="togglePassword()" matSuffix class="opac05" svgIcon="{{ icon }}"></mat-icon>
								<mat-error
									*ngIf="(password.value == '' || password.value == null || password.value == undefined) && (password.touched || password.invalid)">
									Campo obrigatório</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="forgot-passwd login-user-input" *ngIf="!showDoubleAuthetication">
						<span (click)="forgotPassword()">esqueci minha senha</span>
					</div>
					<div class="button-progress">
						<div id="spinnerDiv" *ngIf="!isUserLogged && loading" [ngClass]="{ 'fadeIn': loading, 'fadeOut': !loading }"
							class="animated">
							<mat-spinner diameter="38" color="primary02"></mat-spinner>
						</div>
						<button *ngIf="!showDoubleAuthetication" [ngClass]="{ 'fadeIn': !loading, 'fadeOut': loading, 'error': loginForm.form.invalid && loginForm.touched && username.invalid && password.invalid,
                             'success': !loading && isUserLogged }" mat-raised-button color="primary01"
							class="animated" type="submit" [disabled]="isRequest" (click)="login()">
							Entrar <mat-icon matSuffix>arrow_forward</mat-icon>
						</button>
						<button *ngIf="showDoubleAuthetication" [ngClass]="{ 'fadeIn': !loading, 'fadeOut': loading, 'error': loginForm.form.invalid && loginForm.touched && username.invalid && password.invalid,
                             'success': !loading && isUserLogged }" mat-raised-button color="primary01"
							class="animated" type="submit" [disabled]="isRequest" (click)="respDoubleAuth()">
							Enviar <mat-icon matSuffix>arrow_forward</mat-icon>
						</button>
					</div>
				</form>
				<span class="new-account" *ngIf="whitelabaleActive === 1 || whitelabaleActive === 4">Não tem uma conta? <a
						(click)="createAccount()">Crie sua conta</a></span>
				<div class="row new-account-ranked" *ngIf="whitelabaleActive == 10">
					<div class="col-6 text">Participe e concorra a um ano de vantagens.</div>
					<div class="col-4 link"><a (click)="createAccountRanking()">Inscreva-se</a></div>
				</div>

				<div class="cvm-message" *ngIf="whitelabaleActive !== 10">
					<div>Toda comunicação através da rede mundial de computadores está sujeita a interrupções ou atrasos, podendo
						invalidar ordens ou negociações. i.c.v.m. 380,art.4o, § único</div>
					<div class="logo-cvm">
						<img src="./../../../assets/images/png/logo_cvm.png" (click)="openLinkCvm()" />
						<img src="./../../../assets/images/png/BM&FBovespa.png" (click)="openLinkBmfBovespa()" />
					</div>
					<div class="browser">Navegadores recomendados:
						<mat-icon class="icon" svgIcon="icon_chrome" matTooltipPosition="above" matTooltip="Google Chrome">
						</mat-icon>
						<mat-icon class="icon" svgIcon="icon_firefox" matTooltipPosition="above" matTooltip="Firefox"></mat-icon>
					</div>
				</div>

			</div>
		</div>

		<div class="col-6 bg-ranking" *ngIf="whitelabaleActive === 10" (click)="openRanking()"></div>

		<div id="carouselExampleIndicators" class="col-6 onboarding carousel slide no-padding animated"
			[ngClass]="{'slideInRight': !isUserLogged }" data-ride="carousel" *ngIf="whitelabaleActive !== 10">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner h-100">
				<div class="carousel-item active h-100">
					<div class="d-block w-100 h-100 slide1" alt="First slide"></div>
				</div>
				<div class="carousel-item h-100">
					<div class="d-block w-100 h-100 slide2" alt="Second slide"></div>
				</div>
				<div class="carousel-item h-100">
					<div class="d-block w-100 h-100 slide3" alt="Third slide"></div>
				</div>
			</div>
		</div>
	</div>
</div>