<div id="resumeQuoteAsset" (window:beforeunload)="ngOnDestroy()"
  [ngClass]="{'asset-summary-quick-search': disableTitle, 'asset-summary' : !disableTitle }">
  <div *ngIf='!disableTitle' class="component-header">
    <span>RESUMO DO ATIVO</span>
    <div class="icons">
      <!-- <mat-icon svgIcon="chain"></mat-icon> TODO adicionar quando funcionalidade estiver implementada  -->
      <mat-icon *ngIf="!newWindow" svgIcon="expand" (click)="openNewWindow()"></mat-icon>
      <mat-icon *ngIf="!newWindow" svgIcon="close" (click)="removeItemFromWorkspace()"></mat-icon>
    </div>
  </div>
  <div class="container gridster-item-content" *ngIf='!loading'>
    <div class="component-input-header">
      <div class="asset-form-field">
        <div>
          <app-auto-complete (onsymbolChanged)="selectAsset($event)" [reset]="changingValue" [autoFocus]="false"
            (hiddenInvalidOutput)="hiddenInvalidOutput($event)" [symbolAutoComplete]="currentSymbol"
            [autoSizeActive]="true"></app-auto-complete>
          <div [hidden]="hiddenInvalidActive" class="company m-company">{{ company }}</div>
        </div>
      </div>
      <div class="price-div" [hidden]="hiddenInvalidActive">
        <div class="price">
          <!-- <div class="last-trade" [ngClass]="{'2':'red-font', '1':'green-font', '0':''}[style]"> -->
          <div class="last-trade">
            <span class="auction_hammer" *ngIf="auctionHammer">
              <mat-icon class="icon" svgIcon="auction_hammer"></mat-icon>
            </span>
            <span class="last">{{ _messageQuote.lastTrade ? _messageQuote.lastTrade : '-' }}</span>
          </div>
          <div *ngIf="assetValid" [ngClass]="{'size-box color-red' : _messageQuote.variation < 0,
              'size-box color-green' : _messageQuote.variation > 0,
              'size-box color-grey' : _messageQuote.variation === 0}">
            <div *ngIf="!showVariation && !_messageQuote.dateLastNegotiation">
              {{ _messageQuote.hourLastTrade ? _messageQuote.hourLastTrade : _messageQuote.timeUpdate }}
            </div>
            <div *ngIf="!showVariation && _messageQuote.dateLastNegotiation">
              {{ _messageQuote.dateLastNegotiation }}
            </div>
            <div *ngIf="showVariation">
              {{_messageQuote.variation > 0 ? '+' : ''}} {{_messageQuote.variation/100 | percent:'1.2':'pt' }}
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="invalid" [hidden]="!hiddenInvalidActive">{{ msgInvalidAsset }}</div>

    <mat-divider></mat-divider>
    <mat-tab-group [disableRipple]="true" headerPosition="below" style="overflow: hidden"
      [ngClass]="{'third-window-body' : isThirdWindowSelected}" (selectedIndexChange)="setThirdBoxClass($event)">
      <mat-tab label="">
        <div class="flex-container row information">
          <div class="first-group">
            <div class="min">
              <div class="little-font">mín.</div>
              <div class="big-font tooltip-cell" #tooltipMin="matTooltip" (mouseleave)="closeTooltip()"
                (mouseenter)="verifyResolution()" matTooltipPosition="above" matTooltip="{{_messageQuote.low}}">
                {{ assetValid ? _messageQuote.low : "-"}}</div>
            </div>
            <div class="divider-vertical"></div>
            <div class="max">
              <div class="little-font">max.</div>
              <div></div>
              <div class="big-font tooltip-cell" #tooltipMax="matTooltip" (mouseleave)="closeTooltip()"
                (mouseenter)="verifyResolution()" matTooltipPosition="above" matTooltip="{{_messageQuote.high}}">{{ assetValid ? _messageQuote.high :
                "-"}}</div>
            </div>
          </div>
          <div class="second-group">
            <div class="huge-one yellow-background">
              <div class="little-font-2">melhor compra</div>
              <div class="big-font-2">{{ assetValid ? _messageQuote.bid : "-" }}</div>
            </div>
            <div class="huge-one green-background margin-complete">
              <div class="little-font-2">melhor venda</div>
              <div class="big-font-2">{{ assetValid ? _messageQuote.ask : "-" }}</div>
            </div>
          </div>
        </div>

        <div class="centered-flex-container margin-bottom">
          <div class="buy">
            <button [disabled]="isIndex" *ngIf="assetValid"
              (click)="buySellOrder('BUY', _messageQuote.quote , _messageQuote?.ask)" mat-raised-button color="buy"
              class="btn">
              <mat-icon class="icon" svgIcon="funds"></mat-icon>
              Comprar
            </button>
          </div>
          <div class="sell">
            <button [disabled]="isIndex" *ngIf="assetValid"
              (click)="buySellOrder('SELL', _messageQuote.quote , _messageQuote?.bid)" mat-raised-button color="sell"
              class="btn">
              <mat-icon class="icon" svgIcon="cash"></mat-icon>
              Vender
            </button>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="">
        <div class="container table">
          <div class="row margin-fix">
            <div class="col">
              <span>Abertura: </span>
              <span>
                <b>{{_messageQuote.open}}</b>
              </span>
            </div>
            <div class="col">
              <span>Qtd Negócios: </span>
              <span>
                <b>{{_messageQuote.quantity}}</b>
              </span>
            </div>
          </div>

          <div class="row margin-fix">
            <div class="col">

              <span>Fechamento: </span>
              <span>
                <b>{{_messageQuote.previous}}</b>
              </span>
            </div>
            <div class="col">
              <div>Variação semanal: </div>
              <div [ngClass]="parseFloat(_messageQuote.calculoWeeklyVariation) > 0 ? 'green-font' : 'red-font'">
                <b>{{ _messageQuote.calculoWeeklyVariation}}%</b>
              </div>
            </div>
          </div>

          <div class="row margin-fix">
            <div class="col">
              <span>Volume ($)</span>
              <span>
                <b>{{_messageQuote.volumeFinancier}}</b>
              </span>
            </div>
            <div class="col">
              <div>Variação mensal: </div>
              <div [ngClass]="parseFloat(_messageQuote.calculoMonthlyVariation) > 0 ? 'green-font' : 'red-font'">
                <b>{{ _messageQuote.calculoMonthlyVariation}}%</b>
              </div>
            </div>
          </div>
          <div class="row margin-fix">
            <div class="col">
              <span>Volume (Q)</span>
              <span>
                <b>{{_messageQuote.volumeAmount}}</b>
              </span>
            </div>
            <div class="col">
              <div>Variação Anual: </div>
              <div [ngClass]="parseFloat(_messageQuote.calculoYearlyVariation) > 0 ? 'green-font' : 'red-font'">
                <b>{{ _messageQuote.calculoYearlyVariation}}%</b>
              </div>
            </div>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="">
        <div class="third-window">
          <div class="centered-flex-container">
            <div class="teoric">
              <span>% TEÓRICA: </span>
              <span
                [ngClass]="{'positive-color' : theoryPercentage > 0, 'negative-color' : theoryPercentage < 0, 'default-color' : !theoryPercentageDisplay}">{{
                !theoryPercentageDisplay ? "-" : theoryPercentageDisplay }}</span>
            </div>
          </div>

          <div class="centered-flex-container">
            <div class='box'>
              <div class="centerer">Preço teórico: </div>
              <div class="align-centered">
                <b>
                  {{ !_messageQuote.theoryPrice ? "-" : _messageQuote.theoryPrice }}
                </b>
              </div>
            </div>
            <div class="box">
              <div class="centerer">Qtd. restante: </div>
              <div class="align-centered">
                <b>
                  {{ !_messageQuote.unansweredQty ? "-" : _messageQuote.unansweredQty | number:'0.2-2':'pt' }}
                </b>
              </div>
            </div>
          </div>

          <div class="centered-flex-container">
            <div class="box">
              <div class="centerer">Qtd. teórico: </div>
              <div>
                <b>{{ !_messageQuote.theoryQuantity || _messageQuote.theoryQuantity == "-" ? "-" :
                  _messageQuote.theoryQuantity | number}}</b>
              </div>
            </div>
            <div class="box">
              <div class="centerer">Indicador de resto: </div>
              <div>
                <b>{{ !directionUnansweredQty || directionUnansweredQty == "-" ? '-' : directionUnansweredQty }}</b>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="spinner spinner-header-search" *ngIf="loading">
    <app-spinner-loading></app-spinner-loading>
  </div>

</div>