@font-face {
  font-family: RopaSansPro;
  src: url('/assets/styles/fonts/ropa-sans/light-italic/RopaSansPro-LightItalic.eot');
  src: url('/assets/styles/fonts/ropa-sans/light-italic/RopaSansPro-LightItalic.woff2') format('woff2'),
       url('/assets/styles/fonts/ropa-sans/light-italic/RopaSansPro-LightItalic.woff') format('woff'),
       url('/assets/styles/fonts/ropa-sans/light-italic/RopaSansPro-LightItalic.ttf') format('truetype'),
       url('/assets/styles/fonts/ropa-sans/light-italic/RopaSansPro-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

