@import "./../../variables.scss";
@import "./../../core/clients/trinus/variables.scss";

/*  TEXTS */
$prefix: 'trinus';
$font-default: "Roboto";
$font-rate: 1;
$border-radius: 28px;

/* GRADIENT COLORS */

$gradient-1:  #1f2a5c;
$gradient-2:  #073c57;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);
$gradient-right: linear-gradient(to right, $gradient-2, $gradient-1);

$gradient-sell-1: #576b30;
$gradient-sell-2: #589221;
$gradient-sell-left:  linear-gradient(to left, $gradient-sell-2, $gradient-sell-1);
$gradient-sell-right:  linear-gradient(to left, $gradient-sell-1, $gradient-sell-2);

$gradient-buy-2: #ffdd00;
$gradient-buy-1: #ffb300;
$gradient-buy-3: $gradient-buy-1;
$gradient-buy-left: linear-gradient(to left, $gradient-buy-2, $gradient-buy-1);

// STYLEGUIDE COLORS

$primary01-color: #1f2a5c;
$primary02-color: #073c57;

$secondary01-color: #244354;
$secondary02-color: #244354;
$secondary03-color: #244354;
$secondary04-color: #1f2a5c;
$secondary10-color: $secondary01-color;

$bg-color: #f1f1f1;
