<div class="footer" id="container">
  <div class="btn-buy" (click)="chamaBoleta('BUY')">
    <mat-icon class="icon" svgIcon="funds"></mat-icon>
    <span class="font">COMPRAR</span>
  </div>
  <div class="btn-sell" (click)="chamaBoleta('SELL')">
    <mat-icon class="icon" svgIcon="cash"></mat-icon>
    <span class="font">VENDER</span>
  </div>
</div>