/*  TEXTS */
$prefix: 'trinus';
$font-default: 'Roboto';

/*  OTHERS */

/*  COLORS */
$gradient-1:  #1f2a5c;
$gradient-2:  #073c57;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);

$primary01-color: #1f2a5c;
$primary01-hover-color: #244354;
$primary01-disabled-color: #f1f1f1;

$primary02-color: #1b438b;
$primary02-hover-color: #244354;
$primary02-disabled-color: #f1f1f1;

$secondary01-color: #244354;
$secondary02-color: #244354;
$secondary03-color: #244354;
$secondary04-color: #bec0c2;

$default-color: $primary02-color;
$default-hover-color: $primary02-hover-color;
$default-disabled-color: $primary02-disabled-color;

$bg-color: #E6E3DF;

$header-gradient01-color: #1f2a5c;
$header-gradient02-color: #1f4e68;
$header-gradient03-color: #404a74;
$header-gradient-right: linear-gradient(to right, $header-gradient01-color, $header-gradient02-color);
$header-gradient-right-filter: linear-gradient(to right, $header-gradient03-color, $header-gradient02-color);