<div class="manual-online-component">

  <div class="row header" #header>
    <div class="col-10">
      <mat-icon class="icon-order" svgIcon="ico-user-manual"></mat-icon>
      <span class="title">{{ title }}</span>
    </div>
    <div class="col-2 txt-right">
      <mat-icon class="icon-close-btn pointer" (click)="close()" svgIcon="close-btn"></mat-icon>
    </div>
  </div>

  <div class="spinner" *ngIf="loading">
    <app-spinner-loading></app-spinner-loading>
  </div>

  <div *ngIf="!loading" id="scrollable-area" class="scrollable-body" (scroll)="onScroll($event)">

    <div class="stackedit__html">
      <h1 id="bem-vindo-ao-seu-home-broker">Bem-vindo ao seu Home Broker</h1>
      <h1 id="requisitos-mínimos">Requisitos mínimos</h1>
      <h2 id="resolução-de-tela">Resolução de tela</h2>
      <p>Nossa plataforma apresenta um sistema responsivo caso você esteja utilizando um equipamento com a resolução de
        1280px.</p>
      <p>As resoluções de tela suportadas pelo <strong>Home Broker</strong> são:</p>
      <ul>
        <li>1920 x 1080;</li>
        <li>1600 x 900;</li>
        <li>1440 x 900;</li>
        <li>1366 x 768;</li>
        <li>1280 x 1024;</li>
      </ul>
      <h2 id="navegadores-compatíveis">Navegadores compatíveis</h2>
      <p>Para que você possa desfrutar adequadamente o <strong>Home Broker</strong>, será necessário utilizar alguns dos
        seguintes browsers compatíveis:</p>
      <ul>
        <li>Google Chrome 55 ou superior;</li>
        <li>Mozilla Firefox 60 ou superior;</li>
        <li>Safari 10 ou superior.</li>
      </ul>
      <h1 id="segurança-e-dados-pessoais">Segurança e dados pessoais</h1>
      <h2 id="realizando-o-cadastro-na-plataforma">Realizando o cadastro na plataforma</h2>
      <p>Para iniciar sua jornada utilizando o <strong>Home Broker</strong>, é necessário informar alguns dados pessoais
        e que também informe um pouco mais sobre suas experiências com mercado financeiro. Caso não possua experiência,
        não se preocupe, você está no lugar certo lugar certo para iniciar sua caminhada.</p>
      <p>Após finalizar seu cadastro, você receberá um e-mail contendo seu <strong>usuário</strong> e <strong>senha de
          acesso</strong> ao <strong>Home Broker</strong>.</p>
      <p>Caso deseje, você poderá alterar a sua senha de acesso posteriormente.</p>
      <h2 id="alterando-minha-senha">Alterando minha senha</h2>
      <p>Como dito anteriormente, você poderá realizar a alteração de sua senha de acesso a plataforma quando quiser.
      </p>
      <p>Para alterar sua senha, selecione o menu “<strong>Minha conta</strong>” e depois “<strong>Alterar
          senha</strong>”.</p>
      <p>E para garantir uma melhor segurança, recomendamos que você siga os requisitos listados abaixo:</p>
      <ul>
        <li>Pelo menos 8 caracteres;</li>
        <li>Utilize números;</li>
        <li>Utilize pelo menos uma letra minúscula;</li>
        <li>Utilize pelo menos uma letra maiúscula;</li>
        <li>Utilize pelo menos um caractere especial.</li>
      </ul>
      <h2 id="autenticação-forte-do-cliente">Autenticação forte do cliente</h2>
      <p>Para garantir ainda mais sua segurança, será solicitada uma segunda autenticação no momento de login na
        plataforma, que consiste em responder a uma pergunta (selecionada aleatoriamente dentre uma série de perguntas)
        e assim, você estará apto a acessar o <strong>Home Broker</strong>.</p>
      <p>As perguntas consistem em responder informações já informadas por você durante a etapa de cadastro em nossa
        plataforma, então fique tranquilo, você será capaz de responder a pergunta sorteada para você sem qualquer
        dificuldade.</p>
      <h1 id="conhecendo-o-seu-home-broker">Conhecendo o seu Home Broker</h1>
      <p>Agora que você já conhece nossos principais pontos de segurança e sabe quais são as informações necessárias
        para utilizar o <strong>Home Broker</strong>, vamos introduzi-lo à um passo a passo para que você acesse e
        utilize devidamente a nossa plataforma.</p>
      <p>Esperamos que no fim da leitura deste manual, você já se sinta familiarizado com a ferramenta e que desfrute ao
        máximo o que o <strong>Home Broker</strong> pode oferecer.</p>
      <p>Boa leitura!</p>
      <h2 id="login">Login</h2>
      <p style="text-align: center !important;"><img src=" assets/images/clients/{{broker}}/manual/IMG_1.png" alt=""
          title="Tela de Login" style="max-width: 1000px; display: initial;"></p>
      <p>Na tela de login do <strong>Home Broker</strong> você deverá inserir as credenciais que lhe foram enviadas no
        e-mail informado durante o seu cadastro e selecionar a opção “<strong>Entrar</strong>”. Você pode visualizar a
        sua senha habilitando o ícone de exibição ao fim do campo onde você digitará sua senha.</p>
      <p>Caso você ainda não tenha realizado o cadastro, você poderá fazê-lo selecionando a opção “Crie sua conta” que
        se encontra logo abaixo do botão “<strong>Entrar</strong>”.</p>
      <p>Além disso, caso queira saber um pouco mais sobre diversas ferramentas sobre o mercado financeiro, você pode
        selecionar a opção “Saiba mais”.</p>
      <blockquote>
        <p><strong>Nota</strong>: Caso a senha que você informe esteja incorreta, após a “X” tentativa, suas credenciais
          serão bloqueadas e se isso acontecer, você pode estar entrando em contato com nossa equipe de suporte e nosso
          time estará apto a realizar o desbloqueio.</p>
      </blockquote>
      <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_2.png" alt=""
          title="Dupla Autenticação" style="max-width: 1000px; display: initial;"></p>
      <p>Após inserir suas credenciais de acesso, será exibido uma pergunta aleatória para que ocorra a etapa de
        <strong>Dupla Autenticação</strong>.</p>
      <p>Uma vez inserida a sua resposta, selecione a opção “Entrar” para realizar a autenticação na plataforma
        <strong>Home Broker</strong>.</p>
      <blockquote>
        <p><strong>Nota</strong>: Lembre-se que após a terceira tentativa incorreta de inserir a resposta certa, a tela
          da dupla autenticação será recarregada e uma nova pergunta será exibida para você.</p>
      </blockquote>
      <h2 id="personalizando-a-área-de-trabalho">Personalizando a área de trabalho</h2>
      <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_3.png" alt=""
          title="Personalizar área de trabalho" style="max-width: 1000px; display: initial;"></p>
      <p>Para iniciar seus investimentos, primeiro iremos te auxiliar a organizar a sua <strong>área de
          trabalho</strong> de acordo com sua preferência.</p>
      <p>Inicialmente definimos três áreas de trabalho com estratégias diferentes ou você pode escolher a opção para
        personalizar de acordo suas próprias estratégias.</p>
      <p>Abaixo explicamos como funciona cada uma das áreas de trabalho pré-definidas:</p>
      <ul>
        <li>
          <p><strong>Resumo de mercado</strong>: é uma área de trabalho que visa auxiliar os investidores a tomarem
            decisões mais assertivas no momento de investir, oferecendo informações diversificadas sobre o mercado e
            sendo apresentadas em diferentes tópicos.</p>
        </li>
        <li>
          <p><strong>Day Trade</strong>: aqui você terá uma área de trabalho oferecendo os principais ativos que poderão
            ser operados utilizando Day Trade, que é vista como uma estratégia de compra e venda de ativos (também
            conhecido como ações) realizadas em um mesmo dia.</p>
        </li>
        <li>
          <p><strong>Chart Trading</strong>: é uma estratégia que possibilita que você faça análises e realize a compra
            ou venda de ativos diretamente pelo gráfico de cotações de um determinado ativo e tudo isso de uma maneira
            ágil e simplificada.</p>
        </li>
        <li>
          <p><strong>Personalize o seu</strong>: uma área de trabalho que poderá ser configurada de acordo com sua
            preferência, onde você poderá adicionar planilhas de cotações, gráficos, informações sobre Times &amp;
            Trades e muitas outras opções para que você trabalhe com toda comodidade.</p>
        </li>
      </ul>
      <p>Você pode adicionar um nome personalizado para sua área de trabalho e após selecionar umas das opções
        pré-definidas, selecione a opção “<strong>Iniciar</strong>” para ser redirecionado para área de trabalho
        propriamente dita.</p>
      <p>Caso opte pela opção “<strong>Personalize o seu</strong>”, você será redirecionado para a tela abaixo, onde
        encontrará os seguintes módulos que poderão ser adicionados em sua planilha:</p>
      <ul>
        <li>Resumo do Ativo;</li>
        <li>Planilha de Cotação;</li>
        <li>Volume no Preço;</li>
        <li>Negócios Realizados;</li>
        <li>Livro de Ofertas;</li>
        <li>Gráfico de Cotação;</li>
      </ul>
      <p>Se você não deseja configurar sua área de trabalho neste momento, você pode selecionar a opção
        “<strong>Esc</strong>” e ir direto para uma área de trabalho que conterá alguns módulos com configurações
        pré-definidas.</p>
      <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_4.png" alt=""
          title="Personalizando Área de Trabalho" style="max-width: 1000px; display: initial;"></p>
      <p>Para adicionar as ferramentas de sua preferência, basta digitar o <strong>nome do ativo</strong> desejado
        (buscando pelo seu símbolo, como PETR4, por exemplo), selecioná-lo dentre as opções exibidas e selecionar a
        opção “<strong>+</strong>”.</p>
      <p>Feito isso, as ferramentas e os respectivos ativos selecionados serão exibidas na coluna ao lado direito
        (conforme a imagem abaixo) e após selecionar a opção “<strong>Adicionar ferramentas</strong>”, sua área de
        trabalho será criada e você será redirecionado automaticamente para ela.</p>
      <p>E lembre-se, a quantidade máxima de <strong>ferramentas</strong> que podem ser adicionadas na área de trabalho
        são <strong>dez (10)</strong>, então organize-se.</p>
      <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_5.png" alt=""
          title="Personalizando Área de Trabalho" style="max-width: 1000px; display: initial;"></p>
      <blockquote>
        <p><strong>Nota</strong>: Os módulos disponíveis serão detalhados posteriormente em cada uma de suas respectivas
          sessões.</p>
      </blockquote>
      <h1 id="iniciando-no-seu-home-broker">Iniciando no seu Home Broker</h1>
      <h2 id="conheça-sua-área-de-trabalho">Conheça sua área de trabalho</h2>
      <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_6.png" alt=""
          title="Área de Trabalho" style="max-width: 1000px; display: initial;"></p>
      <p>Bom caro investidor, aqui estamos em sua área de trabalho já organizada e pronta para uso.</p>
      <p>Queremos que você conheça os principais recursos que nossa plataforma tem á oferecer e temos certeza que logo
        você estará habituado com o <strong>Home Broker</strong>".</p>
      <p>Primeiramente iremos lhe apresentar os menus principais que poderão ser acessados durante sua experiência.</p>
      <h3 id="menu-superior">Menu Superior</h3>
      <p>O menu superior, é composto por algumas configurações importantes e irão te auxiliar durante o tempo em que
        você estiver utilizando a plataforma:</p>
      <ul>
        <li>
          <p><strong>Exibir/ocultar menu lateral</strong>: opção representada pelo ícone <img
              src="assets/images/clients/{{broker}}/manual/IMG_7.png" alt=""
              style="text-align: left !important; display: initial;"> “Menu” para habilitar e desabilitar o menu
            lateral;</p>
        </li>
        <li>
          <p><strong>Ícones de status dos servidores</strong>: opção representada pelos ícones <img
              src="assets/images/clients/{{broker}}/manual/IMG_8.png" alt=""
              style="text-align: left !important; display: initial;">, que simbolizam o status da conexão dos servidores
            de Market Data e Negociação. Quando os ícones estão simbolizados pela cor <strong>verde</strong>, significa
            que os servidores estão online*, ou seja, funcionando normalmente. Se os ícones estiverem simbolizados pela
            cor <strong>vermelha</strong>, significa que os servidores estão <em>offline</em>, ou seja, não estão
            funcionando normalmente.</p>
        </li>
        <li>
          <p><strong>Criar área de trabalho</strong>: opção para criar uma nova área de trabalho. O comportamento aqui é
            o mesmo apresentado a você no momento inicial de configuração de sua área de trabalho.</p>
        </li>
        <li>
          <p><strong>Barra de pesquisa</strong>: aqui você pode buscar um ativo através de seu símbolo e após
            selecioná-lo, o mesmo será exibido como um módulo de <strong>Resumo do ativo</strong> e caso você selecione
            o ícone “<strong>+</strong>”, você poderá optar por adicionar este ativo na sua área de trabalhando,
            selecionando a opção “<strong>Confirmar</strong>”" ou poderá cancelar a ação, selecionando
            “<strong>Cancelar</strong>”.</p>
        </li>
        <li>
          <p><strong>Tempo de inatividade</strong>: você pode acompanhar o tempo em que a sessão irá expirar caso esteja
            inativo na plataforma. Quando o relógio atingir o tempo <strong>00:00:00</strong> você será desconectado da
            plataforma. Para evitar que o tempo expire, não deixe de interagir na plataforma por mais de
            <strong>00:29:59</strong>, sendo o tempo apresentado em <strong>minutos</strong>.</p>
        </li>
        <li>
          <p><strong>Minha conta</strong>: menu onde você poderá alterar as cores da plataforma para o <strong>Tema
              Escuro</strong>, poderá <strong>alterar sua senha</strong>, poderá acessar este <strong>manual</strong> e
            onde também realizará o logout (sair) do <strong>Home Broker</strong>. Para acessar o <strong>Minha
              conta</strong>, selecione o ícone <img src="assets/images/clients/{{broker}}/manual/IMG_50.png" alt=""
              style="text-align: left !important; display: initial;">.</p>
        </li>
        <li>
          <p><strong>Em destaque</strong>: campo onde será exibido as principais notícias sobre o mercado financeiro.
          </p>
        </li>
        <li>
          <p><strong>Travar/destravar ferramentas</strong>: você pode configurar para que as ferramentas de sua área de
            trabalho não sejam passíveis de serem alterados de lugar. Você pode configurar essa ação selecionando o
            ícone <img src="assets/images/clients/{{broker}}/manual/IMG_9.png" alt="" title="Cadeado"
              style="text-align: left !important; display: initial;"> em sua área de trabalho.</p>
        </li>
        <li>
          <p><strong>Adicionar Ferramentas</strong>: selecionando essa opção, será aberto para você um menu, onde você
            poderá adicionar novos ativos em sua área de trabalho, sendo que você poderá escolher qual módulo irá
            inserir, sendo as opções: Livros de Ofertas, Planilha de Cotação, Volume Por Preço, Negócios Realizados,
            Resumo do Ativo e Gráficos.</p>
        </li>
      </ul>
      <h3 id="menu-lateral">Menu Lateral</h3>
      <p>O menu lateral, disposto ao lado esquerdo da plataforma, será onde você terá acesso a diversas áreas do
        <strong>Home Broker</strong>, podendo visualizar seus investimentos, saldo e entres outras informações.</p>
      <p>As opções disponíveis são:</p>
      <ul>
        <li>
          <p><strong>Perfil</strong>: espaço para exibir qual o perfil do investidor;</p>
        </li>
        <li>
          <p><strong>Conta</strong>: espaço para exibir o número da conta do usuário;</p>
        </li>
        <li>
          <p><strong>Financeiro</strong>: espaço onde você poderá consultar todas informações referentes ao seu saldo,
            visualizando o quanto já foi investido, quanto você tem disponível, consultar seu patrimônio, limites,
            alavancagens, entre outras informações;</p>
        </li>
        <li>
          <p><strong>Ordens</strong>: espaço onde você poderá consultar suas ordens que foram enviadas ao mercado e
            saber qual a situação atual de cada uma, podendo alternar a visualização entre ordens do dia, histórico
            geral das ordens e aplicando filtros de acordo com sua preferência;</p>
        </li>
        <li>
          <p><strong>Custódia</strong>: espaço onde você poderá visualizar seus ativos que foram negociados em ambos os
            mercados (Bovespa e BM&amp;F), visualizar sua posição do dia e também poderá aplicar filtros de sua
            preferência;</p>
        </li>
        <li>
          <p><strong>Gráficos</strong>: espaço onde você poderá visualizar os gráficos dos ativos que desejar, podendo
            analisar de acordo com suas estratégias favoritas e poderá utilizar de variados estudos disponíveis e que
            são fornecidos com a ferramenta integrada do TradingView;</p>
        </li>
        <li>
          <p><strong>Notícias</strong>: espaço onde você poderá acompanhar os principais acontecimentos do mercado
            financeiro.</p>
        </li>
        <li>
          <p><strong>Nota de corretagem</strong>: espaço onde você poderá visualizar todas as informações referentes as
            notas de corretagem de suas operações;</p>
        </li>
        <li>
          <p><strong>Extrato</strong>: espaço onde você poderá todas as informações referentes ao extrato da sua conta;
          </p>
        </li>
      </ul>
      <blockquote>
        <p><strong>Nota</strong>: As opções acima serão mais detalhadas no decorrer do manual em Market Data e
          Negociação.</p>
      </blockquote>
      <blockquote>
        <p>As funcionalidades <strong>Nota de corretagem</strong> e <strong>Extrato</strong> estarão descritas
          detalhadamente no manual após o lançamento oficial da nossa plataforma.</p>
      </blockquote>
      <h1 id="principais-funcionalidades">Principais Funcionalidades</h1>
      <h2 id="market-data">Market Data</h2>
      <p>Quando dizemos o termo Market Data queremos no referir ao serviço disponibilizado pela B3, que permite que nós
        obtenhamos informações e notícias sobre o mercado financeiro, referente aos papéis que são negociados na bolsa.
      </p>
      <p>Conheça um pouco mais sobre as informações referente a Market Data que você poderá visualizar utilizando o
        <strong>Home Broker</strong>.</p>
      <h3 id="planilha-de-cotação">Planilha de Cotação</h3>
      <p>A <strong>Planilha de Cotação</strong> é uma ferramenta onde você consegue visualizar todas as informações
        importantes de um ou vários ativos, podendo ser personalizado de acordo com sua preferência.
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_10.png" alt=""
            title="Planilha de cotação" style="max-width: 1000px; display: initial;"></p>
        <h4 id="renomeando-a-planilha-de-cotação">Renomeando a planilha de cotação</h4>
        <p>Para renomear a planilha, basta selecionar o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_11.png" alt="" title="Renomear planilha"
            style="text-align: left !important; display: initial;"> e digitar o nome de sua preferência.</p>
        <h4 id="adicionar-ou-remover-ativos-na-planilha">Adicionar ou remover ativos na planilha</h4>
        <p>Para adicionar um novo ativo selecionando a opção " <strong>+ Adicionar Ativo</strong>" e em seguida inserir
          o símbolo do ativo desejado.</p>
        <p>Caso queira remover um ativo da planilha, você pode selecionar a caixa de seleção ao lado de nome do ativo
          que pretende excluir e em seguida selecionar a opção “<strong>Excluir ativos</strong>”. Vale lembrar que, caso
          queira excluir todos os ativos da planilha, você pode selecionar a caixa de seleção ao lado da palavra
          “<strong>Ativo</strong>” e clicar na opção “<strong>Excluir ativos</strong>”.</p>
        <p>Lembre-se que o número máximo de ativos que podem ser adicionados na planilha de cotação são
          <strong>20</strong> ativos. Caso você tente ultrapassar esse número, será exibida uma mensagem informativa,
          dizendo que o número máximo de ativos não pode ser excedido.</p>
        <h4 id="buscando-ativos-na-planilha-de-cotação">Buscando ativos na planilha de cotação</h4>
        <p>Para buscar um determinado ativo em sua planilha de cotação, basta selecionar o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_12.png" alt="" title="Buscando ativos"
            style="text-align: left !important; display: initial;"> e buscar pelo símbolo do ativo desejado.</p>
        <h4 id="habilitando-ou-removendo-colunas-da-planilha">Habilitando ou removendo colunas da planilha</h4>
        <p>Você pode adicionar ou remover colunas de sua planilha de cotação, selecionando o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_13.png" alt="" title="Habilitando ou removendo colunas"
            style="text-align: left !important; display: initial;">. Em seguida, basta marcar ou desmarcar as caixas de
          seleção presentes ao lado do nome de cada coluna e depois selecionar o “<strong>X</strong>” para que as
          alterações sejam aplicadas.</p>
        <p>Também é possível selecionar a opção “Redefinir Colunas” para voltar para sua configuração inicial ou
          simplesmente excluir todas, selecionado a opção “Limpar Colunas”.</p>
        <p>E caso você queira reordenar a posição das colunas, basta segurar e arrastá-las de lugar após selecionar o
          nome da coluna.</p>
        <p>As <strong>colunas disponíveis</strong> podem ser visualizadas na imagem abaixo:</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_14.png" alt=""
            title="Colunas disponíveis na planilha" style="max-width: 1000px; display: initial;"></p>
        <blockquote>
          <p><strong>Nota</strong>: As colunas destacadas em azul são as colunas exibidas de forma padrão.</p>
        </blockquote>
        <h4 id="visualizando-planilha-em-uma-nova-aba">Visualizando planilha em uma nova aba</h4>
        <p>Se deseja visualizar sua planilha de cotação em uma aba separadamente, você pode selecionar o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_15.png" alt="" title="Visualizar em nova aba"
            style="text-align: left !important; display: initial !important;">.</p>
        <h4 id="removendo-planilha-da-área-de-trabalho">Removendo planilha da área de trabalho</h4>
        <p>Para excluir a planilha de cotação da sua área de trabalho, você deve selecionar o ícone “<strong>X</strong>”
          e em seguida selecionar a opção “<strong>Confirmar</strong>”.</p>
        <p>Caso quisesse cancelar a ação, basta selecionar a opção “<strong>Cancelar</strong>”.</p>
        <h3 id="gráfico-de-cotação">Gráfico de Cotação</h3>
        <p>O Gráfico de Cotação é uma ferramenta onde pode-se visualizar os gráficos dos ativos que desejar, podendo
          acompanhar o valor do ativo, representada ao <strong>lado esquerdo</strong> do gráfico e visualizar a hora em
          que o ativo atingiu determinado valor, na <strong>parte inferior</strong> do gráfico.</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_16.png" alt=""
            title="Gráfico de cotação" style="max-width: 1000px; display: initial;"></p>
        <p>Ao posicionar o mouse em cima de um determinado <strong>ponto do gráfico</strong>, será exibido o
          <strong>valor</strong> do ativo.</p>
        <h4 id="alterando-ativo-do-gráfico-de-cotação">Alterando ativo do gráfico de cotação</h4>
        <p>Ao selecionar o ícone <img src="assets/images/clients/{{broker}}/manual/IMG_11.png" alt=""
            title="Alterando ativo do gráfico" style="text-align: left !important; display: initial;"> no gráfico de
          cotação, você poderá alterar o ativo que está sendo exibido no gráfico. Basta inserir o símbolo do ativo
          desejado e em seguida selecioná-lo na lista exibida.</p>
        <h4 id="visualizando-o-gráfico-em-uma-nova-aba">Visualizando o gráfico em uma nova aba</h4>
        <p>Ao selecionar o ícone <img src="assets/images/clients/{{broker}}/manual/IMG_15.png" alt=" "
            title="Visualizando em nova" style="text-align: left !important; display: initial;"> no gráfico de cotação,
          o gráfico será exibido em uma nova aba do seu navegador, permitindo a você analisá-lo de acordo com suas
          estratégias favoritas e podendo utilizar de variados estudos disponíveis, fornecidos pela ferramenta integrada
          TradingView.</p>
        <p>O gráfico expandido pode ser visualizado na imagem abaixo:</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_17.png" alt=""
            title="Gráfico em nova aba" style="max-width: 1000px; display: initial;"></p>
        <h4 id="editando-o-gráfico">Editando o gráfico</h4>
        <p>Para editar o <strong>gráfico</strong>, existem algumas configurações disponíveis, como:</p>
        <ul>
          <li>Alterar ativo;</li>
          <li>Intervalo de tempo;</li>
          <li>Estilos de barra;</li>
          <li>Configurações do Gráfico;</li>
          <li>Indicadores;</li>
          <li>Comparar/Adicionar Símbolo;</li>
          <li>Voltar/Avançar;</li>
          <li>Modo Tela Cheia;</li>
          <li>Capturar Tela;</li>
          <li>Carregar Layout do Gráfico;</li>
          <li>Salvar Layout do Gráfico.</li>
        </ul>
        <h4 id="estudos-disponíveis">Estudos disponíveis</h4>
        <p>As opções de <strong>estudos disponíveis</strong> no gráfico são:</p>
        <ul>
          <li>Linha de tendência;</li>
          <li>Canal de linhas;</li>
          <li>Pincel;</li>
          <li>Texto;</li>
          <li>Padrão XABCD;</li>
          <li>Posição Compradora;</li>
          <li>Ícone;</li>
          <li>Zoom In;</li>
          <li>Measure;</li>
          <li>Modo magnético;</li>
          <li>Stay in Drawing Mode;</li>
          <li>Bloquear todos os Desenhos;</li>
          <li>Esconder todas as ferramentas de desenho;</li>
          <li>Visualizar lista de objetos;</li>
          <li>Remover todas as ferramentas de desenho.</li>
        </ul>
        <h4 id="removendo-gráfico-de-cotação-da-área-de-trabalho">Removendo gráfico de cotação da área de trabalho</h4>
        <p>Para excluir o gráfico de cotação da sua área de trabalho, você deve selecionar o ícone “<strong>X</strong>”
          e em seguida selecionar a opção “<strong>Confirmar</strong>”.</p>
        <p>Caso quisesse cancelar a ação, basta selecionar a opção “<strong>Cancelar</strong>”.</p>
        <h3 id="resumo-do-ativo">Resumo do Ativo</h3>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_18.png" alt=""
            title="Aba principal do resumo" style="max-width: 700px; display: initial;"></p>
        <p>O <strong>Resumo do Ativo</strong> é uma ferramenta que permite visualizar as informações básicas de um
          ativo. É possível alterar a visualização das informações em até três resumos diferentes, conforme pode ser
          visto nas imagens abaixo:</p>
        <p>Pelo resumo, é possível visualizar informações como:</p>
        <ul>
          <li>Símbolo do ativo;</li>
          <li>Nome da empresa;</li>
          <li>Preço;</li>
          <li>Taxa de variação;</li>
          <li>Valor máximo;</li>
          <li>Valor mínimo;</li>
          <li>Preço de melhor compra;</li>
          <li>Preço de melhor venda;</li>
        </ul>
        <h4 id="comprando-um-ativo">Comprando um ativo</h4>
        <p>Para realizar a compra de um ativo, selecione a opção “<strong>Comprar</strong>” e em seguida preencha a
          boleta com as informações necessárias.</p>
        <p>Lembre-se que ao selecionar a opção “<strong>Comprar</strong>”, a boleta é aberta com o preço referente ao
          “<strong>Melhor Preço de Venda</strong>” do momento.</p>
        <blockquote>
          <p><strong>Nota</strong>: As informações presentes na boleta serão detalhadas durante a explicação das
            informações de <strong>Negociação</strong>.</p>
        </blockquote>
        <h4 id="vendendo-um-ativo">Vendendo um ativo</h4>
        <p>Para realizar a venda de um ativo, selecione a opção “<strong>Vender</strong>” e em seguida preencha a boleta
          com as informações necessárias.</p>
        <p>Lembre-se que ao selecionar a opção “<strong>Vender</strong>”, a boleta é aberta com o preço referente ao
          “<strong>Melhor Preço de Compra</strong>” do momento.</p>
        <blockquote>
          <p><strong>Nota</strong>: As informações presentes na boleta serão detalhadas durante a explicação das
            informações de <strong>Negociação</strong>.</p>
        </blockquote>
        <h4 id="visualizando-o-resumo-em-uma-nova-aba">Visualizando o resumo em uma nova aba</h4>
        <p>Se deseja visualizar seu resumo em uma aba separadamente, você pode selecionar o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_15.png" alt="" title="Visualizando em nova aba"
            style="text-align: left !important; display: initial;">.</p>
        <h4 id="alternando-a-visualização-do-resumo">Alternando a visualização do resumo</h4>
        <p>Para alterar a visualização das informações da ferramenta de <strong>resumo</strong>, selecione o ícone em
          destaque na imagem abaixo, assim, as abas poderão ser alternadas conforme as imagens seguintes.</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_19.png" alt=""
            title="Alternando abas do resumo" style="max-width: 700px; display: initial;"></p>
        <p>Na <strong>segunda aba</strong> do resumo do ativo, você poderá visualizar novas informações, como:</p>
        <ul>
          <li>Símbolo do ativo;</li>
          <li>Nome da empresa;</li>
          <li>Preço:</li>
          <li>Taxa de Variação;</li>
          <li>Abertura;</li>
          <li>Fechamento;</li>
          <li>Volume (Financeiro);</li>
          <li>Volume (Quantidade de Papéis);</li>
          <li>Quantidades de Negócios;</li>
          <li>Variação semanal;</li>
          <li>Variação mensal;</li>
          <li>Variação anual.</li>
        </ul>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_20.png" alt=""
            title="Aba secundária do resumo" style="max-width: 700px; display: initial;"></p>
        <p>Na <strong>terceira aba</strong> do resumo do ativo, considerada a aba de <strong>Leilão</strong>, você
          poderá visualizar novas informações, como:</p>
        <ul>
          <li>Símbolo do Ativo;</li>
          <li>Nome da empresa;</li>
          <li>Preço;</li>
          <li>Taxa de Variação;</li>
          <li>Porcentagem teórica;</li>
          <li>Preço teórico;</li>
          <li>Quantidade teórico;</li>
          <li>Quantidade restante;</li>
          <li>Indicador de resto.</li>
        </ul>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_21.png" alt=""
            title="Aba terciária do resumo" style="max-width: 700px; display: initial;"></p>
        <h4 id="removendo-resumo-do-ativo-da-área-de-trabalho">Removendo resumo do ativo da área de trabalho</h4>
        <p>Para excluir o resumo do ativo da sua área de trabalho, você deve selecionar o ícone “<strong>X</strong>” e
          em seguida selecionar a opção “<strong>Confirmar</strong>”.</p>
        <p>Caso quisesse cancelar a ação, basta selecionar a opção “<strong>Cancelar</strong>”.</p>
        <h3 id="livro-de-ofertas">Livro de Ofertas</h3>
        <p>O <strong>Livro de Ofertas</strong> é uma ferramenta que permite a você acompanhar as melhores ofertas de
          compra e venda de um determinado ativo.</p>
        <h4 id="livro-de-ofertas-detalhado">Livro de ofertas detalhado</h4>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_22.png" alt=""
            title="Livro de ofertas Detalhado" style="max-width: 700px; display: initial;"></p>
        <p>Na visão do livro de ofertas <strong>detalhado</strong>, você terá acesso as seguintes informações:</p>
        <ul>
          <li>Símbolo do ativo;</li>
          <li>Nome da empresa;</li>
          <li>Preço;</li>
          <li>Taxa de variação;</li>
          <li>Valor máximo;</li>
          <li>Valor mínimo.</li>
        </ul>
        <p>Em relação as colunas, temos:</p>
        <ul>
          <li>Corretora (em relação aos preços de compra);</li>
          <li>Quantidade de compra;</li>
          <li>Melhor preço de compra;</li>
          <li>Melhor preço de venda;</li>
          <li>Quantidade de compra;</li>
          <li>Corretora (em relação aos preços de venda).</li>
        </ul>
        <h4 id="comprando-ou-vendendo-ativos-a-partir-do-livro-de-ofertas">Comprando ou vendendo ativos a partir do
          livro de ofertas</h4>
        <p>Para <strong>comprar</strong> um ativo com base no <strong>melhor preço de venda</strong>, selecione o preço
          do ativo pretendido na coluna “<strong>Venda</strong>” e preencha a boleta com as informações necessárias.</p>
        <p>Para <strong>vender</strong> um ativo com base no <strong>melhor preço de compra</strong>, selecione o preço
          do ativo pretendido na coluna “<strong>Compra</strong>” e preencha a boleta com as informações necessárias.
        </p>
        <blockquote>
          <p><strong>Nota</strong>: As informações presentes na boleta serão detalhadas durante a explicação das
            informações de <strong>Negociação</strong>.</p>
        </blockquote>
        <h4 id="livro-de-ofertas-agregado">Livro de ofertas agregado</h4>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_23.png" alt=""
            title="Livro de ofertas Agregado" style="max-width: 700px; display: initial;"></p>
        <p>Na visão do livro de ofertas <strong>agregado</strong>, você terá acesso as seguintes informações:</p>
        <ul>
          <li>Símbolo do ativo;</li>
          <li>Nome da empresa;</li>
          <li>Preço;</li>
          <li>Taxa de variação;</li>
          <li>Valor máximo;</li>
          <li>Valor mínimo.</li>
        </ul>
        <p>Em relação as colunas, temos:</p>
        <ul>
          <li>Quantidade de compra;</li>
          <li>Melhor preço de compra;</li>
          <li>Melhor preço de venda;</li>
          <li>Quantidade de compra;</li>
        </ul>
        <h4 id="comprando-ou-vendendo-ativos-a-partir-do-livro-de-ofertas-1">Comprando ou vendendo ativos a partir do
          livro de ofertas</h4>
        <p>Para <strong>comprar</strong> um ativo com base no <strong>melhor preço de venda</strong>, selecione o preço
          do ativo pretendido na coluna “<strong>Venda</strong>” e preencha a boleta com as informações necessárias.</p>
        <p>Para <strong>vender</strong> um ativo com base no <strong>melhor preço de compra</strong>, selecione o preço
          do ativo pretendido na coluna “<strong>Compra</strong>” e preencha a boleta com as informações necessárias.
        </p>
        <blockquote>
          <p><strong>Nota</strong>: As informações presentes na boleta serão detalhadas durante a explicação das
            informações de <strong>Negociação</strong>.</p>
        </blockquote>
        <h4 id="visualizando-livro-de-ofertas-em-uma-nova-aba">Visualizando livro de ofertas em uma nova aba</h4>
        <p>Se deseja visualizar seu livro de ofertas em uma aba separadamente, você pode selecionar o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_15.png" alt="" title="Visualizando em nova aba"
            style="text-align: left !important; display: initial;">.</p>
        <h4 id="removendo-livro-de-ofertas-da-área-de-trabalho">Removendo livro de ofertas da área de trabalho</h4>
        <p>Para excluir o livro de ofertas da sua área de trabalho, você deve selecionar o ícone “<strong>X</strong>” e
          em seguida selecionar a opção “<strong>Confirmar</strong>”.</p>
        <p>Caso quisesse cancelar a ação, basta selecionar a opção “<strong>Cancelar</strong>”.</p>
        <h3 id="negócios-realizados-times--trades">Negócios Realizados (Times &amp; Trades)</h3>
        <p>Negócios Realizados é uma ferramenta que permite visualizar todas as negociações ocorridas no dia para um
          determinado ativo.</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_24.png" alt=""
            title="Negócios Realizados" style="max-width: 700px; display: initial;"></p>
        <p>Na visão de negócios realizados, você terá acesso as seguintes informações:</p>
        <ul>
          <li>Símbolo do ativo;</li>
          <li>Nome da empresa;</li>
          <li>Preço;</li>
          <li>Taxa de variação;</li>
          <li>Valor máximo;</li>
          <li>Valor mínimo;</li>
          <li>Negócios.</li>
        </ul>
        <p>Em relação as colunas, temos:</p>
        <ul>
          <li>Horas;</li>
          <li>Preço;</li>
          <li>Quantidade;</li>
          <li>Comprador;</li>
          <li>Vendedor;</li>
          <li>Agressor.</li>
        </ul>
        <h4 id="visualizando-negócios-realizados-em-uma-nova-aba">Visualizando negócios realizados em uma nova aba</h4>
        <p>Se deseja visualizar negócios realizados em uma aba separadamente, você pode selecionar o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_15.png" alt="" title="Visualizando em nova aba"
            style="text-align: left !important; display: initial;">.</p>
        <h4 id="removendo-negócios-realizados-da-área-de-trabalho">Removendo negócios realizados da área de trabalho
        </h4>
        <p>Para excluir o livro de ofertas da sua área de trabalho, você deve selecionar o ícone “<strong>X</strong>” e
          em seguida selecionar a opção “<strong>Confirmar</strong>”.</p>
        <p>Caso quisesse cancelar a ação, basta selecionar a opção “<strong>Cancelar</strong>”.</p>
        <h3 id="volume-por-preço-volume-at-price">Volume por Preço (Volume at Price)</h3>
        <p><strong>Volume por Preço</strong> é uma ferramenta que permite visualizar informações sobre o volume da
          negociação dos ativos com base no preço apresentado por cada um deles.</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_25.png" alt=""
            title="Volume no Preço" style="max-width: 700px; display: initial;"></p>
        <p>Na visão de <strong>volume por preço</strong>, você terá acesso as seguintes informações:</p>
        <ul>
          <li>Símbolo do ativo;</li>
          <li>Nome da empresa;</li>
          <li>Preço;</li>
          <li>Taxa de variação;</li>
          <li>Valor máximo;</li>
          <li>Valor mínimo;</li>
          <li>Horário da última atualização;</li>
          <li>Barra de volume (com base no período selecionado).</li>
        </ul>
        <p>Em relação aos períodos de tempos disponíveis e que podem ser alterados com base em sua preferência, temos:
        </p>
        <ul>
          <li><strong>DIA</strong>: Volume de negociação diária;</li>
          <li><strong>60M</strong>: Volume de negociação nos últimos 60 minutos;</li>
          <li><strong>30M</strong>: Volume de negociação nos últimos 30 minutos;</li>
          <li><strong>15M</strong>: Volume de negociação nos últimos 15 minutos;</li>
          <li><strong>10M</strong>: Volume de negociação nos últimos 10 minutos;</li>
          <li><strong>5M</strong>: Volume de negociação nos últimos 5 minutos;</li>
          <li><strong>1M</strong>: Volume de negociação nos últimos 1 minutos.</li>
        </ul>
        <blockquote>
          <p><strong>Nota</strong>: Por padrão, o Home Broker irá apresentar as informações com base no período
            “<strong>DIA</strong>”.</p>
        </blockquote>
        <p>Em relação as colunas, temos:</p>
        <ul>
          <li>Preço;</li>
          <li>Volume;</li>
          <li>Barra de volume;</li>
          <li>Saldo.</li>
        </ul>
        <h4 id="visualizando-volume-por-preço-em-uma-nova-aba">Visualizando volume por preço em uma nova aba</h4>
        <p>Se deseja visualizar volume por preço em uma aba separadamente, você pode selecionar o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_15.png" alt="" title="Visualizando em nova aba">.</p>
        <h4 id="removendo-volume-por-preço-da-área-de-trabalho">Removendo volume por preço da área de trabalho</h4>
        <p>Para excluir o volume por preço da sua área de trabalho, você deve selecionar o ícone “<strong>X</strong>” e
          em seguida selecionar a opção “<strong>Confirmar</strong>”.</p>
        <p>Caso quisesse cancelar a ação, basta selecionar a opção “<strong>Cancelar</strong>”.</p>
        <h3 id="notícias">Notícias</h3>
        <p>Diferentemente das demais ferramentas citadas anteriormente, a tela de notícias pode ser acessada a partir do
          <strong>menu lateral</strong> do <strong>Home Broker</strong>.</p>
        <p>Nas notícias é possível acompanhar as principais notícias sobre o mercado financeiro, assim, você poderá
          ficar atualizado diretamente em nossa plataforma.</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_26.png" alt=""
            title="Lista de notícias" style="max-width: 1000px; display: initial;"></p>
        <h4 id="exibindo-a-notícia-completa-eou-retornado-para-as-notícias-principais">Exibindo a notícia completa e/ou
          retornado para as notícias principais</h4>
        <p>Para exibir a notícia completa, selecione a opção “<strong>Saiba mais</strong>” ou simplesmente selecione o
          título da notícia.</p>
        <p>Uma vez que estiver visualizando uma notícia completa e deseja voltar para a tela das notícias principais,
          selecione a opção “<strong>Voltar</strong>”.</p>
        <h4 id="filtrando-as-notícias">Filtrando as notícias</h4>
        <p>Para pesquisar uma notícia pelo seu conteúdo ou pelo título, selecione o campo “<strong>pesquisar
            notícias</strong>” e insira o texto desejado. Em seguida, selecione a opção “<strong>Filtrar</strong>”.</p>
        <p>Para buscar uma notícia através de uma agência, selecione o campo “<strong>agência</strong>” e selecione umas
          das opções disponíveis, que são: <strong>Fast Markets</strong>, <strong>Cedro</strong>,
          <strong>Bovespa</strong> e <strong>BMF</strong>. Em seguida, selecione a opção “<strong>Filtrar</strong>”.</p>
        <p>Para buscar uma notícia dentro de um período específico, selecione uma <strong>data inicial</strong> e uma
          <strong>data final</strong> no campo “<strong>selecione um período desejado</strong>”. Em seguida, selecione a
          opção “<strong>Filtrar</strong>”.</p>
        <blockquote>
          <p><strong>Nota</strong>: É possível realizar uma busca utilizando todos os filtros disponíveis acima. Basta
            adicionar todos os parâmetros desejado e selecionar a opção “<strong>Filtrar</strong>” somente após
            preencher todos os filtros.</p>
        </blockquote>
        <h4 id="limpando-os-filtros">Limpando os filtros</h4>
        <p>Para apagar os parâmetros informados e voltar as notícias principais, selecione a opção
          “<strong>Limpar</strong>”.</p>
        <h4 id="alternando-visualização-nas-notícias">Alternando visualização nas notícias</h4>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_27.png" alt=""
            title="Grade de notícias" style="max-width: 1000px; display: initial;"></p>
        <p>O <strong>Home Broker</strong>, por padrão, exibe as notícias no formato de <strong>lista</strong>. Caso
          deseje alternar para o formato de <strong>grade</strong>, como na imagem acima, você pode selecionar a opção
          <img src="assets/images/clients/{{broker}}/manual/IMG_28.png" alt="" title="Visualizando grade notícias"
            style="text-align: left !important; display: initial;">.</p>
        <p>Caso deseje visualizar novamente as notícias no formato de lista, selecione o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_29.png" alt="" title="Visualizando lista de notícias"
            style="text-align: left !important; display: initial;"> .</p>
        <h2 id="negociação">Negociação</h2>
        <p>Quando citamos sobre <strong>Negociação</strong>, estamos nos referindo as informações que tangem ao envio de
          ordens, no caso, compra ou venda de ativos e toda a movimentação financeira que envolvem essa negociação de
          ações.</p>
        <p>Vamos conhecer um pouco mais!</p>
        <h3 id="enviar-boleta-de-compra-ou-venda-simples">Enviar boleta de compra ou venda (Simples)</h3>
        <p>A <strong>boleta</strong> é utilizada para que seja possível realizar o <strong>envio de ordens</strong> para
          o mercado.</p>
        <p>Na imagem abaixo, veja como é realizado o preenchimento de uma <strong>boleta simples</strong> (compra ou
          venda) para que seja possível enviá-la para o <strong>mercado</strong>, a fim de negociar o ativo em questão.
        </p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_30.png" alt=""
            title="Boleta Simples" style="max-width: 1000px; display: initial;"></p>
        <p>Conheça mais sobre os campos que devem ser preenchidos em sua boleta simples para que ela esteja pronta para
          ser enviada ao mercado:</p>
        <ul>
          <li>
            <p><strong>Ativo</strong>: campo onde deve ser inserido o símbolo do ativo desejado à enviar ao mercado;</p>
          </li>
          <li>
            <p><strong>Conta</strong>: campo onde deve ser inserido o número da sua conta que está vinculado a
              corretora;</p>
          </li>
          <li>
            <p><strong>Precificação</strong>: campo onde deve ser inserido o tipo de precificação desejado na
              negociação, sendo as opções disponíveis:</p>
            <ul>
              <li>
                <p><strong>Limitada</strong>: o investidor pode delimitar o preço para que a ordem seja executada;</p>
              </li>
              <li>
                <p><strong>Mercado Limite</strong>: o investidor envia uma ordem com o preço estipulado pelo mercado e
                  caso a ordem não execute totalmente após a negociação percorrer todo o livro de ofertas com base no
                  preço estipulado pelo mercado, a ordem se torna uma ordem limitada, seguindo então o mesmo preço do
                  mercado.</p>
              </li>
            </ul>
          </li>
          <li>
            <p><strong>Duração</strong>: campo para informar o tempo da duração da negociação, sendo as opções
              disponíveis:</p>
            <ul>
              <li>
                <p><strong>Hoje</strong>: a ordem é válida apenas para o dia atual;</p>
              </li>
              <li>
                <p><strong>Até Cancelar (VAC)</strong>: a ordem é válida até ser cancelada;</p>
              </li>
              <li>
                <p><strong>Até a Data</strong>: a ordem é válida até a data que deve ser definida no campo “Data do
                  vencimento”;</p>
              </li>
              <li>
                <p><strong>Executa/Cancela</strong>: executa a quantidade disponível e o saldo restante é cancelado pela
                  bolsa;</p>
              </li>
              <li>
                <p><strong>Tudo/Nada</strong>: a ordem deverá ser totalmente executada, caso não seja, nada da ordem
                  deve ser executada.</p>
              </li>
            </ul>
          </li>
          <li>
            <p><strong>Quantidade</strong>: campo para informar a quantidade a ser negociada;</p>
          </li>
          <li>
            <p><strong>Data de vencimento</strong>: campo para informar a data limite em que a ordem será válida;</p>
          </li>
          <li>
            <p><strong>Preço</strong>: campo para informar o preço unitário do ativo a ser negociado;</p>
          </li>
          <li>
            <p><strong>Estratégia</strong>: campo para informar qual estratégia que se deseja utilizar para a operação,
              sendo as opções disponíveis:</p>
            <ul>
              <li>
                <p><strong>Position</strong>: estratégia onde o investidor pode permanecer posicionado por meses ou até
                  anos;</p>
              </li>
              <li>
                <p><strong>Daytrade</strong>: estratégia onde o investidor permanece posicionado por um curto período de
                  tempo, podendo ser segundos, minutos ou algumas horas.</p>
              </li>
            </ul>
          </li>
        </ul>
        <p>Além dos campos, há informações relevantes a serem consideradas na boleta, como por exemplo:</p>
        <ul>
          <li>
            <p><strong>Último Negócio</strong>: campo para exibir o preço da última negociação do ativo;</p>
          </li>
          <li>
            <p><strong>Variação</strong>: campo para exibir a taxa de variação do preço do ativo;</p>
          </li>
          <li>
            <p><strong>Estado</strong>: campo para exibir o estado (status) atual do ativo no mercado;</p>
          </li>
          <li>
            <p><strong>Melhor compra</strong>: campo para exibir o preço da melhor oferta de compra do ativo;</p>
          </li>
          <li>
            <p><strong>Melhor venda</strong>: campo para exibir o preço da melhor oferta de venda do ativo;</p>
          </li>
          <li>
            <p><strong>Preço teórico</strong>: campo para exibir o preço de abertura do ativo;</p>
          </li>
          <li>
            <p><strong>Limite Operacional</strong>: campo para exibir qual o limite operacional disponível no momento
              para realizar a operação;</p>
          </li>
          <li>
            <p><strong>Total</strong>: campo para exibir o valor total de ações compradas, qual o ativo que está sendo
              negociado, o preço unitário do ativo e o valor total da operação.</p>
          </li>
        </ul>
        <p>Além dessas configurações acima, também existem campos que podem ou não ser preenchidos dentro de
          “<strong>opções avançadas</strong>”, sendo:</p>
        <ul>
          <li>
            <p><strong>Quantidade aparente</strong>: campo para definir a quantidade aparente da ordem de compra ou
              vendar à ser enviada ao mercado. Vale lembrar que essa ordem irá aparecer no Livro de Ofertas;</p>
          </li>
          <li>
            <p><strong>Quantidade mínima</strong>: campo para definir a quantidade mínima a ser negociada da ordem de
              compra ou venda.</p>
          </li>
        </ul>
        <p>E outras informações como:</p>
        <ul>
          <li>
            <p><strong>Túnel Máximo</strong>: valor máximo que a bolsa estabelece para que o ativo seja negociado.</p>
          </li>
          <li>
            <p><strong>Túnel Mínimo</strong>: valor mínimo que a bolsa estabelece para que o ativo seja negociado.</p>
          </li>
        </ul>
        <p>Após preencher todos os parâmetros citados, para finalizar sua operação, basta selecionar a opção
          “<strong>Comprar</strong>” ou “<strong>Vender</strong>”, dependendo da operação que estiver realizando.</p>
        <p>Caso a operação seja efetuada com sucesso, você deverá visualizar a mensagem “<strong>Ordem enviada com
            sucesso</strong>”.</p>
        <blockquote>
          <p><strong>Nota</strong>: Vale lembrar que os parâmetros a serem ajustando em ambas as boletas
            (<strong>Compra</strong> ou <strong>Venda</strong>) são os mesmos.</p>
        </blockquote>
        <h3 id="enviar-boleta-de-compra-ou-venda-stop">Enviar boleta de compra ou venda (Stop)</h3>
        <p>A <strong>boleta</strong> é utilizada para que seja possível realizar o <strong>envio de ordens</strong> para
          o mercado.</p>
        <p>A diferença entre a <strong>boleta simples</strong> (detalhada anteriormente) para uma <strong>boleta
            stop</strong> é que na boleta stop, é possível informar um valor para que a sua ordem seja disparada ao
          mercado, sendo assim, esse valor será comparado ao valor do último negócio do ativo.</p>
        <p>No momento em que a cotação do ativo atingir o preço informado no <strong>preço de disparo</strong>
          (conhecido também como <strong>gatilho</strong>), então será enviada uma ordem limitada ao mercado com base no
          preço informado.</p>
        <p>A <strong>boleta stop</strong> pode ser enviada de três maneiras:</p>
        <ul>
          <li>
            <p><strong>Stop Loss</strong>: uma ordem ajustada para ser dispara automaticamente ao mercado, caso o ativo
              atinja o valor de perda inserida pelo investidor, neste caso, servindo para ajudar a minimizar suas
              perdas;</p>
          </li>
          <li>
            <p><strong>Stop Gain</strong>: uma ordem ajustada para ser dispara automaticamente ao mercado, caso o ativo
              atinja o valor de perda inserida pelo investidor, neste caso, servindo para ajudar a maximizar seus
              lucros;</p>
          </li>
          <li>
            <p><strong>Stop Simultâneo</strong>: boleta onde é possível definir o preço de gain (lucro) e o preço de
              loss (prejuízo) de uma única vez.</p>
          </li>
        </ul>
        <p>Abaixo veja como devem ser preenchidas as informações para que seja possível enviar uma <strong>boleta
            stop</strong> ao mercado:</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_31.png" alt=""
            title="Boleta Stop" style="max-width: 1000px; display: initial;"></p>
        <p>Para ativar uma boleta stop, selecione a opção “<strong>Stop</strong>” na parte superior de uma boleta.</p>
        <p>Caso deseje operar utilizando apenas a boleta <strong>Stop Loss</strong>, habilite o botão para ação,
          conforme apresentado na imagem abaixo:</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_32.png" alt=""
            title="Stop Loss" style="max-width: 700px; display: initial;"></p>
        <p>Caso deseje operar utilizando apenas a boleta <strong>Stop Gain</strong>, habilite o botão para ação,
          conforme apresentado na imagem abaixo:</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_33.png" alt=""
            title="Stop Gain" style="max-width: 700px; display: initial;"></p>
        <p>Caso deseje operar utilizando a boleta <strong>Stop Simultâneo</strong>, habilite ambos os botões para ação,
          conforme apresentado na imagem abaixo:</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_34.png" alt=""
            title="Stop Simultâneo" style="max-width: 700px; display: initial;"></p>
        <p>As informações que devem ser preenchidas antes de realizar o envio de uma <strong>boleta stop</strong> são:
        </p>
        <ul>
          <li>
            <p><strong>Preço de disparo (Stop Loss)</strong>: campo para definir o preço de gatilho de perda da ordem a
              ser enviada;</p>
          </li>
          <li>
            <p><strong>Preço de limite (Stop Loss)</strong>: campo para definir o preço que a ordem será executada ao
              atingir o preço de disparo de perda definido;</p>
          </li>
          <li>
            <p><strong>Preço de disparo (Stop Gain)</strong>: campo para definir o preço do gatilho de ganho da ordem a
              ser enviada;</p>
          </li>
          <li>
            <p><strong>Preço de limite (Stop Gain)</strong>: campo para definir o preço que a ordem será executada ao
              atingir o prelo de disparo de ganho da ordem a ser enviada.</p>
          </li>
        </ul>
        <p>Após preencher todos os parâmetros citados, para finalizar sua operação, basta selecionar a opção
          “<strong>Comprar</strong>” ou “<strong>Vender</strong>”, dependendo da operação que estiver realizando.</p>
        <p>Caso a operação seja efetuada com sucesso, você deverá visualizar a mensagem “<strong>Ordem enviada com
            sucesso</strong>”.</p>
        <blockquote>
          <p><strong>Nota</strong>: Os demais itens presentes na boleta seguem o mesmo padrão encontrado na
            <strong>boleta simples</strong>, a exceção do campo “<strong>Precificação</strong>”, sendo que na boleta
            stop toda ordem tem a característica de ser <strong>Limitada</strong>.</p>
        </blockquote>
        <h3 id="consultando-as-informações-do-financeiro">Consultando as informações do Financeiro</h3>
        <p>Na tela de <strong>Financeiro</strong>, acessada pelo menu lateral do <strong>Home Broker</strong>, é o lugar
          onde o investidor poderá consultar seu saldo e todas as informações financeiras possíveis, visualizando o
          quanto já foi investido, quanto você tem disponível, consultar seu patrimônio, limites, alavancagens, entre
          outras informações;</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_35.png" alt=""
            title="Financeiro" style="max-width: 1000px; display: initial;"></p>
        <h4 id="informações-apresentadas-no-financeiro">Informações apresentadas no Financeiro</h4>
        <p>As informações que podem ser consultadas na tela de <strong>Financeiro</strong> são apresentadas da seguinte
          maneira:</p>
        <ul>
          <li>
            <p><strong>Saldo em conta</strong>:</p>
            <ul>
              <li>Saldo em conta;</li>
              <li>Saldo projetado;</li>
            </ul>
          </li>
          <li>
            <p><strong>Ajuste BMF</strong>:</p>
            <ul>
              <li>Ajuste posição;</li>
              <li>Ajuste pregão;</li>
            </ul>
          </li>
          <li>
            <p><strong>Posição</strong>:</p>
            <ul>
              <li>Custódia online;</li>
              <li>Proventos;</li>
              <li>Garantia;</li>
              <li>Garantia livre;</li>
              <li>Renda Fixa;</li>
              <li>Fundos;</li>
              <li>Clubes;</li>
              <li>Tesouro Direto;</li>
            </ul>
          </li>
          <li>
            <p><strong>Lucro/Prejuízo Day Trade</strong>:</p>
            <ul>
              <li>L/P Aberto (Lucro/Prejuízo Aberto);</li>
              <li>L/P Fechado (Lucro/Prejuízo Fechado);</li>
              <li>L/P Total (Lucro/Prejuízo Total);</li>
            </ul>
          </li>
          <li>
            <p><strong>Patrimônio</strong>:</p>
            <ul>
              <li>Patrimônio inicial;</li>
              <li>Patrimônio online;</li>
            </ul>
          </li>
          <li>
            <p><strong>Limites</strong>:</p>
            <ul>
              <li>Limite operacional;</li>
              <li>Alavancagem à vista;</li>
              <li>Alavancagem opções;</li>
              <li>Alavancagem futuro;</li>
            </ul>
          </li>
        </ul>
        <h4 id="ocultando-os-valores-da-tela-de-financeiro">Ocultando os valores da tela de Financeiro</h4>
        <p>Para ocultar os valores da tela de Financeiro, selecione o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_36.png" alt="" title="Ocultar valores"
            style="text-align: left !important; display: initial;"> da opção “<strong>Esconder valores</strong>”.</p>
        <p>O resultado é apresentado na imagem abaixo:</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_37.png" alt=""
            title="Valores ocultados" style="max-width: 1000px; display: initial;"></p>
        <p>Caso deseje reexibir os valores, selecione o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_38.png" alt="" title="Exibir valores"
            style="text-align: left !important; display: initial;"> da opção “<strong>Mostrar valores</strong>”.</p>
        <h3 id="realizando-a-consulta-de-ordens">Realizando a consulta de ordens</h3>
        <p>Na tela de <strong>Ordens</strong>, acessada a partir do menu lateral do <strong>Home Broker</strong>, o
          investidor poderá acompanhar suas ordens enviadas ao mercado no dia atual ou consultando um histórico com o
          envio de suas ordens com base no tempo informado.</p>
        <h4 id="ordens-do-dia">Ordens do dia</h4>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_39.png" alt=""
            title="Ordens do dia" style="max-width: 1000px; display: initial;"></p>
        <p>Em <strong>Ordens do dia</strong>, será possível visualizar todas as informações referentes a cada uma das
          ordens que foram enviadas no dia atual, sendo que elas poderão ser filtradas utilizando os parâmetros de sua
          preferência.</p>
        <h5 id="colunas-disponíveis">Colunas disponíveis</h5>
        <p>A colunas que lhe apresentarão as informações sobre suas ordens são:</p>
        <ul>
          <li>
            <p><strong>Status</strong>: exibe qual o status da ordem, tendo como opção ordens definidas como abertas,
              executadas, canceladas, rejeitadas ou expiradas;</p>
          </li>
          <li>
            <p><strong>Ativo</strong>: exibe o símbolo do ativo;</p>
          </li>
          <li>
            <p><strong>Tipo</strong>: exibe o tipo de precificação da ordem, tendo como opção ordens do tipo limitada,
              mercado com proteção, mercado limite e stop;</p>
          </li>
          <li>
            <p><strong>Direção</strong>: exibe a direção em que a ordem foi enviada, ou seja, exibe se foi uma ordem de
              compra ou uma ordem de venda;</p>
          </li>
          <li>
            <p><strong>Quantidade ofertada (Qtd.)</strong>: exibe a quantidade ofertada na ordem que foi enviada ao
              mercado;</p>
          </li>
          <li>
            <p><strong>Quantidade executada (Exec.)</strong>: exibe a quantidade que foi executada da ordem;</p>
          </li>
          <li>
            <p><strong>Restante</strong>: exibe a quantidade restante da ordem a ser executada, ou seja, quantidade
              disponível;</p>
          </li>
          <li>
            <p><strong>Preço</strong>: exibe o preço ofertado pelo ativo da ordem enviada;</p>
          </li>
          <li>
            <p><strong>Preço médio</strong>: exibe o preço médio do ativo da ordem enviada;</p>
          </li>
          <li>
            <p><strong>Mercado</strong>: exibe de qual mercado o ativo é pertencente, podendo ser BM&amp;F ou Bovespa;
            </p>
          </li>
          <li>
            <p><strong>Data/Hora</strong>: exibe a data e hora de criação ou atualização da ordem.</p>
          </li>
        </ul>
        <h5 id="filtros-disponíveis">Filtros disponíveis</h5>
        <p>Em relação aos filtros disponíveis e quanto a forma de utilização de cada um deles, temos:</p>
        <ul>
          <li>
            <p>Caso deseje filtrar suas ordens por status, selecione a opção “<strong>status</strong>”, selecione uma
              das opções abaixo e depois selecione o botão “<strong>Filtrar</strong>”:</p>
            <ul>
              <li>Todas;</li>
              <li>Abertas;</li>
              <li>Executadas;</li>
              <li>Canceladas;</li>
              <li>Rejeitadas;</li>
              <li>Expirada.</li>
            </ul>
          </li>
          <li>
            <p>Caso deseje filtrar suas ordens com base no tipo da ordem, selecione a opção “<strong>tipo</strong>”,
              selecione uma das opções abaixo e depois selecione o botão “<strong>Filtrar</strong>”:</p>
            <ul>
              <li>Todas;</li>
              <li>Limitada;</li>
              <li>Mercado com proteção;</li>
              <li>Mercado limite;</li>
              <li>Stop.</li>
            </ul>
          </li>
          <li>
            <p>Caso deseje filtrar suas ordens por direção, selecione a opção “<strong>direção</strong>”, selecione uma
              das opções abaixo e depois selecione o botão “<strong>Filtrar</strong>”:</p>
            <ul>
              <li>Todas;</li>
              <li>Compra;</li>
              <li>Venda.</li>
            </ul>
          </li>
          <li>
            <p>Caso deseje filtrar suas ordens por mercado, selecione a opção “<strong>mercado</strong>”, selecione uma
              das opções abaixo e depois selecione o botão “<strong>Filtrar</strong>”:</p>
            <ul>
              <li>Todos;</li>
              <li>Bovespa;</li>
              <li>BM&amp;F.</li>
            </ul>
          </li>
          <li>
            <p>Caso deseje filtrar suas ordens por ativo, selecione o campo “<strong>ativo</strong>”, insira o símbolo
              do ativo desejado e depois selecione o botão “<strong>Filtrar</strong>”.</p>
          </li>
          <li></li>
        </ul>
        <blockquote>
          <p><strong>Nota</strong>: É possível realizar uma busca utilizando todos os filtros disponíveis acima. Basta
            adicionar todos os parâmetros desejado e selecionar a opção “<strong>Filtrar</strong>” somente após
            preencher todos os filtros.</p>
        </blockquote>
        <h5 id="limpando-os-filtros-1">Limpando os filtros</h5>
        <p>Para apagar os parâmetros informados, selecione a opção “<strong>Limpar</strong>”.</p>
        <h4 id="histórico-geral-de-ordens">Histórico geral de ordens</h4>
        <p>Para acessar o histórico geral de ordens, selecione a aba “<strong>Histórico geral</strong>” na tela de
          <strong>Consulta de Ordens</strong>, conforme exibido na imagem abaixo:</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_40.png" alt=""
            title="Histórico geral de ordens" style="max-width: 1000px; display: initial;"></p>
        <p>No <strong>Histórico geral</strong> é possível visualizar as ordens que foram enviadas dentro do período
          informado pelo investidor.</p>
        <h5 id="colunas-disponíveis-1">Colunas disponíveis</h5>
        <p>As colunas disponíveis são as mesmas que podem ser visualizadas na tela de <strong>Ordens do dia</strong>,
          sendo assim, você pode visualizá-las no <strong>tópico anterior</strong>.</p>
        <h5 id="filtros-disponíveis-1">Filtros disponíveis</h5>
        <p>Os filtros disponíveis são os mesmos presentes na tela de <strong>Ordens do dia</strong>, sendo assim, com
          exceção ao campo “<strong>selecione o período desejado</strong>” descrito logo abaixo:</p>
        <ul>
          <li>Para filtrar as ordens com base em um período específico, selecione uma <strong>data inicial</strong> e
            uma <strong>data final</strong> no campo “<strong>selecione o período desejado</strong>”, e em seguida,
            selecione a opção “<strong>Filtrar</strong>”.</li>
        </ul>
        <blockquote>
          <p><strong>Nota</strong>: É possível realizar uma busca utilizando todos os filtros disponíveis acima. Basta
            adicionar todos os parâmetros desejado e selecionar a opção “<strong>Filtrar</strong>” somente após
            preencher todos os filtros.</p>
        </blockquote>
        <h5 id="limpando-os-filtros-2">Limpando os filtros</h5>
        <p>Para apagar os parâmetros informados, selecione a opção “<strong>Limpar</strong>”.</p>
        <h4 id="visualizando-detalhes-das-ordens">Visualizando detalhes das ordens</h4>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_41.png" alt=""
            title="Detalhes da ordem" style="max-width: 1000px; display: initial;"></p>
        <p>Para visualizar os <strong>detalhes</strong> da ordem, selecione o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_42.png" alt="" title="Abrir detalhes"
            style="text-align: left !important; display: initial;"> ao lado do status da ordem.</p>
        <p>Feito isso, novas informações serão exibidas, como por exemplo:</p>
        <ul>
          <li>ID da ordem;</li>
          <li>Estratégia;</li>
          <li>Validade;</li>
          <li>Quantidade Aparente (Qtd. Apararente);</li>
          <li>Quantidade Mínima (Qtd. Mínima);</li>
          <li>Preço de disparo de ganho (P. de disp. de ganho);</li>
          <li>Preço de disparo de perda (P. de disp. de perda);</li>
          <li>Preço de limite de ganho (P. de limite de ganho);</li>
          <li>Preço de limite de perda (P. de limite de perda);</li>
          <li>Motivo da rejeição.</li>
        </ul>
        <p>Além dessas informações, é possível acompanhar um histórico de atualização diária do status da ordem,
          apresentando informações como:</p>
        <ul>
          <li>Status;</li>
          <li>Quantidade Executada (Exec.);</li>
          <li>Restante;</li>
          <li>Data e Hora.</li>
        </ul>
        <h4 id="reenviando-ordens">Reenviando ordens</h4>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_43.png" alt=""
            title="Reenvio de ordens" style="max-width: 1000px; display: initial;"></p>
        <p>Para <strong>reenviar</strong> uma ordem ao mercado, selecione o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_44.png" alt="" title="Ícone de reenvio de ordens"
            style="text-align: left !important; display: initial;"> e em seguida selecione o botão
          “<strong>Confirmar</strong>” para reenviar sua ordem ou “<strong>Cancelar</strong>” caso desista de realizar a
          operação.</p>
        <p>O reenvio de ordens pode ser feito somente com ordens que apresentam os seguintes status:</p>
        <ul>
          <li>Executada;</li>
          <li>Cancelada;</li>
          <li>Rejeitada;</li>
          <li>Suspensa;</li>
          <li>Expirada.</li>
          <li></li>
        </ul>
        <p>Caso a ordem seja reenviada com sucesso, será exibida a seguinte mensagem “<strong>Ordem Enviada com
            sucesso</strong>”.</p>
        <h4 id="editando-ordens">Editando ordens</h4>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_43.png" alt=""
            title="Editando ordens" style="max-width: 1000px; display: initial;"></p>
        <p>Para <strong>editar</strong> uma ordem, selecione o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_45.png" alt="" title="Ícone de edição de ordens"
            style="text-align: left !important; display: initial;"> .</p>
        <p>Em seguia, será exibida uma <strong>boleta</strong>, onde você poderá editar os parâmetros que foram
          inseridos anteriormente em sua boleta, conforme a imagem abaixo:</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_46.png" alt=""
            title="Edição de ordens" style="max-width: 1000px; display: initial;"></p>
        <p>Após ajustados os parâmetros, selecione a opção “<strong>Salvar</strong>” e em seguida selecione a opção
          “<strong>Confirmar</strong>” para atualizar sua ordem ou a opção “<strong>Cancelar</strong>” caso desista de
          realizar a operação.</p>
        <h4 id="cancelando-ordens">Cancelando ordens</h4>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_43.png" alt=" "
            title="Cancelar/remover ordens" style="max-width: 1000px; display: initial;"></p>
        <p>Para realizar o <strong>cancelamento de envio</strong> de uma ordem ao mercado, selecione o ícone <img
            src="assets/images/clients/{{broker}}/manual/IMG_47.png" alt="" title="Ícone de cancelamento de ordens"
            style="text-align: left !important; display: initial;"> .</p>
        <p>O <strong>cancelamento de ordens</strong> pode ser feito somente com ordens que apresentam os seguintes
          status:</p>
        <ul>
          <li>Nova;</li>
          <li>Parcialmente executada</li>
          <li>Pendente.</li>
        </ul>
        <p>Caso a ordem seja cancelada com sucesso, será exibida a seguinte mensagem “<strong>Ordem Cancelada com
            sucesso</strong>”.</p>
        <h3 id="consulta-de-custódia">Consulta de custódia</h3>
        <p>Na <strong>consulta de custódia</strong>, acessada pelo menu lateral do <strong>Home Broker</strong>, o
          investidor terá uma visão de como está sua carteira de ativos e poderá acompanhar todas as informações sobre
          esses investimentos.</p>
        <h4 id="custódia-bovespa">Custódia Bovespa</h4>
        <p>Na aba “<strong>Bovespa</strong>” na tela de Consulta de custódia, você poderá ver todas as informações
          referentes aos ativos adquiridos no mercado Bovespa da Bolsa de Valores.</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_48.png" alt=""
            title="Custódia Bovespa" style="max-width: 1000px; display: initial;"></p>
        <h5 id="colunas-disponíveis-2">Colunas disponíveis</h5>
        <p>As <strong>colunas</strong> disponíveis na aba de <strong>Consulta Bovespa</strong>, apresentam as seguintes
          informações:</p>
        <ul>
          <li>Ativo;</li>
          <li>Tipo;</li>
          <li>Quantidade Inicial (Q. Inicial);</li>
          <li>Quantidade Atual (Q. Atual);</li>
          <li>Preço Atual (P. Atual);</li>
          <li>Preço Fechamento (P. Fech.);</li>
          <li>Valor Inicial;</li>
          <li>Valor Atual;</li>
          <li>Quantidade Executada de Compra (Q. Exec. Compra);</li>
          <li>Quantidade Executada de Venda (Q. Exec. Venda).</li>
        </ul>
        <h5 id="filtros-disponíveis-2">Filtros disponíveis</h5>
        <p>Os filtros disponíveis na aba de <strong>Consulta Bovespa</strong> são:</p>
        <ul>
          <li><strong>Ativo</strong>: campo para buscar pelo símbolo do ativo e para aplicar o filtro, selecione a opção
            “<strong>Filtrar</strong>”;</li>
          <li><strong>Exibir posição do dia</strong>: ação para exibir qual a posição do investidor diária em relação a
            cada ativo. As colunas exibidas após a seleção do filtro “exibir posição do dia” são alteradas, sendo
            apresentadas da seguinte maneira:
            <ul>
              <li>Ativo;</li>
              <li>Tipo;</li>
              <li>Compra Executada no Dia (Compra Exec. Dia);</li>
              <li>Venda Executada no Dia (Venda Exec. Dia);</li>
              <li>NET no dia (NET Dia);</li>
              <li>Preço médio aberto (Pr. Med. Aberto);</li>
              <li>L/P Aberto;</li>
              <li>L/P Fechado.</li>
            </ul>
          </li>
        </ul>
        <blockquote>
          <p><strong>Nota</strong>: A opção “<strong>Filtrar</strong>” será aplicada somente para o filtro
            “<strong>Ativo</strong>”, uma vez que após selecionar o filtro “<strong>Exibir posição do dia</strong>”, os
            ativos já serão filtrados com base na posição diária do investidor.</p>
        </blockquote>
        <h5 id="limpando-os-filtros-3">Limpando os filtros</h5>
        <p>Para apagar os parâmetros informados, selecione a opção “<strong>Limpar</strong>”.</p>
        <h4 id="custódia-bmf">Custódia BM&amp;F</h4>
        <p>Na aba “<strong>BM&amp;F</strong>” na tela de Consulta de custódia, você poderá ver todas as informações
          referentes aos ativos adquiridos no mercado BM&amp;F da Bolsa de Valores.</p>
        <p style="text-align: center !important;"><img src="assets/images/clients/{{broker}}/manual/IMG_49.png" alt=""
            title="Custódia BM&amp;F" style="max-width: 1000px; display: initial;"></p>
        <h5 id="colunas-disponíveis-3">Colunas disponíveis</h5>
        <p>As <strong>colunas</strong> disponíveis na aba de <strong>Consulta BM&amp;F</strong>, apresentam as seguintes
          informações:</p>
        <ul>
          <li>Ativo;</li>
          <li>Quantidade Inicial (Qtd Inicial):</li>
          <li>Posição;</li>
          <li>Compras Executadas (Compras Exec);</li>
          <li>Vendas Executadas (Vendas Exec;</li>
          <li>Preço Atual;</li>
          <li>Preço Fechamento (Preço Fech.);</li>
          <li>Ajuste de Posição.</li>
        </ul>
        <h5 id="filtros-disponíveis-3">Filtros disponíveis</h5>
        <p>Os filtros disponíveis na aba de <strong>Consulta BM&amp;F</strong> são:</p>
        <ul>
          <li><strong>Ativo</strong>: campo para buscar pelo símbolo do ativo e para aplicar o filtro, selecione a opção
            “<strong>Filtrar</strong>”;</li>
          <li><strong>Exibir posição do dia</strong>: ação para exibir qual a posição do investidor diária em relação a
            cada ativo. As colunas exibidas após a seleção do filtro “exibir posição do dia” são alteradas, sendo
            apresentadas da seguinte maneira:
            <ul>
              <li>Ativo;</li>
              <li>Compra Executada no Dia (Compra Exec. Dia);</li>
              <li>Venda Executada no Dia (Venda Exec. Dia);</li>
              <li>NET no dia (NET Dia);</li>
              <li>Preço médio aberto (Pr. Med. Aberto);</li>
              <li>L/P Aberto;</li>
              <li>L/P Fechado.</li>
            </ul>
          </li>
        </ul>
        <blockquote>
          <p><strong>Nota</strong>: A opção “<strong>Filtrar</strong>” será aplicada somente para o filtro
            “<strong>Ativo</strong>”, uma vez que após selecionar o filtro “<strong>Exibir posição do dia</strong>”, os
            ativos já serão filtrados com base na posição diária do investidor.</p>
        </blockquote>
        <h5 id="limpando-os-filtros-4">Limpando os filtros</h5>
        <p>Para apagar os parâmetros informados, selecione a opção “<strong>Limpar</strong>”.</p>
        <h1 id="entre-em-contato-com-nossa-equipe">Entre em contato com nossa equipe</h1>
        <p>Caso deseje ajuda em qualquer ponto sobre a nossa plataforma, você pode entrar em contato com nossa equipe ou
          acessar nosso FAQ, onde o contato e o endereço para resolver suas dúvidas podem ser encontrados no menu
          lateral do <strong>Home Broker</strong>.</p>
        <blockquote>
          <p><strong>Nota</strong>: A medida que novas funcionalidades forem implementadas, nosso manual será atualizado
            com todas as informações para você se manter sempre por dentro das novidades.</p>
        </blockquote>
    </div>

    <button id="btn-scroll" class="btn-scroll btn-hidden" (click)="scrollTop()">
      <mat-icon>expand_less</mat-icon>
    </button>

  </div>

</div>