@font-face {
  font-family: Nunito;
  src: url('/assets/styles/fonts/nunito/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('/assets/styles/fonts/nunito/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('/assets/styles/fonts/nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('/assets/styles/fonts/nunito/Nunito-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('/assets/styles/fonts/nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('/assets/styles/fonts/nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('/assets/styles/fonts/nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('/assets/styles/fonts/nunito/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}