@import "./../../variables.scss";
@import "./../../core/clients/pi/varables.scss";

/*  TEXTS */
$prefix: 'pi';
$font-default: "Nunito";
$font-rate: 1;
$border-radius: 28px;

/* GRADIENT COLORS */

$gradient-1:  #330066;
$gradient-2:  #330066;
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);
$gradient-right: linear-gradient(to right, $gradient-2, $gradient-1);

$gradient-sell-1: #ff2c79;
$gradient-sell-2: #ff2c79;
$gradient-sell-left:  linear-gradient(to left, $gradient-sell-2, $gradient-sell-1);
$gradient-sell-right:  linear-gradient(to left, $gradient-sell-1, $gradient-sell-2);

$gradient-buy-1: #330066;
$gradient-buy-2: #330066;
$gradient-buy-3: #6740ff;
$gradient-buy-left: linear-gradient(to left, $gradient-buy-2, $gradient-buy-1);

// STYLEGUIDE COLORS

$primary01-color: #330066;
$primary02-color: #ff2c79;

$secondary01-color: #330066;
$secondary02-color: #596377;
$secondary03-color: #BEC0C2;
$secondary04-color: #ff2c79;
$secondary10-color: $primary02-color;

$bg-color: #E6E3DF;
$executed: #ff2c79;