<div class="user-settings-container">
  <div class="user-perfil">
    <div class="photo-container">
      <div class="user-photo">
        <img class="photo" alt="" src="./assets/images/assets/avatar.svg">
      </div>
    </div>
    <div class="user-name-perfil">
      <div class="user-name">{{ userName ? userName : '' }}</div>
      <!-- <div class="user-perfil-kind">
        Perfil: <span class="perfil-font">Moderado</span>
      </div> -->
    </div>
  </div>
  <div class="user-settings-body">
    <!-- TODO HABILITAR NEGOTIATION -->
    <!-- <div class="dados-corretora">
      <div class="title">DADOS DA CORRETORA</div>
      <div class="item border">
        <div>
          <mat-icon class="user-settings-icon" svgIcon="building"></mat-icon>
          <span class="option-font option-font-title">Corretora:</span>
          <span class="option-font">Cedro</span>
        </div>
      </div>
      <hr class="horizontal-divider" />
      <div class="item border">
        <div>
          <mat-icon class="user-settings-icon color-correction" svgIcon="account"></mat-icon>
          <span class="option-font option-font-title">Conta:</span>
          <span class="option-font">{{ accountLogged }}</span>
        </div>
      </div>
      <hr class="horizontal-divider" />
      <div class="item" style="opacity: 0.5; cursor: no-drop;">
        <div>
          <mat-icon class="user-settings-icon" svgIcon="lock"></mat-icon>
          <span class="option-font option-font-title">Alterar senha da corretora</span>
        </div>
      </div>
    </div> -->
    <div class="last-options">
      <div class="theme last-options-item-size">
        <mat-icon class="last-options-icon color-correction" svgIcon="moon"></mat-icon>
        <span class="option-font option-font-title">Tema escuro:</span>
        <span id="toggle-info" class="option-font toggle-option">{{ toggleInfo }}</span>
        <mat-slide-toggle class="toggle-theme" #darkThemeToggle (click)="changeTheme()"></mat-slide-toggle>
      </div>
      <!-- TODO update password -->
      <!-- <div class="password-change last-options-item-size last-options-details" style="opacity: 0.5; cursor: no-drop;"> -->
      <div class="password-change last-options-item-size last-options-details" (click)="openUpdatePasswordModal()">
        <mat-icon class="last-options-icon" svgIcon="lock"></mat-icon>
        <span class="option-font option-font-title">Alterar senha</span>
      </div>
      <div *ngIf="isWSO2 && !isAssessor" class="password-change last-options-item-size last-options-details"
        (click)="openUpdateSignature()">
        <mat-icon class="last-options-icon" svgIcon="lock"></mat-icon>
        <span class="option-font option-font-title">Alterar assinatura eletrônica</span>
      </div>
      <div class="password-change last-options-item-size last-options-details" (click)="openManualOnline()">
        <mat-icon class="last-options-icon" svgIcon="ico-user-manual-two"></mat-icon>
        <span class="option-font option-font-title">Manual do Usuário</span>
      </div>
      <div class="quit last-options-item-size last-options-details" (click)="logout()">
        <mat-icon class="last-options-icon" svgIcon="power"></mat-icon>
        <span class="option-font option-font-title">Sair</span>
      </div>
    </div>
    <div mat-raised-button class="download-section" *ngIf="!isWSO2 && !showHelp">
      <span>Experimente o poder do Fast Trade no seu computador pessoal.</span>
      <div class="img-section">
        <button mat-raised-button color="primary02"><a target="_blank" (click)='openDownloadWindow()'>DOWNLOAD<mat-icon
              svgIcon="download"></mat-icon></a></button>
        <a target="_blank" (click)='openDownloadWindow()'><img src={{imgUrl}}></a>
      </div>
    </div>
  </div>
</div>