@font-face {
  font-family: RopaSansPro;
  src: url('/assets/styles/fonts/ropa-sans/thin/RopaSansPro-Thin.eot');
  src: url('/assets/styles/fonts/ropa-sans/thin/RopaSansPro-Thin.woff2') format('woff2'),
       url('/assets/styles/fonts/ropa-sans/thin/RopaSansPro-Thin.woff') format('woff'),
       url('/assets/styles/fonts/ropa-sans/thin/RopaSansPro-Thin.ttf') format('truetype'),
       url('/assets/styles/fonts/ropa-sans/thin/RopaSansPro-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}

