<div id="incremental-input" (mousewheel)="onScroll($event)" class="overIncrement">
  <mat-form-field [ngClass]="{'invalidC': !invalid}" id="incrementalInput">
    <div class="increment-buttons-container" style="float: right; display: flex">
      <div class="button decrement" *ngIf="!isDisabled">
        <i (click)="increment()" class="material-icons plus" [ngClass]="{'invalid': !invalid}">add</i>
      </div>
      <input matInput currencyMask [maxlength]="maxlength" (keyup)="keyUpped()" (keypress)="keyPressed($event)"
        (paste)="onPaste($event)" (focus)="onFocus()" (blur)="onBlur()" [placeholder]="labelText"
        [disabled]="isDisabled" [options]="options" [(ngModel)]="value">
      <div class="button increment" *ngIf="!isDisabled">
        <i (click)="decrement()" class="material-icons minus" [ngClass]="{'invalid': !invalid}">-</i>
      </div>
    </div>
  </mat-form-field>
</div>