<div class="assessor-data-component">

  <!-- <div class="row header" #header>
    <div class="col-10">
      <mat-icon class="icon-order" svgIcon="layers"></mat-icon>
      <span class="title">DADOS PESSOAIS</span>
    </div>
    <div class="col-2 txt-right">
      <mat-icon class="icon-close-btn pointer" (click)="closeDialog()" svgIcon="close-btn"></mat-icon>
    </div>
  </div> -->

  <div class="scrollable-body" (scroll)="onScroll($event)" #body>

    <div class="row header-box">
      <div class="col-11">
        <div class="tab" [ngClass]="{'0':'selected-tab'}[selected]">Dados Pessoais</div>
      </div>
      <div class="col-1 txt-right">
        <mat-icon class="icon-close-btn pointer" (click)="closeDialog()" svgIcon="close-btn"></mat-icon>
      </div>
    </div>

    <div class="spinner" *ngIf="loading && selected == 0">
      <app-spinner-loading></app-spinner-loading>
    </div>

    <div *ngIf="selected == 0" class="row header-box2" #filter>
      <div class="col-12">
      
        <div class="row flex-container">
          <div class="row">
            <div class="col-2">teste</div>
            <div class="col-2">teste</div>
            <div class="col-2">teste</div>
            <div class="col-2">teste</div>
            <div class="col-2">teste</div>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>