/*  TEXTS */
// $prefix: 'vitreo';
// $font-default: "Roboto";
// $font-rate: 1;
// $border-radius: 28px;
/*  OTHERS */

/*  COLORS */

// $gradient-1:  #093bc1;
// $gradient-2:  #06B0D6;
// $gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
// $gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);

// $primary01-color: #093bc1;

// $primary02-color: #06b0d6;

// $secondary01-color: #0867C9;
// $secondary02-color: #596377;
// $secondary03-color: #BEC0C2;
// $secondary04-color: #0558ae;

// $default-color: $primary02-color;

// $bg-color: #f1f1f1;

// $header-gradient01-color: #1f2a5c;
// $header-gradient02-color: #093bc1;
// $header-gradient03-color: #0867C9;
// $header-gradient-right: linear-gradient(to right, $header-gradient01-color, $header-gradient02-color);
// $header-gradient-right-filter: linear-gradient(to right, $header-gradient03-color, $header-gradient02-color);
