html,
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  font-family: $font-default;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: $secondary02-color;
}

h1 {
  font-size: font-size(30px);
  line-height: 35px;
}

h2 {
  font-size: font-size(20px);
  line-height: 24px;
}

h3 {
  font-size: font-size(16px);
  line-height: 19px;
}
.primary {
  &01 {
    color: $primary01-color;
  }
  &02 {
    color: $primary02-color;
  }
}
.secondary {
  &01 {
    color: $secondary01-color;
  }
  &02 {
    color: $secondary02-color;
  }
}

.high-variation {
  color: $high-variation-color;
  background-color: $high-variation-background-color;
}

.low-variation {
  color: $low-variation-color;
  background-color: $low-variation-background-color;
}

.buy-aggressor {
  color: $gradient-buy-3;
  background-color: rgba($gradient-buy-3, 0.2);
  font-weight: bold;
}

.sell-aggressor {
  color: $gradient-sell-2;
  background-color: rgba($gradient-sell-2, 0.2);
  font-weight: bold;
}
// FIREFOX SCROLLBAR
* {
  scrollbar-width: thin;
  scrollbar-color: rgba($secondary02-color, 0.3) transparent;
}

.mat-select-panel-done-animating {
  background: transparent !important;
}

*::-webkit-scrollbar {
  width: 4.6px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba($secondary02-color, 0);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba($secondary02-color, 0.3);
  outline: 0px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(211, 209, 209, 0.93);
}
.darkTheme {
  *::-webkit-scrollbar-thumb {
    box-shadow: none;
  }
}
*::-webkit-scrollbar-corner {
  display: none;
}

.gridster-item-resizable-handler.handle-s {
  height: 3px !important;
}

/*Remover cor amarela do auto complete do chrome*/
*:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
/*Setar cor $primary01-color para o auto complete do chrome*/
input:-webkit-autofill {
  -webkit-text-fill-color: $primary02-color !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
