$deep-black-bg: #181818;
$dark-black-bg: #232323;
$light-black-bg: #242526;
$soft-black-bg: #272727;
$deep-grey-bg: #303131;
$dark-grey-bg: #393b3b;
$light-grey-bg: #333535;
$soft-grey-bg: #5e6061;
$grey-font: #bec0c2;

// FTW 1.0
$deep-black-bg: #212429;
$dark-black-bg: #272a2e;
$light-black-bg: #242526;
$soft-black-bg: #272727;
$deep-grey-bg: #2d3035;
$dark-grey-bg: #373a40;
$light-grey-bg: #333535;
$soft-grey-bg: #5e6061;
$grey-font: #abb2b9;

// FTW 2.0
$deep-black-bg: #121212;
$dark-black-bg: #1d1d1d;
$deep-grey-bg: #1D1D1D;
$dark-grey-bg: #1d1d1d;
$grey-font: #e2e2e2;
$header-deep-grey-bg: #272727;
$menu-deep-grey-bg: #1d1d1d;
$border-divisor: #353535;
$dark-row-color: #e2e2e2;