@font-face {
  font-family: Ropa;
  src: url('/assets/fonts/ropa_sans/RopaSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Ropa;
  src: url('/assets/fonts/ropa_sans/RopaSans-Regular.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Ropa;
  src: url('/assets/fonts/ropa_sans/RopaSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Ropa;
  src: url('/assets/fonts/ropa_sans/RopaSans-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face{
  font-family: Calibri;
  src: url('/assets/fonts/calibri/Calibri.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: Calibri;
  src: url('/assets/fonts/calibri/Calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: Calibri;
  src: url('/assets/fonts/calibri/CALIBRIB.TTF') format('truetype');
  font-weight: bold;
}
@font-face{
  font-family: Calibri;
  src: url('/assets/fonts/calibri/CALIBRIB.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face{
  font-family: Calibri;
  src: url('/assets/fonts/calibri/CALIBRII.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
}
