// COLORS
.white { color: white; }
.silver { color: silver; }
.gray { color: gray; }
.dimgrey { color: dimgrey; }
.darkgray { color: darkgray; }
.green { color: green; }
.red { color: red; }
.yellow { color: yellow; }


@mixin close-btn($width:24px, $height:24px, $top:0, $right:0, $bottom:0, $left:0) {
    text-align: right;
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
    mat-icon {
        cursor: pointer;
        width: $width;
        height: $height;   
    }
}