/*  TEXTS */
$prefix: 'default';
$font-default: "Calibri";

/*  OTHERS */
$white: #FFF;
$dark-white: #FAFAFA;
$darken-white: #F8F8F8;
$transparent: transparent;
$black: black;
$light-grey: #eff3f6;
$error-color: #f23658;
$grey: #bbb;
$dark-blue: #1f2532;

/*  TOAST COLORS */
$success: #11c972;
$error: #ff0000;
$warn: #FF791E;
$info: #267ED6;

/* Password Strong */
$password-weak: #f55d52;
$password-medium: #ff791e;
$password-good: #4d4289;
$password-strong: #63B500;

$gradient-1:  rgb(30, 30, 39);
$gradient-2:  rgb(54, 61, 80);
$gradient-top: linear-gradient(to top, $gradient-2, $gradient-1);
$gradient-left: linear-gradient(to left, $gradient-2, $gradient-1);

$default-color: grey;
$default-hover-color: rgb(121, 121, 121);
$default-disabled-color: rgb(151, 151, 151);

$primary01-color: rgb(44, 49, 62);
$primary01-hover-color: rgb(49, 53, 63);
$primary01-disabled-color: rgb(56, 57, 61);

$primary02-color: rgb(30, 30, 39);
$primary02-hover-color: rgb(34, 34, 43);
$primary02-disabled-color: rgb(39, 39, 43);

$secondary01-color: #6e6159;
$secondary02-color: #b5ada6;
$secondary03-color: #d6d1cc;
$secondary04-color: #63b500;
$secondary05-color: #cceb80;
$secondary06-color: #ffc700;
$secondary07-color: #ff661f;
$secondary08-color: #f1f1f1;
$secondary09-color: #C6C1BE;

$bg-color: rgb(241, 241, 241);


//FAST TRADE VARIABLES

$high-variation-color: #0fde9d;
$high-variation-background-color: rgba(#0fde9d, 0.2);
$low-variation-color: #f23658;
$low-variation-background-color: rgba(#f23658, 0.2);

$positive-currency-value: #31D085;
$negative-currency-value: $error-color;

$high-variation-color: #0fde9d;
$high-variation-background-color: rgba($high-variation-color, 0.2);
$low-variation-color: $error-color;
$low-variation-background-color: rgba($error-color, 0.2);


//CORES TABELA
$row-color: #848484;
$secondary11-color: #dfdede;
$workspace-conf-modal-close-button-background-hover:#ebebeb;
$background2: #fbfbfb;

//Order History
$header-border: #124DB8;
$header-box2-background: #215CC5;
$executed: #10c971;
$canceled: #ef1e44;
$edited: #2779ff;
$partially: #3fdeac;
$suspended: #9a46b2;
$cancellationPending: #ff4e4e;
$rejected: #ff4e7e;

$shadow-gradient: linear-gradient(to right, rgba(#fff, 0.15),  rgba(#4E4D4D, 0.15));

$news-filter-background: #eff3f6;
$news-card-date-background: #9198a5;

$user-settings-item-border: #a7a7a7;
$user-settings-toggle-slide-thumb-off: #e3e3e3;

// Range Datepicker
$selectors-background: #f3f7fc;