<!-- <div class="term-operator-component">
  <div class="header">
    <div class="icon">
      <mat-icon class="icon" svgIcon="term-operator"></mat-icon>
    </div>
    <div class="title">Operar com perfil desenquadrado</div>
    <div class="sub-title">Você está realizando uma operação que não está de acordo com o seu perfil de investimento.
    </div>
  </div>
  <div class="m-check">
    <mat-checkbox class="check-term">
      <span class="desc">Estou ciente que estou operando desenquadrado e dos riscos deste investimento</span>
    </mat-checkbox>
  </div>
  <div class="buttons-term">
    <div class="cancel-term">
      <button>CANCELAR</button>
    </div>
    <div class="send-term">
      <button>ENVIAR</button>
    </div>
  </div>
</div> -->