<div #quoteChart (window:beforeunload)="ngOnDestroy()" class="item-grid quote-chart whole">
  <div #header class="component-header">
    <div style="display: flex">
      <span style="margin-right: 5px;">GRÁFICO DE COTAÇÃO - </span>
      <span (dblclick)="toggleInput()" [hidden]="inputAsset">{{symbol | uppercase}}</span>
      <app-auto-complete [autoFocus]="true" id="input-graph" *ngIf="inputAsset" (onsymbolChanged)="selectAsset($event)"
        [symbolAutoComplete]="symbol"></app-auto-complete>

      <mat-icon svgIcon="close" class="pointer worksheet-close" (click)="toggleInput()" *ngIf="inputAsset"></mat-icon>
      <mat-icon class="icon-edit pointer" svgIcon="edit-outline" (click)="toggleInput()" *ngIf="!inputAsset"></mat-icon>

    </div>
    <div class="icons">
      <!-- <mat-icon svgIcon="chain" ></mat-icon> TODO adicionar quando funcionalidade estiver implementada -->
      <mat-icon svgIcon="expand" (click)="openNewWindow()"></mat-icon>
      <mat-icon svgIcon="close" (click)="removeItemFromWorkspace()"></mat-icon>
    </div>
  </div>

  <div *ngIf="!errorMsg && !loading" class="gridster-item-content" [ngClass]="{'loading-chart-gridster': loading}">
    <div class="cont" [ngClass]="{'loading-chart-content': loading}">
      <div *ngIf="!errorMsg && !loading" class="chart" [chart]="chart"></div>
    </div>
  </div>

  <div *ngIf="errorMsg || loading" class="gridster-item-error">
    <div class="cont" [ngClass]="{'loading-chart-content': loading}">
      <div *ngIf="errorMsg && !loading" class="errorMsg">Não há dados do ativo.</div>
      <div *ngIf="loading" class="errorMsg">
        <app-spinner-loading></app-spinner-loading>
      </div>
    </div>
  </div>

  <div (window:beforeunload)="closeSheet()"></div>
</div>