<div class="autoComplete">
  <div>
    <mat-form-field [floatLabel]="'never'" [ngClass]="{'input-invalid' : !hiddenInvalid}">
      <mat-icon class="searchIcon" svgIcon="search" matPrefix *ngIf="isWorksheet"></mat-icon>
      <input spellcheck="false" (blur)="callBackWorksheet($event)" minlength="3" maxlength="12" matInput #autoInput
        type="text" class="active" [matAutocomplete]="issuingAsset" (keypress)="keyPressed($event)" [formControl]="symbolCtrl"
        (paste)="onPaste($event)" [(ngModel)]="symbolAutoComplete"
        [placeholder]="placeHolderSetter" (keydown.enter)="onInputEnter($event)" ondragstart="return false;"
        ondrop="return false;" appAutosizeInput [minWidth]="80" [maxWidth]="200" [autoSizeActive]="autoSizeActive">
    </mat-form-field>
    <mat-autocomplete autoActiveFirstOption #issuingAsset id="issuingAsset" (optionSelected)='optionSelected($event)'
      [autoActiveFirstOption]="false" class="{{isWorksheet ?'worksheetClass' : ''}}">
      <mat-option *ngFor="let item of filteredAssets" [value]="item.symbol" (onSelectionChange)="onInputEnter($event)">
        {{ item.symbol | uppercase }}</mat-option>
    </mat-autocomplete>
  </div>
  <!-- <div [hidden]="!hiddenInvalid" class="company">{{company}}</div> -->
</div>